﻿@using chleby.Web.Models;
@model Tuple<List<Trader>, List<TraderType>, List<IGrouping<ItemGroup, Item>>>

@section SecondaryActions{

    @Html.Partial("PricesFilter")

    <span class="pull-right">
        @Helpers.SaveButton("prices")
    </span>
}

@Html.Partial("ItemList", Model.Item3)