﻿@using System.ComponentModel
@using System.Reflection
@using chleby.Web.Models
@model IEnumerable<IGrouping<ItemGroup, Item>>


@section Header {
    @* @{ string who = null; }
    @if (ViewBag.Trader != null)
    {
        who = ViewBag.Trader.Name;
        <h1>Price list for @who</h1>
        <p>You can give a <em>discount</em> to this specific <a href="@Url.Action("Index", "TurboTraders")">Customer.</a></p>
    }
    @if (ViewBag.TraderType != null)
    {
        who = ViewBag.TraderType.Name;
        <h1>@Strings.PriceListFor @who</h1>
        <p>@Strings.PricesYouEdit <a href="@Url.Action("Index", "TurboTraders")">@Strings.CustomerType</a>.</p>
    }*@
}

@section SecondaryActions {

    @Html.Partial("PricesFilter", ViewData)
    <span class="pull-right">
        @Helpers.SaveButton("prices")</span>
}

@using (Html.BeginForm((string)ViewBag.Action, "Prices", FormMethod.Post, new { name = "prices" }))
{
    foreach (var gr in Model)
    {
        var grupa = gr.Key;
    <div class="table-container no-borders">

        <table cellpadding="0" cellspacing="0" border="0" class="no-border table item-group table-hover table-condensed">
            <caption class="itemgroup-caption" style="border-color:@grupa.Color">
                <span class="brand">@grupa.Name</span>
            </caption>
            <thead>
                <tr>
                    <th class="left price">@Strings.Global_Price</th>
                    <th class="item-name">@Strings.Global_Name
                    </th>
                    @foreach (var v in Settings["ShowAttrOrder"]["value"].Split(','))
                    {
                        var sett = Settings["ShowAttr"][v];
                        if (sett == "internal" || sett == "all")
                        {
                        <th class="right attribute-name">
                            @{
                            var attr = typeof(Item).GetProperty(v).MyGetCustomAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>();
                            var name = v;
                            if (attr != null)
                            {
                                name = attr.GetName();
                            }
                                @name
                            }
                        </th>
                        }
                    }
                    @foreach (var meta in grupa.Metas.OrderBy(x => x.Order).Where(x => x.ShowInternal))
                    {      
                        <th class="right attribute-name">@meta.Name</th>                     
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var it in gr.OrderBy(x => x))
                {
                    Price price;
                    string priceValue = "";
                    switch ((string)ViewBag.Action)
                    {
                        case "SetItemPrices":
                            price = it.Prices.OfType<ItemPrice>().First();
                            priceValue = price.Value.ToString("N2");
                            break;
                        case "SetTraderPrices":
                            price = it.Prices.OfType<TraderPrice>().FirstOrDefault(x => x.TraderId == (int)ViewBag.Id);
                            priceValue = price == null ? "" : price.Value.ToString("N2");
                            break;
                        case "SetTraderTypePrices":
                            price = it.Prices.OfType<TraderTypePrice>().FirstOrDefault(x => x.TraderTypeId == (int)ViewBag.Id);
                            priceValue = price == null ? "" : price.Value.ToString("N2");
                            break;
                    }
                    
                    <tr class="tr-main">
                        <td class="left price">
                            @if (this.CanWrite())
                            {
                                <div class="input-prepend input-price-container">
                                    <span class="add-on">@ViewBag.CurrencySymbol</span>
                                    @Html.TextBox("prices[" + it.Id + "]", priceValue, new { @class = "right input-price " })
                                </div>
                            }
                            else
                            {
                                @priceValue
                            }
                        </td>
                        <td class="item-name">
                            @it.Name
                        </td>
                        @foreach (var v in Settings["ShowAttrOrder"]["value"].Split(','))
                        {
                            var sett = Settings["ShowAttr"][v];
                            if (v == "MagicPrice")
                            {
                            <td class="right">
                                @Helpers.V(it.ItemPriceValue)
                            </td>
                            }
                            else
                            {
                                if (sett == "internal" || sett == "all")
                                {
                                    var value = TypeDescriptor.GetProperties(typeof(Item))[v].GetValue(it);
                                    if (value != null && value.ToString().Length > 50)
                                    {
                            <td class="right has-popover" title="@value">
                                @(value.ToString().Substring(0, 47) + "...")
                            </td>
                                    }
                                    else
                                    {
                            <td class="right">
                                @if (v == "Vat")
                                {<text> @(((decimal)value).ToString("0"))% </text> }
                                else
                                {@value}
                            </td>
                                    }
                                }
                            }
                        }

                        @foreach (var meta in grupa.Metas.OrderBy(x => x.Order).Where(x => x.ShowInternal))
                        {
                            var attr = it.Attributes.FirstOrDefault(a => a.MetadataId == meta.Id);
                            var value = "";
                            var tdattr = "class='right'";
                            string tooltip = null;
                            if (attr != null && attr.Value != null)
                            {
                                if (attr.Value.Length > 50)
                                {
                                    value = attr.Value.Substring(0, 47) + "...";
                                    tooltip = Html.AttributeEncode(attr.Value);
                                    tdattr = "has-popover";
                                }
                                else
                                {
                                    value = attr.Value;
                                }
                            }
                            
                            <td class="right @tdattr" title="@tooltip">
                                @if (attr == null || attr.Value == "")
                                {
                                    <span class='property-missing'>
                                        <!--(not set)-->
                                    </span>
                                }
                                else
                                {
                                    if (attr.Metadata.DataType == AttrDataType.Bool)
                                    {
                                    @Html.CheckBox("dummy", attr.Value == "yes", new { disabled = "disabled", @checked = "checked" })  
                                    }
                                    else if (attr.Metadata.DataType == AttrDataType.Int)
                                    {
                                        value = string.IsNullOrWhiteSpace(value) ? "0" : value;
                                        var intval = decimal.Parse(value, NumberStyles.Any, CultureInfo.InvariantCulture);
                                        value = intval.ToString();
                                        @value
                                    }
                                    else
                                    {
                                        if (attr.Metadata.DataType == AttrDataType.Expr)
                                        {
                                    @attr.Metadata.Execute(it);
                                        }
                                        else
                                        {
                                    @value 
                                        }
                                    }

                                }
                            </td>                   
                        }

                    </tr>
                    <tr>@Html.Partial("Attrs/AttrView", it)</tr>
                }
            </tbody>
        </table>
    </div>
    }
    <!-- <input type="submit" />-->
}