﻿<div class="prices-filter">
    <span class="header">@Strings.Prices_PrecesFilter_Title </span>
        <select style="min-width: 200px;" class="select2 select-redirect">
            @{var trader = ViewBag.Trader as Trader;}
            @{var traderType = ViewBag.TraderType as TraderType;}
            <option value="@Url.Action("Index")">Default</option>
            <optgroup label="Price Lists">
                @{
                    var tts = (List<TraderType>) ViewBag.TraderTypes;
                }
                @foreach (var tt in tts)
                {
                    <option @((ViewBag.Id == tt.Id) && (trader==null)?"selected='selected'":"")
                        value="@Url.Action("SetTraderTypePrices", new { id = tt.Id })">
                        @tt.Name
                        @if (ViewBag.TraderTypesMod.Contains(tt.Id))
                        {
                            @: **
                        }
                    </option>
                }
            </optgroup>
            <optgroup label="Per Customer">
                @foreach (var t in (List<Trader>)ViewBag.Traders)
                {             
                    <option @((ViewBag.Id == t.Id) && (trader!=null)?"selected='selected'":"") 
                        value="@Url.Action("SetTraderPrices", new { id = t.Id })">
                        @t.Name
                        @if (ViewBag.TradersMod.Contains(t.Id))
                        {
                            @: **
                        }
                    </option>
                }
            </optgroup>
        </select>
</div>
