﻿@model XeroSettings
@Html.Partial("_Meta")
@using (Html.BeginForm())
{
    <div class="container-block" style="margin-top: 50px;">
        <fieldset>
        <div class="span6">
            <legend>@Strings.XeroSettings_XeroTaxMappingHeader</legend>
            @{ 
                ViewBag.SLUI_NoForm = true;
                ViewBag.SLUI_FieldName = "Taxes";
                ViewBag.SLUI_Info = Strings.SLUI_XeroTaxMapping;
                Html.RenderPartial("_SimpleListUI", Model.Taxes, ViewData);
            }
        </div>

        <div class="span6">
                <legend>@Strings.XeroSettings_OtherHeader</legend>
                @Helpers.GenerateEditorFor(Html, x => x.Config.PurchaseAccount)
                @Helpers.GenerateEditorFor(Html, x => x.Config.SalesAccount)
                <div class="form-actions">
                    <input class="btn btn-success" type="submit" value="@Strings.Global_Save" />
                </div>
        </div>
        </fieldset>
    </div>
    
}
@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}