﻿@using chleby.Web.Models
@model Item
<tr style="display: none;">
    <td colspan="666">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    @if (Settings["ShowAttr"]["AdditionalInfo"] != "none")
                    {
                        <span class="right attribute-name" style="font-size: 10px;">@Strings.Description</span>
                        <br />
                        <div class="chleby-item-info">
                            @(string.IsNullOrEmpty(Model.AdditionalInfo) ? "(no description)" : Model.AdditionalInfo)
                        </div>
                    }
                </div>
                <div class="span2">
                    <table class="table-condensed chleby-attributes">
                        @if (Settings["ShowAttr"]["CraftingTime"] != "none")
                        {
                            <tr>
                                <td>
                                    <span class="right attribute-name">@Strings.ProductionTime</span><br />
                                    &nbsp;@Model.CraftingTime
                                </td>
                            </tr>
                        }
                        @if (Settings["ShowAttr"]["LegacyCode"] != "none")
                        {
                            <tr>
                                <td>
                                    <span class="right attribute-name">@Strings.LegacyCode</span><br />
                                    &nbsp;@Model.LegacyCode
                                </td>
                            </tr>
                        }
                        @if (Settings["ShowAttr"]["Vat"] != "none")
                        {
                            <tr>
                                <td>
                                    <span class="right attribute-name">VAT</span><br />
                                    &nbsp;@Model.Vat.ToString("N0")%
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="span2">
                    <table class="table-condensed chleby-attributes">
                        @if (Settings["ShowAttr"]["BarcodeType"] != "none")
                        {
                            <tr>
                                <td>
                                    <span class="right attribute-name">@Strings.BarcodeType</span><br />
                                    &nbsp;@Model.BarcodeType
                                </td>
                            </tr>
                        }
                        @if (Settings["ShowAttr"]["BarcodeValue"] != "none")
                        {
                            <tr>
                                <td>
                                    <span class="right attribute-name">@Strings.Barcode</span><br />
                                    &nbsp;@Model.BarcodeValue
                                </td>
                            </tr>
                        }
                        @if (Settings["ShowAttr"]["Tags"] != "none")
                        {
                            <tr>
                                <td>
                                    <span class="right attribute-name">@Strings.Tags</span><br />
                                    &nbsp;@Model.Tags
                                </td>
                            </tr>
                        }
                        @*
                        <tr>
                            <td>
                                <span class="right attribute-name">@Strings.BaseUnit</span><br />
                                &nbsp;@Model.BaseUnit.Name
                            </td>
                        </tr>*@
                    </table>
                </div>
                <div class="span3">
                    <table class="table-condensed chleby-attributes">
                        @foreach (var meta in Model.ItemGroup.Metas)
                        {
                            var attr = Model.Attributes.FirstOrDefault(a => a.MetadataId == meta.Id);
                            var value = attr == null ? "" : attr.Value;
                            <tr>
                                <td>
                                    <span class="right attribute-name">@meta.Name</span><br />
                                    @if (attr == null)
                                    {
                                        <span class='property-missing'>@Strings.NotSet</span>
                                    }
                                    else
                                    {
                                        @attr.Value
                                    }
                                </td>
                            </tr>                   
                        }

                    </table>
                </div>
                <div class="span2">
                    @{ var path = "~/img/" + Model.Image; }
                    @if (File.Exists(Server.MapPath(path)))
                    {
                        <img src="@Url.Action("Image", "Item", new { Model.Id })" width="100" height="100"/>    
                    }
                </div>
            </div>
        </div>
    </td>
</tr>
