﻿@model dynamic

<label class="control-label">@Model.meta.Name [@Model.meta.DataType]</label>
<div class="controls">
    @Html.TextBox("attrs[" + (int)@Model.meta.Id + "]", (string)Model.value)
    @Html.ValidationMessage("attrs[" + (int)@Model.meta.Id + "]")
</div>