﻿@model dynamic
@{
    var intval = decimal.Parse(string.IsNullOrWhiteSpace((string)Model.value) ? "0" : (string)Model.value, NumberStyles.Any, CultureInfo.InvariantCulture);
}
<label class="control-label">@Model.meta.Name</label>
<div class="controls">
    @Html.TextBox("attrs[" + (int)@Model.meta.Id + "]", intval)
    @Html.ValidationMessage("attrs[" + (int)@Model.meta.Id + "]")
</div>