﻿@model dynamic

<label class="control-label">@Model.meta.Name</label>

    <div class="controls">
                            @foreach (var rasa in Model.meta.PossibleValues.Split(';'))
                            {
                                if (((string)Model.value).Split(',').ToList().Contains(rasa))
                                {
                                <label class="checkbox">
                                    <input type="checkbox" name="attrs[@Model.meta.Id]" value="@rasa" checked ="checked">
                                    @rasa
                                </label>
                                }
                                else
                                {
                                <label class="checkbox">
                                    <input type="checkbox" name="attrs[@Model.meta.Id]" value="@rasa">
                                    @rasa
                                </label>
                                }
                            }
        @Html.Hidden("attrs[" + (int)Model.meta.Id + "]","$$-$$")
        @Html.ValidationMessage("attrs[" + (int)@Model.meta.Id + "]")
</div>