﻿@model dynamic

<div class="controls">
    @if (Model.value == "yes")
    {
        <label class="checkbox">
            <input type="checkbox" name="attrs[@Model.meta.Id]" value="yes" checked ="checked">@Model.meta.Name
        </label>
    }
    else
    {
        <label class="checkbox">
            <input type="checkbox" name="attrs[@Model.meta.Id]" value="yes">@Model.meta.Name
        </label>
    }
    <input name="attrs[@Model.meta.Id]" type="hidden" value="no" />
    @Html.ValidationMessage("attrs[" + (int)@Model.meta.Id + "]")
</div>
