﻿@model dynamic

<label class="control-label">@Model.meta.Name</label>
<div class="controls">
    @Html.DropDownList("attrs[" + (int)@Model.meta.Id + "]", ((chleby.Web.Models.AttributeMeta)Model.meta).PossibleValues.Split(';').Select(option => new SelectListItem
{
    Selected = (string)Model.value == option,
    Text = option,
    Value = option,
}), "Choose...")
    @Html.ValidationMessage("attrs[" + (int)@Model.meta.Id + "]")
</div>