﻿@model dynamic

<div class="control-group">
    <label class="control-label">@Model.meta.Name</label>
    <div class="controls">
        @Html.TextBox("attrs[" + (int)@Model.meta.Id + "]", (string)Model.value, new { @class = "input-medium datepicker"})
        @Html.ValidationMessage("attrs[" + (int)@Model.meta.Id + "]")
    </div>
</div>

