﻿@using chleby.Web.Models
@model ItemGroup

@if (ViewBag.Attrs!=null && ((IEnumerable<AttributeMeta>)ViewBag.Attrs).Any())
{
    <div class="control-group">
        <label class="control-label">@Strings.Attributes</label>
        <div class="controls">
            @foreach (AttributeMeta meta in ViewBag.Attrs)
            {
                if (Model.Metas.Contains(meta))
                {
                    <label class="checkbox">
                        <input name="attrs[@meta.Id]" type="checkbox" value="true" checked ="checked"/>
                        @meta.Name
                    </label>
                }
                else
                {
                    <label class="checkbox">
                        <input name="attrs[@meta.Id]" type="checkbox" value="true" />
                        @meta.Name
                    </label>
                }
                <input name="attrs[@meta.Id]" type="hidden" value="false" />
            }
        </div>
    </div>
}