﻿@model chleby.Web.Models.ItemGroup
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("CreateGroup", "Item", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    
    <fieldset>
        @Html.Hidden("Id", "0")
        @Helpers.GenerateEditorFor(Html, model => model.Name)
        @Helpers.GenerateEditorFor(Html, model => model.Live)
        @*@Helpers.GenerateEditorFor(Html, model => model.Color)*@
        @Html.Partial("Attrs/MetaEdit")
        @Helpers.ModalFormButtons()
    </fieldset>
    <p>@Strings.Item_ItemGroup_Edit_CustAttrInfo</p>
}
@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}
