﻿@using chleby.Web.Models
@model chleby.Web.Models.Item

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Item", FormMethod.Post, new { @class = "form-horizontal chleby-create-form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        @Html.Hidden("Id", "0")
        @Helpers.GenerateEditorFor(Html, model => model.Name)
        @Html.HiddenFor(m => m.Image)
        <div class="control-group">
            <label class="control-label">@Html.DisplayNameFor(x => x.ImageFile)</label>

            <div class="controls">
                @if (Model != null && !string.IsNullOrWhiteSpace(Model.Image))
                {
                    <img src="@Url.Action("Image", new { id = Model.Id })"/>
                }
                <input type="file" name="@Html.NameFor(x => x.ImageFile)" @Html.GetUnobtrusiveValidationAttributes("ImageFile")/>
            </div>
        </div>
        @Helpers.GenerateEditorFor(Html, model => model.AdditionalInfo)
        @Helpers.GenerateEditorFor(Html, model => model.Live)
        @Helpers.GenerateEditorFor(Html, model => model.LegacyCode)
        <div class="control-group">
            <label class="control-label">@Strings.Price</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">@ViewBag.CurrencySymbol</span>
                    @Html.TextBox("price", (decimal)ViewBag.Price)
                    @Html.ValidationMessage("price")
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@Html.DisplayNameFor(m => m.Vat)</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">%</span>
                    @Html.EditorFor(m => m.Vat)
                    @Html.ValidationMessageFor(m => m.Vat)
                </div>

            </div>
        </div>
        <div class="hide">
            <div class="control-group">
                <label class="control-label">@Strings.Base</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.BaseUnitId, ((IEnumerable<UnitOfMeasure>)ViewBag.AllUnits).OrderBy(x => x.Name).Select(u => new SelectListItem
                        {
                            Selected = Model != null && u.Id == Model.BaseUnitId,
                            Text = u.Name,
                            Value = u.Id.ToString(CultureInfo.InvariantCulture)
                        }))
                    @Html.ValidationMessageFor(m => m.BaseUnit)
                </div>
            </div>
            @Helpers.GenerateEditorFor(Html, model => model.BarcodeType)
            @Helpers.GenerateEditorFor(Html, model => model.BarcodeValue)
            @Helpers.GenerateEditorFor(Html, model => model.Tags)
        </div>
        @Helpers.GenerateEditorFor(Html, model => model.Weight)
        <div class="control-group">
            <label class="control-label">@Html.DisplayNameFor(x => x.CraftingTime)</label>
            <div class="controls">
                @Html.TextBoxFor(x => x.CraftingTime, new { @class = "has-popover", title = "0 = Next day delivery after deadline\n1 = 48 hours\n2 = 72 hrs etc" })
            </div>
        </div>
        @if (ViewData["GroupId"] == null)
        {
            <div id="mark"></div>
        }
        else
        {
            @Html.Partial("Attrs/AttrEdit")
            @Html.Hidden("groupId", (int)ViewBag.GroupId)
        }
        @Helpers.ModalFormButtons()
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}
