﻿@using chleby.Web.Models
@model chleby.Web.Models.Item

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Item", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="row-fluid">
            <div class="span6">
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.ItemGroupId)
                @Helpers.GenerateEditorFor(Html, model => model.Name)
                @Html.HiddenFor(m => m.Image)
                <div class="control-group">
                    <label class="control-label">@Html.DisplayNameFor(x => x.ImageFile)</label>

                    <div class="controls">
                        @if (!string.IsNullOrWhiteSpace(Model.Image))
                        {
                            <img src="@Url.Action("Image", new { id = Model.Id })"/>
                        }
                        <input type="file" name="@Html.NameFor(x => x.ImageFile)" @Html.GetUnobtrusiveValidationAttributes("ImageFile")/>
                    </div>
                </div>
                @Helpers.GenerateEditorFor(Html, model => model.AdditionalInfo)
                @Helpers.GenerateEditorFor(Html, model => model.Live)
                @Helpers.GenerateEditorFor(Html, model => model.LegacyCode)
                <div class="control-group">
                    <label class="control-label">@Strings.Price</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">@ViewBag.CurrencySymbol</span>
                            @Html.TextBox("price", (decimal)ViewBag.Price)
                            @Html.ValidationMessage("price")
                        </div>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Html.DisplayNameFor(m => m.Vat)</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">%</span>
                            @Html.EditorFor(m => m.Vat)
                            @Html.ValidationMessageFor(m => m.Vat)
                        </div>

                    </div>
                </div>
                <div class="hide">
                    <div class="control-group">
                        <label class="control-label">@Strings.Base</label>
                        <div class="controls">
                            @Html.DropDownListFor(m => m.BaseUnitId, ((IEnumerable<UnitOfMeasure>)ViewBag.AllUnits).OrderBy(x => x.Name).Select(u => new SelectListItem
                            {
                                Selected = Model != null && u.Id == Model.BaseUnitId,
                                Text = u.Name,
                                Value = u.Id.ToString(CultureInfo.InvariantCulture)
                            }))
                            @Html.ValidationMessageFor(m => m.BaseUnit)
                        </div>
                    </div>
                    @Helpers.GenerateEditorFor(Html, model => model.BarcodeType)
                    @Helpers.GenerateEditorFor(Html, model => model.BarcodeValue)
                    @Helpers.GenerateEditorFor(Html, model => model.Tags)
                </div>
                @Helpers.GenerateEditorFor(Html, model => model.Weight)
                <div class="control-group">
                    <label class="control-label">@Html.DisplayNameFor(x=>x.CraftingTime)</label>
                    <div class="controls">
                        @Html.TextBoxFor(x=>x.CraftingTime, new {@class="has-popover", title="0 = Next day delivery after deadline\n1 = 48 hours\n2 = 72 hrs etc"})
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Strings.ItemGroup</label>
                    <div class="controls">
                        @Html.DropDownList("wybrany", ((IEnumerable<chleby.Web.Models.ItemGroup>)ViewBag.fszystkie).Select(option => new SelectListItem
                   {
                       Selected = (Model != null) && (option.Id == Model.ItemGroup.Id),
                       Text = (option == null ? "None" : option.Name),
                       Value = option.Id.ToString(),
                   }), Strings.Global_Choose)
                        @Html.ValidationMessageFor(model => model.ItemGroup)

                    </div>
                </div>
                @Html.Partial("Attrs/AttrEdit", Model, ViewData)
            </div>
        </div>
        @Helpers.ModalFormButtons()
    </fieldset>
}
<!--<div class="span6">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Permissions</legend>
            </fieldset>
        }
    </div>-->

@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}

