﻿@model ExportItemsViewModel



@using (Html.BeginForm("ExportExecute", "Item", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <ul>
        @for(int i = 0; i < Model.Attributes.Count; i++)
        {
           <li>
               @Html.HiddenFor(m => m.Attributes[i].PropertyName)
               @Html.CheckBoxFor(m => m.Attributes[i].Selected)
               @Model.Attributes[i].DisplayName
           </li>
        }
    </ul>
    <p>
        <button type="submit" class="btn btn-success"><i class="icon-cloud-upload"></i>&nbsp;@Strings.Global_Export</button>
    </p>
}



<script type="text/javascript">
    
</script>