﻿@model ItemGroup
<!-- item -->
<div class="">
    <h4><i class="icon-question-sign"></i>&nbsp;@Strings.Import_How_To_Import_Title</h4>
    @Html.ActionLink(Strings.Global_ClickHere, "DwlTemplate", new { id = Model.Id })
    @Strings.Import_subtitle
    @{ var msg = Strings.ResourceManager.GetString("Import_" + ViewBag.ContrName + "_Info");}
    @if (msg != null)
    {
        <p>@Html.Raw(msg.Replace("\n", "<br/>"))</p>
    }
</div>



@using (Html.BeginForm("Import", "Item", new { id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <textarea style="font-family: monospace" rows="10" cols="50" name="csv" class="hide">@ViewBag.csv</textarea><br />
   
    <div class="control-group">
        <div class="control-label">@Strings.Item_Import_CSV</div>
        <div class="controls">
            <a data-target="@Url.Action(((string)ViewBag.Action ?? "Import") + "File", new { id = Model.Id })" class="btn btn-primary" id="UploadButton"><i class="icon-file"></i>&nbsp;@Strings.Global_Select_File</a>
        </div>
    </div>

    @Helpers.ShowCSVErrors(ViewBag.errors, ViewBag.csv)

    <div class="form-actions">
        <span class="pull-right">
            @if (ViewBag.errors != null && ViewBag.errors.Count == 0)
            {
                @Html.Hidden("csv", (string)ViewBag.csv)
                @Html.Hidden("save", true)
                <button type="submit" class="btn btn-success"><i class="icon-cloud-upload"></i>&nbsp;@Strings.Global_Import</button>
            }
            else
            {
                <button type="submit" disabled class="btn btn-success"><i class="icon-cloud-upload"></i>&nbsp;@Strings.Global_Import</button>
            }
            <a data-dismiss="modal" class="btn btn-danger"><i class="icon-remove-sign"></i>&nbsp;@Strings.Global_Cancel</a>
        </span>
    </div>
 
}


<script type="text/javascript">
    $("#itemgroup-import-modalLabel").html("Import items - @Model.Name");
</script>
