﻿@using System.ComponentModel
@using chleby.Web.Models
@using System.Reflection
@model ComboViewModelPenta<Item, IGrouping<ItemGroup, Item>, ItemGroup>

@Helpers.Modal("export-modal", "Export", "modal-big")

@helper RecipeInfo(Item it)
{    
    using (var db = ChlebyContext.ForCurrentApp())
    {
        var provider = it.CreateProvider(db);
        if (!(provider is NullRecipeProvider))
        {
    <a onclick="$('#recipe_@it.Id').toggle()">(R)</a>
    <div id="recipe_@it.Id" style="display: none">

        @foreach (var step in provider.GetSteps())
        {
            <p>@step</p>
        }

        @foreach (var supp in provider.GetSuppliers())
        {
            <p>[ @supp.Name ]</p>
        }

        @foreach (var info in provider.GetSupplyInfo())
        {
            <p>{ @info.Supplier.Name @info.Amount @info.Unit.Name = @info.Price }</p>
        }

    </div>
        }
    }
}
@section SecondaryActions{

    <div class="btn-group">
        <span class="header">@Strings.Global_Items</span>
    </div>
    <span class="pull-right">
        @if (this.CanWrite())
        {
            <a title="Create new item group" href="#createGroupModal" data-toggle="modal" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.Addgroup</a>
        }
        else
        {
            <a href="#" class="btn disabled"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.Addgroup</a>
        }
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">@Strings.Global_More
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#exportModal" data-toggle="modal"><i class="icon-share export-modal"></i>&nbsp;@Strings.Button_Export</a></li>
                <li><a title="@Strings.Invoices_Index_Month_Published_Button" href="#" class="" onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</a></li>
            </ul>
        </div>
    </span>
}

@{ var usedItems = (IEnumerable<int?>) ViewBag.usedItems;}
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Items</title>
        @Html.Partial("_Meta")
        <link href='http://mountainstream.ms/style/user-registration.css' rel='stylesheet' type='text/css'>
        
    </head>
    <body>
        @Html.Partial("_Header")
		<div class="container-block" style="min-height: 550px;">
			<h2>Step 8 of 11. Items</h2>

                @Helpers.Modal("itemgroup-import-modal", "Import", "modal-big")
                @if (!Model.Index.Any())
                {
                    <div class="row">
                        <div class="span5">@Html.Raw(Strings.Item_Index_NoItems)</div>
                        <div class="span5"/>
                    </div>
                }

                @foreach (var gr in Model.Index)
                {

                    using (Html.BeginForm("BatchEdit", "Item", FormMethod.Post, new { @class = "form-horizontal" }))
                    {

                        var grupa = gr.Key;
                    @Html.HiddenFor(model => grupa.Id)
                    <div class="table-container no-borders">


                        <table cellpadding="0" cellspacing="0" border="0" class="table item-group checkbox-batch table-condensed  table-hover">
                            <caption class="itemgroup-caption" style="border-color:@grupa.Color">
                                <span class="brand">
                                    <div class="updown-arrows noprint">
                                        <a class="uparrow " title="Move up" href="@Url.Action("Up", routeValues: new { app = ViewBag.AppName, id = grupa.Id })"><i class="icon-chevron-up pull-left"></i></a>
                                        <a class="downarrow" title="Move down" href="@Url.Action("Down", routeValues: new { app = ViewBag.AppName, id = grupa.Id })"><i class="icon-chevron-down pull-left"></i></a>

                                    </div>

                                    @grupa.Name
                                    <a @Helpers.BtnSubtleTitle("Edit") href="@Url.Action("EditGroup", routeValues: new { app = ViewBag.AppName, id = grupa.Id })" class="btn-subtle chleby-edit-group noprint"><i class="icon-pencil"></i></a>
                                    <a @Helpers.BtnSubtleTitle("Delete") @Helpers.JsDelConfirm() href="@Url.Action("DeleteGroup", routeValues: new { app = ViewBag.AppName, id = grupa.Id })" class="btn-subtle delete noprint"><i class="icon-trash"></i></a>


                                </span>
                                <div class="table-actions noprint">
                                    @if (this.CanWrite())
                                    {
                                        <a title="Add new item to this group" href="#createModal" id="@grupa.Id" data-toggle="modal" class="btn btn-primary item-create"><i class="icon-plus-sign"></i>&nbsp;@Strings.Additem</a>                      
                                        <a title="Import items to this group via .csv file" href="@Url.Action("Import", new { id = grupa.Id })" class="btn itemgroup-import-modal"><i class="icon-cloud-upload"></i>&nbsp;@Strings.Global_Import</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="btn disabled pull-right"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.Additem</a>
                                        <a href="#" class="btn disabled"><i class="icon-cloud-upload"></i>&nbsp;@Strings.Global_Import</a>
                                    }


                                </div>
                            </caption>
                            <thead>
                                <tr class="batch-actions hide">
                                    <th class="batch-checkbox-container"></th>
                                    <th class="item-name">@Strings.Global_Modify
                                    </th>
                                    @foreach (var v in Settings["ShowAttrOrder"]["value"].Split(','))
                                    {
                                        var sett = Settings["ShowAttr"][v];
                                        if (sett == "internal" || sett == "all")
                                        {
                                        <th class="right">
                                            <span>
                                                @Html.CheckBox("zpropset[" + v + "]",
                                                    ViewBag.propset != null ?
                                                    (bool)ViewBag.propset.ContainsKey(v) && (bool)ViewBag.propset[v] :
                                                    false)
                                            </span>
                                        </th>
                                        }
                                    }
                                    @foreach (var meta in grupa.Metas.OrderBy(x => x.Order).Where(x => x.ShowInternal))
                                    {//odpowiednie editory dla odpowiednich attr!!!!
                                        <th class="right">
                                            <span>
                                                @Html.CheckBox("attrset[" + meta.Id.ToString(CultureInfo.InvariantCulture) + "]",
                                                    ViewBag.propset != null ?
                                                    (bool)ViewBag.attrset.ContainsKey(meta.Id.ToString(CultureInfo.InvariantCulture)) && (bool)ViewBag.attrset[meta.Id.ToString(CultureInfo.InvariantCulture)] :
                                                    false)
                                            </span>
                                        </th>                   
                                    }

                                </tr>
                                <tr class="batch-actions hide">

                                    <th class="batch-checkbox-container">
                                    <th class="item-name">
                                        <button type="submit" class="btn btn-icon btn-success btn-small"><i class="icon-ok"></i>&nbsp;@Strings.Editselected</button>
                                    </th>

                                    @{
                                    foreach (var v in Settings["ShowAttrOrder"]["value"].Split(','))
                                    {
                                        var sett = Settings["ShowAttr"][v];
                                        if (sett == "internal" || sett == "all")
                                        {
                                        <th class="right">
                                            <span>

                                                @if (v == "BaseUnit")
                                                {
                                                    @Html.DropDownList("prop[BaseUnit]", ((IEnumerable<UnitOfMeasure>)ViewBag.AllUnits).OrderBy(x => x.Name).Select(u => new SelectListItem
                                               {
                                                   Selected = Model != null && u.Id.ToString() == (ViewBag.prop != null ? (string)ViewBag.prop[v] : "0"),
                                                   Text = u.Name,
                                                   Value = u.Id.ToString(CultureInfo.InvariantCulture)
                                               }), new { @class = "input-mini" })
                                                }
                                                else
                                                {
                                                    @Html.TextBox("prop[" + v + "]", ViewBag.prop != null ? (string)ViewBag.prop[v] : "", new { @class = "batch-edit input-mini right" })
                                                }
                                                @Html.ValidationMessage("prop[" + v + "]")
                                            </span>
                                        </th>
                                        }
                                    }
                                    }

                                    @foreach (var meta in grupa.Metas.OrderBy(x => x.Order).Where(x => x.ShowInternal))
                                    {//odpowiednie editory dla odpowiednich attr!!!!
                                        <th class="right">
                                            <span>

                                                @{
                                        var value = ViewBag.attr != null ?
                                            (ViewBag.attr.ContainsKey(meta.Id.ToString(CultureInfo.InvariantCulture)) ? (string)ViewBag.attr[meta.Id.ToString(CultureInfo.InvariantCulture)] : "")
                                            : "";
                                                    @Html.Partial("Attrs/MiniEdit/Attr" + meta.DataType, new MetaValue { meta = meta, value = value })
                                                }
                                            </span>
                                        </th>                   
                                    }

                                </tr>

                                <tr class="table-header">
                                    <th class="batch-checkbox-container noprint">
                                        <input type="checkbox" class="batch-all"></th>
                                    <th class="item-name">@Strings.Name</th>
                                    @foreach (var v in Settings["ShowAttrOrder"]["value"].Split(','))
                                    {

                                        var sett = Settings["ShowAttr"][v];
                                        if (sett == "internal" || sett == "all")
                                        {
                                        <th class="right attribute-name">
                                            @{
                                            var attr = typeof(Item).GetProperty(v).MyGetCustomAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>();
                                            var name = v;
                                            if (attr != null)
                                            {
                                                name = attr.GetName();
                                            }
                                                @name
                                            }
                                        </th>
                                        }
                                    }
                                    @foreach (var meta in grupa.Metas.OrderBy(x => x.Order).Where(x => x.ShowInternal))
                                    {      
                                        <th class="right attribute-name">@meta.Name</th>                     
                                    }

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var it in gr.OrderBy(x => x.Name))
                                {
                                    var crafting = it.CraftingTime;                       
                                    <tr class="tr-main">
                                        <td class="batch-checkbox-container">@Html.CheckBox("batch[" + it.Id + "]",
                                            ViewBag.batch != null ?
                                            (bool)ViewBag.batch.ContainsKey(it.Id.ToString(CultureInfo.InvariantCulture)) && (bool)ViewBag.batch[it.Id.ToString(CultureInfo.InvariantCulture)] :
                                            false, new { @class = "batch" })</td>

                                        <td class="item-name">
                                            @if (this.CanWrite())
                                            {
                                                if (it.Live)
                                                {
                                                <a rel="tooltip" data-toggle="tooltip" data-placement="left" title="Live" href="#" id="@it.Id" class="btn-subtle chleby-live"><i class="icon-ok"></i></a>                            
                                                }
                                                else
                                                {     
                                                <a  rel="tooltip"  data-toggle="tooltip" data-placement="left" title="Not Live" href="#"  id="@it.Id" class="btn-subtle chleby-not-live"><i class="icon-minus"></i></a>      
                                                }
                                                if (usedItems.Contains(it.Id))
                                                {
                                                    <a class="btn-subtle delete disabled noprint has-popover" title="Cannot delete item that is linked to transactions. You can make it not live instead."><i class="icon-trash"></i></a>
                                                }
                                                else
                                                {
                                                    <a @Helpers.BtnSubtleTitle("Delete") @Helpers.JsDelConfirm() href="@Url.Action("Delete", routeValues: new {app = ViewBag.AppName, id = it.Id})" class="btn-subtle delete noprint"><i class="icon-trash"></i></a>
                                                }
                                                <a @Helpers.BtnSubtleTitle("Edit") href="@Url.Action("Edit", routeValues: new { app = ViewBag.AppName, id = it.Id })" class="btn-subtle chleby-edit noprint"><i class="icon-pencil"></i></a>
                             
                                            }
                                            <a title="Click to expand/collapse details." href="#" class="item-expand-toggle"><span class="item-expand"><i class="icon-angle-right"></i></span>&nbsp;@it.Name</a>
                                            @* HEJMUS RECIPE START *@
                                            @RecipeInfo(it)
                                            @* HEJMUS RECIPE END *@
                                        </td>

                                        @foreach (var v in Settings["ShowAttrOrder"]["value"].Split(','))
                                        {
                                            var sett = Settings["ShowAttr"][v];
                                            if (v == "MagicPrice")
                                            {
                                            <td class="right">
                                                @Helpers.V(it.ItemPriceValue)
                                            </td>
                                            }
                                            else
                                            {
                                                if (sett == "internal" || sett == "all")
                                                {
                                                    var value = TypeDescriptor.GetProperties(typeof(Item))[v].GetValue(it);
                                                    if (value != null && value.ToString().Length > 50)
                                                    {
                                            <td class="right has-popover" title="@value">
                                                @(value.ToString().Substring(0, 47) + "...")
                                            </td>
                                                    }
                                                    else
                                                    {
                                            <td class="right">
                                                @if (v == "Vat")
                                                {<text> @(((decimal)value).ToString("0"))% </text> }
                                                else
                                                {@value}
                                            </td>
                                                    }
                                                }
                                            }
                                        }
                                        @foreach (var meta in grupa.Metas.OrderBy(x => x.Order).Where(x => x.ShowInternal))
                                        {
                                            var attr = it.Attributes.FirstOrDefault(a => a.MetadataId == meta.Id);
                                            var value = "";
                                            var tdattr = "class='right'";
                                            string tooltip = null;
                                            if (attr != null && attr.Value != null)
                                            {
                                                if (attr.Value.Length > 50)
                                                {
                                                    value = attr.Value.Substring(0, 47) + "...";
                                                    tooltip = Html.AttributeEncode(attr.Value);
                                                    tdattr = "has-popover";
                                                }
                                                else
                                                {
                                                    value = attr.Value;
                                                }
                                            }
                            
                                            <td class="right @tdattr" title="@tooltip">
                                                @if (attr == null || attr.Value == "")
                                                {
                                                    <span class='property-missing'>
                                                        <!--(not set)-->
                                                    </span>
                                                }
                                                else
                                                {
                                                    if (attr.Metadata.DataType == AttrDataType.Bool)
                                                    {
                                                    @Html.CheckBox("dummy", attr.Value == "yes", new { disabled = "disabled", @checked = "checked" })  
                                                    }
                                                    else if (attr.Metadata.DataType == AttrDataType.Int)
                                                    {
                                                        value = string.IsNullOrWhiteSpace(value) ? "0" : value;
                                                        var intval = decimal.Parse(value, NumberStyles.Any, CultureInfo.InvariantCulture);
                                                        value = intval.ToString();
                                                        @value
                                                    }
                                                    else if (attr.Metadata.DataType == AttrDataType.Expr)
                                                        {
                                                    @attr.Metadata.Execute(it);
                                                        }
                                                        else
                                                        {
                                                    @value 
                                                        }

                                                }
                                            </td>                   
                                        }


                                    </tr>
                                    @Html.Partial("Attrs/AttrView", it)
                                }




                            </tbody>
                        </table>
                    </div>
                    }
                }
                <div class="clearfix"></div>

                @Helpers.ModalValidationHelper((t, m) => Html.Partial(t, m), t => ViewBag.GroupId == null ? Html.Partial(t, new Item()) : new MvcHtmlString(""), Model, "item", "chleby-modal-item")

                <div id="createGroupModal" class="modal chleby-modal hide fade" tabindex="-1" role="dialog" aria-labelledby="createGroupModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="createGroupModalLabel">@Strings.Addgroup</h3>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("CreateGroup", Model.Create2 ?? new ItemGroup())
                    </div>
                </div>

                <div id="editGroupModal" class="modal chleby-modal @(Model.Edit2 == null ? "hide" : "show") fade" tabindex="-1" role="dialog" aria-labelledby="editGroupModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="editGroupModalLabel">@Strings.Editgroup</h3>
                    </div>
                    <div class="modal-body" id="chleby-edit-group">
                        @Html.Partial("CreateGroup", Model.Edit2 ?? new ItemGroup())
                    </div>
                </div>

                @{ var exportVM = (ExportItemsViewModel) ViewBag.ExportVM;}
                <div id="exportModal" class="modal chleby-modal hide fade" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="exportModalLabel">@Strings.Export_Items_Title</h3>
                    </div>
                    <div class="modal-body">
                        @if(exportVM != null){
                            @Html.Partial("Export", exportVM)
                        }
                    </div>
                </div>
            </div>
        <div class="btn-group">
        <span class="header">@Strings.Global_Items</span>
    </div>
    <span class="pull-right">
        @if (this.CanWrite())
        {
            <a title="Create new item group" href="#createGroupModal" data-toggle="modal" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.Addgroup</a>
        }
        else
        {
            <a href="#" class="btn disabled"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.Addgroup</a>
        }
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">@Strings.Global_More
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#exportModal" data-toggle="modal"><i class="icon-share export-modal"></i>&nbsp;@Strings.Button_Export</a></li>
                <li><a title="@Strings.Invoices_Index_Month_Published_Button" href="#" class="" onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</a></li>
            </ul>
        </div>
    </span>
        </div>
        <div class="span3">
            <a href="@Url.Action("HandwalkMove", "Internal", new { id = 10 })" class="btn btn-green btn-success btn-handwalk btn-icon" style="float: left !important;" id="handwalk-leechproxy"><img subpath="img/icon/user-registration/check.png">@Strings.Global_Save</a>
        </div>
		<br style="clear:both" />
        @Html.Partial("_Footer")

                @section Scripts {
                    @Scripts.Render("~/js/jqueryval")

                    <script type="text/javascript">
                        $(document).ready(function () {

                            @if (Model.Edit2 != null)
                            {
                                @: $("#editGroupModal").modal();
                            }

                            // ROW EXPANDING
                            $(".item-name .item-expand-toggle").click(function () {
                                $(this).parents(".tr-main").nextUntil(".tr-main").toggle();
                            })
                            .toggle(function () {
                                $(this).children(".item-expand").html("<i class='icon-angle-down'></i>");
                                // $(this).html("<i class='icon-angle-down'></i>");
                            }, function () {
                                $(this).children(".item-expand").html("<i class='icon-angle-right'></i>");
                                // $(this).html("<i class='icon-angle-right'></i>");
                            });



                            //AJAX LIVE/NOT LIVE FOR ITEMS
                            $("body").on("click", ".chleby-live", function (e) {
                                e.preventDefault();
                                $(this).html("&nbsp;");
                                $(this).spin("tiny");
                                var button = $(this);

                                $.get("@Url.Action("ToggleLive")", { id: $(this).attr("id"), live: "false" })
                                 .done(function (data) {
                                     if (data.msg == "ok") {
                                         button.removeClass("btn-success chleby-live");
                                         button.addClass("chleby-not-live");
                                         button.attr("data-original-title", "Not Live");
                                         button.html('<i class="icon-minus"></i>');
                                     }
                                     else {
                                         button.addClass("btn-warning");
                                         button.html('Connection error');
                                     }
                                 });
                            });

                            $("body").on("click", ".chleby-not-live", function (e) {
                                e.preventDefault();
                                $(this).html("&nbsp;");
                                $(this).spin("tiny");
                                var button = $(this);
                                $.get("@Url.Action("ToggleLive")", { id: $(this).attr("id"), live: "true" })
                                 .done(function (data) {
                                     //console.log(data);
                                     if (data.msg == "ok") {
                                         button.removeClass("chleby-not-live");
                                         button.addClass("chleby-live");
                                         button.attr("data-original-title", "Live");
                                         button.html('<i class="icon-ok icon-white"></i>');
                                     }
                                     else {
                                         button.addClass("btn-warning");
                                         button.html('Connection error');
                                     }

                                 });
                            });

                            $(".chleby-edit-group").click(function (e) {
                                e.preventDefault();
                                var href = $(this).attr("href");
                                $.ajax({
                                    url: href,
                                    context: document.body
                                }).done(function (data) {
                                    // alert(href + "success" + " data:" + data);
                                    $("#chleby-edit-group").html(data);
                                    $("#editGroupModal").modal();
                                });
                            });

                            //ITEM CRATE CUSTOM MODAL

                            $('.item-create').click(function () {
                                $('<input>').attr({
                                    type: 'hidden',
                                    id: 'groupId',
                                    name: 'groupId',
                                    value: $(this).attr("id")
                                }).appendTo('.chleby-create-form');

                                $.ajax({
                                    url: "@Url.Action("AttrEdit")/" + $(this).attr("id"),
                                    context: document.body
                                }).done(function (data) {
                                    // alert(href + "success" + " data:" + data);
                                    $('#mark').html(data);
                                });
                            });
                        });
                    </script>
                }
</body>