﻿@using System.ComponentModel
@using System.Reflection
@using chleby.Web.Models
@model IEnumerable<IGrouping<ItemGroup, Item>>

@foreach (var gr in Model)
{
    var tid = ChlebyController.GetTraderId();
    int count = 0;
    foreach (var it in gr)
    {
        var vi = it.Visibility.FirstOrDefault(x => x.TraderId == tid);
        if (this.IsEmployee() ||
            this.IsSuperAdmin() || (
                this.IsTrader() && (
                    (vi != null && !vi.HiddenByAdmin) ||
                    vi == null
                    )
            ))
        {
            count++;
        }
    }
    if (count == 0)
    {
        continue;
    }

    var grupa = gr.Key;
    <table cellpadding="0" cellspacing="0" border="0" class="table item-group table-hover table-condensed no-borders">
        <caption  class="itemgroup-caption" style="border-color:@grupa.Color">
            <span class="brand">@grupa.Name</span>
            <div class="pull-right">
            </div>
        </caption>
        <thead>
            <tr>

                <th class="item-name">@Strings.Name
                </th>
                @foreach (var v in Settings["ShowAttrOrder"]["value"].Split(','))
                {
                    var sett = Settings["ShowAttr"][v];
                    if (sett == "all")
                    {
                    <th class="right attribute-name">
                        @{
                        var attr = typeof(Item).GetProperty(v).MyGetCustomAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>();
                        var name = v;
                        if (attr != null)
                        {
                            name = attr.GetName();
                        }
                            @name
                        }
                    </th>
                    }
                }
                @foreach (var meta in grupa.Metas.Where(x => x.ShowToTrader))
                {
                    <th class="right attribute-name">@meta.Name</th>
                }
            </tr>
        </thead>
        <tbody>

            @foreach (var it in gr.OrderBy(x => x.Name))
            {
                var vi = it.Visibility.FirstOrDefault(x => x.TraderId == tid);
                if (this.IsTrader() && vi != null && vi.HiddenByAdmin)
                {
                    continue;
                }
                <tr class="tr-main">

                    <td class="item-name">
                        @if (this.CanWrite())
                        {
                            if (this.IsEmployee() || this.IsSuperAdmin())
                            {
                                if (vi != null && vi.HiddenByAdmin)
                                {<a href="#" rel="tooltip" data-toggle="tooltip" data-placement="left" title="@Strings.OverrideOrderView_Hidden" id="@it.Id" class="btn-subtle chleby-admin-hidden"><i class="icon-eye-close"></i></a>}
                                else
                                {<a href="#" rel="tooltip" data-toggle="tooltip" data-placement="left" title="@Strings.OverrideOrderView_Visible" id="@it.Id" class="btn-subtle chleby-not-admin-hidden"><i class="icon-eye-open"></i></a>}
                            }
                            else
                            {
                                if (vi != null && vi.Favourite)
                                { <a rel="tooltip" data-toggle="tooltip" data-placement="left" title="@Strings.OverrideOrderView_Fav_Item" href="#" id="@it.Id" class="btn-subtle chleby-favorite"><i class="icon-star"></i></a>}
                                else
                                { <a href="#" data-toggle="tooltip" data-placement="left" title="@Strings.OverrideOrderView_Make_It_Fav" id="@it.Id" rel="tooltip" class="btn-subtle chleby-not-favorite"><i class="icon-star-empty"></i></a>}

                            }
                        }
                        <a title="Click to expand/collapse details." href="#" class="item-expand-toggle"><span class="item-expand"><i class="icon-angle-right"></i></span>&nbsp;@it.Name</a>
                    </td>

                    @{
                        foreach (var v in Settings["ShowAttrOrder"]["value"].Split(','))
                        {
                            var sett = Settings["ShowAttr"][v];
                            if (v == "MagicPrice")
                            {
                                Price price = it.Prices.OfType<TraderPrice>().FirstOrDefault(x => x.TraderId == tid);
                                var traderprice = price;
                                if (price == null)
                                {
                                    price = it.Prices.OfType<TraderTypePrice>().FirstOrDefault(x => x.TraderTypeId == ((Trader)ViewBag.Trader).TypeId);
                                    if (price == null)
                                    {
                                        price = it.Prices.OfType<ItemPrice>().FirstOrDefault();
                                    }
                                }
                                <td class="right">
                                    @Helpers.V(price.Value)
                                </td>
                            }
                            else
                            {
                                if (sett == "all")
                                {
                                    var value = TypeDescriptor.GetProperties(typeof(Item))[v].GetValue(it);
                                    if (value != null && value.ToString().Length > 50)
                                    {
                                        <td class="right has-popover" title="@value">
                                            @(value.ToString().Substring(0, 47) + "...")
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="right">
                                            @if (v == "Vat")
                                            {<text> @(((decimal)value).ToString("0"))% </text> }
                                            else
                                            {@value}
                                        </td>
                                    }
                                }
                            }
                        }
                    }

                    @foreach (var meta in grupa.Metas.Where(x => x.ShowToTrader))
                    {
                        var attr = it.Attributes.FirstOrDefault(a => a.MetadataId == meta.Id);
                        var value = "";
                        var tdattr = "class='right'";
                        string tooltip = null;
                        if (attr != null && attr.Value != null)
                        {
                            if (attr.Value.Length > 50)
                            {
                                value = attr.Value.Substring(0, 47) + "...";
                                tooltip = Html.AttributeEncode(attr.Value);
                                tdattr = "has-popover";
                            }
                            else
                            {
                                value = attr.Value;
                            }
                        }
                            
                        <td class="right @tdattr" title="@tooltip">
                            @if (attr == null || attr.Value == "")
                            {
                                <span class='property-missing'>
                                    <!--(not set)-->
                                </span>
                            }
                            else
                            {
                                if (attr.Metadata.DataType == AttrDataType.Bool)
                                {
                                    @Html.CheckBox("dummy", attr.Value == "yes", new { disabled = "disabled", @checked = "checked" })  
                                }
                                else if (attr.Metadata.DataType == AttrDataType.Int)
                                {
                                    value = string.IsNullOrWhiteSpace(value) ? "0" : value;
                                    var intval = decimal.Parse(value, NumberStyles.Any, CultureInfo.InvariantCulture);
                                    value = intval.ToString();
                                    @value
                                }
                                else
                                {
                                    if (attr.Metadata.DataType == AttrDataType.Expr)
                                    {
                                        @attr.Metadata.Execute(it);
                                    }
                                    else
                                    {
                                        @value 
                                    }
                                }

                            }
                        </td>
                    }

                </tr>
                @Html.Partial("Attrs/AttrView", it)
            }

        </tbody>
    </table>
  
}