﻿@using chleby.Web.Models
@model chleby.Web.Models.Item

@{
    ViewBag.Title = Strings.Global_Create;
}

@using (Html.BeginForm("Create", "Item", FormMethod.Post, new { @class = "form-horizontal chleby-create-form" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        @Html.Hidden("Id", "0")
        @Helpers.GenerateEditorFor(Html, model => model.Name)
        @Helpers.GenerateEditorFor(Html, model => model.AdditionalInfo)
        @Helpers.GenerateEditorFor(Html, model => model.Live)
        @Helpers.GenerateEditorFor(Html, model => model.LegacyCode)
        <div class="control-group">
            <label class="control-label">@Strings.Price</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">@ViewBag.CurrencySymbol</span>
                    @Html.TextBox("price", (decimal)ViewBag.Price)
                    @Html.ValidationMessage("price")
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Base unit</label>
            <div class="controls">
                @Html.DropDownListFor(m => m.BaseUnitId, ((IEnumerable<UnitOfMeasure>)ViewBag.AllUnits).OrderBy(x => x.Name).Select(u => new SelectListItem
                            {
                                Selected = Model != null && u.Id == Model.BaseUnitId,
                                Text = u.Name,
                                Value = u.Id.ToString(CultureInfo.InvariantCulture)
                            }))
                @Html.ValidationMessageFor(m => m.BaseUnit)
            </div>
        </div>
        @Helpers.GenerateEditorFor(Html, model => model.Vat)
        @Helpers.GenerateEditorFor(Html, model => model.BarcodeType)
        @Helpers.GenerateEditorFor(Html, model => model.BarcodeValue)
        @Helpers.GenerateEditorFor(Html, model => model.Tags)
        @Helpers.GenerateEditorFor(Html, model => model.CraftingTime)
        @if (ViewData["GroupId"] == null)
        {
            <div id="mark"></div>
        }
        else
        {
            @Html.Partial("Attrs/AttrEdit")
            @Html.Hidden("groupId", (int)ViewBag.GroupId)
        }
         <div class="form-actions">
            <button class="btn btn-success" type="submit"><i class="icon-ok"></i>&nbsp;@Strings.Global_Save</button>
            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" ><i class="icon-remove-sign"></i>&nbsp;@Strings.Global_Cancel</button>
        </div>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}
