﻿@model ComboViewModelPenta<Item, IGrouping<ItemGroup, Item>, ItemGroup>

@{
    var trader = (Trader)ViewBag.Trader;
    ViewBag.Title = trader.Name + " - Items";
}
@section SecondaryActions{

    <span class="header">@Strings.TraderItems_Catalogue_Title</span>
}


@Html.Partial("_Table", Model.Index)


@section Scripts {
    @Scripts.Render("~/js/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {

            @if (Model.Edit2 != null)
            {
                @: $("#editGroupModal").modal();
            }
            
            // ROW EXPANDING
            $(".item-name .item-expand-toggle").click(function () {
                $(this).parents(".tr-main").nextUntil(".tr-main").toggle();
            })
            .toggle(function () {
                $(this).children(".item-expand").html("<i class='icon-angle-down'></i>");
                // $(this).html("<i class='icon-angle-down'></i>");
            }, function () {
                $(this).children(".item-expand").html("<i class='icon-angle-right'></i>");
                // $(this).html("<i class='icon-angle-right'></i>");
            });
            
            //AJAX LIVE/NOT LIVE FOR ITEMS
            $(".item-name").on("click", ".chleby-favorite", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);

                $.get("@Url.Action("ToggleFav")", { id: $(this).attr("id"), favorite: "false" })
                 .done(function (data) {
                     if (data.msg == "ok") {
                         button.removeClass("chleby-favorite");
                         button.addClass("chleby-not-favorite");
                         button.attr("data-original-title", "");
                         button.html('<i class="icon-star-empty"></i></a>');
                     }
                     else {
                         button.html('Connection error');
                     }
                 });
            });

            $(".item-name").on("click", ".chleby-not-favorite", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);
                $.get("@Url.Action("ToggleFav")", { id: $(this).attr("id"), favorite: "true" })
                 .done(function (data) {
                     console.log(data);
                     if (data.msg == "ok") {
                         button.removeClass("chleby-not-favorite");
                         button.attr("data-original-title", "Favourite item");
                         button.addClass("chleby-favorite");
                         button.html('<i class="icon-star"></i></a>');
                     }
                     else {
                         button.attr("data-original-title", "Make it favourite");
                         button.html('Connection error');
                     }

                 });
            });
            
            $(".item-name").on("click", ".chleby-admin-hidden", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);

                $.get("@Url.Action("ToggleAdminHide")", { id: $(this).attr("id"), hidden: "false" })
                 .done(function (data) {
                     if (data.msg == "ok") {
                         button.removeClass("chleby-admin-hidden");
                         button.addClass("chleby-not-admin-hidden");
                         button.attr("data-original-title", "@Strings.OverrideOrderView_Visible");
                         button.html('<i class="icon-eye-open"></i>');
                     }
                     else {
                         button.html('Connection error');
                     }
                 });
            });

            $(".item-name").on("click", ".chleby-not-admin-hidden", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);
                $.get("@Url.Action("ToggleAdminHide")", { id: $(this).attr("id"), hidden: "true" })
                 .done(function (data) {
                     console.log(data);
                     if (data.msg == "ok") {
                         button.removeClass("chleby-not-admin-hidden");
                         button.addClass("chleby-admin-hidden");
                         button.attr("data-original-title", "@Strings.OverrideOrderView_Hidden");
                         button.html('<i class="icon-eye-close"></i>');
                     }
                     else {
                         button.html('Connection error');
                     }

                 });
            });
            
            $(".chleby-edit-group").click(function (e) {
                e.preventDefault();
                var href = $(this).attr("href");
                $.ajax({
                    url: href,
                    context: document.body
                }).done(function (data) {
                    // alert(href + "success" + " data:" + data);
                    $("#chleby-edit-group").html(data);
                    $("#editGroupModal").modal();
                });
            });

        });
    </script>
}