﻿@model IEnumerable<Address>

@{
    var trader = (Trader)ViewBag.Trader;

    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
    string shortFormat = business.ShortDateFormat;
    IDictionary<DateTime, DateTime> localDates = ViewBag.LocalDates;
}

@section Header{

    @if (!ViewBag.HasEmployees)
    {
        <h1>@Strings.AddressNoContactsHeader</h1>
        <p>@Strings.AddressNoContactsBody</p>
    }
    else if (Model == null || !Model.Any())
    {
        <h1>@Strings.AddressNoAddressesHeader</h1>
        <p>@Strings.AddressNoAddressesBody</p>
    }

}


@{
    DateTime curdate = ViewBag.date;
    DateTime curDateLocal = ViewBag.DateLocal;
    DateTime selectdate = ViewBag.overridestart;
    ViewBag.title = trader.Name + " - " + Strings.Global_Cart + " - " + curDateLocal.Date.ToString(shortFormat);
}

@section SecondaryActions
{
    @if (Model != null)
    {
        <div class="btn-group">
            <span class="header">@Strings.Order_Override_Index_Cart_For&nbsp;</span>
            <select class="select-redirect ">

                @foreach (Address adr in ViewBag.Addresses)
                {
                    if (adr.Id != Model.First().Id)
                    {
                    <option value="@Url.Action("Index", new { id = adr.Id, date = curdate.Date.ToString("ddMMyyyy") })">@adr.Address1</option>
                    }
                    else
                    {
                    <option selected="selected" value="@Url.Action("Index", new { id = adr.Id, date = curdate.Date.ToString("ddMMyyyy") })">@adr.Address1</option>
                    }


                }

                <option value="@Url.Action("Index", "Address")">@Strings.OrderOverride_Index_AddAddres</option>
            </select>
        </div>
        <div class="btn-group">
            <span class="header"></span>
            <select class="select-redirect input-simpledate">
                @foreach (var kvp in ViewBag.validdays)
                {
                    selectdate = kvp.Key;
                    DateTime selectedDateLocal = localDates[selectdate];
                   
                    <option  @(selectdate.Date != curdate.Date ? "" : "selected='selected'")
                        value="@(@kvp.Value == ValidDayReason.OK ? Url.Action("Index", new { id = Model.First().Id, date = selectdate.Date.ToString("ddMMyyyy") }) : "")">

                        @if (kvp.Value == ValidDayReason.OK)
                        {
                            @selectedDateLocal.ToString(shortFormat + " ddd")   
                        }
                        else if (kvp.Value == ValidDayReason.BusinessHoliday)
                        {
                            @:@Strings.OrderOverride_closed_dropdown_holiday
                    }
                        else if (kvp.Value == ValidDayReason.AddressHoliday)
                        {
                            @:@Strings.OrderOverride_address_dropdown
                    }
                        else if (kvp.Value == ValidDayReason.NoWork)
                        {
                            @:@Strings.OrderOverride_closed_dropdown
                    }



                        @(Model.First().HasAdhoc(selectdate) ? "*" : "")
                    </option>
                   
                }
            </select>

        </div>
        <span class="pull-right">
            @Helpers.SaveButton("overrideroder", Strings.Cart_SaveOverridenOrder)
            <button class="btn" onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</button>
        </span>
    }

}

@Helpers.Modal("addAddress", @Strings.OrderOverride_Index_AddAddres)

@if (Model != null)
{        
    @Html.Partial("OverrideOrderView", Model.First(), ViewData)
   
}



@section scripts
{
    <script type="text/javascript">



        $(function () {


            orderOverrideCalculateTotal();//recalc price/del


            //AJAX HIDE + FAVORITE FOR ITEMS
            $(".item-name").on("click", ".chleby-favorite", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);

                $.get("@Url.Action("ToggleFav", "TraderItems")", { id: $(this).attr("id"), favorite: "false" })
                 .done(function (data) {
                     if (data.msg == "ok") {
                         button.removeClass("chleby-favorite");
                         button.addClass("chleby-not-favorite");
                         button.attr("data-original-title", "@Strings.OverrideOrderView_Make_It_Fav");
                         button.html('<i class="icon-star-empty"></i>');
                     }
                     else {
                         button.addClass("btn-warning");
                         button.html('Connection error');
                     }
                 });
          });

            $(".item-name").on("click", ".chleby-not-favorite", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);
                $.get("@Url.Action("ToggleFav", "TraderItems")", { id: $(this).attr("id"), favorite: "true" })
                 .done(function (data) {
                     console.log(data);
                     if (data.msg == "ok") {
                         button.removeClass("chleby-not-favorite");
                         button.attr("data-original-title", "@Strings.OverrideOrderView_Fav_Item");
                         button.addClass("chleby-favorite");
                         button.html('<i class="icon-star"></i>');
                     }
                     else {
                         button.html('Connection error');
                     }

                 });
            });

            $(".item-name").on("click", ".chleby-admin-hidden", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);

                $.get("@Url.Action("ToggleAdminHide", "TraderItems")", { id: $(this).attr("id"), hidden: "false" })
                 .done(function (data) {
                     if (data.msg == "ok") {
                         button.removeClass("chleby-admin-hidden");
                         button.addClass("chleby-not-admin-hidden");
                         button.attr("data-original-title", "@Strings.OverrideOrderView_Visible");
                         button.html('<i class="icon-eye-open"></i>');
                     }
                     else {
                         button.html('Connection error');
                     }
                 });
          });

            $(".item-name").on("click", ".chleby-not-admin-hidden", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);
                $.get("@Url.Action("ToggleAdminHide", "TraderItems")", { id: $(this).attr("id"), hidden: "true" })
                 .done(function (data) {
                     console.log(data);
                     if (data.msg == "ok") {
                         button.removeClass("chleby-not-admin-hidden");
                         button.addClass("chleby-admin-hidden");
                         button.attr("data-original-title", "@Strings.OverrideOrderView_Hidden");
                         button.html('<i class="icon-eye-close"></i>');
                     }
                     else {
                         button.addClass("btn-warning");
                         button.html('Connection error');
                     }

                 });
          });


        });

    </script>
    @Scripts.Render("~/js/jqueryval")
}


