﻿@using System.Globalization
@using chleby.Web.Models
@model chleby.Web.Models.Address



@{
    var tid = ChlebyController.GetTraderId();
    DateTime curdate = ViewBag.date;
    DateTime curDateLocal = ViewBag.DateLocal;
    
    var dayofweek = (int)curdate.DayOfWeek - 1;
    if (dayofweek < 0)
    {
        dayofweek += 7;
    }

    var trader = (Trader)ViewBag.Trader;
    var listcmp = new ItemListComparator(trader);
    var standingOrders = Model.Orders.OfType<StandingOrder>().Where(x => x.Day == dayofweek).ToList();

    var adhocOrders = Model.Orders.OfType<AdhocOrder>().Where(x => x.Date.Date == curdate.Date).ToList();

    var standing = Model.Orders.OfType<StandingOrder>().FirstOrDefault(x => x.Day == dayofweek);
    var adhoc = Model.Orders.OfType<AdhocOrder>().FirstOrDefault(x => x.Date.Date == curdate.Date);
    var delivery = standing == null ? false : standing.Delivery;
    delivery = adhoc == null ? delivery : adhoc.Delivery;
    var note = standing == null ? "" : standing.Note;
    note = adhoc == null ? note : adhoc.Note;
    var items = (from order in standingOrders from pos in order.Items select pos.Item).Distinct().ToList();
    var allitems = (IEnumerable<IGrouping<ItemGroup, Item>>)ViewBag.GroupedItems;

    items.Sort(listcmp);

    decimal daytotal = 0;

    if (standing != null)
    {
        foreach (var it in (List<Item>)ViewBag.AllItems)
        {

            var count = 0;

            var itms = standing.Items.FirstOrDefault(x => x.Item.Id == it.Id);
            if (itms != null)
            {
                count = itms.OrderedCount;
            }

            if (adhoc != null)
            {
                if (adhoc.Items.Any(x => x.Item.Id == it.Id))
                {
                    var aoitms = adhoc.Items.FirstOrDefault(x => x.Item.Id == it.Id);
                    if (aoitms != null)
                    {
                        count = aoitms.OrderedCount;
                    }
                }

            }
            decimal price = it.GetItemPrice(trader).Value;
            decimal vat = price * (it.Vat / 100);
            daytotal = daytotal + count * (vat + price);
        }
    }

    if (delivery)
    {
        daytotal = daytotal + Model.DeliveryPrice;
    }

    decimal mindelivery = ViewBag.MinDelivery;
}

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            

        });
    </script>
}


@using (Html.BeginForm("SaveOverride", "OrderOverride", FormMethod.Post, new { name = "overrideroder", @class = "dirtyforms form-inline" }))
{
    <input type="hidden" name="dt" value="@curdate.ToString("ddMMyyyy")"/>

    @Html.Hidden("addrId", Model.Id)
    <table class="table table-condensed no-borders data-table table-hover">
        <caption>
            <div class="orderoverride-note span3">
                @note
                @Html.TextArea("note", note, new { placeholder = Strings.OrderOverride_View_Note })
            </div>
            <div class=" orderoverride-note span5 noprint">
                <input type="text" name="cartname" value="" placeholder="@Strings.OrderOverride_CartNamePlaceholder" />
                <button type="submit" class="btn btn-icon" name="action" value="save">@Strings.OrderOverride_SaveCart</button>
                <select id="cart-selectcart">
                    @if (((IEnumerable<SavedCart>)ViewBag.carts).Any())
                    {
                        <option value="">@Strings.OrderOverride_LoadCartPlaceholder</option>
                    }
                    else
                    {
                        <option value="">@Strings.OrderOverride_LoadCartPlaceholderNoCarts</option>
                    }
                    @foreach (SavedCart sc in ViewBag.carts)
                    {
                        <option value="@sc.Content">@sc.Name</option> 
                    }
                </select>
                <button class="btn btn-icon" id="cart-loadsavedcart">@Strings.OrderOverride_LoadCart</button>
                <a @Helpers.JsDelConfirm() class="btn-subtle" href="@Url.Action("DeleteCart", new { addrId = Model.Id })" id="cart-delcart"><i class="icon-trash"></i></a>
            </div>
            <div class="order-delivery">
                <input type="hidden" id="chleby-orderoverride-min-delivery" value="@mindelivery.ToString("0.00")"/>
                <input type="hidden" id="chleby-orderoverride-delivery-price" value="@Model.DeliveryPrice.ToString("0.00")"/>
                <input type="hidden" id="chleby-orderoverride-delivery-vat" value="@ViewBag.DeliveryVat"/>
                @if (mindelivery != 0)
                {
                    <div class="order-minimum-order">Minimum order for delivery is: @Helpers.V(mindelivery)</div>
                }
                <label class="checkbox">@Html.CheckBox("delivery", delivery, new { id = "chleby-orderoverride-delivery" })@Strings.OrderOverride_Delivery (@Helpers.V(Model.DeliveryPrice))
                </label>
                <br />
                <i class="icon-shopping-cart"></i>&nbsp;@Strings.Global_Total:&nbsp;<span class="orderoverride-total"></span><span class="chleby-orderoverride-day-total orderoverride-total">@Helpers.V(daytotal)</span>
            </div>
        </caption>
        <thead>
            <th class="actions no-sort">

                @if (this.CanWrite())
                {
                    if (!this.IsEmployee() && !this.IsSuperAdmin())
                    {
                    <a href="#" class="btn-subtle chleby-orderoverride-favoruite-filter">
                        <i class="icon-star-empty"></i>
                    </a>
                    }
                }
            </th>
            <th class="filter-text">@Strings.Global_Item_Group</th>
            <th class="filter-text">@Strings.Global_Item</th>
            <th class="no-sort right">@Strings.Global_Price</th>
            <th class="no-sort right">Vat</th>
            <th class="no-sort right">SO</th>
            <th class="no-sort right">
                <select class="input-small chleby-orderoverride-filter no-dirtyforms">
                    <option value="all">@Strings.Global_All</option>
                    <option value="in">@Strings.OrderOverride_Dropdown_On_Order</option>
                    <option value="out">@Strings.OrderOverride_Dropdown_Not_On_Order</option>
                </select>
            </th>
            <th class="no-sort right">@Strings.Global_Net</th>
            <th class="no-sort right">Vat</th>
            <th class="no-sort total right">@Strings.Global_Total

            </th>
        </thead>

        @foreach (var group in allitems)
        {

            // @: @grs.Key.Name
            var amIFirst = true;
            foreach (var item in group.OrderBy(x => x.Name))
            {
                var vi = item.Visibility.FirstOrDefault(x => x.TraderId == tid);
                if (this.IsTrader() && vi != null && vi.HiddenByAdmin)
                {
                    continue;
                }

                string hide = amIFirst ? "" : "hide";
                string trclass = amIFirst ? "table-tr-hr" : "";
                
            <tr class="@trclass">

                <td class="item-name actions ">
                    @if (this.CanWrite())
                    {
                        if (this.IsEmployee() || this.IsSuperAdmin())
                        {
                            if (vi != null && vi.HiddenByAdmin)
                            {
                        <a href="#"  title="@Strings.OverrideOrderView_Hidden" id="@item.Id" class="btn-subtle chleby-admin-hidden has-popover"><i class="icon-eye-close"></i><span class="hide">@Strings.Global_Not_Visible</span></a>
                            }
                            else
                            {
                        <a href="#"  title="@Strings.OverrideOrderView_Visible" id="@item.Id" class="btn-subtle chleby-not-admin-hidden has-popover"><i class="icon-eye-open"><span class="hide">@Strings.Global_Visible</span></i></a>
                            }
                        }
                        else
                        {
                            if (vi != null && vi.Favourite)
                            {
                        <a  title="@Strings.OverrideOrderView_Fav_Item" href="#" id="@item.Id" class="btn-subtle chleby-favorite has-popover"><i class="icon-star"></i><span class="hide">@Strings.Global_Favourite</span></a>
                            }
                            else
                            {
                        <a href="#" title="@Strings.OverrideOrderView_Make_It_Fav" id="@item.Id" rel="tooltip" class="btn-subtle chleby-not-favorite has-popover"><i class="icon-star-empty"></i><span class="hide">@Strings.Global_Not_Favourite</span></a>
                            }
                        }
                        amIFirst = false;
                    }

                </td>
                <td><span class="@hide"><b>@group.Key.Name</b></span></td>



                <td>



                    @item.Name
                </td>
                <td class="right">@Helpers.V(item.GetItemPrice(trader).Value)</td>
                @{
                    string vatstring = item.Vat != 0 ? "+" + item.Vat.ToString("0") + "%" : "";
                }
                <td class="right">@vatstring</td>
                @{
                    int itemcount = 0;
                    var so = (from order in standingOrders
                              from pos in order.Items
                              where pos.Item.Id == item.Id
                              select pos).FirstOrDefault();

                    string count = so != null ? so.OrderedCount.ToString(CultureInfo.CurrentUICulture) : "";
                    itemcount = so != null ? so.OrderedCount : 0;
                    count = count == "0" ? "" : count;
                }
                <td class="right">@count</td>
                @{
                    var ao = (from order in adhocOrders
                              from pos in order.Items
                              where pos.Item.Id == item.Id
                              select pos).FirstOrDefault();

                    itemcount = ao != null ? ao.OrderedCount : itemcount;
                    string inputcount = ao != null ? ao.OrderedCount.ToString(CultureInfo.CurrentUICulture) : count;
     
                }
                <td class="right" style="white-space: nowrap;">
                    @*sprawdzamy czy deadline nie minal*@
                    @if (item.CanOrder(ViewBag.b, curdate))
                    {

                        <a href="#" class="btn-subtle has-popover chleby-qty-reset" title="Undo" style="display: none;"><i class="icon-undo"></i></a>
                        <a href="#" class="btn-subtle btn-trhover chleby-qty-remove"><i class="icon-remove-sign"></i></a>
                        <a href="#" class="btn-subtle btn-trhover chleby-qty-minus"><i class="icon-minus-sign"></i></a>
                        <input type="text" class="input-mini chleby-orderoverride-item-qty right" 
                               data-price="@item.GetItemPrice(trader).Value.ToString(CultureInfo.InvariantCulture)"
                               data-vat="@item.Vat.ToString(CultureInfo.InvariantCulture)"   
                               data-originalvalue="@inputcount.ToString(CultureInfo.InvariantCulture)"
                               value="@inputcount"
                               name="items[@item.Id]"
                            />
                        <a href="#" class="btn-subtle btn-trhover chleby-qty-plus"><i class="icon-plus-sign"></i></a>
                    }
                    else
                    {
                        <a class="btn-subtle btn-trhover btn-trhover-disabled"><i class="icon-remove-sign"></i></a>
                        <a class="btn-subtle btn-trhover btn-trhover-disabled "><i class="icon-minus-sign"></i></a>
                        <span class="has-popover" title="This item is already in production.">
                            <input type="text" disabled="disabled" class="input-mini chleby-orderoverride-item-qty right" 
                               data-price="@item.GetItemPrice(trader).ToString()"
                               data-vat="@item.Vat.ToString("0")"   
                               data-originalvalue="@inputcount"
                               value="@inputcount"
                               name="items[@item.Id]"
                            />
                        </span>
                        <a class="btn-subtle btn-trhover btn-trhover-disabled"><i class="icon-plus-sign"></i></a>
                    }
                </td>
                <td class="right">
                    @{
                    decimal price = item.GetItemPrice(trader).Value;
                    decimal vat = price * (item.Vat / 100);
                    decimal total = itemcount * (price + vat);
                    decimal net = itemcount * (price);
                    decimal vattotal = itemcount * (vat);
                    }
                    <span class="chleby-orderoverride-item-net">
                        @(Helpers.VE(net))
                    </span>
                </td>
                <td class="right">
                    <span class="chleby-orderoverride-item-vat">

                        @( Helpers.VE(vattotal))
                    </span>
                </td>
                <td class="right total">
                    <span class="chleby-orderoverride-item-total">

                        @(Helpers.VE(total))
                    </span>
                </td>
            </tr>
            }
        }

    </table>

}
