﻿@using chleby.Web
@model IEnumerable<chleby.Web.Models.ModuleRegister>
@{
    ViewBag.Title = "Edit";
}

<form class="form-horizontal">
    <fieldset id="panel_start">
        <div>
            <div class="row">
                <div style="text-align: center">@Strings.Permissions_Edit_Simple_Header_P1 @ViewBag.UserName @Strings.Permissions_Edit_Simple_Header_P2</div>
            </div>
            <div class="row">
                <div class="control-group">
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="perm-simple" class="perm-simple permissions-global-toggle" data-value="write" value="full" />
                            @Strings.Permissions_Edit_Simple_FullAccess
                        </label>
                        <label class="radio">
                            <input type="radio" name="perm-simple" class="perm-simple" value="custom" />
                            @Strings.Permissions_Edit_Simple_SelectedAreas
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="icon-remove-sign"></i>&nbsp;@Strings.Global_Cancel</button>
            <a href="#" class="btn btn-success" id="perm-simple-next">@Strings.Global_Next&nbsp;<i class="icon-angle-right"></i></a>
        </div>
    </fieldset>
</form>

@using (Html.BeginForm((string)ViewBag.Target + "Edit", "Permissions", FormMethod.Post, new { @class = "form-horizontal" }))
{
    var liclass = "active";
    @Html.ValidationSummary(true)
    @Html.Hidden("id", (int)ViewBag.User.Id)
    <input type="submit" class="hide" id="form-submit" />
    <fieldset class="hide" id="panel_details">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs" id="permTab" xstyle="margin-top: 36px">
                <script type="text/javascript">
                    permClearTabs();
                    @foreach (var cat in Model.Select(x => x.Category).Distinct().OrderBy(x => x))
                    {
                        @: permAddTab("@cat");
                    }
                </script>
                @foreach (var cat in Model.Select(x => x.Category).Distinct().OrderBy(x => x))
                {
                    <li class="@liclass permTab_tab" data-category="@cat">

                        <a href="#cat_@cat" id="link_@cat" class="permTab_link" data-toggle="tab" data-category="@cat">
                            @(Strings.ResourceManager.GetString("permcat_" + cat) ?? "permcat_" + cat)
                        </a>
                    </li>
                    liclass = "";
                }
            </ul>

            <div class="tab-content" id="permContent">
                @{ var active = true; }
                @foreach (var cat in Model.OrderBy(x => x.Category).ThenBy(x => x.Order).GroupBy(x => x.Category))
                {
                    <div class="tab-pane @(active ? "active" : "")" id="cat_@cat.Key.ToString()">
                        @{active = false;}
                        @foreach (var item in cat.OrderBy(x => x.Order))
                        {
                            var isHidden = !Roles.IsUserInRole(ViewBag.UserName, item.Name + Defines.Roles.ReadSuffix) &&
                                           !Roles.IsUserInRole(ViewBag.UserName, item.Name + Defines.Roles.WriteSuffix) ? "checked" : "";
                            var isRead = Roles.IsUserInRole(ViewBag.UserName, item.Name + Defines.Roles.ReadSuffix) &&
                                         !Roles.IsUserInRole(ViewBag.UserName, item.Name + Defines.Roles.WriteSuffix) ? "checked" : "";
                            var isModify = Roles.IsUserInRole(ViewBag.UserName, item.Name + Defines.Roles.ReadSuffix) &&
                                           Roles.IsUserInRole(ViewBag.UserName, item.Name + Defines.Roles.WriteSuffix) ? "checked" : "";
                                        
                            <div class="control-group">
                                <label class="control-label">@(item.HumanName ?? item.Name)</label>
                                <div class="controls">
                                    <label class="radio permissions-write">
                                        <input type="radio" class="permissions-input" name="module[@item.Name]" data-category="@cat.Key" value="write" @isModify>
                                        @Strings.Global_Edit
                                    </label>

                                    <label class="radio permissions-read">
                                        <input type="radio" class="permissions-input" name="module[@item.Name]" data-category="@cat.Key" value="read" @isRead>
                                        @Strings.Global_View
                                    </label>

                                    <label class="radio permissions-hide">
                                        <input type="radio" class="permissions-input" name="module[@item.Name]" data-category="@cat.Key" value="hidden" @isHidden>
                                        @Strings.Global_Hide
                                    </label>
                                </div>
                            </div>
                            foreach (var sub in item.SubPerms)
                            {
                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <label class="radio">
                                        @Html.CheckBox("perm[" + @sub.Name + "]", Roles.IsUserInRole((string)ViewBag.UserName, Defines.Roles.CustomPrefix + sub.Name), new { @class = "permissions-input" })
                                        @sub.HumanName
                                    </label>
                                </div>
                            </div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
        <div class="form-actions">
            <a href="#" class="btn" id="perm-details-prev"><i class="icon-angle-left"></i>&nbsp;@Strings.Global_Back</a>
            <a href="#" class="btn btn-success" id="perm-details-next">@Strings.Global_Next&nbsp;<i class="icon-angle-right"></i></a>
        </div>
    </fieldset>
}
<script type="text/javascript">
    $('#permTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    $('#permTab').find('li a').each(function () {
        permissionsCheckIntegrity($(this).data('category'));
    });

    $('#chleby-permissionsLabel').html("@ViewBag.User.FirstName @ViewBag.User.LastName - @(ViewBag.AdminPerms ? Strings.Permission_LightBox_AdminTitle : Strings.Permission_LightBox_CustomerTitle)");
</script>
