﻿
@using System.ComponentModel
@using chleby.Web.Models
@using System.Reflection
@model ComboViewModelPenta<Address, IGrouping<AddressGroup, Address>, AddressGroup>

@section SecondaryActions{

    <div class="btn-group">
        <span class="header">@Strings.Global_Routes</span>
    </div>

    <span class="pull-right">
        @if (this.CanWrite())
        {
            if (ViewBag.HandwalkStep == 0)
            {
            @Helpers.SaveButton("order", Strings.Rounds_Save_Button)
            }
            <a href="#createModal" data-toggle="modal" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.AddRound</a>
        }
        else
        {
            <a href="#" class="btn disabled"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.AddRound</a>
        }
    </span>
}

<div class="clearfix"></div>
@if (ViewBag.HandwalkStep != 0 && !Model.Index.Any())
{
    <div class="row">
        <div class="span6">
            <p>
                Name all your Delivery Routes here, if <b>you are not</b> importing, 
                but setting up your Customers and Addresses directly in Streamline, so 
                that the Delivery Route may be designated to the addresses. This will 
                save you time.
            </p>
            <p>If you only have one route, skip this step. </p>
            <p>
                If you skip this step, all addresses will be designated to the default 
                &quot;No route assigned&quot; here below.
            </p>
        </div>
        <div class="span6">
            <p>
                If you <b>are</b> going to import your Customer Addresses, you can skip 
        this step.
            </p>
            <p>The Delivery Routes can be imported then and will be created automatically.</p>
            <p>
                You can always create Routes later and shift addresses around, between 
        Routes.
            </p>
        </div>
    </div>
}

@using (Html.BeginForm("SaveOrder", "Rounds", FormMethod.Post, new { name = "order" }))
{
    <input type="submit" name="hwbeh" value="prev" style="display: none" id="handwalk-form-save-prev" />
    <input type="submit" name="hwbeh" value="stay" style="display: none" id="handwalk-form-save-stay" />
    
    foreach (var rd in Model.Index)
    {
        var b = (Business)Context.Cache[ViewBag.AppName + "__Business"];
        string gmapsurl = "http://maps.google.com/maps?saddr=" + ViewBag.GmapsAddress + "&daddr=";
        var bloc = "";
        if (b.UsingTradingProps)
        {
            bloc = b.TradingCity + "," + b.TradingPost + "," + b.TradingAddress1 + "%20" + b.TradingAddress2 + "%20" + b.TradingAddress3;
        }
        else
        {
            bloc = b.LegalCity + "," + b.LegalPost + "," + b.LegalAddress1 + "%20" + b.LegalAddress2 + "%20" + b.LegalAddress3;
        }

        gmapsurl += bloc;
        foreach (var adr in rd.OrderBy(x => x.RoundOrder).Where(x => x.Trader.Live == 1).ToList())
        {
            gmapsurl += "%20to:" + adr.City + "," + adr.Post + "," + adr.Address1 + "%20" + adr.Address2 + "%20" + adr.Address3;
        }
        gmapsurl += "%20to:" + bloc;



        if (rd.Key == null) { continue; }

        var round = rd.Key;    
       
    <div class="table-container no-borders">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-hover item-group checkbox-batch table-condensed table-fixed data-table">
            <caption class="itemgroup-caption">
                <span class="brand">
                    <span class="updown-arrows">
                        <a @Helpers.BtnSubtleTitle("MoveUp")class="uparrow" href="@Url.Action("Up", routeValues: new { app = ViewBag.AppName, id = round.Id })"><i class="icon-chevron-up pull-left"></i></a>
                        <a @Helpers.BtnSubtleTitle("MoveDown") class="downarrow" href="@Url.Action("Down", routeValues: new { app = ViewBag.AppName, id = round.Id })"><i class="icon-chevron-down pull-left"></i></a>
                    </span>
                    @round.Name



                    @if (this.CanWrite())
                    {
                        <a @Helpers.BtnSubtleTitle("Edit") href="@Url.Action("Edit", routeValues: new { app = ViewBag.AppName, id = round.Id })" class="btn-subtle chleby-edit"><i class="icon-pencil"></i></a>
                        <a @Helpers.BtnSubtleTitle("Delete") @Helpers.JsDelConfirm()  href="@Url.Action("Delete", routeValues: new { app = ViewBag.AppName, id = round.Id })" class="btn-subtle delete"><i class="icon-trash"></i></a>
                      
                    }


                </span>
                <span class="table-actions">
                    @if (ViewBag.HandwalkStep == 0)
                    {
                        <a target="_blank" href="@Url.Action("PDF", routeValues: new { app = ViewBag.AppName, id = round.Id })" class="btn-subtle">
                            <img src="~/Images/pdf-icon.gif" /></a>
                    }
                    <a target="_blank" href="@gmapsurl" class="btn btn-small btn-icon"><i class="icon-map-marker"></i>&nbsp;@Strings.Global_Map</a>

                </span>
            </caption>

            <thead>
                <tr>
                    <th class="actions no-sort"></th>
                    <th class="actions no-sort"></th>
                    <th class="actions no-sort"></th>
                    <th class="deliverytokens no-sort"></th>
                    <th class="no-sort">@Strings.Company
                    </th>
                    <th class="no-sort">@Strings.Address
                    </th>
                    <th class="no-sort">@Strings.Notes
                    </th>
                    <th class="no-sort right price">@Strings.Del
                    </th>
                </tr>
            </thead>
            <tbody class="sortable" id ="@round.Id">

                <tr class="sort-disabled"
                    @if (rd.Any())
                    {
                        @:style="display:none"
                    }
                    >
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                @foreach (var adr in rd.OrderBy(x => x.RoundOrder).ToList())
                {
                    <tr>

                        <td class="actions">
                            @if (this.CanWrite())
                            {
                                <a @Helpers.BtnSubtleTitle("Edit") href="@Url.Action("Edit", "Address", routeValues: new {app = ViewBag.AppName, id = adr.Id, tid = adr.TraderId})" class="btn-subtle EditAddress"><i class="icon-pencil"></i></a>
                            }
                        </td>
                        <td class="actions">
                            @if (this.CanWrite())
                            { 
                                if (ViewBag.usedAddresses.Contains(adr.Id))
                                  {
                                      <a title="@Strings.Controller_AddressController_Invoice_Exists" href="#" class="btn-subtle disabled has-popover delete" style="cursor: not-allowed"><i class="icon-trash"></i></a>
                                  }
                                  else
                                  {
                                      <a @Helpers.BtnSubtleTitle("Delete") @Helpers.JsDelConfirm() href="@Url.Action("Delete", "Address", new { id = adr.Id, fromroutes = true})" class="btn-subtle"><i class="icon-trash"></i></a>
                                  }
                            }
                        </td>

                        <td class="actions">
                            <div class="btn-group">
                                <a title="@Strings.Rounds_Index_Send_To_Rounds" class="btn-subtle dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-reorder"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    @foreach (var rdlocal in Model.Index)
                                    {
                                        if (rdlocal.Key == null) { continue; } 
                                        <li><a data-target="@rdlocal.Key.Id" href="#" class="rounds-move-addr">@rdlocal.Key.Name</a></li>
                                    }
                                    <li><a data-target="magicStringThatWillConvertToNull" href="#" class="rounds-move-addr">@Strings.NoRound</a></li>
                                </ul>
                            </div>
                        </td>
                        @{
                                    string tooltip = Strings.Address_DeliveryDays + "&nbsp;";
                                    for (int wd = 0; wd < 7; ++wd)
                                    {
                                        if (adr.DeliveryDays.Contains(wd))
                                        {
                                            tooltip += "<i class='icon-ok'></i>&nbsp;" + wd.GetShortDayName() + "&nbsp;";
                                        }
                                        else
                                        {
                                            tooltip += "<span class='inactive'><i class='icon-remove'></i>&nbsp;" + wd.GetShortDayName() + "</span>&nbsp;";
                                        }
                                    }
                        }
                        <td>
                            @for (int wd = 0; wd < 7; ++wd)
                            {
                                if (adr.DeliveryDays.Contains(wd))
                                {                        
                                <span title="@tooltip" class="has-popover address-deliverytoken address-deliverytoken-ok">&nbsp;</span>                  
                                }
                                else
                                {                      
                                <span title="@tooltip" class="has-popover address-deliverytoken address-deliverytoken-nodelivery">&nbsp;</span>                
                                }
                            }

                        </td>

                        <td>
                            <div class="inner">
                                <div class="chleby-collapse">
                                    <span>
                                        @*<a href="@Url.Action("SwitcherDone", "Internal", routeValues: new { adminactor = adr.Trader.Id })">@adr.Trader.Name</a>*@
                                        @adr.Trader.Name
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="hidden" name="address[@adr.Id]" value="@round.Id" class="rounds-addr-roundid" />
                            <b>@adr.Post</b>
                            @adr.Address1
                        </td>
                        <td>
                            <div class="deliverynote">
                                @if (!string.IsNullOrWhiteSpace(adr.MapLink))
                                {
                                    <a target="blank" href="@adr.MapLink"><i class="icon-map-marker"></i>&nbsp;@Strings.Global_Map</a>
                                }
                                @adr.SpecialNote
                            </div>
                        </td>

                        <td class="right price">
                            @ViewBag.CurrencySymbol@adr.DeliveryPrice.ToString("0.00")
                        </td>


                    </tr>
                
                }

            </tbody>
        </table>
    </div>
    }


    <div class="table-container no-borders">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-hover item-group checkbox-batch table-condensed table-fixed data-table">
            <caption class="itemgroup-caption">
                <span class="brand">@Strings.NoRound</span>

            </caption>

            <thead>
                <tr class="item-name">
                    <th class="actions no-sort"></th>
                    <th class="actions no-sort"></th>
                    <th class="actions no-sort"></th>
                    <th class="deliverytokens no-sort"></th>
                    <th>@Strings.Company
                    </th>
                    <th>@Strings.Address
                    </th>
                    <th>@Strings.Notes
                    </th>

                    <th class="right price">@Strings.Del
                    </th>


                </tr>
            </thead>
            <tbody class="sortable" id="magicStringThatWillConvertToNull">

                <tr class="sort-disabled"
                         @if (((IEnumerable<Address>)ViewBag.bezgrupy).Any())
                         {
                             @:style="display:none";
                         }
                        >
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="property-missing">@Strings.NoAddress</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                @foreach (var adr in ((IEnumerable<Address>)ViewBag.bezgrupy).Where(x => x.Trader.Live == 1))
                {
                    <tr>
                        <td class="actions">
                            @if (this.CanWrite())
                            { 
                                <a @Helpers.BtnSubtleTitle("Edit") href="@Url.Action("Edit", "Address", routeValues: new { app = ViewBag.AppName, id = adr.Id, tid = adr.Trader.Id })" class="btn-subtle EditAddress"><i class="icon-pencil"></i></a>
                            }
                        </td>
                        <td class="actions">
                            @if (this.CanWrite())
                            { 
                                if (ViewBag.usedAddresses.Contains(adr.Id))
                                  {
                                      <a title="@Strings.Controller_AddressController_Invoice_Exists" href="#" class="btn-subtle disabled has-popover delete" style="cursor: not-allowed"><i class="icon-trash"></i></a>
                                  }
                                  else
                                  {
                                      <a @Helpers.BtnSubtleTitle("Delete") @Helpers.JsDelConfirm() href="@Url.Action("Delete", "Address", new { id = adr.Id})" class="btn-subtle"><i class="icon-trash"></i></a>
                                  }
                            }
                        </td>
                        <td class="actions">
                            <div class="btn-group">
                                <a title="@Strings.Rounds_Index_Send_To" class="btn-subtle dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-reorder"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    @foreach (var rdlocal in Model.Index)
                                    {
                                        if (rdlocal.Key == null) { continue; } 
                                        <li><a data-target="@rdlocal.Key.Id" href="#" class="rounds-move-addr">@rdlocal.Key.Name</a></li>
                                    }
                                    <li><a data-target="magicStringThatWillConvertToNull" href="#" class="rounds-move-addr">@Strings.NoRound</a></li>
                                </ul>
                            </div>
                        </td>
                        @{
                                    string tooltip = Strings.Address_DeliveryDays + "&nbsp;";
                                    for (int wd = 0; wd < 7; ++wd)
                                    {
                                        if (adr.DeliveryDays.Contains(wd))
                                        {
                                            tooltip += "<i class='icon-ok'></i>&nbsp;" + wd.GetShortDayName() + "&nbsp;";
                                        }
                                        else
                                        {
                                            tooltip += "<span class='inactive'><i class='icon-remove'></i>&nbsp;" + wd.GetShortDayName() + "</span>&nbsp;";
                                        }
                                    }
                        }
                        <td>
                            @for (int wd = 0; wd < 7; ++wd)
                            {
                                if (adr.DeliveryDays.Contains(wd))
                                {                        
                                <span title="@tooltip" class="has-popover address-deliverytoken address-deliverytoken-ok">&nbsp;</span>                  
                                }
                                else
                                {                      
                                <span title="@tooltip" class="has-popover address-deliverytoken address-deliverytoken-nodelivery">&nbsp;</span>                
                                }
                            }

                        </td>
                        <td>
                            <div class="inner">
                                <div class="chleby-collapse">
                                    <span>
                                        @*<a href="@Url.Action("SwitcherDone", "Internal", routeValues: new { adminactor = adr.Trader.Id })">@adr.Trader.Name</a>*@
                                        @adr.Trader.Name
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="hidden" class="rounds-addr-roundid" name="address[@adr.Id]" value="magicStringThatWillConvertToNull" />
                            <b>@adr.Post</b>
                            @adr.Address1
                        </td>
                        <td>
                            <div class="deliverynote">@adr.SpecialNote</div>
                        </td>

                        <td class="right price">
                            @ViewBag.CurrencySymbol@adr.DeliveryPrice.ToString("0.00")
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@Helpers.ModalValidationHelper((t, m) => Html.Partial(t, m), t => ViewBag.GroupId == null ? Html.Partial(t, new AddressGroup()) : new MvcHtmlString(""), Model, Strings.Modal_add_round, "chleby-modal-item")
@Helpers.Modal("EditAddress", Strings.Rounds_Index_Edit_address)