﻿@using System.Globalization
@using chleby.Web.Models
@model chleby.Web.Models.AdhocOrder

@{
    var trader = (Trader)ViewBag.Trader;
    var listcmp = new ItemListComparator(trader);
    var items = (from pos in Model.Items select pos.Item).Distinct().ToList();
    //var lastsnap = DateTime.ParseExact(Settings["Snapshot"]["LastDate"], "dd/MM/yyyy HH:mm:ss", CultureInfo.InvariantCulture);
    var lastsnap = ViewBag.Lastsnap;
}

@{
            
    using (Html.BeginForm("SaveAdhoc", "Orders", FormMethod.Post, new { @class = "form-horizontal" }))
    {
    @Html.Hidden("AddressId", Model.Address.Id)
    <fieldset>
        <legend>
            <span class="name">@Model.Date.ToString("ddd dd/MM/yy")</span>
            <span class="actions">
                <button class="btn btn-success  btn-small btn-icon" type="submit">
                    <i class="icon-save icon-white"></i>&nbsp;@Strings.Global_Save
                </button>
                <a  @Helpers.JsDelConfirm() href="@Url.Action("DeleteAllAdhoc", new { orderId = Model.Id })" class="btn btn-icon btn-small btn-danger"><i class="icon-remove icon-white"></i></a>
            </span>
        </legend>
        <table class="table table-condensed no-borders">
            <tr>
                <td colspan="4">
                    <h5>@Strings.ChangesOrder</h5>
                </td>
            </tr>
            @foreach (var pos in Model.Items)
            {
                var disable = DateTime.Now > Model.Date.AddDays(-@pos.Item.CraftingTime - 1);
                var count = pos != null ? pos.OrderedCount : 0;
                <tr>
                    <td class="">@pos.Item.Name
                    </td>
                    <td class="right">
                        @if (!disable || this.IsSuperAdmin() || this.IsEmployee())
                        {
                            <input type="text" name="order[@pos.Id]" value="@count" 
                                   class="input-mini right"/>
                        }
                        else
                        {
                            @count
                        }

                    </td>
                    <td class="right">@ViewBag.CurrencySymbol@((pos.Item.GetItemPrice(trader).Value * count).ToString("f2"))</td>
                    <td class="right">
                        @if (!disable)
                        {
                            <a @Helpers.JsDelConfirm() href="@Url.Action("DeleteAdhoc", new { posId = pos.Id })" class="btn btn-icon btn-small btn-danger"><i class="icon-remove icon-white"></i></a>
                        }
                    </td>
                </tr>
                
            }
            <tr>
                <td colspan="2">@Html.TextBox("note", Model.Note, new { @class = "input-block-level", placeholder = chleby.Web.Resources.Strings.OrderNote })</td>
                <td colspan="2" class="center">
                    <label>
                        @if (DateTime.Now > Model.Date || this.IsSuperAdmin() || this.IsEmployee())
                        {
                            @: @Html.CheckBox("delivery", Model.Delivery, new { id = "ao-del-" + Model.Id }) &nbsp;@Strings.Delivery2
                        }
                        else
                        {
                            @(Model.Delivery ? "delivery" : "")
                        }
                    </label></td>
            </tr>
        </table>
    </fieldset> 
    }
}


@{ var newitems = ((IEnumerable<Item>)ViewBag.AllItems).
           Where(i => !items.Contains(i)).
           Where(x =>
                     {
                         int del = x.CraftingTime;
                         return !(DateTime.Now.AddDays(del) > Model.Date);
                     }).
           Select(i => new SelectListItem { Value = i.Id.ToString(CultureInfo.InvariantCulture), Text = i.Name }).ToList();
   if (newitems.Any())
   {
       using (Html.BeginForm("CreateAdhoc", "Orders", FormMethod.Post, new { @class = "form-inline" }))
       {                    
    <table class="table table-condensed no-borders" style="height: 60px;">
        <tr class="add" style="position: absolute; bottom: 5px; width: 100%; border-top: 1px #ddd solid;">
            <td class="item-name">
                @Html.Hidden("AddressId", Model.Address.Id)
                @Html.Hidden("date", Model.Date)
                @Html.DropDownList("ItemId", newitems, "Add item...", new { @class = "select-first input-medium" })
            </td>
            <td class="right">@Html.TextBox("count", "", new { @class = "input-mini right goodday", placeholder = "Qty", disabled = "true" })
                @Html.Hidden("delivery", Model.Delivery)
            </td>
            <td class="right">
                <button class="btn btn-success btn-icon btn-small" type="submit" disabled="disabled"><i class="icon-plus-sign"></i></button>
            </td>
        </tr>
    </table>
       }
   }
}
