﻿@using chleby.Web.Models
@model chleby.Web.Models.Address


@{    
    var Nnewitems = ((IEnumerable<Item>)ViewBag.AllItems).
           Select(i => new SelectListItem { Value = i.Id.ToString(CultureInfo.InvariantCulture), Text = i.Name }).ToList();
    if (Nnewitems.Any())
    {
        using (Html.BeginForm("CreateAdhoc", "Orders", FormMethod.Post, new { @class = "form-inline" }))
        {
    <fieldset>
        <legend>
            <span class="name">@Html.TextBox("date", "", new { placeholder = "Date...", @class = "input-small ao-datepicker input-first",id="date"+Model.Id })&nbsp;</span>
            <span class="actions">
                <button class="btn btn-success" type="submit" disabled="disabled"><i class="icon-plus-sign" ></i>&nbsp;@Strings.AddChange</button>
                @if (this.IsSuperAdmin() || this.IsEmployee())
                {
                    <button class="btn btn-warning btn-icon" type="submit" name="action" value="override" disabled="disabled" title=@Strings.Order_AdhocAdd_Override_Title>O</button>
                }
            </span>
        </legend>
        <div class="content-container">
            <div class="content-row">
                @Html.Hidden("AddressId", Model.Id)
                @Html.DropDownList("ItemId", Nnewitems, "Add item...", new { @class = "input-medium", disabled="disabled"})
                <span class="pull-right">@Strings.Global_Qty @Html.TextBox("count", "", new { @class = "input-mini", placeholder = "", disabled="disabled" })
                </span>
            </div>
            <div class="content-row">
                @Html.TextBox("note", "", new { placeholder = "Note for this order...", disabled="disabled", @class="input-medium" })
                <span class="pull-right">
                    <label class="checkbox">@Html.CheckBox("delivery", true, new { disabled="disabled" })Delivery</label>
                </span>
            </div>

        </div>
    </fieldset>
        }
    }
}
        <div class="content-container">
<h5>@Strings.AboutOrders</h5>
    <p>@Strings.OneOrder</p>
</div>

