﻿@using chleby.Web.ViewModel;

@model StandingOrderViewModel

@{
    var addrCounter = 0;
}

@section Header{
    
    @if (!Model.HasEmployees)
    {
                <h1>@Strings.AddressNoContactsHeader</h1>
        <p>@Strings.AddressNoContactsBody</p>
    }
    else if (Model.Addresses == null || (Model.Addresses != null && !Model.Addresses.Any()))
    {
                <h1>@Strings.AddressNoAddressesHeader</h1>
        <p>@Strings.AddressNoAddressesBody</p>
    }

}


@section SecondaryActions
{
    @{
        addrCounter = 0;      
    }
    
      @if (Model != null)
      {
        <div class="btn-group">
            <span class="header">@Strings.Orders_Index_Standing_Order_Sign&nbsp;</span>  
            <select class="select-redirect">
                @if(Model.Addresses.Count() > 0){
                    foreach (KeyValuePair<int, string> addr in Model.Addresses)
                    {
                        // make selected
                        if (Model.AddressId == addr.Key)
                        {
                            <option selected="selected" value="@Url.Action("Index", new { id = addr.Key })">@addr.Value</option> 
                        }
                        else
                        {
                            <option value="@Url.Action("Index", new { id = addr.Key })">@addr.Value</option>
                        }

                    }
                }
                <option value="@Url.Action("Index", "Address")">@Strings.Orders_Add_Address</option>
            </select>       
        </div>
          <span class="pull-right">
              @if (this.CanWrite())
              {
                  @Helpers.SaveButton("standingorder", Strings.Orders_Index_Button_save)
              }
              <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">@Strings.Global_More
                      <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="@Url.Action("Export")" class=""><img src="~/Images/csv-icon.gif"/>&nbsp;@Strings.Global_Export</a></li>
                      <li><a href="#" class="" onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</a></li>
                  </ul>
              </div>
              
                
          </span>
      }

}

@Helpers.Modal("addAddress", Strings.Helper_Add_address)

@if (Model != null)
{
    <div class="tab-content">

        @Html.Partial("StandingOrderView", Model, ViewData) 

    </div>

}


@section scripts
{
    <script type="text/javascript">

        function closedDays(date) {

            var openDays = [
                @foreach (var dd in Model.DeliveryDaysBusiness)
                {<text>"@dd",</text>}
            ];

            var SelectedDates = {};
            @foreach (DateTime hd in Model.BusinessHolidaysDays)
            {
                int jsMonth = hd.Month - 1;
                string dateParams = hd.Year + "," + jsMonth + "," + hd.Day;
                <text>    SelectedDates[new Date(@dateParams)] = new Date(@dateParams);
            
            </text>}

            var helper = date.getDay();
            if (helper != 0) { helper--; }
            else { helper = 6; }

            // alert(helper);

            var sDate = helper.toString();
            var Highlight = SelectedDates[date];

            if (($.inArray(sDate, openDays) != -1) && !Highlight) return [true, "", ""];
            else return [false, ""];
        }

        $('#cartcontainer').stickyScroll({ mode: "manual", topBoundary: 150 });

        function BindAODatepicker() {
            $(".ao-datepicker").datepicker({
                minDate: +1,
                firstDay: 1,
                beforeShowDay: closedDays,
                dateFormat: 'dd/mm/yy'
            });

            $('.cart-datepicker').change(function () {
                $(this).closest('form').find('button.update-cart').trigger('click');
            });

        }

        $(document).ready(function () {

            //does not work on disabled items :(
            //$('.no-order').powerTip();



            BindAODatepicker();
            $('.order-addresses a[data-toggle="tab"]').on('shown', function (e) {

                console.log(e);

                $(".order-addresses a[data-toggle='tab']").removeClass('btn-inverse');
                $(".order-addresses li").removeClass('active');
                if ($(e.target).hasClass('btn')) {
                    $(e.target).addClass('btn-inverse');
                }
                else {
                    $(e.target).parents("li").addClass("active");
                    $(".order-addresses a[data-toggle='dropdown'] .current-address").html($(e.target).html());
                }
            });

            $(".select-first").change(function () {
                var $this = $(this);
                if (!$this.val()) {
                    $this.parents("tr").find(":button").attr('disabled', true);
                    $this.parents("tr").find("input").attr('disabled', true);
                }
                else {
                    $this.parents("tr").find(":button").attr('disabled', false);
                    $this.parents("tr").find("input.goodday").attr('disabled', false);
                    $this.parents("td").next("td").children("input")
                        .focus();
                }
            });

            $(".input-first").change(function () {
                var $this = $(this);
                if (!$this.val()) {
                    $this.parents("form").find(":button").attr('disabled', true);
                    $this.parents("form").find("input").attr('disabled', true);
                    $this.parents("form").find("select").attr('disabled', true);
                    $this.parents("form").find("input.input-first").attr('disabled', false);
                }
                else {
                    $this.parents("form").find(":button").attr('disabled', false);
                    $this.parents("form").find("input").attr('disabled', false);
                    $this.parents("form").find("select").attr('disabled', false);
                    $this.parents("form").children("input:first")
                        .focus();
                }
            });


            //AJAX HIDE + FAVORITE FOR ITEMS
            $(".item-name").on("click", ".chleby-favorite", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);

                $.get("@Url.Action("ToggleFav", "TraderItems")", { id: $(this).attr("id"), favorite: "false" })
                 .done(function (data) {
                     if (data.msg == "ok") {
                         button.removeClass("chleby-favorite");
                         button.addClass("chleby-not-favorite");
                         button.attr("data-original-title", "Make it favourite");
                         button.html('<i class="icon-star-empty"></i>');
                     }
                     else {
                         button.addClass("btn-warning");
                         button.html('Connection error');
                     }
                 });
            });

            $(".item-name").on("click", ".chleby-not-favorite", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);
                $.get("@Url.Action("ToggleFav", "TraderItems")", { id: $(this).attr("id"), favorite: "true" })
                 .done(function (data) {
                     console.log(data);
                     if (data.msg == "ok") {
                         button.removeClass("chleby-not-favorite");
                         button.attr("data-original-title", "Favourite item");
                         button.addClass("chleby-favorite");
                         button.html('<i class="icon-star"></i>');
                     }
                     else {
                         button.html('Connection error');
                     }

                 });
            });

            $(".item-name").on("click", ".chleby-admin-hidden", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);

                $.get("@Url.Action("ToggleAdminHide", "TraderItems")", { id: $(this).attr("id"), hidden: "false" })
                 .done(function (data) {
                     if (data.msg == "ok") {
                         button.removeClass("chleby-admin-hidden");
                         button.addClass("chleby-not-admin-hidden");
                         button.attr("data-original-title", "@Strings.OverrideOrderView_Visible");
                         button.html('<i class="icon-eye-open"></i>');
                     }
                     else {
                         button.html('Connection error');
                     }
                 });
            });

            $(".item-name").on("click", ".chleby-not-admin-hidden", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);
                $.get("@Url.Action("ToggleAdminHide", "TraderItems")", { id: $(this).attr("id"), hidden: "true" })
                 .done(function (data) {
                     console.log(data);
                     if (data.msg == "ok") {
                         button.removeClass("chleby-not-admin-hidden");
                         button.addClass("chleby-admin-hidden");
                         button.attr("data-original-title", "@Strings.OverrideOrderView_Hidden");
                         button.html('<i class="icon-eye-close"></i>');
                     }
                     else {
                         button.addClass("btn-warning");
                         button.html('Connection error');
                     }

                 });
            });


        });

    </script>
    @Scripts.Render("~/js/jqueryval")
}