﻿@using System.Globalization
@using chleby.Web.Models
@model chleby.Web.Models.Address

@{
    //var lastsnap = DateTime.ParseExact(Settings["Snapshot"]["LastDate"], "dd/MM/yyyy HH:mm:ss", CultureInfo.InvariantCulture);
    var lastsnap = ViewBag.Lastsnap;
    var lastsnapdow = (int)lastsnap.DayOfWeek - 1;
    if (lastsnapdow < 0)
    {
        lastsnapdow += 7;
    }
    var trader = (Trader)ViewBag.Trader;
    var listcmp = new ItemListComparator(trader);
    var standingOrders = Model.Orders.OfType<StandingOrder>().ToList();
    var items = (from order in standingOrders from pos in order.Items select pos.Item).Distinct().ToList();

    bool showFavs = false;

    if (!items.Any())
    {
        showFavs = true;
        items = ViewBag.AllItems;
    }

    items.Sort(listcmp);
}

@using (Html.BeginForm("SaveSO", "Orders", FormMethod.Post, new { @class = "dirtyforms form-inline", name = "standingorder" }))
{
    var daycost = new decimal[] { 0, 0, 0, 0, 0, 0, 0 };
    <input type="submit" class="hide-jsproxy" />
    <table class="table data-table">
        <thead>
            <tr>
                <th class="filter-text">@Strings.Global_Item_Group</th>
                <th class="filter-text">@Strings.Global_Item</th>
                <th class="right no-sort"><img src="~/Images/Clock-Small.png" /></th>
                <th class="right no-sort">@Strings.Mon</th>
                <th class="right no-sort">@Strings.Tue</th>
                <th class="right no-sort">@Strings.Wed</th>
                <th class="right no-sort">@Strings.Thu</th>
                <th class="right no-sort">@Strings.Fri</th>
                <th class="right no-sort">@Strings.Sat</th>
                <th class="right no-sort">@Strings.Sun</th>
                <th class="right no-sort">@Strings.Total</th>
                <th class="right no-sort">@Strings.Cost</th>
            </tr>
        </thead>
        <tbody>
            @Html.Hidden("AddressId", Model.Id)
            @foreach (var item in items.Where(x => x.Live))
            {
                var vi = item.Visibility.FirstOrDefault(x => x.TraderId == ViewBag.Trader.Id);
                <tr class="no-border">
                    <td><span><b>@item.ItemGroup.Name</b></span></td>
                    <td class="item-name">
                        @{
                string modalTitle = item.Name + " (" + Helpers.V(item.GetItemPrice(trader).Value) + ")";
                string modalBody = item.AdditionalInfo;
                        }
                        @if (!showFavs)
                        {
                            <a @Helpers.JsDelConfirm() class="btn-subtle delete" href="@Url.Action("DeleteSO", new { itemId = item.Id, addressId = Model.Id })"><i class="icon-trash"></i></a>
                        }
                        else
                        {
                            if (this.CanWrite())
                            {
                                if (this.IsEmployee() || this.IsSuperAdmin())
                                {
                                    if (vi != null && vi.HiddenByAdmin)
                                    {<a href="#" rel="tooltip" data-toggle="tooltip" data-placement="left" title="@Strings.OverrideOrderView_Hidden" id="@item.Id" class="btn-subtle chleby-admin-hidden"><i class="icon-eye-close"></i></a>}
                                    else
                                    {<a href="#" rel="tooltip" data-toggle="tooltip" data-placement="left" title="@Strings.OverrideOrderView_Visible" id="@item.Id" class="btn-subtle chleby-not-admin-hidden"><i class="icon-eye-open"></i></a>}
                                }
                                else
                                {
                                    if (vi != null && vi.Favourite)
                                    { <a rel="tooltip" data-toggle="tooltip" data-placement="left" title="Favourite item" href="#" id="@item.Id" class="btn-subtle chleby-favorite"><i class="icon-star"></i></a>}
                                    else
                                    { <a href="#" data-toggle="tooltip" data-placement="left" title="Make it favourite" id="@item.Id" rel="tooltip" class="btn-subtle chleby-not-favorite"><i class="icon-star-empty"></i></a>}
                                }
                            }
                        }
                        @item.Name
                        <span class="has-popover secondary-info hide"  data-original-title="@modalTitle" data-content="@modalBody" data-placement="top" data-trigger="hover">
                            <i class="icon-info-sign"></i>
                        </span>
                    </td>
                    <td class="center">@item.CraftingTime</td>
                    @{
                        var sum = 0;
                        var price = item.GetItemPrice(trader);

                        foreach (var day in Enumerable.Range(0, 7))
                        {
                            string countString = "";

                            var x = (from order in standingOrders
                                     from its in order.Items
                                     where its.Item == item && order.Day == day
                                     select its).FirstOrDefault();

                            var count = x == null ? 0 : x.OrderedCount;

                            sum += count;
                            daycost[day] += price.Value * count;

                            var itday = lastsnapdow + item.CraftingTime + 1;
                            if (DateTime.Now.TimeOfDay < lastsnap.TimeOfDay) { itday--; }
                            if (itday < 0) { itday += 7; }
                            var dday = day;
                            if (day < lastsnapdow) { dday += 7; }
                            var goodday = ViewBag.DeliveryDays.Contains(day) && Model.DeliveryDays.Contains(day);

                            countString = count == 0 ? "" : count.ToString(CultureInfo.CurrentUICulture);
                            var title = "";
                            var disabled = "";
                            var classtring = "";
                            if (!goodday)
                            {
                                title = string.Format(Strings.Orders_Standing_Order_View_You_Cannot_Place_Order, Model.Address1, day.GetLongDayName());
                                disabled = "disabled='disabled'";
                                classtring += "no-order";
                            }
                            else if (dday > lastsnapdow && dday <= itday)
                            {
                                title = Strings.Orders_Standing_Order_View_In_Production;
                            }

                            if (dday > lastsnapdow && dday <= itday)
                            {
                                classtring += " order-nextweek";
                            }
                            classtring = classtring.Trim();
                        <td class="right">

                            <span class="has-popover" title="@title">

                                @if (x != null)
                                {                               
                                    <input @disabled title="@title" type="text" name="order[@x.Id]" value="@countString" class="input-mini right @classtring" />                             
                                }
                                else
                                {                                   
                                    <input @disabled title="@title" type="text" name="neworder[@item.Id][@day]" value="@countString" class="input-mini right @classtring" />                   
                                }

                            </span>
                        </td>
                        }
                        var cost = price.Value * sum;
                        <td class="right">@sum</td>
                        <td class="right">@Helpers.V(cost)</td>
                    }

                </tr>
            }
            @if (standingOrders.Any())
            {
                var newsum = 0;
                <tr class="separate">
                    <td>@Strings.Delivery2</td>
                    <td></td>
                    <td></td>
                    @foreach (var day in Enumerable.Range(0, 7))
                    {
                        var goodday = ViewBag.DeliveryDays.Contains(day) && Model.DeliveryDays.Contains(day);
                        var ord = standingOrders.First(o => o.Day == day);
                        newsum += ord.Delivery ? 1 : 0;
                        daycost[day] += ord.Delivery ? ord.Address.DeliveryPrice : 0;
                        <td class="right">@Html.CheckBox("delivery[" + day + "]", ord.Delivery,
                                goodday ? null : new { disabled = "disabled" })</td>
                    }
                    <td class="right">@newsum</td>
                    <td colspan="2" class="right">@Helpers.V((Model.DeliveryPrice * newsum))</td>
                </tr>
            }
            else
            {
                var newsum = 0;
                <tr class="separate">
                    <td>@Strings.Delivery2</td>
                    <td></td>
                    <td></td>
                    @foreach (var day in Enumerable.Range(0, 7))
                    {
                        var goodday = ViewBag.DeliveryDays.Contains(day) && Model.DeliveryDays.Contains(day);
                        <td class="right">@Html.CheckBox("delivery[" + day + "]", false,
                                goodday ? null : new { disabled = "disabled" })</td>
                    }
                    <td class="right">@newsum</td>
                    <td colspan="2" class="right">@Helpers.V((Model.DeliveryPrice * newsum)))</td>
                </tr>
            }

            <tr class="separate">
                <td>@Strings.CostPerDay</td>
                <td></td>
                <td></td>
                @foreach (var day in Enumerable.Range(0, 7))
                {
                    <td class="right total">@Helpers.V((daycost[day]))</td>
                }
                <td></td>
                <td colspan="2" class="right total grandtotal">@Helpers.V(daycost.Sum())</td>
            </tr>

        </tbody>
    </table>
}
@{var newitems = ((IEnumerable<Item>)ViewBag.AllItems).
                Where(i => !items.Contains(i));//.
                //Select(i => new SelectListItem { Value = i.Id.ToString(), Text = i.Name + " (" + ViewBag.CurrencySymbol + i.GetItemPrice(trader).Value.ToString("N2") + ")" }).ToList();
}
@if (newitems.Any())
{
    <table class="table table-condensed">
    <thead>
        <tr>
            <th class="right"></th>
            <th class="left">@Strings.NewStandingOrderItem</th>
            <th class="right">@Strings.Mon</th>
            <th class="right">@Strings.Tue</th>
            <th class="right">@Strings.Wed</th>
            <th class="right">@Strings.Thu</th>
            <th class="right">@Strings.Fri</th>
            <th class="right">@Strings.Sat</th>
            <th class="right">@Strings.Sun</th>
            <th class="right"></th>
            <th class="right"></th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm("CreateSO", "Orders"))
        {
            <tr class="add noprint">
                <td></td>
                <td class="item-name">
                    @Html.Hidden("addressId", Model.Id)
                    @{
                        var favs = newitems.Where(x => x.Visibility != null
                                       && x.Visibility.Any(y => y.TraderId == trader.Id && y.Favourite));
                    }
                    <select name="itemId" class = "select-first">
                        <optgroup label="Favourites">
                            @foreach (var item in favs.OrderBy(x => x.Name))
                            {
                                <option value="@item.Id">@item.Name (@item.GetItemPrice(trader).Value.ToString("C2"))</option>
                            }
                        </optgroup>
                        @foreach (var gr in newitems.Except(favs).GroupBy(x => x.ItemGroup).OrderBy(x=>x.Key.Order))
                        {
                            <optgroup label="@gr.Key.Name">
                                @foreach (var item in gr.OrderBy(x=>x.Name))
                                {
                                    <option value="@item.Id">@item.Name (@item.GetItemPrice(trader).Value.ToString("C2"))</option>    
                                }
                            </optgroup>
                        }
                    </select>
                    @*Html.DropDownList("ItemId", newitems, "Add item to order...", new { @class = "select-first" })*@
                </td>
                @foreach (var day in Enumerable.Range(0, 7))
                {
                    var goodday = ViewBag.DeliveryDays.Contains(day) && Model.DeliveryDays.Contains(day);
                    var htmlAttributes = new Dictionary<string, object>();                
                    string cssClass = goodday ? "goodday" : "";
                    htmlAttributes.Add("class", "input-mini right " + cssClass);
                    var title = "";
                    if (!goodday)
                    {
                        title = string.Format(Strings.Orders_Standing_Order_View_You_Cannot_Place_Order, Model.Address1, day.GetLongDayName());
                        htmlAttributes.Add("title", title);
                    }
                    if (!newitems.Any() || !goodday)
                    {
                        htmlAttributes.Add("disabled", "true");
                    }
                    <td class="right">
                        @Html.TextBox("days[" + day + "]", "", htmlAttributes)
                    </td>
                }
                <td></td>
                <td class="right" colspan="2">
                    @{var disabledVal = string.Empty; }
                    @if(!newitems.Any())
                    {
                        disabledVal = "disabled";
                    }
                    <button class="btn btn-success btn-block" type="submit" @disabledVal>
                    <i class="icon-plus-sign"></i>&nbsp;@Strings.Additem
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
}