﻿@using System.Globalization
@using chleby.Web.Models
@using chleby.Web.ViewModel

@model StandingOrderViewModel

@{
    bool showFavs = false;

    if (!Model.OrderRows.Any())
    {
        showFavs = true;
    }
    
    IOrderedEnumerable<SODay> daysSortedLocal = Model.Days.OrderBy(d => d.DayOfWeekLocal);
    IDictionary<DayOfWeek, decimal> dayCosts = new Dictionary<DayOfWeek, decimal>();
    
    // initialize day costs
    foreach (SODay soDay in daysSortedLocal)
    {
        dayCosts[soDay.DayOfWeekLocal] = 0;
    }
    string dataTable = Model.OrderRows.Count > 0 ? "data-table" : string.Empty;
    
}


@using (Html.BeginForm("SaveSO", "Orders", FormMethod.Post, new { @class = "dirtyforms form-inline", name = "standingorder" }))
{
    <input type="submit" class="hide-jsproxy" />
    
    
    
    <table class="table @dataTable">
        <thead>
            <tr>
                <th class="filter-text">@Strings.Global_Item_Group</th>
                <th class="filter-text">@Strings.Global_Item</th>
                <th class="right no-sort"><img src="~/Images/Clock-Small.png" /></th>
                @foreach (SODay soDay in daysSortedLocal)
                {
                    <th class="right no-sort">@CultureInfo.CurrentCulture.DateTimeFormat.AbbreviatedDayNames[(int) soDay.DayOfWeekLocal]</th>
                }
                <th class="right no-sort">@Strings.Total</th>
                <th class="right no-sort">@Strings.Cost</th>
            </tr>
        </thead>
        <tbody>
            @Html.Hidden("addressId", Model.AddressId)
            @foreach (SOOrderRow row in Model.OrderRows.OrderBy(o => o.Item.Group.Order))
            {
                <tr class="no-border">
                    <td><span><b>@row.Item.Group.Name</b></span></td>
                    <td class="item-name">
                        @{
                            string modalTitle = row.Item.Name + " (" + Helpers.V(row.Item.Price) + ")";
                            string modalBody = row.Item.AdditionalInfo;
                        }
                        @if (!showFavs)
                        {
                            <a @Helpers.JsDelConfirm() class="btn-subtle delete" href="@Url.Action("DeleteSO", new { itemId = row.Item.Id, addressId = Model.AddressId })"><i class="icon-trash"></i></a>
                        }
                        else
                        {
                            if (this.CanWrite())
                            {
                                string title = Strings.OverrideOrderView_Visible;
                                string iconCssClass = "icon-eye-open";
                                string linkCssClass = "chleby-not-admin-hidden";
                                if (this.IsEmployee() || this.IsSuperAdmin())
                                {
                                    if (row.Item.HiddenByAdmin)
                                    {
                                        title = Strings.OverrideOrderView_Hidden;
                                        iconCssClass = "icon-eye-close";
                                        linkCssClass = "chleby-admin-hidden";
                                    }
                                    <a href="#" rel="tooltip" data-toggle="tooltip" data-placement="left" title="@title" id="@row.Item.Id" class="btn-subtle @linkCssClass">
                                            <i class="@iconCssClass"></i>
                                    </a>
                                }
                                else
                                {
                                    if (row.Item.Favourite)
                                    { 
                                        title = Strings.OverrideOrderView_Fav_Item;
                                        iconCssClass = "icon-star";
                                        linkCssClass = "chleby-favorite";
                                    }
                                    else
                                    {
                                        title = Strings.OverrideOrderView_Make_It_Fav;
                                        iconCssClass = "icon-star-empty";
                                        linkCssClass = "chleby-not-favorite";
                                    }
                                    <a rel="tooltip" data-toggle="tooltip" data-placement="left" title="@title" href="#" id="@row.Item.Id" class="btn-subtle @linkCssClass">
                                        <i class="@iconCssClass"></i>
                                    </a>
                                }
                            }
                        }
                        @row.Item.Name
                        <span class="has-popover secondary-info hide"  data-original-title="@modalTitle" data-content="@modalBody" data-placement="top" data-trigger="hover">
                            <i class="icon-info-sign"></i>
                        </span>
                    </td>
                    <td class="center">@row.Item.CraftingTime</td>
                    @{
                        decimal weekSum = 0;
                        foreach (SOOrderCell cell in row.Positions.OrderBy(p => p.Day.DayOfWeekLocal)){
                            
                            weekSum += cell.Count;
                            dayCosts[cell.Day.DayOfWeekLocal] += row.Item.Price * cell.Count;
                            string countString = cell.Count == 0 ? "" : cell.Count.ToString(CultureInfo.CurrentUICulture);
                            var title = "";
                            var disabled = "";
                            var classtring = "";
                            if (!cell.Active)
                            {
                                title = string.Format(
                                    Strings.Orders_Standing_Order_View_You_Cannot_Place_Order, Model.CurrentAddress, 
                                    CultureInfo.CurrentCulture.DateTimeFormat.GetDayName(cell.Day.DayOfWeekLocal));
                                
                                disabled = "disabled='disabled'";
                                classtring += "no-order";
                            }
                            else if (cell.NextWeek)
                            {
                                title = Strings.Orders_Standing_Order_View_In_Production;
                                classtring += " order-nextweek";
                            }
                            classtring = classtring.Trim();
                        <td class="right">

                            <span class="has-popover" title="@title">
                                @if(cell.OrderId > 0){
                                    <input @disabled title="@title" type="text" name="order[@cell.PositionId]" value="@countString" class="input-mini right @classtring" />                             
                                }
                                else{
                                    <input @disabled title="@title" type="text" name="neworder[@row.Item.Id][@cell.Day.MsDay]" value="@countString" class="input-mini right @classtring" />                             
                                }

                            </span>
                        </td>
                        }
                        var cost = row.Item.Price * weekSum;
                        <td class="right">@weekSum</td>
                        <td class="right">@Helpers.V(cost)</td>
                    }

                </tr>
            }
            @{
                bool anyOrders = Model.OrderRows.Any();
                var newsum = 0;                
                                
                <tr class="separate">
                    <td>@Strings.Delivery2</td>
                    <td></td>
                    <td></td>
                    @foreach (SODelivery delivery in Model.Deliveries.OrderBy(d => d.Day.DayOfWeekLocal))
                    {
                        bool goodDay = Model.DeliveryDaysBusiness.Contains(delivery.Day.MsDay) && Model.DeliveryDaysAddress.Contains(delivery.Day.MsDay);
                        newsum += delivery.Selected ? 1 : 0;
                        dayCosts[delivery.Day.DayOfWeekLocal] += delivery.Selected ? Model.AddressDeliveryPrice : 0;
                        <td class="right">
                            @Html.CheckBox("delivery[" + (int) delivery.Day.MsDay + "]", anyOrders ? delivery.Selected : false, goodDay ? null : new { disabled = "disabled" })
                        </td>
                    }
                    <td class="right">@newsum</td>
                    <td colspan="2" class="right">@Helpers.V((Model.AddressDeliveryPrice * newsum))</td>
                </tr>    
            }

            <tr class="separate">
                <td>@Strings.CostPerDay</td>
                <td></td>
                <td></td>
                @{
                    decimal grandTotal = 0;
                
                    foreach (SODay soDay in daysSortedLocal)
                    {
                        decimal dayCost = dayCosts[soDay.DayOfWeekLocal];
                        grandTotal += dayCost;
                        <td class="right total">@Helpers.V((dayCost))</td>
                    }
                }
                <td></td>
                <td colspan="2" class="right total grandtotal">@Helpers.V(grandTotal)</td>
            </tr>

        </tbody>
    </table>
}
    
   @{ 
     IList<SOItem> newItems = Model.AllItems.Where(it => !Model.OrderRows.Select(row => row.Item.Id).ToList().Contains(it.Id)).ToList();
     } 

@if (newItems.Any())
{
    <table class="table table-condensed">
    <thead>
        <tr>
            <th class="right"></th>
            <th class="left">@Strings.NewStandingOrderItem</th>
             @foreach (SODay soDay in daysSortedLocal)
             {
                <th class="right no-sort">@CultureInfo.CurrentCulture.DateTimeFormat.AbbreviatedDayNames[(int) soDay.DayOfWeekLocal]</th>
             }
            <th class="right"></th>
            <th class="right"></th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm("CreateSO", "Orders"))
        {
            <tr class="add noprint">
                <td></td>
                <td class="item-name">
                    @Html.Hidden("addressId", Model.AddressId)
                    @{
                        IList<SOItem> favouriteItems = newItems.Where(x => x.Favourite).ToList();
                    }
                    <select name="itemId" class = "select-first">
                        <optgroup label="@Strings.Global_Favourite">
                            @foreach (var item in favouriteItems.OrderBy(x => x.Name))
                            {
                                <option value="@item.Id">@item.Name (@item.Price.ToString("C2"))</option>
                            }
                        </optgroup>
                        @{
                        var byGroup = newItems.Except(favouriteItems).GroupBy(x => x.Group).OrderBy(x=>x.Key.Order).ToList();
                        foreach (var group in byGroup)
                        {
                                <optgroup label="@group.Key.Name">
                            @foreach(var item in group.OrderBy(itm => itm.Name))
                            {
                                <option value="@item.Id">@item.Name (@item.Price.ToString("C2"))</option>    
                            }
                                </optgroup>        
                        }
                        }        
                    </select>
                    @*Html.DropDownList("ItemId", newitems, "Add item to order...", new { @class = "select-first" })*@
                </td>
                @foreach (SODay soDay in daysSortedLocal)
                {
                    var goodday = soDay.Active;
                    var htmlAttributes = new Dictionary<string, object>();                
                    string cssClass = goodday ? "goodday" : "";
                    htmlAttributes.Add("class", "input-mini right " + cssClass);
                    var title = "";
                    if (!goodday)
                    {
                        title = string.Format(Strings.Orders_Standing_Order_View_You_Cannot_Place_Order, Model.Addresses[Model.AddressId], CultureInfo.CurrentCulture.DateTimeFormat.GetDayName(soDay.DayOfWeekLocal));
                        htmlAttributes.Add("title", title);
                    }
                    if (!newItems.Any() || !goodday)
                    {
                        htmlAttributes.Add("disabled", "true");
                    }
                    <td class="right">
                        @Html.TextBox("days[" + soDay.MsDay + "]", "", htmlAttributes)
                    </td>
                }
                <td></td>
                <td class="right" colspan="2">
                    @{var disabledVal = string.Empty; }
                    @if(!newItems.Any())
                    {
                        disabledVal = "disabled";
                    }
                    <button class="btn btn-success btn-block" type="submit" @disabledVal>
                    <i class="icon-plus-sign"></i>&nbsp;@Strings.Additem
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
}
