﻿@model chleby.Web.Models.BusinessEmployeeAccount

@{
    ViewBag.Title = Strings.Global_Edit;
}
<div id="editEmp">
@using (Html.BeginForm("Edit", "BusinessEmployee", FormMethod.Post, new { @class = "form-horizontal" }))
{
@*using (Ajax.BeginForm("Edit", "BusinessEmployee", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    OnSuccess = "editSuccess",
    UpdateTargetId = "editEmp"
}))*@

    @Html.ValidationSummary(true)

    <fieldset>
        @Html.HiddenFor(model => model.Id)
        <div class="control-group">

            @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        @Helpers.GenerateEditorFor(Html, x => x.Password)
        @Helpers.GenerateEditorFor(Html, x => x.Password2)
        <div class="control-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Iban, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Iban)
                @Html.ValidationMessageFor(model => model.Iban)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.BusinessRole, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.BusinessRole)
                @Html.ValidationMessageFor(model => model.BusinessRole)
            </div>
        </div>
               <div class="form-actions">
        <button class="btn btn-success" type="submit"><i class="icon-ok"></i>&nbsp;@Strings.Global_Save</button>
        
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="icon-remove-sign"></i>&nbsp;@Strings.Global_Cancel</button>
        
    </div>
    </fieldset>
}
    </div>
<!--<div class="span6">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Permissions</legend>
            </fieldset>
        }
    </div>-->

@section Scripts {
    @Scripts.Render("~/js/jqueryval")

    <script>
        
    </script>
}

