﻿@using chleby.Web.Models
@model chleby.Web.Models.ComboViewModel<chleby.Web.Models.BusinessEmployeeAccount>


@section SecondaryActions{
    <span class="header">@Strings.Global_Users</span>
    <span class="pull-right">
        @if (this.CanWrite())
        {
            <a href="#createModal" data-toggle="modal" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.AddContact</a>
        }
        else
        {
            <a href="#" class="btn disabled"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.AddContact</a>
        }

        <a href="@Url.Action("Import")" class="btn business-employees-import-modal"><i class="icon-cloud-upload"></i>&nbsp;@Strings.Global_Import</a>
        @if (ViewBag.HandwalkStep == 0)
        {
            <button class="btn" onclick=" window.print() "><i class=" icon-print"></i>&nbsp;@Strings.BusinessEmployee_Print_Button</button>
        }
    </span>
}
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Employees</title>
        @Html.Partial("_Meta")
        <link href='http://mountainstream.ms/style/user-registration.css' rel='stylesheet' type='text/css'>
        
    </head>
    <body>
        @Html.Partial("_Header")
		<div class="container-block" style="min-height: 550px;">
            <div class="span12" style="margin: 30px; margin-left: 75px;">@Html.Raw(Session[ViewBag.AppName + "-hujinfo"])</div>
            @Helpers.Modal("chleby-permissions", Strings.BusinessEmplyee_Index_Edit_Perm)
            @Helpers.Modal("business-employees-import-modal", Strings.BusinessEmployee_Index_Import_Modal, "modal-big import-modal")
			<h2>Step 4 of 11. Adding Employees</h2>
            <div class="table-container no-borders">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-hover data-table table-condensed">
                    <thead>
                        <tr>
                            <th class="no-sort actions"></th>
                            <th class="no-sort actions"></th>
                            <th class="no-sort actions"></th>
                            <th class="filter-text">@Strings.Name
                            </th>
                            <th class="filter-text">@Strings.Global_Email
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Create.Phone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Create.Iban)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Create.BusinessRole)
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Index.OrderBy(x => x.FirstName).ThenBy(x => x.LastName))
                        {
                            <tr>
                                <td class="actions">
                                    @if (this.CanWrite())
                                    {
                                        if (Roles.IsUserInRole(item.UserName, Defines.Roles.SuperAdmin))
                                        {
                                        <a onclick="return false;" href="#" class="btn-subtle delete has-popover" style="cursor: not-allowed" title="@Strings.BusinessEmpluyee_Index_Deleting_Administrator"><i class="icon-trash"></i></a>
                                        }
                                        else
                                        {
                                        <a @Helpers.JsDelConfirm() href="@Url.Action("Delete", new { app = ViewBag.AppName, id = item.Id })" class="btn-subtle delete"><i class="icon-trash"></i></a>
                                        }
                                    }
                                </td>
                                <td class="actions">
                                    @if ((this.CanWrite() && Roles.IsUserInRole(Defines.Roles.CustomPrefix + "userperm")) || this.IsSuperAdmin())
                                    {
                                        if (Roles.IsUserInRole(item.UserName, Defines.Roles.SuperAdmin))
                                        {
                                        <a onclick=" return false; " href="#" class="btn-subtle delete has-popover" style="cursor: not-allowed" title="@Strings.BusinessEmployee_Index_Administrator_Title"><span style="font-size: 7pt">A</span><i class="icon-key"></i></a>
                                        <a onclick=" return false; " href="#" class="btn-subtle delete has-popover" style="cursor: not-allowed" title="@Strings.BusinessEmployee_Index_Administrator_Title"><i class="icon-key"></i></a>
                                        }
                                        else
                                        {
                                        <a  href="@Url.Action("EmployeeEdit", "Permissions", routeValues: new { app = ViewBag.AppName, id = item.Id, admin = true })" class="btn-subtle chleby-permissions"><span style="font-size: 7pt">A</span><i class="icon-key"></i></a>
                                        <a  href="@Url.Action("EmployeeEdit", "Permissions", routeValues: new { app = ViewBag.AppName, id = item.Id, admin = false })" class="btn-subtle chleby-permissions"><i class="icon-key"></i></a>
                                        }
                                    }
                                </td>
                                <td class="actions">
                                    @if (this.CanWrite())
                                    {
                                        <a @Helpers.BtnSubtleTitle("Edit") href="#" onclick="javascript:editEmploye(@item.Id)" class="btn-subtle"><i class="icon-pencil"></i></a>
                            
                                    }
                                </td>
                                <td>
                                    @if (this.CanWrite())
                                    {
                                        <a href="javascript:editEmploye(@item.Id)" class="chleby-edit">@Html.DisplayFor(modelItem => item.FirstName)
                                            @Html.DisplayFor(modelItem => item.LastName)</a>
                        
                                        @*<a href="@Url.Action("Edit", routeValues: new { app = ViewBag.AppName, id = item.Id })" class="chleby-edit">@Html.DisplayFor(modelItem => item.FirstName)
                                            @Html.DisplayFor(modelItem => item.LastName)</a>*@
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                    <!--<a href="mailto:@item.UserName">@item.UserName</a>-->
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Iban)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BusinessRole)
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <a href="#createModal" data-toggle="modal" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;Dodaj Użytkownika</a>
            <a href="@Url.Action("Import")" class="btn business-employees-import-modal"><i class="icon-cloud-upload"></i>&nbsp;@Strings.Global_Import</a>
            <a href="@Url.Action("HandwalkMove/6", "Internal")" class="btn btn-green btn-success btn-handwalk btn-icon" id="handwalk-leechproxy"><img subpath="img/icon/user-registration/check.png">@Strings.Global_Save</a>
              
            

            @Helpers.ModalValidationHelper((t, m) => Html.Partial(t, m), t => Html.Partial(t, new BusinessEmployeeAccount()), Model, Strings.Contact)

            <div id="edit-emp"  class="modal chleby-modal hide" tabindex="-1" role="dialog" aria-labelledby="edit-empLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="edit-empLabel">Edit</h3>
                    </div>
                    <div class="modal-body" id="edit-emp-body">
            
                    </div>
                </div>
    

            @section Scripts {

               <script type="text/javascript">
            
                   function editEmploye(id) {
                        var url = "@Url.Action("Edit", routeValues: new { app = ViewBag.AppName })" + "/" + id;
                        $.ajax({
                           url: url,
                           context: document.body
                       }).done(function (data) {
                           $("#edit-emp .modal-body").html(data);
                                chlebyBeforeModalShow();
                                $("#edit-emp").modal('show');

                        });
            
                   }


                </script>
            }
</div>
		<br style="clear:both" />
        @Html.Partial("_Footer")