﻿@model dynamic

@if (Model.value == "yes")
{
    <input type="checkbox" name="zattrs[@Model.meta.Id]" value="yes" checked ="checked">
}
else
{
    <input type="checkbox" name="zattrs[@Model.meta.Id]" value="yes">
}
<input name="zattrs[@Model.meta.Id]" type="hidden" value="no" />
@Html.ValidationMessage("attrs[" + (int)@Model.meta.Id + "]")