﻿@model dynamic

<select multiple="multiple" class="input-small right select2" name="zattrs[@Model.meta.Id]">
    @foreach (var rasa in Model.meta.PossibleValues.Split(';'))
    {
        if (((string)Model.value).Split(',').ToList().Contains(rasa))
        {
        <option value="@rasa" selected="selected">@rasa</option>
        }
        else
        {
        <option value="@rasa">@rasa</option>
        }
    }
</select>
@Html.Hidden("zattrs[" + (int)Model.meta.Id + "]", "$$-$$")
@Html.ValidationMessage("attrs[" + (int)@Model.meta.Id + "]")

