﻿@model chleby.Web.Models.LocalPasswordModel


@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Change Password </legend>
        <div class="control-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
            <div class="controls">@Html.PasswordFor(m => m.OldPassword)</div>
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            <div class="controls">@Html.PasswordFor(m => m.NewPassword)</div>
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">@Html.PasswordFor(m => m.ConfirmPassword)</div>
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-success" type="submit" value="Change password" />
            </div>
        </div>
    </fieldset>
}

@using (Html.BeginForm("ManageOther", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Set email address</legend>
        <div class="control-group">
            <label class="control-label" for="email">Email address</label>
            <div class="controls">@Html.TextBox("email", (string)ViewBag.email)</div>
            @Html.ValidationMessage("email")
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-success" type="submit" value="Save" />
            </div>
        </div>
    </fieldset>
}