﻿@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
}
@model SetPasswordModel

@if(Model.Expired){
    <span class="alert alert-error">
        <i class="icon-warning-sign blink"></i>
        @Strings.InvitationExpried
    </span>
}
else{
    using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.Guid)
        @Helpers.GenerateEditorFor(Html, x => x.NewPassword)
        @Helpers.GenerateEditorFor(Html, x => x.ConfirmPassword)
        <input type="submit" />
    }
}

