﻿@model chleby.Web.Models.LoginModel

@{
    Layout = null; // "~/Views/Shared/_LayoutNoHeader.cshtml";
    ViewBag.Title = Strings.Login_Log_in;
}

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Log In</title>
        @Html.Partial("_Meta")
        @Scripts.Render("~/js/jquery")
        <link href='http://mountainstream.ms/style/user-registration.css' rel='stylesheet' type='text/css'>
        <style>
            .control-label {
                width: 350px;
                text-align: right;
                padding-right: 15px;
            }
            .controls {
                width: 350px;
            }
        </style>
    </head>
    <body>
        @Html.Partial("_Header")
		<p class="location">Home > User Registration</p>
		<div class="container-block">
			<h2>Log In</h2>
			@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal chleby-login jssubmit" })) 
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)           
				<fieldset>
					<ul class="perks">
						<li></li>
						<li><img subpath="img/icon/user-registration/sprockets.png">Streamline</li>
						<li></li>
					</ul>
	        
	                <div class="control-group">
	                    <label class="control-label">
	                    	Email
	                    </label>
	                    <div class="controls">
	                        @Html.TextBoxFor(m => m.UserName, new { placeholder = Strings.Email, @class = "input-block-level" })
                            @Html.ValidationMessageFor(m => m.UserName)
	                    </div>
	                </div>
	                
	                <div class="control-group">
	                    <label class="control-label">
	                    	Password
	                    </label>
	                    <div class="controls">
	                        @Html.PasswordFor(m => m.Password, new { placeholder = Strings.Password, @class = "input-block-level" })
                            @Html.ValidationMessageFor(m => m.Password)
                            <br />
                            @Html.ActionLink(Strings.Login_Forgot_password, "ResetPassword", null, new { @class = "form-link" })
                            <br />
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "keep-logged" })
                            <p class="checkbox-text">@Strings.Login_RemeberMe</p>
	                        <!-- <a class="form-link" href="#">*I forgot my password!</a><br> -->
	                        <!-- <input type="checkbox" id="keep-logged"><p class="checkbox-text">Keep me logged in</p> -->
	                    </div>
	                </div>                
	            	<div class="btn btn-green">
	                        @Strings.Login_Button_Login
	                </div>					          
            	</fieldset>
            }
		</div>
		<br style="clear:both" />
        @Html.Partial("_Footer")
        
		<div class="notification-box">
			<p>Message Text</p>
		</div>
    </body>
    <script type="text/javascript">
		// replace messages for each form
		var messages = ['Enter your email please', 'Enter your password please', '']
		var formInputs = 2;
		function pageSpecValidations() {
		    return false;
		}
        @Html.Partial("_HandwalkJS")
    </script>


<!-- <div class="row">
    <div class="span4 offset4">

        @@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @@class = "form-horizontal chleby-login" }))
        {
            @@Html.AntiForgeryToken()
            @@Html.ValidationSummary(true)
            <fieldset>
                <legend>
                    <div>
                        <small><i class="icon-cogs"></i>&nbsp;streamline</small>
                    </div>

                </legend>

                <p>
                    @@Html.TextBoxFor(m => m.UserName, new { placeholder = Strings.Email, @@class = "input-block-level" })
                    @@Html.ValidationMessageFor(m => m.UserName)

                </p>
                <p>
                    @@Html.PasswordFor(m => m.Password, new { placeholder = Strings.Password, @@class = "input-block-level" })
                    @@Html.ValidationMessageFor(m => m.Password)

                </p>
                <p>

                    <button type="submit" class="btn btn-success btn-large btn-block">
                        @@Strings.Login_Button_Login
                    </button>
                </p>


                <label class="checkbox" style="float:left;">
                    @@Html.CheckBoxFor(m => m.RememberMe)
                    @@Strings.Login_RemeberMe
                </label>
                <p class="subtle" style="float:right;">
                    @@Html.ActionLink(Strings.Login_Forgot_password, "ResetPassword")
                </p>
            </fieldset>
                    
               
        }

    </div>
</div> -->

