﻿@model chleby.Web.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
<div class="row">
    <div class="span6">
        @Html.Partial("_ChangePasswordPartial")
    </div>
    @Html.Action("PermReport")
</div>
@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}
