﻿@model IEnumerable<IGrouping<bool, ModuleRegister>>

@foreach (var half in Model)
{
    if (this.IsTrader() && half.Key == true) { continue; }
    <div class="span3">
        <fieldset>
            <legend>@if (half.Key)
                    {
                        @Strings.Account_YourAdminPermissions
                    }
                    else
                    {
                        @Strings.Account_YourCustomerPermissions
                    }
            </legend>
            <ul style="list-style: none">
                @foreach (var cat in half.GroupBy(x => x.Category).OrderBy(x => x.Key))
                {
                    <li><span style="font-size: 16px">@Strings.ResourceManager.GetString("permcat_" + cat.Key)</span>
                        <ul style="list-style: none; margin-left: 15px">
                            @foreach (var mod in cat)
                            {
                                <li>@if (this.CanWrite(mod.Name))
                                    {
                                        @: <i class="icon-unlock text-positive"></i>
                                    }
                                    else if (this.CanRead(mod.Name))
                                    {
                                        @: <i class="icon-lock text-negative"></i>
                                    }
                                    else
                                    {
                                        @: <i class="icon-eye-close inactive"></i>
                                    }
                                    @mod.HumanName
                                </li>
                            }
                        </ul>
                    </li>
                }

            </ul>
        </fieldset>
    </div>
}
