﻿@model chleby.Web.Models.LoginModel

@{
    ViewBag.Title = Strings.Login_Forbidden;

    ViewBag.AdminModule = this.IsEmployee() || this.IsSuperAdmin();
}


<div class="row">
    <div class="span12 pagination-centered">
        <img src="@Url.Content("~/Images/frontpage/lock.png")" /><br/>
        <p class="text-error" style="margin-top: 50px">@Strings.Controller_AccountController_Permission</p>
        <a href="#" onclick="history.back(); return false;" class="btn btn-success"><i class="icon-arrow-left"></i>&nbsp;@Strings.Global_Back</a>
    </div>
</div>
