﻿@model chleby.Web.Models.ResetPasswordModelFirst

@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
    ViewBag.Title = "Password reset";
}

<div class="container">
    <div class="row">
        <div class="span4 offset4">
            <section id="loginForm">
                @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <legend>   <div>
                        <small>Reset password</small>
                    </div></legend>
                        <p>
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "E-mail", @class = "input-block-level" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </p>




                        <p>
                            <input type="submit" class="btn btn-inverse btn-block" value="Send e-mail" /></p>
                    </fieldset>
                    <!--<p>
                        @Html.ActionLink("Register", "Register") if you don't have an account.
                    </p>-->
                }
            </section>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}