﻿@model IEnumerable<Invoice>

@{
    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
    string shortFormat = business.ShortDateFormat;
}

@section SecondaryActions
{
    <span class="header">@Strings.TraderInvoice_Title</span>

 
}

<div class="table-container no-borders">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-condensed no-borders table-hover data-table">
        <thead>
            <tr>

                <th>@Strings.TableHeader_InvoiceNumber
                </th>
                <th>@Strings.TableHeader_InvoiceWeek
                <th class="no-sort">@Strings.TableHeader_InvoiceDate
                </th>
                <th>@Strings.Terms
                </th>

                <th class="right currency-sort">@Strings.TableHeader_Subtotal
                </th>
                <th class="right currency-sort">@Strings.TableHeader_Delivery
                </th>
                <th class="right currency-sort">VAT
                </th>
                <th class="right currency-sort">@Strings.TableHeader_Total
                </th>

                <th class="center no-sort">PDF
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (Invoice invoice in Model)
            {
                <tr>
                    <td>@invoice.InvoiceNumber</td>
                    <td>@invoice.Week</td>
                    <td>@invoice.Date.ToString(dateFormat)</td>
                    <td>@invoice.PaymentTerm</td>
                    <td class="right">@Helpers.VS(invoice.ItemsPrice)</td>
                    <td class="right">@Helpers.VS(invoice.DeliveryPrice)</td>
                    <td class="right">@Helpers.VS(invoice.DeliveryVat + invoice.Vat)</td>
                    <td class="right total">@Helpers.VSE(invoice.TotalPrice + invoice.DeliveryPrice + invoice.DeliveryVat)</td>
                    <td class="center"><a target="_blank" href="@Url.Action("PDF", new { id = invoice.Id })">
                        <img src="~/Images/pdf-icon.gif"></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
