﻿@model Tuple<int, System.Reflection.MethodInfo, SystemHelp>

@Model.Item2.DeclaringType::@Model.Item2
@using (Html.BeginForm(new {id=Model.Item1}))
{
    <textarea name="sh.Content">@Model.Item3.Content</textarea>
    <input type="submit"/>
}

@section Scripts
{
    @*@Scripts.Render("~/Scripts/tinymce/tiny_mce.js")*@
    <script src="http://tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            tinymce.init({
                selector: "textarea",
                theme: "modern",
                plugins: [
                    "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                    "searchreplace wordcount visualblocks visualchars code fullscreen",
                    "insertdatetime media nonbreaking save table contextmenu directionality",
                    "emoticons template paste textcolor"
                ],
                toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
                toolbar2: "print preview media | forecolor backcolor emoticons",
                image_advtab: true
            });
        });
    </script>
}
