﻿@using System.Reflection
@model Dictionary<string, IEnumerable<Tuple<bool, MethodInfo, int>>>

<ul>
    @foreach (var ctl in Model)
    {
        <li>@ctl.Key</li>
        <ul>
            @foreach (var act in ctl.Value)
            {
                <li>
                    <span style="color: steelblue">@(act.Item1 ? "[POST]" : "")</span>
                    @Html.ActionLink(act.Item2.Name, "Edit", new { id = act.Item3 })
                    <b>(</b>
                    @Html.Raw(string.Join(", ", act.Item2.GetParameters().Select(x => "<i>" + x.Name + "</i>")))
                    <b>)</b>
                    @act.Item2
                </li>
            }
        </ul>
    }
</ul>
