﻿@using chleby.Web.Models
@model chleby.Web.Models.ComboViewModel<chleby.Web.Models.AddressHoliday>

@section SecondaryActions{
    <button class="btn btn-icon" onclick="$('#calendar').fullCalendar( 'prev' )"><i class=" icon-chevron-left"></i></button>
    <div class="calendar-title header" id="calendartitle">-</div>
    <button class="btn btn-icon" onclick="$('#calendar').fullCalendar( 'next' )"><i class=" icon-chevron-right"></i></button>
    <div class="btn-group">
        <button class="btn toggleactive btn-icon" onclick="$('#calendar').fullCalendar( 'changeView', 'year' )"><i class=" icon-th"></i>&nbsp;@Strings.Global_Year</button>
        <button class="btn btn-inverse toggleactive btn-icon" onclick="$('#calendar').fullCalendar( 'changeView', 'month' )"><i class=" icon-calendar"></i>&nbsp;@Strings.Global_Month</button>
    </div>
    <button class="btn btn-icon" onclick="$('#calendar').fullCalendar( 'today' )"><i class=" icon-download"></i>&nbsp;@Strings.Global_Today</button>

    <span class="pull-right">
        <a href="#createModal" data-toggle="modal" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.AddHoliday</a>

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">@Strings.Global_More
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Export")" class="">
                    <img src="~/Images/csv-icon.gif" />&nbsp;@Strings.Global_Export</a></li>
                <li><a href="#" class="" onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</a></li>
            </ul>
        </div>
    </span>
}

<div id='calendar'></div>
@Helpers.ModalValidationHelper((t, m) => Html.Partial(t, m), t => Html.Partial(t, new AddressHoliday()), Model, Strings.AllHoliday_Index_Modal_title)

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $(".toggleactive").click(function () {
                $(".toggleactive").removeClass('btn-inverse');
                $(this).addClass('btn-inverse');
            });

            var today = new Date();

            var calendarView = '@Session["CalendarView"]';
            if (calendarView == '') { calendarView = 'month'; }

            var calendarMonth = '@Session["CalendarMonth"]';
            if (calendarMonth == '') { calendarMonth = today.getMonth(); }

            var calendarYear = '@Session["CalendarYear"]';
            if (calendarYear == '') { calendarYear = today.getFullYear(); }

            // page is now ready, initialize the calendar...
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            $('#calendar').fullCalendar({
                firstDay: 1,
                aspectRatio: 3,
                month: calendarMonth,
                year: calendarYear,
                defaultView: calendarView,
                viewDisplay: function (view) {
                    // alert('The new title of the view is ' + view.title);
                    // console.log(view);
                    $('#calendartitle').html(view.title);
                },

                header:
                    {
                        left: '', center: '', right: ''
                        //left: 'title',               
                        //center: 'year,month',
                        //right: 'today prev,next'
                    },
                events: [
                    @foreach (var item in Model.Index)
                    {
                            <text>
                               {
                                   title: '@item.Name - @item.Address.Address1',
                                   start: new Date("@item.StartDate.Date.ToString("MM/dd/yyyy")"),
                                   end: new Date("@item.EndDate.Date.ToString("MM/dd/yyyy")"),
                                   calinternal: true, //when you need to open in popup
                                   href: '@Url.Action("Edit", routeValues: new { app = ViewBag.AppName, id = item.Id })'
                               },
                           </text>
                    }
                         @foreach (BusinessHoliday godholiday in ViewBag.GodHoliday)
                         {
                            <text>
                               {
                                   title: '@ViewBag.BusinessName - @godholiday.Name',
                                   start: new Date("@godholiday.StartDate.Date.ToString("MM/dd/yyyy")"),
                                   end: new Date("@godholiday.EndDate.Date.ToString("MM/dd/yyyy")"),
                                   href: '', //normal href will give redir upon click
                                   backgroundColor: '#959595',
                                   borderColor: '#959595'

                               },
                           </text>
                         }
                    @foreach (Invoice invoice in ViewBag.invoice)
                    {
                        <text>
                         {
                             title: 'Invoice - @Helpers.V(invoice.ItemsPrice)',
                             start: new Date("@invoice.Date.ToString("MM/dd/yyyy")"),
                             end: new Date("@invoice.Date.ToString("MM/dd/yyyy")"),
                             href: '@Url.Action("Pdf","TraderInvoices",new {id=invoice.Id})',
                             backgroundColor: '@(invoice.Paid ? "#2B9B1A" : "#9B1A1A")',
                             borderColor: '@(invoice.Paid ? "#2B9B1A" : "#9B1A1A")'
                         },
                        </text>
                    }
                    @foreach (Tuple<Address, DateTime> cartday in ViewBag.cartdays)
                    {
                        <text>
                         {
                             title: '<i class="icon-shopping-cart"></i> @cartday.Item1.Address1',
                             start: new Date("@cartday.Item2.ToString("MM/dd/yyyy")"),
                             end: new Date("@cartday.Item2.ToString("MM/dd/yyyy")"),
                             href: '@Url.Action("Index","OrderOverride",new {id=cartday.Item1.Id,date=cartday.Item2.ToStringUrl()})',
                             backgroundColor: '#azureblue',
                             borderColor: '#azureblue'
                         },
                        </text>
                    }
                    
                ], eventRender: function (event, element) {
                    $('.fc-event-title', element).html(event.title); // fix na &chujencja; gdy dziwne znaki (interpreted as textnode zamiast html)
                    //via http://stackoverflow.com/questions/2376689/fullcalendar-json-event-feed-problem
                },
                eventClick: function (calEvent, jsEvent, view) {
                    var href = $(this).attr("href");
                    if (calEvent.href != "") {
                        if (calEvent.calinternal == true) {
                            $.ajax({
                                url: calEvent.href,
                                context: document.body
                            }).done(function (data) {
                                // alert(href + "success" + " data:" + data);
                                $("#chleby-edit").html(data);
                                $("#editModal").modal();
                            });
                        }
                        else {
                            window.location = calEvent.href;
                        }
                    }


                    return false;

                },

            });

            $("#calendar").on("click", ".fc-year-monthly-td",
                     function () {

                         var DateSlug = $(this).attr("id");
                         var DateArray = DateSlug.split("-");
                         $("#calendar").fullCalendar('gotoDate', DateArray[0], DateArray[1]);
                         $("#calendar").fullCalendar('changeView', 'month');

                     }
                     );
        });

    </script>
    @Scripts.Render("~/js/fullcalendar")
}






