﻿@model CompanySettings

@section SecondaryActions{

    <span class="header">@Strings.Business_Company_Details</span>
    <span class="pull-right">
        @if (ViewBag.HandwalkStep == 0)
        {
            @Helpers.SaveButton("business")
        }
        else
        {
            @Helpers.SaveButton("business", "save", "hide-jsproxy")
        }
    </span>
}

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Business Details</title>
        @Html.Partial("_Meta")
        @Scripts.Render("~/js/jquery")
        <style>
            .control-label {
                width: 100px !important;
            }
            .controls {
                padding: 0 !important;
                margin: 0 !important;
                margin-left: 10px !important;
                width: 150px !important;
            }
            input {
                margin-bottom: 1px !important;
            }
        </style>
        <link href='http://mountainstream.ms/style/user-registration.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        @Html.Partial("_Header")
		<div class="container-block">
			<h2>Step 1 of 11: Your account is active. Please enter Business Details:</h2>
			@using (Html.BeginForm("EditCompany", "Business", FormMethod.Post, new { id = "business-company-details-form", name = "business", @class = "form-horizontal dirtyforms jssubmit", enctype = "multipart/form-data" }))
            {       
				<fieldset>
					<div class="span6"> 
		                <legend>
		                	@Strings.Details
		                </legend>
		                <div class="control-group">
		                    <label class="control-label">
		                        @Strings.Name
		                    </label>
		                    <div class="controls">
		                        @if (Model.LegalName == "!!!GUWNOFIX!!!")
                                {
                                    <input type="text" value="" name="@Html.NameFor(x=>x.LegalName)" @Html.GetUnobtrusiveValidationAttributes("LegalName") 
                                        placeholder="@Html.DisplayNameFor(x=>x.LegalName)"/>
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.LegalName)
                                }
                                @Html.ValidationMessageFor(model => model.LegalName)
		                    </div>
		                </div>
		                
		                <div class="control-group">
		                    <label class="control-label">
		                        @Strings.Address
		                    </label>
		                    <div class="controls">
		                        @if (Model.LegalAddress1 == "!!!GUWNOFIX!!!")
                                {
                                    <input type="text" value="" name="@Html.NameFor(x=>x.LegalAddress1)" @Html.GetUnobtrusiveValidationAttributes("LegalAddress1")
                                        placeholder="@Html.DisplayNameFor(x=>x.LegalAddress1)"/>
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.LegalAddress1)
                                }
                                @Html.ValidationMessageFor(model => model.LegalAddress1)
                                @Html.EditorFor(model => model.LegalAddress2)
                                @Html.ValidationMessageFor(model => model.LegalAddress2)
                                @Html.EditorFor(model => model.LegalAddress3)
                                @Html.ValidationMessageFor(model => model.LegalAddress3)
		                    </div>
		                </div>
		                
		                <div class="control-group">
		                    <label class="control-label">
		                        @Html.DisplayNameFor(x=>x.LegalCity)
		                    </label>
		                    <div class="controls">
		                        @if (Model.LegalCity == "!!!GUWNOFIX!!!")
                                {
                                    <input type="text" value="" name="@Html.NameFor(x=>x.LegalCity)" @Html.GetUnobtrusiveValidationAttributes("LegalCity") 
                                           placeholder="@Html.DisplayNameFor(x=>x.LegalCity)"/>
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.LegalCity)
                                }
                                @Html.ValidationMessageFor(model => model.LegalCity)
		                    </div>
		                </div>
		
		                <div class="control-group">
		                    <label class="control-label">
		                        @Html.DisplayNameFor(x=>x.LegalPost)
		                    </label>
		                    <div class="controls">
		                        @if (Model.LegalPost == "!!!GUWNOFIX!!!")
                                {
                                    <input type="text" value="" name="@Html.NameFor(x=>x.LegalPost)" @Html.GetUnobtrusiveValidationAttributes("LegalPost") 
                                           placeholder="@Html.DisplayNameFor(x=>x.LegalPost)"/>
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.LegalPost)
                                }
                                @Html.ValidationMessageFor(model => model.LegalPost)
		                    </div>
		                </div>
		
		
		                <div class="control-group">
		                    <label class="control-label">
		                        @Html.DisplayNameFor(x=>x.LegalPhone)
		                    </label>
		                    <div class="controls">
		                        @if (Model.LegalPhone == "!!!GUWNOFIX!!!")
                                {
                                    <input type="text" value="" name="@Html.NameFor(x=>x.LegalPhone)" @Html.GetUnobtrusiveValidationAttributes("LegalPhone") 
                                           placeholder="@Html.DisplayNameFor(x=>x.LegalPhone)"/>
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.LegalPhone)
                                }
                                @Html.ValidationMessageFor(model => model.LegalPhone)
		                    </div>
		                </div>
						<div class="control-group">
							<div class="control-label">
								@Html.DisplayNameFor(x=>x.REGON)
							</div>
							<div class="controls">
								@if (Model.REGON == "!!!GUWNOFIX!!!")
                                {
                                    <input type="text" value="" name="@Html.NameFor(x=>x.REGON)" @Html.GetUnobtrusiveValidationAttributes("REGON") 
                                           placeholder="@Html.DisplayNameFor(x=>x.REGON)"/>
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.REGON)
                                }
                                @Html.ValidationMessageFor(model => model.REGON)
							</div>
						</div>
						
						<div class="control-group">
							<div class="control-label">
								@Html.DisplayNameFor(x=>x.NIP)
							</div>
							<div class="controls">
								@if (Model.NIP == "!!!GUWNOFIX!!!")
                                {
                                    <input type="text" value="" name="@Html.NameFor(x=>x.NIP)" @Html.GetUnobtrusiveValidationAttributes("NIP") 
                                           placeholder="@Html.DisplayNameFor(x=>x.NIP)"/>
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.NIP)
                                }
                                @Html.ValidationMessageFor(model => model.NIP)
							</div>
						</div>
						
						<div class="control-group">
							<div class="control-label">
					
							</div>
							<div class="controls" style="width: 300px !important;">
								<input type="checkbox" id="tr-address"><p class="checkbox-text">@Strings.BusinessTradingAdr</p>
							</div>
						</div>
					</div>
					<div class="span6" id="trading-details" @if (!Model.UsingTradingProps)
                                      { <text>state="off"</text>
                                      }>
						<legend>
		                	@Strings.BusinessTradingDet
		                </legend>
                        @Helpers.GenerateEditorFor(Html, model => model.TradingName)
		                
		                <div class="control-group">
		                    <label class="control-label">
		                        @Strings.Business_Company_Link_Legal_Address
		                    </label>
		                    <div class="controls">
		                        @Html.TextBoxFor(model => model.TradingAddress1)
                                @Html.ValidationMessageFor(model => model.TradingAddress1)
                                @Html.EditorFor(model => model.TradingAddress2)
                                @Html.ValidationMessageFor(model => model.TradingAddress2)
                                @Html.EditorFor(model => model.TradingAddress3)
                                @Html.ValidationMessageFor(model => model.TradingAddress3)
		                    </div>
		                </div>
		                @Helpers.GenerateEditorFor(Html, model => model.TradingCity)
                        @Helpers.GenerateEditorFor(Html, model => model.TradingPost)          
					</div>

	            	<div class="btn btn-green">
	                	<img subpath="img/icon/user-registration/check.png">
						@Strings.Global_Save
	                </div>
	            </fieldset>
             }
		</div>
		<br style="clear:both" />
        @Html.Partial("_Footer")
        <script type="text/javascript">
            var el = $('#trading-details');
            if (el.attr('state') == 'off')
                el.fadeOut(0);
           
            $('#tr-address').change(function () {
                if ($(this).is(':checked'))
                    el.fadeIn(200);
                else
                    el.fadeOut(200);
            });
            $('.btn-green').click(function () {
                $('.jssubmit').submit();
            });
        </script>
    </body>

  <!--  <input type="submit" name="hwbeh" value="stay" style="display: none" id="handwalk-form-save-stay"/>
    <div class="row">
        <div class="span6">
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>
                    <span class="name">@Strings.Details</span>

                </legend>


                <div class="control-group">
                    <label class="control-label">@Strings.Name</label>
                    <div class="controls">
                        @if (Model.LegalName == "!!!GUWNOFIX!!!")
                        {
                            <input type="text" value="" name="@Html.NameFor(x=>x.LegalName)" @Html.GetUnobtrusiveValidationAttributes("LegalName") 
                                placeholder="@Html.DisplayNameFor(x=>x.LegalName)"/>
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.LegalName)
                        }
                        @Html.ValidationMessageFor(model => model.LegalName)
                    </div>
                </div>



                <div id="legal-details">
                    <div class="control-group">
                        <label class="control-label">@Strings.Address</label>
                        <div class="controls">
                            @if (Model.LegalAddress1 == "!!!GUWNOFIX!!!")
                            {
                                <input type="text" value="" name="@Html.NameFor(x=>x.LegalAddress1)" @Html.GetUnobtrusiveValidationAttributes("LegalAddress1")
                                    placeholder="@Html.DisplayNameFor(x=>x.LegalAddress1)"/>
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.LegalAddress1)
                            }
                            @Html.ValidationMessageFor(model => model.LegalAddress1)
                            @Html.EditorFor(model => model.LegalAddress2)
                            @Html.ValidationMessageFor(model => model.LegalAddress2)
                            @Html.EditorFor(model => model.LegalAddress3)
                            @Html.ValidationMessageFor(model => model.LegalAddress3)
                        </div>
                    </div>



                    <div class="control-group">
                        <label class="control-label">@Html.DisplayNameFor(x=>x.LegalCity)</label>
                        <div class="controls">
                            @if (Model.LegalCity == "!!!GUWNOFIX!!!")
                            {
                                <input type="text" value="" name="@Html.NameFor(x=>x.LegalCity)" @Html.GetUnobtrusiveValidationAttributes("LegalCity") 
                                       placeholder="@Html.DisplayNameFor(x=>x.LegalCity)"/>
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.LegalCity)
                            }
                            @Html.ValidationMessageFor(model => model.LegalCity)
                        </div>
                    </div>



                    <div class="control-group">
                        <label class="control-label">@Html.DisplayNameFor(x=>x.LegalPost)</label>
                        <div class="controls">
                            @if (Model.LegalPost == "!!!GUWNOFIX!!!")
                            {
                                <input type="text" value="" name="@Html.NameFor(x=>x.LegalPost)" @Html.GetUnobtrusiveValidationAttributes("LegalPost") 
                                       placeholder="@Html.DisplayNameFor(x=>x.LegalPost)"/>
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.LegalPost)
                            }
                            @Html.ValidationMessageFor(model => model.LegalPost)
                        </div>
                    </div>



                    <div class="control-group">
                        <label class="control-label">@Html.DisplayNameFor(x=>x.LegalPhone)</label>
                        <div class="controls">
                            @if (Model.LegalPhone == "!!!GUWNOFIX!!!")
                            {
                                <input type="text" value="" name="@Html.NameFor(x=>x.LegalPhone)" @Html.GetUnobtrusiveValidationAttributes("LegalPhone") 
                                       placeholder="@Html.DisplayNameFor(x=>x.LegalPhone)"/>
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.LegalPhone)
                            }
                            @Html.ValidationMessageFor(model => model.LegalPhone)
                        </div>
                    </div>




                    <div class="control-group">
                        <label class="control-label">@Html.DisplayNameFor(x=>x.REGON)</label>
                        <div class="controls">
                            @if (Model.REGON == "!!!GUWNOFIX!!!")
                            {
                                <input type="text" value="" name="@Html.NameFor(x=>x.REGON)" @Html.GetUnobtrusiveValidationAttributes("REGON") 
                                       placeholder="@Html.DisplayNameFor(x=>x.REGON)"/>
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.REGON)
                            }
                            @Html.ValidationMessageFor(model => model.REGON)
                        </div>
                    </div>



                    <div class="control-group">
                        <label class="control-label">@Html.DisplayNameFor(x=>x.NIP)</label>
                        <div class="controls">
                            @if (Model.NIP == "!!!GUWNOFIX!!!")
                            {
                                <input type="text" value="" name="@Html.NameFor(x=>x.NIP)" @Html.GetUnobtrusiveValidationAttributes("NIP") 
                                       placeholder="@Html.DisplayNameFor(x=>x.NIP)"/>
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.NIP)
                            }
                            @Html.ValidationMessageFor(model => model.NIP)
                        </div>
                    </div>



                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                @Html.EditorFor(model => model.UsingTradingProps)
                                @Html.ValidationMessageFor(model => model.UsingTradingProps)
                                <span>@Strings.BusinessTradingAdr</span>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="span6">
            <div id="trading-details" @if (!Model.UsingTradingProps)
                                      { <text>style="display:none;"</text>
                                      }>
                <fieldset>
                    <legend><span class="name">@Strings.BusinessTradingDet</span></legend>
                    @Helpers.GenerateEditorFor(Html, model => model.TradingName)



                    <div class="control-group">
                        <label class="control-label">@Strings.Address<br />
                            <a href="#" class="btn-subtle company-details-copy-legal-to-trading pull-right">@Strings.Business_Company_Link_Legal_Address</a>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.TradingAddress1)
                            @Html.ValidationMessageFor(model => model.TradingAddress1)
                            @Html.EditorFor(model => model.TradingAddress2)
                            @Html.ValidationMessageFor(model => model.TradingAddress2)
                            @Html.EditorFor(model => model.TradingAddress3)
                            @Html.ValidationMessageFor(model => model.TradingAddress3)

                        </div>
                    </div>
                    @Helpers.GenerateEditorFor(Html, model => model.TradingCity)
                    @Helpers.GenerateEditorFor(Html, model => model.TradingPost)
                </fieldset>
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="span12 hide">
            <div class="form-actions">
                <input class="btn btn-success btn-large hide" type="submit" value="@Strings.Global_Save" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/js/jqueryval")
    <script type="text/javascript">
        checkTradingProps();
    </script>

} -->