﻿@model chleby.Web.Models.Business

@{
    ViewBag.Title = Strings.Global_Create;
}

<h2>@Strings.Global_Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Strings.Global_Business</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.LegalName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LegalName)
            @Html.ValidationMessageFor(model => model.LegalName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LegalAddress1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LegalAddress1)
            @Html.ValidationMessageFor(model => model.LegalAddress1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LegalAddress2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LegalAddress2)
            @Html.ValidationMessageFor(model => model.LegalAddress2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LegalAddress3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LegalAddress3)
            @Html.ValidationMessageFor(model => model.LegalAddress3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LegalCity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LegalCity)
            @Html.ValidationMessageFor(model => model.LegalCity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TradingCity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TradingCity)
            @Html.ValidationMessageFor(model => model.TradingCity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LegalPost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LegalPost)
            @Html.ValidationMessageFor(model => model.LegalPost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TradingPost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TradingPost)
            @Html.ValidationMessageFor(model => model.TradingPost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Timezone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Timezone)
            @Html.ValidationMessageFor(model => model.Timezone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Currency)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Currency)
            @Html.ValidationMessageFor(model => model.Currency)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeliveryDayValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeliveryDayValue)
            @Html.ValidationMessageFor(model => model.DeliveryDayValue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CraftingDeadlineLocal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CraftingDeadlineLocal)
            @Html.ValidationMessageFor(model => model.CraftingDeadlineLocal)
        </div>

        <p>
            <input type="submit" value=@Strings.Global_Create />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}
