﻿@model chleby.Web.Models.PaymentTerm

@{
    ViewBag.Title = Strings.Global_Create;
}

@using (Html.BeginForm("CreatePayment", "Business", FormMethod.Post, new { @class = "form-horizontal", id = "chleby-edit-form" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Helpers.GenerateEditorFor(Html, model => model.Name)
        <div class="form-actions">
            <input class="btn btn-success btn-large" type="submit" value="@Strings.Global_Add" />
        </div>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}
