﻿@model chleby.Web.Models.PaymentTerm

@{
    ViewBag.Title = @Strings.Business_Delete_Payment;
}

<h2>@Strings.Global_Delete</h2>

<h3>@Strings.Business_Delete_Payment_Question</h3>
<fieldset>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@Strings.Global_Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
