﻿@model chleby.Web.Models.PaymentTerm

@{
    ViewBag.Title = Strings.Global_Edit;
}

@using (Html.BeginForm("EditPayment", "Business", FormMethod.Post, new { @class = "form-horizontal", id = "chleby-edit-form" }))
{
    @Html.ValidationSummary(true)
    <fieldset>

        @Html.HiddenFor(m=>m.Id)
        @Helpers.GenerateEditorFor(Html, model => model.Name)
        <div class="form-actions">
            <input class="btn btn-success btn-large" type="submit" value="@Strings.Global_Save" />
        </div>
       
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}
