﻿@model IEnumerable<FinishVM>

@section SecondaryActions{
    <span class="header">
        @Strings.Handwalk_Step11
    </span>

    <span class="pull-right">
        @if (ViewBag.HandwalkStep == 0)
        {
            @Helpers.SaveButton("send-invitations", "Send Invitations")
        }
        else
        {
            @Helpers.SaveButton("send-invitations", "Send Invitations", "hide-jsproxy")
        }
    </span>
}

@using (Html.BeginForm("Finish", "Business", FormMethod.Post, new { name = "send-invitations" }))
{
    <table class="table table-condensed no-borders data-table checkbox-batch">
        <thead>
            <tr class="table-header">
                <th class="batch-checkbox-container no-sort noprint">
                    <input type="checkbox" class="batch-all" checked="checked">
                </th>
                <th class="no-sort filter-text">@Strings.Global_Customer
                </th>
                <th class="filter-text">@Strings.Global_Name
                </th>
                <th class="filter-text">@Strings.Global_Phone
                </th>
                <th class="filter-text">@Strings.Global_Email
                </th>
            </tr>
        </thead>
        <tbody>

            @{
    var company = Model.FirstOrDefault().Company;
            }

            @foreach (var user in Model)
            {
                if (company != user.Company)
                {
                <tr class="separate">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                    company = user.Company;
                }
                
                <tr>
                    <td class="center noprint">
                        @if (!user.Guid.Equals(Membership.GetUser().ProviderUserKey))
                        {
                            var realuser = Membership.GetUser(user.Guid);
                            @Html.CheckBox("send[" + user.Guid + "]", realuser.LastLoginDate == realuser.CreationDate, new {@class = "batch"})
                        }
                        else
                        {
                            <input type="checkbox" disabled="disabled" class="has-popover" title="You can't send invitation to yourself"/>
                        }
                    </td>
                    <td>
                        <span class="tohide">
                            @user.Company
                        </span>
                    </td>
                    <td>
                        @user.FirstName @user.LastName
                    </td>
                    <td>
                        @user.Phone
                    </td>
                    <td>
                        @user.Email
                    </td>
                </tr>
                
               
            }
        </tbody>
    </table>
    <input type="submit" class="hide-jsproxy" />
}