﻿<div class="row">
    <div class="span6">
        <p>Congratulations! You may now start using Streamline.</p>
        <p>Remember to test Streamline for at least one week, against your current system, to ensure smooth migration and synchronisation of data.  <br/>
            If and when you make any changes to your data, make you sure you keep Streamline up to date, too. </p>
        <p>Pay attention to any changes in orders and any new customers.<br/>
        Once you are happy, invite your customers and you're up and running.<br/>
        Remember, we're here to help!</p>
        <h2><b>Protocols</b></h2>
        <ol>
            <li>Snapshots are taken once a day of the stock of orders, at your order deadline, 
            as stipulated in General Settings.</li>
            <li>Streamline operates in 2 modes. Client and Customer.</li>
        </ol>
        <ul>
            <li>Client refers to your Company, the Streamline Administrators.</li>
            <li>Customer refers to your customers.</li>
        </ul>
        <p>When in Client Mode (ADMIN), the Top Menu is black and contains all the pages 
        relevant to your operation.
        </p>
        <p>When in Customer Mode, the top menu is light grey and we replicate what customers 
            see and we can operate the software, as they would. For example, placing or 
            managing orders and returns, viewing invoices or the item catalogue and editing 
            addresses and user settings.
        </p>
    </div>
    <div class="span6">
        <h3>Tips &amp; Tricks</h3>
        <h4>Windows &amp; Tabs</h4>
        <p>It is better to always open Streamline in a new browser window (CTRL+N, if 
        you are already in a browser)
        </p>
        <p>You may then work in tabs (CTRL+T) or right click on the link you wish to open 
        and open in a new tab.
        </p>
        <p>Tabs may be arranged by clicking and dragging.</p>
        <p>Working with tabs makes working quicker. It saves you time opening links. It 
        is like keeping Windows open on your desktop.
        </p>
        <h4>Views &amp; Navigation</h4>
        <p>The Cogs- Use the cogs on the top left to switch between Admin Mode and Customer 
        Mode
        </p>
        <h3></h3>
        <p>F11 - To maximise your screen view, press F11. To return to normal view, press 
        F11 again.
        </p>
        <p>(CTRL+TAB) - Will take you across open Tabs, forward. </p>
        <p>(CTRL+SHIFT+TAB) -Will take you across open Tabs, back. </p>
        <p>Filter and sort your data prior to printing. </p>
    </div>
</div>