﻿<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Handwalk Intro</title>
        @Html.Partial("_Meta")
        <link href='http://mountainstream.ms/style/user-registration.css' rel='stylesheet' type='text/css'>
        <style>
        	html, body {
        		height: 1070px;
        	}
            a.btn {
                margin-top: 35px !important;
        		float: right;
        	}
            .panel-left {
                width: 325px;
             }
            .panel-right {
                width: 300px;
            }
        	.list-text > li {
        		color: #333;
                margin-bottom: 3px;
        	}
        </style>
    </head>
    <body>
        @Html.Partial("_Header")
		<div class="container-block">
			<h2>Welcome to Streamline!</h2>
            <form>
                <fieldset>
			        <div class="span4">
		                <p>
		                    <b>Please prepare the following lists</b><br>
		                </p>
		                <ul class="list-text">
		                    <li>Users from your organisation</li>
		                    <li>Customers</li>
		                    <li>At least one main contact per customer.</li>
		                    <li>At least one address per customer </li>
		                    <li>Item catalogue</li>
		                    <li>Standing orders</li>
		                    <li>Cart orders<br>
		                    </li>
		                </ul>
                        <br />
		                <p>
		                    <b>Importing data will be faster</b><br /><br /> We will give you templates to fill in. 
		                    There are 3 points to bear in mind:
		                </p>
		                <p></p>
		                <p>Never change the first row of the templates. </p>
		                <p>When you finish entering your data to the templates, remember to save 
		                        as CSV. </p>
		                <p>When you download a template that has existing data, for example Customer 
		                        names, DO NOT change these names. If you do, you will create duplicate 
		                        entries in Streamline. </p>
		            </div>
		            <div class="span4">
                        <br />
		                <p>
		                    You can export your data at any time and it will be compatible with your 
		                current system.
		                </p>
		                <p>
		                    Any information or settings that you enter now can be changed later. 
		                Don&#39;t worry if you make mistakes.
		                </p>
		                <p>
		                    If this is the first time you work with CSV&#39;s: these are Comma Separated 
		                Value files.
		                </p>
                        <br />
		                <p>
		                    They also open in spreadsheets. There are many video tutorials in 
		                Youtube.com and Microsoft.com (if you are using Excel).
		                </p>
		                <p>
		                    You may also upload our template files to a Google Docs account and 
		                it is very easy to export the file as CSV again, ready for upload.
		                </p>
		                <p></p>
		                <p>If you get stuck at any stage, talk to us. We&#39;re here to help!</p>
		                <p></p>
			        </div>
                    <div class="span4" style="height: 470px; position: relative;">
                        <p style="position: absolute; bottom: 0; right: 30px;"><a href="@Url.Action("HandwalkMove", "Internal", new { id = 1 })" class="btn btn-green">Let&#39;s get started...</a></p>
                    </div>
		        </div>
            </fieldset>
        </form>
		<br style="clear:both" />
        @Html.Partial("_Footer")
    </body>