﻿@using chleby.Web.Mantis
@model GeneralSettings

@section SecondaryActions{

    <span class="header">@Strings.Business_General_Settings</span>

    <span class="pull-right">
        @if (ViewBag.HandwalkStep == 0)
        {
            @Helpers.SaveButton("business")
        }
        else
        {
            @Helpers.SaveButton("business", "save", "hide")
        }
    </span>

}

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>General Settings</title>
        @Html.Partial("_Meta")
        <link href='http://mountainstream.ms/style/user-registration.css' rel='stylesheet' type='text/css'>
        <style>
            .control-label {
                width: 100px !important;
            }
            .controls {
                padding: 0 !important;
                margin: 0 !important;
                margin-left: 10px !important;
                width: 200px !important;
            }
            input {
                margin-bottom: 1px !important;
            }
        </style>
    </head>
    <body>
        @Html.Partial("_Header")
		<div class="container-block">
			<h2>Step 2 of 11. General Settings</h2>

        @using (Html.BeginForm("Edit", "Business", FormMethod.Post, new { name = "business", @class = "form-horizontal dirtyforms jssubmit", enctype = "multipart/form-data" }))
        {
            <fieldset>
                <div class="row">
                    <input type="submit" name="hwbeh" value="prev" style="display: none" id="handwalk-form-save-prev" />
                    <input type="submit" name="hwbeh" value="stay" style="display: none" id="handwalk-form-save-stay" />
                    @Html.ValidationSummary(true) </div>

                <div class="span6">
                        <legend>
                            <span class="name">@Strings.Global_System</span>
                        </legend>
                        <div class="control-group">
                            <label class="control-label">
                                @Html.DisplayNameFor(x => x.MailConfirmAddress)
                            </label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.MailConfirmAddress, new
                                {
                                    data_helppopover = "true",
                                    data_content = Strings.help_MailConfirmAddress_Body,
                                    data_placement = "top",
                                    data_title = Strings.help_MailConfirmAddress_Title +
                                        "<a class='dismiss-popover btn-subtle pull-right'><i class='icon-remove-sign'></i></a>"
                                })
                            </div>
                        </div>
                        <div class="control-group checkbox">
                            <div class="controls checkbox-text">
                                <label class="checkbox">
                                    @Html.CheckBoxFor(x => x.SendOrdersBackup, new
                                   {
                                       data_helppopover = "true",
                                       data_content = Strings.help_SendOrdersBackup_Body,
                                       data_placement = "left",
                                       data_title = Strings.help_SendOrdersBackup_Title +
                                           "<a class='dismiss-popover btn-subtle pull-right'><i class='icon-remove-sign'></i></a>"
                                   })
                                    @Html.DisplayNameFor(x => x.SendOrdersBackup)</label>
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(model => model.Timezone, new { @class = "control-label" })
                            <div class="controls">
                                @*@Html.EditorFor(model => model.Timezone)*@
                                <select  @Helpers.HelpPopoverContent(Strings.help_TimeZone_Body, Strings.help_TimeZone_Title, "bottom") name="Timezone" tabindex="7" class="autowidth">
                                    @foreach (var tz in chleby.Web.Defines.Timezones)
                                    {
                                        if (tz.Key == Model.Timezone)
                                        {

                                        <option title="@tz.Value" value="@tz.Key" selected="selected">@tz.Value.DisplayName</option>
                                        }
                                        else
                                        {

                                        <option title="@tz.Value" value="@tz.Key">@tz.Value.DisplayName</option>
                                        }
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.Timezone)
                            </div>
                        </div>
                        <legend style="display: block; padding-top: 50px;">
                            <span class="name">@Html.DisplayNameFor(x => x.Logo)</span>
                        </legend>
                        <div class="control-group">
                            <label class="control-label">@Strings.Business_Current_Logo</label>
                            <div class="controls">
                                <img @Helpers.HelpPopoverContent(@"The best format is PNG, but you may also be JPG or GIF.  The best size for
        the logo is any size up to 200 * 200 pixels.
        It can be any size up top 200 * 200 and does not have to square. The system
        will re-size the image if it is bigger than this.
        The company logo will be used in the login screen and you may chose to show
        it on your Invoice and Delivery Note PDF's.
        ", "Logo", "bottom") src="@Url.Action("Logo")" width="100" height="100" id="imgLogo"/>
                            </div>
                        </div>
                      
                                <div id="logoOld" class="control-group" style="margin-left: -2px;">
                                    @Helpers.GenerateEditorFor(Html, m => m.LogoFile)
                                </div>
                                <div class="control-group">
                                    <div class="control-label"></div>
                                    <div class="controls" style="margin-top: -35px !important; margin-left: -38px !important;">
                                        <a data-target="@Url.Action("UploadLogo")" class="btn btn-primary" 
                                                   id="uploadlogo" style="display: none">
                                            <i class="icon-file"></i>&nbsp;@Strings.Global_Select_File</a>
                                        <span id="uploadlogoErr" class="field-validation-error"></span>
                                        <div class="checkbox checkbox-text" style="padding-top: 20px; position: relative; left: -20px;">
                                            @Helpers.GenerateEditorFor(Html, x => x.LogoOnInvoice)
                                        </div>
                                    </div>
                                </div>
                                    @Html.HiddenFor(m => m.Logo)
                </div>

                <div class="span6">
                        <legend>
                            <span class="name">@Strings.Ordering</span>
                        </legend>

                        <div class="control-group">
                            @Html.LabelFor(model => model.CraftingDeadlineLocal, new { @class = "control-label has-popover", title = Strings.OrderDeadline_Tooltip })
                            <div class="controls">
                                <div class='timepicker' data-time='@Model.CraftingDeadlineLocal.ToShortTimeString()' >
                                    <input @Helpers.HelpPopoverContent(@"This is the cutoff point for orders and the time that
        we take a snapshot of orders.
        *Note: Product turnaround times are controlled in the Item Catalogue, using
        the Production Time Attribute (P). For example, a product with 48hr
        turnaround would have P=1 and one available for next day delivery would
        have P=0", "Order deadline", "right") name="CraftingDeadlineLocal" type="text" class="input-medium timepicker-toggle" data-toggle="timepicker">
                                    <div class="timepicker-popover">
                                        <table class="timepicker-table table">
                                            <tbody>
                                                <tr>
                                                    <td class="hour">
                                                        <a class="next" href="#"><i class="icon-chevron-up"></i></a>
                                                        <br>
                                                        <input type="text" class="input-mini" readonly><br>
                                                        <a class="previous" href="#"><i class="icon-chevron-down"></i></a>
                                                    </td>
                                                    <td class="separator">:</td>
                                                    <td class="minute">
                                                        <a class="next" href="#"><i class="icon-chevron-up"></i></a>
                                                        <br>
                                                        <input type="text" class="input-mini" readonly><br>
                                                        <a class="previous" href="#"><i class="icon-chevron-down"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">@Strings.BusinessDelDays</label>
                            <div class="controls" @Helpers.HelpPopoverContent(@"These are the days that you deliver to your customers.
         You may further assign specific delivery days to an address, at the
        address record. This can be done from Distribution > Routes, or from
        Customer > Address", "Delivery days", "bottom")>
                                @for (int wd = 0; wd < 7; ++wd)
                                {

                                    <label style="padding-left: 35px">
                                        <input type="checkbox" name="@Html.NameFor(x => x.DeliveryDays)" value="@wd" checked="@Model.DeliveryDays.Contains(wd)">
                                        @wd.GetShortDayName()
                                    </label>
                                }
                            </div>
                        </div>
                </div>


                <div class="span12">
                    <button class="btn btn-green" type="submit" value="" style="height: 42px !important;">
                        <img subpath="img/icon/user-registration/check.png">
                        @Strings.Global_Save
                    </button>
                </div>
            </fieldset>
            }
        </div>
        <br style="clear:both" />
        @Html.Partial("_Footer")

        @section Scripts {
            @Scripts.Render("~/js/jqueryval")


            <script type="text/javascript">

                $(function () {
                    if ($("#uploadlogo").ajaxUpload !== undefined) { //bo mozemy byc chujowi ;D

                        $("#uploadlogo").ajaxUpload({
                            action: $("#uploadlogo").data('target'),
                            name: "file",
                            responseType: 'json',
                            allowedExtensions: ['jpg', 'gif', 'png'],
                            submit: function () {
                            },
                            complete: function (fileName, result) {
                                if (result.result) {
                                    $("#imgLogo").attr("src", $("#imgLogo").attr("src") + "?timestamp=" + new Date().getTime());
                                    $('#uploadlogoErr').html('');
                                    $('#@Html.IdFor(x => x.Logo)').val(result.fn);
                                } else {
                                    $('#uploadlogoErr').html(result.err);
                                }
                            }
                        });
                        $('#logoOld').hide();
                        $('#uploadlogo').show();
                    }
                });
            </script>
        }
</body>