﻿@using System.Globalization
@using System.Resources
@using chleby.Web.Models
@model ComboViewModelQuad<PaymentTerm, PaymentTerm, InvoiceSettings>

@section SecondaryActions{

    <span class="header">@Strings.Business_Invoicing_Invoicing_Settings
    </span>
    <span class="pull-right">
        @if (ViewBag.HandwalkStep == 0)
        {
            @Helpers.SaveButton("business")
        }
        else
        {
            @Helpers.SaveButton("business", "save", "hide")
        }
    </span>

}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Invoicing</title>
        <link href='http://mountainstream.ms/style/user-registration.css' rel='stylesheet' type='text/css'>
        @Html.Partial("_Meta") 
    </head>
    <body>
        @Html.Partial("_Header")
		<div class="container-block">
			<h2>Step 3 of 11. Invoicing</h2>
            @using (Html.BeginForm("EditInvoice", "Business", FormMethod.Post, new { name = "business", @class = "form-horizontal dirtyforms", enctype = "multipart/form-data" }))
            {
                <input type="submit" name="hwbeh" value="prev" style="display: none" id="handwalk-form-save-prev"/>
                <input type="submit" name="hwbeh" value="stay" style="display: none" id="handwalk-form-save-stay"/>
                <fieldset>
                    <div class="span6">
                            <legend>
                                <span class="name">@Strings.Business_Invoicing_General</span>
                            </legend>
                            @Helpers.GenerateEditorFor(Html, model => model.Create2.Currency)
                            <div class="control-group">
                                <label class="control-label">@Html.DisplayNameFor(x => x.Create2.CurrencyPositivePattern)</label>
                                <div class="controls">
                                    @Html.DropDownListFor(x => x.Create2.CurrencyPositivePattern,
                                                          Enumerable.Range(0, 4).Select(x => new SelectListItem
                                                              {
                                                                  Text = Defines.CurrencyPositivePatterns[x],
                                                                  Value = x.ToString(CultureInfo.InvariantCulture),
                                                                  Selected = Model.Create2.CurrencyPositivePattern == x
                                                              })

                                                              )
                                    @Html.ValidationMessageFor(x => x.Create2.CurrencyPositivePattern)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">@Html.DisplayNameFor(x => x.Create2.CurrencyNegativePattern)</label>
                                <div class="controls">
                                    @Html.DropDownListFor(x => x.Create2.CurrencyNegativePattern,
                                    Enumerable.Range(0, 16).Select(x => new SelectListItem
                                        {
                                            Text = Defines.CurrencyNegativePatterns[x],
                                            Value = x.ToString(CultureInfo.InvariantCulture),
                                            Selected = Model.Create2.CurrencyNegativePattern == x
                                        })
                                     )
                                    @Html.ValidationMessageFor(x => x.Create2.CurrencyNegativePattern)
                                </div>
                            </div>
                            @Helpers.GenerateEditorFor(Html, model => model.Create2.PaymentInfo)
                            @Helpers.GenerateEditorFor(Html, model => model.Create2.InvoiceFooter)
                            <legend>
                                <span class="name">@Strings.Business_Invoicing_Payment_Button</span>
                            </legend>

                            <div class="control-group">
                                <div class="controls">
                                    <a href="@Url.Action("ManagePaymentTerms", routeValues: new { app = ViewBag.AppName })" class="btn edit-pt" style="margin-top: 1px !important; width: 200px"><i class="icon-edit icon-white"></i>&nbsp;@Strings.Business_Invoicing_Payment_Manage</a>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <a href="@Url.Action("ManageTT", routeValues: new { app = ViewBag.AppName })" class="btn edit-tt has-help-popover" style="margin-top: 1px !important; width: 200px"><i class="icon-edit icon-white"></i>&nbsp;@Strings.Business_Manage_Customer_Types</a>

                                </div>
                            </div>
                    </div>

                    <div class="span6">
                            <legend>
                                <span class="name">@Strings.features_Invoicing</span>
                            </legend>
                            <div class="control-group">
                                <label class="control-label">@Strings.Business_Invoicing_Invoice_period</label>
                                <div class="controls">
                                    @Html.RadioButtonForSelectList(x => x.Create2.InvoicePeriod,
                                        "dwma".Select(c => new SelectListItem
                                            {
                                                Text = Strings.ResourceManager.GetString("InvoicePeriod_" + c),
                                                Value = c.ToString(CultureInfo.InvariantCulture),
                                                Selected = Model.Create2.InvoicePeriod.ToString(CultureInfo.InvariantCulture) == c.ToString(CultureInfo.InvariantCulture)
                                            }),"periods"
                                    )
                                    @Html.ValidationMessageFor(x => x.Create2.InvoicePeriod)
                                </div>
                            </div>
                            <div class="control-group" id="fdow">
                                <label class="control-label">@Strings.Business_Invoicing_First_day_of_week</label>
                                <div class="controls">
                                    <select name="@Html.NameFor(x => x.Create2.FirstDay)" id="@Html.IdFor(x => x.Create2.FirstDay)">
                                        @foreach (var v in Enum.GetValues(typeof(DayOfWeek)).Cast<DayOfWeek>())
                                        {
                                            <option value="@((int)v)" selected="@(v == Model.Create2.FirstDay)">@CultureInfo.CurrentCulture.DateTimeFormat.GetDayName(v)</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(x => x.Create2.FirstDay)
                                </div>
                            </div>
                            @Helpers.GenerateEditorFor(Html, x => x.Create2.MinDelivery)
                            <div class="control-group">
                                <label class="control-label">@Html.DisplayNameFor(x => x.Create2.AccSoftware)</label>
                                <div class="controls">
                                    <select name="@Html.NameFor(x => x.Create2.AccSoftware)" id="@Html.IdFor(x => x.Create2.AccSoftware)">
                                        <option value="0" selected="@(0 == Model.Create2.AccSoftware)">QB</option>
                                        <option value="1" selected="@(1 == Model.Create2.AccSoftware)">Xero</option>
                                    </select>
                                    @Html.ValidationMessageFor(x => x.Create2.AccSoftware)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <a class="move-down" target="_blank" id="macLink" href="@Url.Action("ManageAccSoftware")" data-href="@Url.Action("ManageAccSoftware")">@Strings.Invoicing_Setup_your_account_software_settings</a>
                                </div>
                            </div>
                    </div>

                    <div class="span12">
                        <button class="btn btn-green" type="submit">
                            <img subpath="img/icon/user-registration/check.png">
                            @Strings.Global_Save
                        </button>
                    </div>
                </fieldset>
            }
            @Scripts.Render("~/js/bootstrap")
            @Helpers.Modal("edit-pt", Strings.PaymentTerm_Title)
            @Helpers.Modal("edit-tt", Strings.Business_Customer_Types)
            @Helpers.ModalValidationHelper((t, m) => Html.Partial(t + "Payment", m), t => Html.Partial(t + "Payment", new PaymentTerm()), Model, Strings.BusinessPayTer)
         
            @section Scripts {
                @Scripts.Render("~/js/jqueryval")

                <script type="text/javascript">
                    $(function () {
                        var sel = $("#@Html.IdFor(x => x.Create2.AccSoftware)");
                        var but = $('a#macLink');
                        but.data('href', but.attr('href'));

                        but.click(function () {
                            this.href = $(this).data('href') + "/" + sel.val();
                        });

                        sel.change(function () {
                            if (sel.val() == "0")
                                but.hide();
                            else
                                but.show();
                        });
                        sel.change();

                        var periods = $(".periods");
                        periods.change(function () {
                            var fdow = $("div#fdow");
                            var selperiod = $('input:radio.periods:checked');
                            if (selperiod.val() == "d") {
                                fdow.hide();
                            } else {
                                fdow.show();
                            }
                        });

                        periods.change();

                        $('form').dirtyForms('setClean');
                    });
                </script>
            }
        </div>
		<br style="clear:both" />
        @Html.Partial("_Footer")