﻿@model List<MailTemplate>

@section SecondaryActions{
    <span class="header">@Strings.Business_MailTemplates</span>
}

@Helpers.Modal("mailtemplate-edit-modal",@Strings.Global_Edit,"modal-big")

<table style="margin-left: 50px" class="table table-hover table-condensed">
    <thead>
        <tr>
            <th class="actions"></th>
            @*<th>@Strings.Business_MailTemplateName</th>*@
            <th>@Strings.Business_MailTemplateSubject</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mt in Model)
        {
            <tr>
                <td class="actions">
                    @if (this.CanWrite())
                    {
                        if (mt.Send)
                        {
                            <a rel="tooltip" data-toggle="tooltip" data-placement="left" title="Enabled" href="#" id="@mt.Id" class="btn-subtle chleby-live"><i class="icon-ok"></i></a>
                        }
                        else
                        {
                            <a rel="tooltip" data-toggle="tooltip" data-placement="left" title="Disabled" href="#" id="@mt.Id" class="btn-subtle chleby-not-live"><i class="icon-minus"></i></a>
                        }

                        <a rel="tooltip" data-toggle="tooltip" data-placement="left" title="Restore to default" href="@Url.Action("Restore", new { id = mt.Id })" class="btn-subtle"><i class="icon-eraser"></i></a>
                        <a class="btn-subtle mailtemplate-edit-modal"href="@Url.Action("TemplateEdit", new { id = mt.Id })"><i class="icon-pencil"></i></a>
                    }
                    else
                    {
                        if (mt.Send)
                        {
                            <a rel="tooltip" data-toggle="tooltip" data-placement="left" title="Live" href="#" onclick="return false;" class="btn-subtle"><i class="icon-ok"></i></a>                            
                        }
                        else
                        {
                            <a rel="tooltip" data-toggle="tooltip" data-placement="left" title="Live" href="#" onclick="return false;" class="btn-subtle"><i class="icon-minus"></i></a>                            
                        }
                    }
                </td>

                @*<td>
                    @(Strings.ResourceManager.GetString("mt_" + mt.Name) ?? mt.Name)
                </td>*@
                <td>
                    @mt.Subject
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @Scripts.Render("~/js/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $("body").on("click", ".chleby-live", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);

                $.get("@Url.Action("ToggleLive")", { id: $(this).attr("id"), live: "false" })
                 .done(function (data) {
                     if (data.msg == "ok") {
                         button.removeClass("btn-success chleby-live");
                         button.addClass("chleby-not-live");
                         button.attr("data-original-title", "Disabled");
                         button.html('<i class="icon-minus"></i>');
                     }
                     else {
                         button.addClass("btn-warning");
                         button.html('Connection error');
                     }
                 });
                        });

            $("body").on("click", ".chleby-not-live", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);
                $.get("@Url.Action("ToggleLive")", { id: $(this).attr("id"), live: "true" })
                 .done(function (data) {
                     //console.log(data);
                     if (data.msg == "ok") {
                         button.removeClass("chleby-not-live");
                         button.addClass("chleby-live");
                         button.attr("data-original-title", "Enabled");
                         button.html('<i class="icon-ok icon-white"></i>');
                     }
                     else {
                         button.addClass("btn-warning");
                         button.html('Connection error');
                     }

                 });
            });
        });
    </script>
}