﻿@model MailTemplate

@using (Html.BeginForm("TemplateEdit","Business",FormMethod.Post,new{@class="form-horizontal"}))
{
    @Html.HiddenFor(mt=>mt.Id)   
    @Helpers.GenerateEditorFor(Html, x => x.Subject)

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(x=>x.Template)
        </div>
        <div class="controls">
            @Html.TextAreaFor(x=>x.Template,20,50,new{style="width:90%;"})
        </div>
    </div>

    @Helpers.ModalFormButtons()
}
<script type="text/javascript">
    $('#mailtemplate-edit-modalLabel').html("@Strings.Global_Edit - @(Strings.ResourceManager.GetString("mt_" + Model.Name) ?? Model.Name)");
</script>
