﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@Strings.AnError</title>
</head>
<body>
    <div style="text-align: center; font-family: Arial">
        <h2>@Strings.AnError</h2>
        <p>@Strings.PleaseTryAgain</p>
        <p>
            @Strings.IfProblem
            <pre>@((Guid)ViewData["ErrorID"])</pre>
        </p>
    </div>
</body>
</html>
