﻿@using chleby.Web
@using chleby.Web.Controllers
@using chleby.Web.Models
@model IEnumerable<UoMConversion>

@using (Html.BeginForm("SetConv", "UoMConv", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>
            <span class="name">@Strings.UoM_Conv_Conversions</span>
            @if (this.CanWrite(typeof(UoMConvController)))
            {
                <span class="actions">
                    <button class="btn btn-success @(Model.Any() ? "" : "disabled")" type="submit"  @(Model.Any() ? "" : "disabled")>
                        <i class="icon-save icon-white"></i>&nbsp;@Strings.Global_Save
                    </button>
                </span>
            }
        </legend>
        <div class="fieldset-content">
            @foreach (var conv in Model)
            {
                <div class="control-group">

                    @if (this.CanWrite(typeof(UoMConvController)))
                    {
                        using (Html.BeginCollectionItem("Conv"))
                        {
                        @Html.Hidden("Id", conv.Id)
                        @Html.Partial("~/Views/UoMConv/ConvEditor.cshtml", conv, ViewData)   
                        }
                    }
                    else
                    {
                        @: @conv.FromMultiplier @conv.From.Name = @conv.ToMultiplier @conv.To.Name 

                    }
                    @if (this.CanWrite(typeof(UoMConvController)))
                    {
                        <a onclick="return confirm('Are you sure?')" href="@Url.Action("DeleteConv", "UoMConv", routeValues: new { id = conv.Id })" class="btn btn-icon btn-danger"><i class="icon-remove icon-white"></i></a>
                    }
                </div>   
            }
        </div>
    </fieldset>
}

@if (this.CanWrite())
{
    using (Html.BeginForm("CreateConv", "UoMConv", FormMethod.Post, new { @class = "form-horizontal" }))
    {
    <div class="fieldset-content">
        <div class="control-group">
            @Html.Partial("~/Views/UoMConv/ConvEditor.cshtml", (UoMConversion)ViewBag.OldObject ?? new UoMConversion())
            <button class="btn btn-success btn-icon" type="submit">
                <i class="icon-plus-sign icon-white"></i>
            </button>
        </div>
    </div>
    }
}