﻿@model IEnumerable<FileInfo>

<ul>
    @foreach (var file in Model.OrderByDescending(x=>x.CreationTimeUtc))
    {
        <li>@Html.ActionLink(file.Name, "BackupDownload", new { file=file.Name }), @file.CreationTimeUtc @Math.Round(file.Length/1024.0/1024,2)MB</li>
    }
</ul>
