﻿@model chleby.Web.Mantis.IssueData

<a onclick="$('#inner_@Model.id').toggle(); return false;" href="#">show/hide</a>
<div id="inner_@Model.id">
    <pre>@Model.description</pre>
    <pre>@Model.additional_information</pre>
    <ul>
        @if (Model.notes != null)
        {
            foreach (var note in Model.notes)
            {
                <li><div onclick="$('#note_@(Model.id)_@note.id').toggle(); return false;" class="bugnote-header">
                        @note.date_submitted (@note.reporter.name)
                    </div>
                    <div id="note_@(Model.id)_@note.id" style="display: none">@note.text</div>
                </li>
            }
        }
    </ul>
</div>