﻿@model chleby.Web.Mantis.Helper

<h2>Bugs for @ViewBag.app</h2>

@foreach (var issue in Model.GetIssueHeaders())
{
    <div class="bug-@issue.status">
        <p><b>@issue.summary (@@ @(issue.handler == null ? "nobody" : Model.Users.First(x => x.id == issue.handler).name))</b></p>
        <p>@Model.Statuses.First(x => x.id == issue.status).name
            [@issue.category]
            @Model.Priorities.First(x => x.id == issue.priority).name
            @Model.Severities.First(x => x.id == issue.severity).name
        </p>
        @if (issue.status == Model.Statuses.First(x => x.name == "resolved").id)
        {
            <p>@Ajax.ActionLink("close bug", "BugClose", new { issue.id, ViewBag.app },
            new AjaxOptions { LoadingElementId = "spinner_" + issue.id, Confirm = "are you sure?", OnComplete= "ajax_complete(true, xhr.responseText, $('#closeinfo_" + issue.id + "'))", OnFailure = "ajax_complete(false, xhr.responseText, $('#closeinfo_" + issue.id + "'))"})
                <div id="closeinfo_@issue.id"></div>
            </p>
        }
        <div id="spinner_@issue.id" style="display:none">(loading)</div>
        <div id="details_@issue.id">
            @Ajax.ActionLink("[show details]", "BugDetails", new { issue.id, ViewBag.app }, new AjaxOptions { UpdateTargetId = "details_" + issue.id, LoadingElementId = "spinner_" + issue.id })
        </div>
    </div>
}