﻿@model chleby.Web.Areas.AppAdmin.Models.AppInfo

@{
    ViewBag.Title = "CreateApp";
}

<h2>CreateApp</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AppInfo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ConnStr)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConnStr)
            @Html.ValidationMessageFor(model => model.ConnStr)
            Server=.;Database=db;User ID=sa;Password=sa
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdminUser)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdminUser)
            @Html.ValidationMessageFor(model => model.AdminUser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdminPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdminPassword)
            @Html.ValidationMessageFor(model => model.AdminPassword)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.DefaultPT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DefaultPT)
            @Html.ValidationMessageFor(model => model.DefaultPT)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.DefaultTT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DefaultTT)
            @Html.ValidationMessageFor(model => model.DefaultTT)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.DeliveryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeliveryName)
            @Html.ValidationMessageFor(model => model.DeliveryName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
