﻿@model IEnumerable<AppRegister>

@{
    ViewBag.Title = "MASTER CHLEBOWNIA ADMIN PANEL";

}

<h2>PANEL! <span style="color: red">(LOCAL ONLY)</span></h2>

<ul>
    @foreach (var app in Model)
    {
        <li>@app.Name
            @Html.ActionLink("[Bugs]", "BugList", new { app = app.Name })
            @Html.ActionLink("[Backup user data]", "BackupUserData", new { id = app.Id })
            @Ajax.ActionLink("[Backup app data]", "BackupAppData", new { id = app.Id },
                             new AjaxOptions { LoadingElementId = "spinner_" + app.Id, OnComplete= "ajax_complete(true, xhr.responseText, $('#result_" + app.Id + "'))", OnFailure = "ajax_complete(false, xhr.responseText, $('#result_" + app.Id + "'))"})
            @* TODO: poprawic pobieranie nazwy db *@
            <span id="spinner_@app.Id" style="display:none">(...)</span>
            <span id="result_@app.Id"></span>
        </li>
    }
</ul>
@Ajax.ActionLink("refresh backup list","BackupList",new AjaxOptions {UpdateTargetId = "backuplist"})
<div id="backuplist"></div>

@Html.ActionLink("New app", "CreateApp")<br/>
@Html.ActionLink("Statistics", "Stats")