﻿@model AdminLoginModel

@{
    ViewBag.Title = "Log in";
}

<h2>ADMIN!</h2>
@ViewBag.error
    <div class="row">
        <div class="span6 offset3">

                @using (Html.BeginForm("Login", "Main", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                                <div class="content-block">
                    <fieldset>
                        <legend><span class="name">Please log in</span></legend>
                        <div class="control-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.UserName)
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            <div class="controls">
                                @Html.PasswordFor(m => m.Password)
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                                </label>
                            </div>
                        </div>
                            <div class="control-group">
                        <input type="submit" class="btn btn-primary btn-block" value="Log in" />
                                <p>
                    </p>
                                </div>
                    </fieldset>
                    
                                            </div>
                }
        
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/jqueryval")
}
