﻿@using chleby.Web.Resources
@model IEnumerable<AppStats>

@{
    ViewBag.Title = "App stats";
}

<h1>statistics</h1>

<table class="table table-condensed">
    <tr>
        <th>App</th>
        <th>Invoices sum</th>
        <th>Customers</th>
        <th>Handwalk</th>
        <th colspan="2">Last login</th>
    </tr>
    @foreach (var stat in Model)
    {
        var newestLogin = stat.LogEvents.FirstOrDefault(x => x.Action == "login");
        <tr>
            <td>@stat.Name</td>
            <td>@stat.SumInvoices @stat.Currency</td>
            <td>@stat.SumTraders</td>
            <td>@(stat.HandwalkStep == 0 ? "done" : Strings.ResourceManager.GetString("Handwalk_Step" + stat.HandwalkStep))</td>
            @if (newestLogin != null)
            {
                <td>@newestLogin.User</td>
                <td>@newestLogin.Date</td>
            }
            else
            {
                <td>-</td>
                <td>-</td>
            }
        </tr>
    }
</table>
