﻿@{
    ViewBag.Title = "_Footer";
}

<div class="l-footer">
	<div class="protector" style="max-width: 1200px; margin: auto">
	   	<div class="col-100">
			<ul>
				<li><a subpath="index.asp">Home</a></li>
			</ul>
			<ul>
				<li>Stremline Tour</li>
				<!-- <li><a subpath="bakery-software/customer-relationship-crm.asp">Help</a></li> -->
				<li><a subpath="bakery-software/customer-relationship-crm.asp">Customer Relationship Management</a></li>
				<li><a subpath="bakery-software/standing-order.asp">Online Ordering</a></li>
				<li><a subpath="bakery-software/production-planning.asp">Production</a></li>
				<li><a subpath="bakery-software/delivery-planning.asp">Distribution</a></li>
		      	<li><a subpath="bakery-software/online-invoicing.asp">Invoicing</a></li>
		      	<li><a subpath="bakery-software/standard-operations.asp">Standard Operations Manual</a></li>
		      	
		      	<!-- <li><a href="#" style="color: #fff;">Export data to accounts</a></li> 
		      		 <li><a href="#" style="color: #fff;">Online Catalogue</a></li> 
		      		<li>Tips & Tricks</li>
		      		<li>Video</li> -->
		      		
		    </ul>
		    <ul>
		      	<!-- <li>Management Consulting</li>
		      	
		      	<li>Log in</li>
		      	<li>Blog</li>
		      	<li>Customers</li> -->
		      	<li>Pricing</li>
		      	<li><a subpath="wholesale-bakery-software/setup&migration.asp">Setting up & Migrating</a></li>
		       	<li><a subpath="wholesale-bakery-software/bakery-plans.asp">Bakery Plans</a></li>
		       	<br />
		      	
		      	<!-- <li>Jobs/Developers</li> 
		      	<li>Migrating</li> -->
		    </ul>
		    <ul>
		    	<li>Other</li>
		    	<li><a subpath="contact-us/Call-0044-20-3514-4724.asp">Contact Us</a></li>
		      	<li><a subpath="bakery-software/terms-and-conditions.asp">Terms and Conditions</a></li>
		      	<li><a subpath="bakery-software/privacy-policy.asp">Privacy Policy</a></li>
		      	<li><a subpath="bakery-software/disclaimer.asp">Disclaimer</a></li>
		    </ul>
		    
		    <!-- <ul>
		      	<li>Quick Tags</li>
		      	<li>Online Ordering</li>
		      	<li>Online Invoicing</li>
		      	<li>Export data to accounts</li>
		      	<li>Production Scheduling</li>
		      	<li>Distribution Module</li>
		      	<li>Online Catalogue</li>
		      	<li>SOP</li> 
		      	
		      	<li>Help</li>
		      	<li>Tips & Tricks</li>
		      	<li>Video</li>
		    </ul> -->
		    
		    <br style="clear:both;">
		</div>
	   <div class="bottom-nav">
	      	<div class="social-icons">
	      		<a href="https://twitter.com/MountainStream_" target="_blank"><img subpath="img/icon/social/twitter.png" /></a>
	      		<!-- <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.mountainstream.ms/test/&p[images][0]=&p[title]=Mountain%20Stream%20Bakery%20Software&p[summary]=A%20software%20that%20saves%20time%20and%20money%20of%20a%20delivery-based,%20small%20business%20owner.%20Not%20for%20bakeries%20only,%20everything%20explained%20inside."><img subpath="img/icon/social/facebook.png" /></a> -->
	      		<a href ="http://www.youtube.com/watch?v=feK4kC3fadg"><img subpath="img/icon/social/youtube.png" /></a>
	      		<a href="https://plus.google.com/103379150954143284188/about" target="_blank"><img subpath="img/icon/social/google-plus.png" alt="Share on Google+" title="Valuable advice for delivery-based business owner. Save money and a lot of time" style="border:0;"></a>
	      		<!-- <a href="http://hrefshare.com/060e"><img subpath="img/icon/social/linked-in.png" /></a> -->
	      	</div>
	      	<br style="clear: both;" />
	   </div>
	</div>
</div>
		<script type='text/javascript'>
			// EDIT HERE WHEN CHANGING SITE FOLDERS
			var sitePath = 'http://mountainstream.ms/'; 
			function addPath(domElement, attribute) {
					var subpath = domElement.attr('subpath');
					domElement.attr(attribute, sitePath + subpath);
			};
			function convertUrls() {
				$('link[subpath], a[subpath]').each(function() {
					var el = $(this);
					addPath(el, 'href');
				});
				$('script[subpath], img[subpath]').each(function() {
					var el = $(this);
					addPath(el, 'src');
				});
			}
			
			$(document).ready(function() {
				convertUrls();
			});
		</script>
@Html.Partial("_GoogleAnalytics")
