﻿<div class="l-nav-belt">
	<div class="protector" style="max-width: 1200px; position: relative; margin: auto">
	   	<a subpath="index.asp"><div class="logo" style="left: 0"></div></a>
	   	<div class="nav-belt-options">
		 		<!-- <a href="http://mountainstream.ms/user-registration/new-user.asp"><div class="btn nav-belt-btn">Create Account</div></a>
		      	<ul class="nav-belt-account-menu"> -->
		      		
		       	</ul>
		       	<ul class="nav-belt-menu left">
		       		<li class="dropdown">
		      			<a data-toggle="dropdown" href="#">How it Works</a>
		       			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		       				<li><a subpath="bakery-software/customer-relationship-crm.asp">Customer Relationship Management</a></li>
							<li><a subpath="bakery-software/standing-order.asp">Online Ordering</a></li>
		       				<li><a subpath="bakery-software/production-planning.asp">Production</a></li>
		       				<li><a subpath="bakery-software/delivery-planning.asp">Distribution</a></li>
							<li><a subpath="bakery-software/online-invoicing.asp">Invoicing</a></li>
							<li><a subpath="bakery-software/standard-operations.asp">Standard Operations Manual</a></li>
	  					</ul>
		       		</li>
		      		<li class="dropdown">
		       			<a data-toggle="dropdown" href="#">Pricing</a>
		       			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		       				<li><a subpath="wholesale-bakery-software/setup&migration.asp">Setting up & Migrating</a></li>
		       				<li><a subpath="wholesale-bakery-software/bakery-plans.asp">Bakery Plans</a></li>
	  					</ul>
		       		</li>
		       		<li>
		       			<a subpath="wholesale-bakery-software/savings-calculator.asp"><b>Savings Calculator</b></a>
		       		</li>
		       			
		       		<li class="dropdown">
		       			<a data-toggle="dropdown" href="#">More</a>
		       			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		       				<!-- <li><a subpath="#">Help Library</a></li>
		       				<li><a subpath="#">Tips & Tricks</a></li> -->
		       				<li><a subpath="contact-us/Call-0044-20-3514-4724.asp">Contact Us</a></li>
		       				<li><a subpath="bakery-software/terms-and-conditions.asp">Terms & Conditions</a></li>
							<li><a subpath="bakery-software/privacy-policy.asp">Privacy Policy</a></li>
							<li><a subpath="bakery-software/disclaimer.asp">Disclaimer</a></li>
							<!-- <li><a subpath="#">Sitemap</a></li> -->
	  					</ul>
		       		</li>
		       		<li><b></b></li> <!-- login -->
		       	</ul>
		    </div>
	    </div>
	</div>
</div>