﻿@using System.Globalization
@{System.Web.Optimization.BundleTable.EnableOptimizations = false;}
@{
    var time = Context.Items["rendertime"];
    var ms = (DateTime.Now - (DateTime)time).TotalMilliseconds;
    var lang = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;

    Business business = ViewBag.Business;
    string businessDateFormat = "dd/mm/yy";
    if(business != null)
    {
        businessDateFormat = business.DateFormatJs;
    }
}
<!DOCTYPE html>
<!--PAGE RENDERTIME @ms ms-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="~/favicon.ico" />
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
    @Styles.Render("~/css")

    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/jqueryui")
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap")
    @Scripts.Render("~/Scripts/globalize.js")
    @Scripts.Render("~/Scripts/cultures/globalize.culture." + lang + ".js") 
    <script type="text/javascript">
        Globalize.culture('@lang');

        var businessDateFormat = '@businessDateFormat';
    </script>

    @RenderSection("Styles", required: false)
    <style type="text/css">
        td.currency:before,th.currency:before{content:"@Html.Raw(@ViewBag.CurrencySymbol)";}
        body {
            padding:0;
        }
        @if (ViewBag.HandwalkStep != 0)
        {
            //@:body{padding-top:115px}
            //@:.navbar-secondary{margin-top:75px !important;}
        } 
    </style>

    @{
        string navbarClass = "";
        bool isadmin = false;
    }

    @if (ViewBag.AdminModule != null)
    {
        isadmin = ViewBag.AdminModule;
    }

    @if ((this.IsSuperAdmin() || this.IsEmployee()) && isadmin)
    {
        navbarClass = "navbar-inverse";
    }

    <script>
        //DATEPICKER
        $("body").on("click", "input.datepicker", function () {
            $(this).datepicker({
                dateFormat: 'dd/mm/yy',
                altField: ".datepicker-autopopulate",
                firstDay: 1,
                monthNames: Globalize.culture().calendar.months.names,
                monthNamesShort: Globalize.culture().calendar.months.namesAbbr,
                dayNames: Globalize.culture().calendar.days.names,
                dayNamesShort: Globalize.culture().calendar.days.namesAbbr,
                dayNamesMin: Globalize.culture().calendar.days.namesShort,
            }).datepicker('show');
        });
    </script>

</head>
<body>
    <!-- <div class="page-container"> -->
        @{   
            var HandwalkStep = (int)ViewBag.HandwalkStep;
        }

        @if (HandwalkStep != 0)
        { 
            // REMOVING the header from Handwalk
            /* <div class="navbar navbar-fixed-top">
                <div class="navbar-inner hovermenu">
                    <div class="container">
                        <div class="row">
                            @switch (HandwalkStep)
                            {
                                default:
                                @Html.Partial("Handwalk/GenericStep")
                                    break;
                            }
                        </div>
                    </div>
                </div>
            </div> */
        }
        else
        {
            /*<h1 class="printonly">@ViewBag.Title</h1>
            <div class="navbar navbar-fixed-top navbar-menu @navbarClass">
                <div class="navbar-inner hovermenu">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                @Html.Partial("HorizontalMenu", ViewData)
                            </div>
                        </div>
                    </div>
                </div>
            </div> */
        }
        <!-- <div class="navbar navbar-fixed-top navbar-secondary">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="nav-secondary span12">
                            <span class="pull-right">
                                @if (ViewBag.HandwalkFinish)
                                {
                                    <a href="@Url.Action("Index", "Home")" class="btn btn-success btn-handwalk btn-icon">Start using Streamline&nbsp;<i class="icon-angle-right"></i></a>
                                }
                                @if (ViewBag.HandwalkStep == -1)
                                {
                                    <a href="@Url.Action("HandwalkMove", "Internal", new { id = 1 })" class="btn btn-success btn-handwalk btn-icon"><i class="icon-angle-right"></i></a>
                                }
                                @if (ViewBag.HandwalkStep > 0 && !ViewBag.HandwalkFinish)
                                {
                                    <div class="btn-group pull-left handwalk-actions">
                                        <a href="@Url.Action("HandwalkPrev", "Internal")" class="btn btn-success btn-handwalk btn-icon handwalk-save-prev"><i class="icon-angle-left"></i></a>
                                        <a href="#" class="btn btn-handwalk btn-success btn-icon handwalk-save">@Strings.Global_Save</a>
                                        <a href="@Url.Action("HandwalkNext", "Internal")" class="btn btn-success btn-handwalk btn-icon" id="handwalk-leechproxy"><i class="icon-angle-right"></i></a>
                                    </div>
                                }

                                @{
                                    if (ViewBag.ContrName != "HelpBuble" && ViewBag.HandwalkStep == 0)
                                    {

                                        string helpbubble = ViewBag.HelperLine;
                                        if (!string.IsNullOrEmpty(helpbubble))
                                        {
                                            helpbubble += "<br />";
                                        }
                                        if (CanWrite(typeof(chleby.Web.Controllers.HelpBubleController)))
                                        {
                                            @: <a class="btn-subtle btn-manual has-popover has-popover-manual" style="margin-left: 10px" title='@helpbubble <a target="_blank" href="@Url.Action("Edit", "HelpBuble", routeValues: new { hbname = ViewBag.ContrName + "." + ViewBag.ActionName })" class="btn btn-small btn-primary pull-right"><i class="icon-pencil"></i>&nbsp; @Strings.Global_Edit</a>'><i class="icon-book"></i></a>                                                   
                                        }
                                        
                                    }
                                    if (ViewBag.SystemHelp != null)
                                    {
                                        <a class="btn-subtle btn-manual has-popover has-popover-manual" title='@ViewBag.SystemHelp<a href="@Url.Action("HelpAndFeedback", "Home")" class="btn btn-small btn-primary pull-right systemhelp-contact mail-hb"><i class="icon-envelope"></i>&nbsp;@Strings.SystemHelp_ContactBtnText</a>'><i class="icon-question-sign"></i></a>
                                    }
                                }
                                @*<a @Helpers.HelpPopoverContent(Strings.Help_Bubble_Subtitle, Strings.Help_Bubble_Title ,"bottom") class="btn-subtle btn-manual toggle-help-popovers"><i class="icon-info-sign"></i></a>*@


                            </span>
                            @RenderSection("SecondaryActions", required: false)
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="header container">
            @Html.Partial("_UIAlerts")
            @RenderSection("Header", required: false)
        </div> 
        <div class="body container"> -->
            @RenderBody()
        <!-- </div> -->

        <!-- <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <ul class="nav">
                                <li><a>@Strings.Layout_PatentsPending &copy; 2012 - 2014</a></li>
                                <li><a href='@Url.Action("Terms", "Start")'>@Strings.layout_terms_condition_button</a></li>
                                @*{                                  
                                    string url = null;

                                    string tooltip = "PAGE RENDERTIME "+ms+" ms";
                                    url = ViewBag.SHLink;
                                    tooltip += "<ul>";
                                    foreach (var key in ViewData)
                                    {
                                        var v = key.Value != null ? key.Value.ToString() : "(null)";
                                        if (v.Length > 100)
                                        {
                                            v = v.Substring(0, 100) + "(...)"; 
                                        }
                                        tooltip += "<li>"+key.Key+": "+ v +"</li>";
                                    }
                                    tooltip += "</ul><ul>";
                                    foreach (var kvp in this.Context.Request.RequestContext.RouteData.Values)
                                    {
                                        tooltip += "<li>"+kvp.Key+": "+ kvp.Value +"</li>";
                                    }
                                    tooltip += "<li>lang="+CultureInfo.CurrentCulture.TwoLetterISOLanguageName+"</li></ul>";                                    
                                }
                                if (url != null /*&& Request.IsLocal*/)
                                {
                                    tooltip += "";
                                    <li><a><span class="has-popover" title="@tooltip">debug</span></a></li>
                                }*@                                    
                                @*<li><a class='pull-right' href='@ViewBag.SHLink'><i class='icon-question-sign'></i>&nbsp;Edit system help</a></li>*@
                                <li><a href="@Url.Action("Lang", new {lang="en"})"><img src="@Url.Content("~/Images/us.png")" title="EN"/></a></li>                              
                                <li><a href="@Url.Action("Lang", new {lang="pl"})"><img src="@Url.Content("~/Images/pl.png")" title="PL"/></a></li>
                                <li><a href="@Url.Action("Lang", new {lang="es"})"><img src="@Url.Content("~/Images/es.png")" title="ES"/></a></li>
                                @*<li><a class="pull-right" href="@Url.Action("LogOff", "Account")"><i class="icon-power-off"></i>&nbsp;@Strings.layout_logout_button</a></li>*@
                                <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=2tNvqj9lNPStCOdHxGe3yM2NXuVrndnqmP9uqFRCheUnLWiH8tvY"></script></span>
                            </ul>
                            <div class="pull-right">@Strings.Global_SessionEndIn <span id="countmsg"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Le javascript
            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
        var msg = "@Strings.Global_DefaultDelMsg";
        var CurrencySymbol = "@ViewBag.CurrencySymbol";   
        @if (Request.QueryString["modal"] != null)
        {
                <text>$('#@Request.QueryString["modal"]').modal('show');   </text>           
        }
    </script>
    @Scripts.Render("~/js/modernizr")
    @Scripts.Render("~/js/datatables")
    @Scripts.Render("~/js/uihelpers")
    @Scripts.Render("~/js/bootstrap/formhelpers")
    @Scripts.Render("~/js/chleby")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $.validator.methods.number = function (value, element) {
            return this.optional(element) ||
                !isNaN(Globalize.parseFloat(value));
        };

        jQuery.extend(jQuery.validator.methods, {
            range: function (value, element, param) {
                //Use the Globalization plugin to parse the value        
                var val = $.global.parseFloat(value);
                return this.optional(element) || (
                    val >= param[0] && val <= param[1]);
            }
        });
    </script>
    <!-- <script type="text/javascript">
        $(document).ready(function () {
            var delay = 3600; //600sek = 10 minut do auto logoutu
            var url = "@Url.Action("LogOff", "Account")";
            function countdown() {
                setTimeout(countdown, 1000);

                var minutes = Math.floor(delay / 60);
                var seconds = delay % 60;

                if (minutes > 0) {
                    $('#countmsg').html(minutes + " min");
                }
                else {
                    $('#countmsg').html(seconds + " s");
                }

                delay--;
                if (delay < 0) {
                    //window.location = url;
                    delay = 0;
                }
            }
            countdown();
        });
    </script> -->
</body>
</html>
