﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/css")
    @Styles.Render("~/js/jquery")
    @RenderSection("Styles", required: false)

</head>
<body>
    <div class="container" style="text-align: center; padding: 10px;">
        @{
            var path = "~/img/" + Context.Cache[ViewBag.AppName + "__Business"].Logo;
        }
        @if (path != null && File.Exists(Server.MapPath(path)))
        {
            <img src="@Url.Action("Logo","Business")" />    
        }
    </div>
    <div class="header container">
        @Html.Partial("_UIAlerts")
    </div>
    <div id="body" class="container">
        @RenderBody()
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @RenderSection("scripts", required: false)

</body>
</html>
