﻿@using System.Globalization
@{System.Web.Optimization.BundleTable.EnableOptimizations = false;}
@{
    var time = Context.Items["rendertime"];
    var ms = (DateTime.Now - (DateTime)time).TotalMilliseconds;
    var action = ViewContext.RequestContext.RouteData.Values["action"].ToString().ToLower();
    var lang = CultureInfo.CurrentUICulture.IetfLanguageTag;
    var langtag = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
}
<!DOCTYPE html>
<!--PAGE RENDERTIME @ms ms lang=@lang tag=@langtag -->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/css")

    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/jqueryui")
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap")
    @Scripts.Render("~/Scripts/globalize.js")
    @Scripts.Render("~/Scripts/cultures/globalize.culture." + lang + ".js")
    <script type="text/javascript">
        Globalize.culture('@langtag');
    </script>

    @RenderSection("Styles", required: false)

    <style type="text/css">
        td.currency:before, th.currency:before {
            content: "$";
        }

        body {
            padding: 0px;
            margin: 0px;
            background-color: #6f6f6f;
        }

        div.cookiewarn {
            display: none;
            position: fixed;
            width: 100%;
            border-top: 1px solid;
            background-color: #ffe4c4;
            font-size: 8pt;
            left: 0;
            bottom: 0;
            text-align: center;
            padding-top: 4px;
            line-height: normal;
        }

        .cookiewarn-button {
            line-height: 14px;
        }

        .divider:hover {
            border-bottom: 3px solid #d9d9d9 !important;
        }

        .ovr-btn:hover {
            text-decoration: none !important;
            color: #fff !important;
        }
    </style>
</head>
<body>
    <div class="front-body-wrapper">
        <div class="page-container container front-container">
            <div class="row front-header">
                <div class="pull-right">
                    <a href="@Url.Action("TryStreamline", "Start")" class="btn btn-success ">@Strings.Global_Try<b>@Strings.Global_Streamline</b> @Strings.layout_front_for_free</a>
                    <select style="margin-left: 10px;" class="select-redirect">
                        @foreach (var c in MvcApplication.ExistingCultureList)
                        {
                            <option value="@Url.Action(null, null, new { lang=c.IetfLanguageTag })" selected="@(langtag == c.TwoLetterISOLanguageName)">@c.TwoLetterISOLanguageName - @c.NativeName</option>
                        }
                    </select>
                </div>
                <div class="span4 front-logo">
                    <a href="@Url.Action("Index", "Start")">
                        <img src="~/Images/frontpage/mountainstream_logo_gray.png" /></a>
                </div>
                <div class="span8 clearfix">
                    <ul class="front-menu pull-right">
                        <li class="@(action == "index" ? "active" : "")"><a href="@Url.Action("Index", "Start")">@Strings.Front_Menu_Home</a></li>
                        <li class="divider"></li>
                        <li class="@(action == "features" ? "active" : "")"><a href="@Url.Action("Features", "Start")">@Strings.Front_Menu_InAction</a></li>
                        <li class="divider"></li>
                        <li class="@(action == "pricing" ? "active" : "")"><a href="@Url.Action("Pricing", "Start")">@Strings.Front_Menu_Pricing</a></li>
                        <li class="divider"></li>
                        <li class="@(action == "contact" ? "active" : "")"><a href="@Url.Action("Contact", "Start")">@Strings.Front_Menu_Contact</a></li>
                        <!--  <li class="divider"></li>
                            <li><a href="#">@Strings.Front_Menu_Playground</a></li>-->
                    </ul>

                </div>

            </div>

            <div class="body container">
                <hr class="" />
                @RenderBody()
            </div>


        </div>
    </div>
    <div class="front-footer-wrapper">
        <div class="container front-container front-footer">

            @if (action != "trystreamline")
            {

                <div class="row front-footer-section front-footer-section-first">
                    <div class="span12 front-calltoaction">
                        <a href="@Url.Action("TryStreamline", "Start")" class="btn btn-success btn-large ovr-btn">@Strings.Global_Try<b>@Strings.Global_Streamline</b> @Strings.layout_front_for_free</a>
                    </div>
                </div>
           
                <hr />
            }
            else
            {
                <div class="row front-footer-section front-footer-section-first"></div>
            }
            <div class="row front-footer-section">
                <div class="span12" style="text-align:center">
                    <ul class="front-footer-menu">
                        <li><a href="@Url.Action("Index", "Start")">@Strings.Front_Menu_Home</a></li>
                        <li><a href="@Url.Action("Features", "Start")">@Strings.Front_Menu_InAction</a></li>
                        <li><a href="@Url.Action("Pricing", "Start")">@Strings.Front_Menu_Pricing</a></li>
                        <li><a href="@Url.Action("Contact", "Start")">@Strings.Front_Menu_Contact</a></li>

                    </ul>
                </div>
            </div>
            <hr />
            <div class="row front-footer-section-horizontal" style="text-align:center">
                <div class="span12">
                    @*<ul class="pull-left front-footer-menu">
                        <li><a href="#"><i class="icon-facebook"></i>&nbsp;@Strings.Front_Footer_Facebook</a></li>
                        <li><a href="#"><i class="icon-twitter"></i>&nbsp;@Strings.Front_Footer_Twitter</a></li>
                        <li><a href="#"><i class="icon-google-plus"></i>&nbsp;@Strings.Front_Footer_Googleplus</a></li>
                        <li><a href="#"><i class="icon-linkedin"></i>&nbsp;@Strings.Front_Footer_Linkedin</a></li>
                    </ul>*@

                    <ul class="front-footer-menu">
                        <li><a>&copy; Mountain Stream 2012 - 2013</a></li>
                        <li><a href="@Url.Action("Terms", "Start")">@Strings.Start_Therms_Of_Us</a></li>
                        <li><a href="@Url.Action("Privacy", "Start")">@Strings.Start_PrivacyPolicy</a></li>
                        <li><a href="@Url.Action("Disclaimer", "Start")">@Strings._Layout_frontpage_Disclaimer</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="cookiewarn">
        <a class="btn btn-success cookiewarn-button">@Strings.Layout_CookieWarn_Accept</a>
        <div>@Html.Raw(Strings.Layout_CookieWarn.Replace("\n","<br/>"))</div>
    </div>
    <!-- Le javascript
            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/js/modernizr")
    @Scripts.Render("~/js/uihelpers")
    @Scripts.Render("~/js/datatables")
    @Scripts.Render("~/js/bootstrap/formhelpers")
    @Scripts.Render("~/js/chleby")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="@Url.Content("~/Scripts/cookiewarn.js")"></script>
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute('charset', 'utf-8');
            $.src = '//v2.zopim.com/?1OM3bDbTnBWyqZB7OXejaeEJROhk9sLY'; z.t = +new Date; $.
            type = 'text/javascript'; e.parentNode.insertBefore($, e)
        })(document, 'script');
    </script>
    <!--End of Zopim Live Chat Script-->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-43962971-1', 'mountainstream.ms');
        ga('send', 'pageview');

    </script>
</body>
</html>
