﻿@{System.Web.Optimization.BundleTable.EnableOptimizations = false;}
@{
    var time = Context.Items["rendertime"];
    var ms = (DateTime.Now - (DateTime)time).TotalMilliseconds;
}
<!DOCTYPE html>
<!--PAGE RENDERTIME @ms ms-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/css")

    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/jqueryui")
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap")

    @RenderSection("Styles", required: false)

    <style type="text/css">
        td.currency:before,th.currency:before{content:"@ViewBag.CurrencySymbol";}
    </style>
</head>
<body>
  
            @RenderBody()
    
    <!-- Le javascript
            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
        var CurrencySymbol = "@ViewBag.CurrencySymbol";   
            @if (Request.QueryString["modal"] != null)
            {
                <text>$('#@Request.QueryString["modal"]').modal('show');   </text>           
            }  
    </script>
    @Scripts.Render("~/js/modernizr")
    @Scripts.Render("~/js/uihelpers")
    @Scripts.Render("~/js/datatables")
    @Scripts.Render("~/js/bootstrap/formhelpers")
    @Scripts.Render("~/js/chleby")
    @RenderSection("scripts", required: false)

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-42268293-1', 'mountainstream.ms');
        ga('send', 'pageview');

    </script>
</body>
</html>
