﻿	<link href='http://mountainstream.ms/style/bootstrap-snips.css' rel='stylesheet' type='text/css'>
    <link href='http://mountainstream.ms/style/normalize.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway|Oxygen:400,700' rel='stylesheet' type='text/css'>
    <!-- <script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
    <script src='http://mountainstream.ms/js/bootstrap.min.js'></script> -->
    <link href='http://mountainstream.ms/style/global.css' rel='stylesheet' type='text/css'>
    <link href='http://mountainstream.ms/style/page-one.css' rel='stylesheet' type='text/css'>
    <link href='http://mountainstream.ms/style/media-queries.css' rel='stylesheet' type='text/css'>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="distribution" content="global" />
	<meta name="classification" content="Leading provider of sales and production management software for wholesalers: Wholesale bakery, sandwiches, butchers, fishmongers and all suppliers to the catering trade." />
	<meta name="author" content="Mountain Stream Cloud Software Limited" />
	<meta http-equiv="expires" content="never" />
	<meta name="publisher" content="Mountain Stream Cloud Software Limited" />
	<meta name="copyright" content="&copy; Mountain Stream Cloud Software Limited 2013" />
	<meta name="page-topic" content="Computer/Software/Business" />
	<meta name="page-type" content="Commercial" />
	<meta name="audience" content="All" />
	<meta name="robots" content="INDEX,FOLLOW" />
	<meta http-equiv="content-language" content="EN" />
    <style>
        	html, body {
                padding: 0 !important;
                height: 970px;
            }
            .control-label {
                    text-align: left;
                    padding: 0;
            }
            h2 {
                width: 100%;
                text-align: center;
                margin-top: 50px;
                color: #4aa4e0;
            }
            legend {
                width: 437px;
                display: block;
                margin-left: -10px;
                margin-bottom: 10px !important;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
            .controls > input:last-child {
                margin-bottom: 25px;
            }
            input[type='radio'] {
                width: 14px;
            }
            .radio {
                display: block;
                padding-left: 25px;
                margin: 0;
            }
            input[type='text'] {
                width: 230px;
                padding-left: 5px;
                padding-right: 5px;
            }
            select, input[type='file'] {
                width: 242px;
                border: none;
            }
            .checkbox {
                display: block;
                margin-top: -10px !important;
            }
            textarea {
                resize: none;
                padding: 5px;
                width: 230px;
                height: 60px;
                border: 1px solid #ccc;
                margin-bottom: 26px;
            }
            .btn-green {
                float: right !important;
            }
            button.btn {
                height: 42px !important;
            }
            a.btn {
                height: 28px !important;
                line-height: 28px !important;
            }
            input.btn {
                height: 42px !important;
            }
            .move-down {
                margin-top: -25px !important;
            }
            .btn {
                margin-top: 35px !important;
            }
        </style>