﻿@model IEnumerable<object>

@{
    ViewBag.Title = "Edit";
}
@if (ViewBag.SLUI_NoForm == null || !ViewBag.SLUI_NoForm)
{
    using (Ajax.BeginForm((string) ViewBag.Action, (string) ViewBag.Controller, null, new AjaxOptions {HttpMethod = "POST", OnSuccess = "$('.modal').modal('hide')"}, new {@class = "form-horizontal chleby-simplelist-form", id = "chleby-edit-form"}))
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <input type="hidden" name="chleby-simplelist-new-url" value="@Url.Action("EmptyEditor", "Internal", new {typename = Model.GetType().GetGenericArguments()[0].Name, fieldName = (string) ViewBag.SLUI_FieldName ?? "List" })"/>
            <small style="line-height: 25px">@(Html.Raw(((string)ViewBag.SLUI_Info ?? Strings.simpleListUI_instructions).Replace("\n","<br/>")))</small>
            <ol class="sortable chleby-simplelist">

                @foreach (var item in Model)
                {
                    @Html.Partial("Editors/ItemWrapper", item, ViewData)
                }

            </ol>

            <a href="#" class="chleby-simplelist-add">@Strings.simpleUI_add</a>

            @Helpers.ModalFormButtons(ViewBag.SLUI_NoCancel == null || (bool) ViewBag.SLUI_NoCancel)
        </fieldset>
    }
}
else
{
    <fieldset>
        <input type="hidden" name="chleby-simplelist-new-url" value="@Url.Action("EmptyEditor", "Internal", new { typename = Model.GetType().GetGenericArguments()[0].Name, fieldName = (string)ViewBag.SLUI_FieldName ?? "List" })"/>
        <small style="line-height: 25px">@(Html.Raw(((string)ViewBag.SLUI_Info ?? Strings.simpleListUI_instructions).Replace("\n","<br/>")))</small>
        <ol class="sortable chleby-simplelist">
            @foreach (var item in Model)
            {
                @Html.Partial("Editors/ItemWrapper", item, ViewData)
            }
        </ol>

        <a href="#" class="chleby-simplelist-add">@Strings.simpleUI_add</a>
    </fieldset>
}
@Scripts.Render("~/js/jqueryval")
