﻿@if (Session["alerts"] != null)
{
    foreach (var item in (List<chleby.Web.UIAlert>)Session["alerts"])
    {
    <div class="alert alert-@item.Status">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @Html.Raw(item.Msg)
    </div>
    }
    Session["alerts"] = null;
}
@if (Session["__FILTERERROR"] != null)
{
    var type = "error";
    if (Session["__FILTERERROR_LOGIN"] != null)
    {
        Session["__FILTERERROR"] = Strings.UIAlerts_too_long_w8ing;
        type = "warning";
    }
    <div class="alert alert-@type">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @Session["__FILTERERROR"]
    </div>
}
@{
    Session["__FILTERERROR"] = null;
    Session["__FILTERERROR_LOGIN"] = null;
}