﻿@using chleby.Web.Mantis
@model dynamic

@{
    ViewBag.Title = Strings.BUGRAPORT;
    // var sevs = (ObjectRef[])ViewBag.sevs;
    var sevs = ViewBag.sevs as string[];
}

@section SecondaryActions
{
    <span class="header">@Strings.bug_raport_title</span>
}

@section Header{
    
  
    <h3>@Strings.bug_raport_subtitle</h3>

}

@using (Html.BeginForm())
    {
        <div class="form-horizontal">
            
            <div class="control-group">
                <label class="control-label">Submitted by:</label>
                <div class="controls"><span class="uneditable-input">@ViewBag.email</span></div>
            </div>
            <div class="control-group">
                <label class="control-label">@Strings.bug_raport_prio_title</label>

                <div class="controls">
                    @*@Html.DropDownList("prio", prios.Select(x => new SelectListItem
                                                                 {
                                                                     Text = x.name,
                                                                     Value = x.id
                                                                 }))*@
                    <select id="prio" name="prio">
                        <option value="20">@Strings.Global_low</option>
                        <option value="30">@Strings.Global_normal</option>
                        <option value="40">@Strings.Global_high</option>
                    </select>
                </div>
            </div>
            <div class="control-group hide">
                <label class="control-label">@Strings.Global_Severity</label>
                <div class="controls">

                    @Html.DropDownList("sev", sevs.Select(x => new SelectListItem
                                                                   {
                                                                       Text = x,
                                                                       Value = x
                                                                   }))
                </div>
            </div>
            <div class="control-group hide">
                <label class="control-label">Guessed info:</label>
                <div class="controls">
                    <textarea name="geninfo" style="width: 500px; height: 200px">@ViewBag.info</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Strings.Global_Description</label>
                <div class="controls">
                    <textarea name="userinfo" style="width: 500px; height: 200px"></textarea>
                </div>
            </div>
            <div class="form-actions">
            <button type="submit" class="btn btn-success"><i class="icon-envelope"></i>&nbsp;@Strings.SendBug</button>
            </div>

        </div>
    }