﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">@Strings.Error</h1>
    <h2 class="error">@Strings.ErrorOccurred</h2>
</hgroup>
