﻿@{
    //bo account nie jest chlebycontroller ;(
    string active = ViewBag.ActiveMenuId ?? "";
    bool isAdmin = ViewBag.AdminModule ?? IsSuperAdmin() || IsEmployee();
    var modName = ViewBag.ModuleName ?? "";
}

@if (this.IsSuperAdmin() || this.IsEmployee())
{
    if (!ViewBag.AdminModule)
    {
        <div class="dashboard-link btn-group" style="padding-top: 0">
            <a title="@Strings.CustomerList (@Strings.Live)" class="dropdown-toggle" data-hover="dropdown" href="@Url.Action("Index", "TurboTraders", new {live=1})"><i class="icon-cogs"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-global">
                <li><a href="@Url.Action("Index", "TurboTraders", new {tid=-1})">@Strings.CustomerList</a></li>
                @Helpers.ShowMenu("admin",
                                  @<text>@Url.Action(item.Action, item.Controller, new {tid = -1})</text>,
                                  "", true, false)
            </ul>
        </div>
        <span class="user-actor ellipsis">@ViewBag.TraderName</span>
    }
    else
    {
    <div class="dashboard-link btn-group admin" style="padding-top: 0">
        <a title="@Strings.CustomerList (@Strings.Live)" class="dropdown-toggle" data-hover="dropdown" href="@Url.Action("Index", "TurboTraders", new {live=1})"><i class="icon-cogs"></i>
            </a>
        <ul class="dropdown-menu dropdown-menu-global">
            <li><a href="@Url.Action("Index", "TurboTraders", new {live=2})">@Strings.Traders_Sales_Lead</a></li>
            <li><a href="@Url.Action("Index", "TurboTraders")">@Strings.Global_All</a></li>
            <li><a href="@Url.Action("Index", "TurboTraders", new {live=0})">@Strings.NotLive</a></li>
                
        </ul>
        </div>
    }
}
else
{
    <span class="user-actor ellipsis">@ViewBag.TraderName</span>
}

@{if ((this.IsSuperAdmin() || this.IsEmployee()) && isAdmin || modName == "Home")
  {
  
      @Helpers.ShowMenu("admin",
      @<text>@Url.Action(item.Action, item.Controller, new { tid = -1 } )</text>, active)
 
  }
  else
  {
  
     @Helpers.ShowMenu("trader",
      @<text>@Url.Action(item.Action, item.Controller)</text>, active)

  }
}
<style type="text/css">
    .ellipsis {
        max-width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
    }
</style>

<ul class="nav nav-admin pull-right">
    <li class="pull-right"><a class="has-popover" title="@Strings.Global_Acc_Settings" href="@Url.Action("Manage", "Account")"><i class="icon-cog"></i></a></li>
    <li><a class="has-popover" title="@Strings.Global_Report_A_Bug" href="@Url.Action("BugReport")"><img src="~/Images/bug-icon.png"/></a></li>
    <li><a class="has-popover" title="@Strings.LogOff"  href="@Url.Action("LogOff", "Account")"><i class="icon-off"></i></a></li>
</ul>
