﻿@using chleby.Web.Models
@model chleby.Web.Models.ComboViewModel<chleby.Web.Models.BusinessHoliday>


@section SecondaryActions{
    <a href="#createModal" data-toggle="modal" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.AddHoliday</a>
}

<div id='calendar'></div>
@Helpers.ModalValidationHelper((t, m) => Html.Partial(t, m), t => Html.Partial(t, new BusinessHoliday()), Model, "holiday")

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var today = new Date();

            var calendarView = '@Session["CalendarView"]';
if (calendarView == '') { calendarView = 'month'; }

var calendarMonth = '@Session["CalendarMonth"]';
if (calendarMonth == '') { calendarMonth = today.getMonth(); }

var calendarYear = '@Session["CalendarYear"]';
if (calendarYear == '') { calendarYear = today.getFullYear(); }

    // page is now ready, initialize the calendar...
var date = new Date();
var d = date.getDate();
var m = date.getMonth();
var y = date.getFullYear();
$('#calendar').fullCalendar({
    firstDay: 1,
    aspectRatio: 3,
    month: calendarMonth,
    year: calendarYear,
    defaultView: calendarView,
    viewDisplay: function (view) {
        // alert('The new title of the view is ' + view.title);
        console.log(view);
    },

    header:
    {
        left: 'title',
        center: 'year,month',
        right: 'today prev,next'
    },
    events: [
@foreach (var item in Model.Index)
{
<text>
{
    title: '@item.Name',
    start: new Date("@item.StartDate.Date.ToString("MM/dd/yyyy")"),
    end: new Date("@item.EndDate.Date.ToString("MM/dd/yyyy")"),
    href: '@Url.Action(Strings.Global_Edit, routeValues: new { app = ViewBag.AppName, id = item.Id })'
},
</text>
}

], eventClick: function (calEvent, jsEvent, view) {
    var href = $(this).attr("href");
    $.ajax({
        url: calEvent.href,
        context: document.body
    }).done(function (data) {
        // alert(href + "success" + " data:" + data);
        $("#chleby-edit").html(data);
        $("#editModal").modal();
    });
    return false;

}
});

    $("#calendar").on("click", ".fc-year-monthly-td",
    function () {

        var DateSlug = $(this).attr("id");
        var DateArray = DateSlug.split("-");
        $("#calendar").fullCalendar('gotoDate', DateArray[0], DateArray[1]);
        $("#calendar").fullCalendar('changeView', 'month');

    }
    );

});

    </script>
    @Scripts.Render("~/js/fullcalendar")
}




