@model chleby.Web.Models.TraderType

@{
    ViewBag.Title = "Create";
}

<h2>@Strings.Global_Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Strings.TraderTypes_Type_Sign</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="@Strings.Global_Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


