@model IEnumerable<chleby.Web.Models.TraderType>
<div class="btn-group order-addresses">
@foreach (var item in Model)
{
    using (Html.BeginForm("Edit", "TraderTypes", FormMethod.Post, new { @class = "float:left", style="display:inline" }))
    {

        @Html.Hidden("TraderType.Id", item.Id)
        <a class="btn doedita">@item.Name</a>
        <span class="input-append @(ViewBag.Id != null && ViewBag.Id == item.Id ? "" : "hide")"> 
            @Html.TextBox("TraderType.Name", (string)ViewBag.Name, new { @class = "editer input-small" })
            @Html.ValidationMessage("TraderType.Name")
            <input type="submit" value="Edit" class="btn btn-success" />
        </span>
    
        if (!item.Trader.Any())
        {
            <a rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Delete" 
                class="btn btn-icon btn-danger" id ="@item.Id" 
                href="@Url.Action("Delete", "TraderTypes", new { id = item.Id }, null)">
                <i class="icon-remove icon-white"></i></a>
        } 
        @Ajax.ActionLink("default","Default",new AjaxOptions {HttpMethod = "GET"})
    }
}

@using (Html.BeginForm("Create", "TraderTypes",FormMethod.Post, new { @class = "float:left", style="display:inline" }))
{
    <span class="input-append">
    @Html.TextBox("Name", (string)ViewBag.TraderName, new {@class="input-small" })
    @Html.ValidationMessage("Name")
    <button type="submit" class="btn btn-success"><i class="icon-plus-sign icon-white"></i>&nbsp;@chleby.Web.Resources.Strings.AddCustomer</button>
    </span>
}
</div>

<script>
    $(document).ready(function () {
        $(".doedita").click(function () {
            var ja=$(this.parentElement);
            ja.find("input.editer").val((this.innerText));
            ja.find("span").toggle();
        });
        $(".hide").hide();
    });
</script>