html, body {
	margin: 0;
	padding: 0;
	font-family: 'Oxygen';
	width: 100%;
	height: 100%;
}

.container {
	max-width: 1200px;
	margin: auto;
}

/* Layout structure / rdw */
.table {
	margin: 50px 0;
}
.table div {
	border: 1px solid #eee;
	min-height: 40px;

}

.title {
	background: rgb(250,250,250);
	text-align: center;
	height: 70px;
	padding: 5px 10px;
}
.title > img {
	float: right;
	padding: 5px;
}

.col {
	width: 49.5%;
	margin: 0;
	padding: 0;
}

.row {
	width: 100%;
	padding: 0;
	margin: 0;
}
.row > div {
	border: none;
}
.row > div.left {
	border-right: 2px solid #eee;
}

/* Alignment */
.left {
	float: left;
}
.right {
	float: left;
	border-left: none !important;
}
.down {
	height: 100%;
}

/* Inner Text */
ul {
	padding: 0;
	margin: 8px 10px;	
}
ul > li {
	list-style: none;
}

p {
	margin: 8px 10px;
	padding: 0;
}

p.number {
	display: inline-block;
	width: 40px;
	margin: 0;
	padding: 0;
	border: none;
}

/* Button */
.btn {
	float: right;
	width: 170px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 20px 10px;
}
.btn {
	/* cross browser gradient code by nickla (twitter @nickla) */
	background: #469cd9; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4da9ea', endColorstr='#367e96'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#4da9ea), to(#367e96)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #4da9ea,  #367e96); /* for firefox 3.6+ */
}
.btn:hover {
	cursor: pointer;
}
.btn:active {
	background: #367e96;
}

/* rdw media queries */
@media screen and (max-width: 480px)  {
    .col {
    	width: 100%;
    	
    }
    .col.left {
    	border-bottom: none;
    }
    .col.right {
    	border-top: none;
    }
    .row > .left, .row > .right {
    	border-bottom: 2px solid #eee;	
    }
}
