﻿@model FrontPageContactModel
@{
    ViewBag.Title = "Try Streamline";
    Layout = "~/Views/Shared/_Layout_frontpage.cshtml";
}
<div class="row">


    @using (Html.BeginForm("Contact", "Start", FormMethod.Post, new { @class = "form-horizontal front-form-tryaccount" }))
    {  <div class="span7">

            <fieldset>
                <legend></legend>
                <div class="control-group">
                    <label class="control-label">
                        @Strings.Global_Name
                    </label>
                    <div class="controls">
                        @Html.TextBoxFor(x=>x.BusinessName, new {placeholder=Strings.Start_Contact_Placeholder_Name})
                        @Html.ValidationMessageFor(x=>x.BusinessName)
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">
                        @Strings.Global_Email
                    </label>
                    <div class="controls">
                        @Html.TextBoxFor(x=>x.Email, new {placeholder=Strings.Start_Contact_Placeholder_mail})
                        @Html.ValidationMessageFor(x=>x.Email)
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label">
                        <!--@Strings.Front_ContactMessageLabel-->
                    </label>
                    <div class="controls">
                        <textarea class="textarea-helpeditor" placeholder="@Strings.Start_Contact_Placeholder_Message" name="@Html.NameFor(x=>x.Content)" id="@Html.IdFor(x=>x.Content)">@(Model != null ? Model.Content : "")</textarea>
                        @Html.ValidationMessageFor(x=>x.Content)
                    </div>
                </div>


                <div class="form-actions">

                    <button type="submit" class="btn btn-success btn-large">
                        <i class="icon-envelope"></i>&nbsp;@Strings.Global_Submit
                    </button>
                </div>

            </fieldset>

        </div>  
        <div class="span4 offset1">
            <p>Mountain Stream Cloud Software Limited<br/>
9 Cherywood Park, Tallanstown<br/>
Co. Louth<br/>
Ireland</p>

<p>+44 20 3514 4724</p>

<p><img src="~/Images/frontpage/email-img.png"/></p>
        </div>
    }


</div>
