﻿@{
    Layout = "~/Views/Shared/_Layout_frontpage.cshtml";
    ViewBag.Title = "Disclaimer";
}
<h1>@Strings._Layout_frontpage_Disclaimer</h1>

<p>
    @Strings._Layout_frontpage_Disclaimer_Content
</p>


