﻿@{
    Layout = "~/Views/Shared/_Layout_frontpage.cshtml";
}
<div class="row">
    <div class="span12 front-features">
        <div class="unslider front-features-slider">
            <ul>
                <li>
                    <h2>@Strings.features_SO_title</h2>
                    <p> @Strings.features_sub_title_SO </p>
                    <img src="~/Images/frontpage-featuretour/mac/so.png" />
                </li>
                <li>
                    <h2>@Strings.features_a_la_Cart</h2>
                    <p>@Strings.features_cart_sub_title</p>
                    <img src="~/Images/frontpage-featuretour/mac/cart.png" />
                </li>
                <li>
                    <h2>@Strings.features_prod_title</h2>
                    <p>@Strings.features_prod_subtitle</p>
                    <img src="~/Images/frontpage-featuretour/mac/prodtotals.png" />
                </li>
                <li>
                    <h2>@Strings.features_Total_Orders_title</h2>
                    <p>@Strings.features_TO_subtitle</p>
                    <img src="~/Images/frontpage-featuretour/mac/totalorders.png" />
                </li>
                <li>
                    <h2>@Strings.features_maps</h2>
                    <p>@Strings.features_maps_subtitle</p>
                    <img src="~/Images/frontpage-featuretour/mac/maps.png" />
                </li>
                <li>
                    <h2>@Strings.features_Routes_title</h2>
                    <p>@Strings.features_routes_subtitle</p>
                    <img src="~/Images/frontpage-featuretour/mac/routes.png" />
                </li>
                <li>
                    <h2>@Strings.features_Invoicing</h2>
                    <p>@Strings.features_Invoicing_subtitle</p>
                    <img src="~/Images/frontpage-featuretour/mac/invoices.png" />
                </li>
                <li>
                    <h2>@Strings.features_Finance_Dashboard</h2>
                    <p>@Strings.features_Finance_Dash_subtitle</p>
                    <img src="~/Images/frontpage-featuretour/mac/finance.png" />
                </li>
                <li>
                    <h2>@Strings.features_Customer_Centre_title</h2>
                    <p>@Strings.features_Customer_center_subtitle</p>
                    <img src="~/Images/frontpage-featuretour/mac/customerlist.png" />
                </li>
                <li>
                    <h2>@Strings.features_Calendar</h2>
                    <p>@Strings.features_Calendar_subtitle</p>
                    <img src="~/Images/frontpage-featuretour/mac/calendar.png" />
                </li>
                <li>
                    <h2>@Strings.features_Item_Cata_title</h2>
                    <p>@Strings.feature_Item_Cata_subtitle</p>
                    <img src="~/Images/frontpage-featuretour/mac/items.png" />
                </li>
                <li>
                    <h2>@Strings.features_Users_Permissions_title</h2>
                    <p>@Strings.features_Users_Permissions_subtitle</p>
                    <img src="~/Images/frontpage-featuretour/mac/perms.png" />
                </li>         
            </ul>
           
        </div>
         <div class="front-features-slider-controls pull-right">
                <a href="#" class="unslider-arrow prev"><i class="icon-chevron-left"></i>&nbsp;@Strings.Global_Previous</a>
                <a href="#" class="unslider-arrow next">@Strings.Global_Next&nbsp;<i class="icon-chevron-right"></i></a>
            </div>
    </div>
</div>
