﻿@model EmailField
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>mountainstream.ms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    @Styles.Render("~/css")

    <!-- Le styles -->
    <style type="text/css">
        body {
            padding-top: 20px;
            padding-bottom: 40px;
        }

        /* Custom container */
        .container-narrow {
            margin: 0 auto;
            max-width: 700px;
        }

            .container-narrow > hr {
                margin: 30px 0;
            }

        /* Main marketing message and sign up button */
        .jumbotron {
            margin: 60px 0;
            text-align: center;
        }

            .jumbotron h1 {
                font-size: 66px;
                line-height: 1;
            }

            .jumbotron .btn {
                font-size: 21px;
                padding: 14px 24px;
            }

        /* Supporting marketing content */
        .marketing {
            margin: 60px 0;
        }

            .marketing p + h4 {
                margin-top: 28px;
            }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container-narrow">

        <div class="masthead">
            <a href="@Url.Action("Index")">
                <h3 class="muted">
                    <img src="~/Images/streamline_draft_logo.png" /></h3>
            </a>
        </div>

        <!--<div class="jumbotron">
                <iframe src="http://player.vimeo.com/video/" width="500" height="281"  style="width:100%;height:350px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>-->




        <hr />

        <div class="row-fluid">
            <div class="span6">
                <h4>Order Management</h4>
                <ul>
                    <li>Standing Orders</li>
                    <li>Shopping Cart</li>
                </ul>
            </div>
            <div class="span6">
                <h4>Production Reports</h4>
                <ul>
                    <li>Totals by item</li>
                    <li>By customer</li>
                    <li>Labels</li>
                </ul>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <h4>Distribution Reports</h4>
                <ul>
                    <li>Pick & Pack</li>
                    <li>Delivery Notes</li>
                    <li>Round Maps</li>
                </ul>
            </div>
            <div class="span6">
                <h4>Financial</h4>
                <ul>
                    <li>Invoice library, instantly available to customers</li>
                    <li>Sales Reports</li>
                    <li>Invoices ready for export to accounts</li>
                </ul>
            </div>
        </div>

        <hr />
        <div class="row-fluid">
            <div class="span6">
                <h4>Guranteed Savings</h4>
                <ul>
                    <li>Answering calls</li>
                    <li>Minimising data entry & processing</li>
                    <li>Greatly reduce training costs</li>
                    <li>Eliminate human error</li>
                </ul>
            </div>
            <div class="span6">
                <h4>Power of the Cloud</h4>
                <ul>
                    <li>Access your data 24/7 from the internet</li>
                    <li>Your data is secure: 2 daily backups, one on your server,  one on ours</li>
                    <li>Streamline is fully customisable to suit your needs</li>

                </ul>
            </div>
        </div>
        <hr />
        <div class="jumbotron">
            <h2>Revolutionise the way you run your business</h2>

        </div>
        <hr />
        <div>
            <h2>Interested?</h2>
            <p class="lead">Request contact from one of our representatives.</p>
            @using (Html.BeginForm("SendMail", "Start", FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.TextBoxFor(x => x.Email, new { placeholder = "breadmaker@bakery.com", @class = "input-large" })
                <button type="submit" title="Sign up for the newsletter" class="btn btn-success">Sign up</button>
                @Html.ValidationMessageFor(x => x.Email)
            }
            <br />
            <p><small><i>Privacy statement: We will only contact you with regards to Streamline and will not pass your data to any third parties.</i></small></p>
        </div>




        <hr>

        <div class="footer">
            <img src="~/Images/ms-logo.png" />
            <p class="pull-right">&copy; Mountain Stream 2013</p>
        </div>

    </div>
    <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/jqueryui")
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap")

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-42268293-1', 'mountainstream.ms');
        ga('send', 'pageview');
    </script>

</body>
</html>

