﻿@{
    Layout = "~/Views/Shared/_Layout_frontpage.cshtml";
    ViewBag.Title = "Mounstain Stream";
}

<div class="row front-intro">
    <div class="span6 ">

        <div class="front-masthead">
            <p>@Strings.Start_Index2_introducing</p>
            <h1>@Strings.Start_Index2_Streamline</h1>
            <h2>@Strings.Start_Index2_CateringTrade_SubTitle</h2>
            @{
                var url = "http://www.youtube.com/embed/feK4kC3fadg";
                if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "pl")
                {
                    url = "https://www.youtube.com/embed/YlS9YfoefSo";
                }
            }
            <div class="front-video">
                <iframe width="500" height="263" src="@url" frameborder="0" allowfullscreen></iframe>
            </div>

            <center><font size="4"><b>@Strings.Start_Index2_Revolutionise</b></font></center>
        </div>

    </div>

    <div class="span6 ">
        <div class="front-features-container">
            <h3>@Strings.Start_Index2_SayGoodby</h3>
            <ul class="front-features pull-right">

                <li>
                    <h4>@Strings.Start_Index2_OrderMgmt</h4>
                    <ul>
                        <li>@Strings.Start_Index2_SO</li>
                        <li>@Strings.Start_Index2_SC</li>
                    </ul>

                </li>
                <li>
                    <h4>@Strings.Start_Index2_ProdRep</h4>
                    <ul>
                        <li>@Strings.Start_Index2_TotalItem</li>
                        <li>@Strings.Start_Index2_ByCustomer</li>
                    </ul>

                </li>
                <li>
                    <h4>@Strings.Start_Index2_DistributionRep</h4>
                      <ul>
                        <li>@Strings.Start_Index2_Pip</li>
                        <li>@Strings.Start_Index2_DeliveryNotes</li>
                        <li>@Strings.Start_Index2_RoundMaps</li>
                    </ul>

                </li>
                <li>
                    <h4>@Strings.Start_Index2_Financial</h4>
                    <ul>
                        <li>@Strings.Start_Index2_InvoiceLib</li>
                        <li>@Strings.Start_Index2_SalesRep</li>
                        <li>@Strings.Start_Index2_InvoicesExport<br/>
                            <img src="~/Images/frontpage/accounts-logos.png"/>
                        </li>
                    </ul>

                </li>

            </ul>

        </div>
    </div>
</div>

<hr />
<div class="row front-sellingpoint">
    <div class="span6 offset1 front-sellingpoint-content">
        <h3> @Html.Raw(Strings.Start_Index2_PowerCloud)
        </h3>

            @Html.Raw(Strings.Start_Index2_PowerCloudContent)
    
    </div>
    <div class="span4 front-sellingpoint-image">
        <img src="~/Images/frontpage/clock.jpg" />
    </div>
</div>
<hr />
<div class="row front-sellingpoint">
    <div class="span4 offset1 front-sellingpoint-image">
        <img src="~/Images/frontpage/streamline.png" />
    </div>
    <div class="span6 front-sellingpoint-content">
        <h3> @Html.Raw(Strings.Start_Index2_StreamlineNow)

        </h3>
        @Html.Raw(Strings.Start_Index2_StreamlineNowContent)
    </div>
</div>

<hr />
<div class="row front-sellingpoint">
    <div class="span6 offset1 front-sellingpoint-content">
        <h3>@Html.Raw(Strings.Start_Index2_ImproveCustomerService)
        </h3>
        <p>
            @Html.Raw(@Strings.Start_Index2_ImproveCustomerServiceContent) </p>
    </div>
    <div class="span4 front-sellingpoint-image">
        <img src="~/Images/frontpage/cloud.png" />
    </div>
</div>

<hr />
<div class="row front-sellingpoint">
    <div class="span4  offset1 front-sellingpoint-image">
        <img src="~/Images/frontpage/wrench.png" />
    </div>
    <div class="span6 front-sellingpoint-content">
        <h3>@Html.Raw(Strings.Start_Index2_FullyCustom)
        </h3>
        <p>
            @Html.Raw(Strings.Start_Index2_FullyCustomContent)
        </p>
    </div>

</div>

<!--<hr />
<div class="row front-sellingpoint">
    <div class="span8 front-sellingpoint-content">
        <h3>@Strings.Start_Index2_Intuitive

        </h3>
        <p>
            @Strings.Start_Index2_EasyToUse
        </p>
    </div>
    <div class="span4 front-sellingpoint-image">
        <img src="~/Images/frontpage/intuitive-alt.png" />
    </div>
</div>-->

<hr />
<div class="row front-sellingpoint">

    <div class="span6 offset1 front-sellingpoint-content">
        <h3>@Html.Raw(Strings.Start_Index2_Peace_Of_Mind)
        </h3>
        <p>
            @Html.Raw(Strings.Start_Index2_Peace_Of_MindContent)
        </p>
    </div>
        <div class="span4 front-sellingpoint-image">
        <img src="~/Images/frontpage/lock.png" />
    </div>

</div>



