﻿@{
    Layout = "~/Views/Shared/_Layout_frontpage.cshtml";
}
<div class="row">

    <div class="span3 pricing-table pricing-table-features">
        <h2>@Strings.Front_Pricing_AllPlansHeader</h2>
        <ul style="padding-left:44px; text-indent:-20px">
            <li><i class='icon-ok'></i>@Strings.Front_Pricing_FreeTrial</li>
            <li><i class='icon-ok'></i>@Strings.Front_Pricing_UnlimitedSupport</li>
            <li><i class='icon-ok'></i>@Strings.Front_Pricing_InstantAccess</li>
            <li><i class='icon-ok'></i>@Strings.Front_Pricing_Backups</li>
        </ul>
        <h2 style="padding-bottom:0; padding-top: 4px">@Strings.Front_Pricing_YearlyPlanIncludes</h2>
        <ul style="padding-left:44px; text-indent:-20px">
            <li><i class='icon-ok'></i>@Strings.Front_Pricing_free_invoice_delivery</li>
            <li><i class='icon-ok'></i>@Strings.Front_Pricing_Price_Lite_YearlySave</li>
        </ul>
    </div>

    <div class="span3 pricing-table">
        <h2>@Strings.Front_Pricing_LiteHeader</h2>
        <ul>
            <li> @Strings.Front_Pricing_Daily_Invoice</li>
            <li> @Strings.Front_Pricing_InvoicesPerWeek</li>
            <li> @Strings.Front_Pricing_Products</li>
            <li> @Strings.Front_Pricing_Customers</li>
            <li> @Strings.Front_Pricing_PricingLevel</li>
        </ul>
        <div class="pricing-options">
            <div class="pricing-option">
                <p class="pricing-option-label">@Strings.Front_Pricing_Monthly</p>
                <p class="pricing-option-price">@Strings.Front_Pricing_Price_Lite_Monthly</p>
                <p class="pricing-option-label">@Strings.Front_Pricing_PriceForSetUp_Lite_Monthly</p>
            </div>
            <div class="pricing-option pricing-option-suggested">
                <p class="pricing-option-label">@Strings.Front_Pricing_Yearly</p>
                <p class="pricing-option-price">@Strings.Front_Pricing_Price_Lite_Yearly</p>
            </div>
        </div>     
    </div>
    <div class="span3 pricing-table">
        <h2>@Strings.Front_Pricing_ProHeader</h2>
        <ul>
            <li> @Html.Raw(Strings.Front_Pricing_All_Invoicing.Replace("\n","<br/>"))</li>
            <li> @Strings.Front_Pricing_InvoicesPerWeekPRO</li>
            <li> @Strings.Front_Pricing_ProductsPRO</li>
            <li> @Strings.Front_Pricing_CustomersPRO50</li>
            <li> @Strings.Front_Pricing_PricingLevelPRO</li>
        </ul>
        <div class="pricing-options">
            <div class="pricing-option">
                <p class="pricing-option-label">@Strings.Front_Pricing_Monthly</p>
                <p class="pricing-option-price">@Strings.Front_Pricing_Price_Pro_Monthly</p>
                <p class="pricing-option-label">@Strings.Front_Pricing_PriceForSetUp_Lite_MonthlyPRO</p>
            </div>
            <div class="pricing-option pricing-option-suggested">
                <p class="pricing-option-label">@Strings.Front_Pricing_Yearly</p>
                <p class="pricing-option-price">@Strings.Front_Pricing_Price_Pro_Yearly</p>
            </div>
        </div>     
    </div>
        <div class="span3 pricing-table">
        <h2>@Strings.Front_Pricing_UnlimitedHeader</h2>
        <ul>
            <li>@Strings.Front_Pricing_All_Invoicing</li>
            <li>@Strings.Front_Pricing_InvoicesPerWeekPRO</li>
            <li>@Strings.Front_Pricing_ProductsPRO</li>
            <li>@Strings.Front_Pricing_CustomersPRO</li>
            <li>@Strings.Front_Pricing_PricingLevelULTI</li>
        </ul>
        <div class="pricing-options">
            <div class="pricing-option pricing-option-single" style="line-height: 25px">
                <a href="@Url.Action("Contact")">@Html.Raw(Strings.Start_Pricing_Contact_Us.Replace("\n","<br/>"))</a>
            </div>
        </div>     
    </div>

</div>
