﻿@{
    Layout = "~/Views/Shared/_Layout_frontpage.cshtml";
    ViewBag.Title = "Privacy Policy";
}
<h1>@Strings.Start_PrivacyPolicy</h1>

<!-- START PRIVACY POLICY CODE -->
<div style="font-family: verdana">
    <strong>What information do we collect?</strong>
    <br />
    <br />
    We collect information from you when you register on our site, place an order, subscribe to our newsletter, respond to a survey or fill out a form. 
    <br />
    <br />
    When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address, phone number or credit card information. You may, however, visit our site anonymously.<br />
    <br />
    <strong>What do we use your information for?</strong>
    <br />
    <br />
    Any of the information we collect from you may be used in one of the following ways:
    <br />
    <br />
    ● To personalize your experience<br />
    <blockquote>your information helps us to better respond to your individual needs</blockquote>
    ● To improve our website<br />
    <blockquote>we continually strive to improve our website offerings based on the information and feedback we receive from you</blockquote>
    ● To improve customer service<br />
    <blockquote>your information helps us to more effectively respond to your customer service requests and support needs</blockquote>
    ● To process transactions<br />
    <blockquote>Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.</blockquote>
    ● To send periodic emails<br />
    <blockquote>The email address you provide for order processing, will only be used  to send you information and updates pertaining to your order.</blockquote>
    <br />
    <strong>How do we protect your information?</strong>
    <br />
    <br />
    We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information.
    <br />
    <br />
    We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to?keep the information confidential.<br />
    <br />
    After a transaction, your private information (credit cards, social security numbers, financials, etc.) will not be stored on our servers.<br />
    <br />
    <strong>Do we use cookies?</strong>
    <br />
    <br />
    Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information<br />
    <br />
    We use cookies to help us remember and process the items in your shopping cart and understand and save your preferences for future visits.<br />
    <br />
    <strong>Do we disclose any information to outside parties?</strong>
    <br />
    <br />
    We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.<br />
    <br />
    <strong>Terms and Conditions</strong>
    <br />
    <br />
    Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website at <a href="http://www.mountainstream.ms/Start/Terms">http://www.mountainstream.ms/Start/Terms</a><br />
    <br />
    <strong>Your Consent</strong>
    <br />
    <br />
    By using our site, you consent to our <a style='text-decoration: none; color: #3C3C3C;' href='http://www.freeprivacypolicy.com/' target='_blank'>websites privacy policy</a>.<br />
    <br />
    <strong>Changes to our Privacy Policy</strong>
    <br />
    <br />
    If we decide to change our privacy policy, we will post those changes on this page, send an email notifying you of any changes, and/or update the Privacy Policy modification date below.
    <br />
    <br />
    This policy was last modified on 25/07/2013<br />
    <br />
    <strong>Contacting Us</strong>
    <br />
    <br />
    If there are any questions regarding this privacy policy you may contact us using the information below.
    <br />
    <br />
    http://www.mountainstream.ms/<br />
    <br />
    <span></span><span></span>
    This policy is powered by Trust Guard 
    <a rel='nofollow' style='color: #000; text-decoration: none;' href='http://www.trust-guard.com/PCI-Compliance-s/65.htm' target='_blank'>PCI compliance
    </a>.
    <span></span><span></span><span></span>
    <!-- END PRIVACY POLICY CODE -->
</div>
