﻿@{
    Layout = "~/Views/Shared/_Layout_frontpage.cshtml";
}


<h1>MountainStream css+js usage guide</h1>


<p>all the frontend magic explained</p>
<p>Mikołaj Bazaczek 2013</p>
<p>mbazaczek@gmail.com</p>

<p>based on Boostrap 2.2.1, when in woe refer to <a href="http://twitter.github.io/bootstrap/index.html">Boostrap documentation</a></p>

<p>
    for icons, we're using the superior Font Awesome 3.2.1 - check out <a href="http://fortawesome.github.io/Font-Awesome/icons/">their webiste for a list of icons to use</a>
</p>

<p>
    inspect the elements code for moar knowledge, and study the /Scripts/chleby contents</p>
<p>
    /Scripts/chleby/chleby-simpleui.js is the common file, other filenames are pretty self-explanatory</p>
<p>
   also, each module has it's own custom js in the &#64;scripts section, so keep an eye out for these!</p>

<hr />

<p><h1>custom crafted UI elements</h1></p>
<p>
    <h2>select-redirect</h2>
</p>

<pre>combobox that upon change will redirect you to selected &lt;option value="href"&gt;</pre>

<select class="select-redirect">
    <option value="">default...</option>
    <option value="http://google.com">take me to google!</option>
    <option value="http://yahoo.com">take me to yahoo!</option>
    <option value="">don't take me anywhere ;<</option>
</select>

<p>
    <h2>popovers</h2>
</p>

<pre>
use class "has-popover" on element, then specify a "title" attribute
</pre>

<span class="has-popover" title="some content <hr> html allowed!"> i have a popover!</span>
<a class="has-popover btn" title="some content <hr> html allowed!"> i have a popover too!</a>

<p>
    <h2>help popover</h2>
</p>

<pre>
help popovers - you can attach them to any element, just make use of
    &#64;Helpers.HelpPopoverContent("content","title","position")
possible positions: top, ,right, bottom, left
any element with class "toggle-help-popovers" will show/hide them on click
</pre>
<a @Helpers.HelpPopoverContent("You can close or open the help tips here", "Help bubbles" ,"bottom") class="btn-subtle btn-manual toggle-help-popovers"><i class="icon-info-sign"></i>&nbsp; toggle help popovers</a>
                          
<input type="text" placeholder="Placeholder..." @Helpers.HelpPopoverContent("content for the help popover","some title")>


<p>
    <h2>buttons</h2>
</p>

<pre>
use class "btn" on &lt;a&gt; and &lt;button&gt; elements - their min-width is 100px
use "btn-icon" class if you want the button to tightly fit the content
if using icons, remember to place &amp;nbsp; after icon, to ensure proper spacing
</pre>

<a class="btn">btn</a>
<a class="btn btn-icon">btn-icon</a>
<a class="btn btn-primary">btn-primary</a>
<a class="btn btn-success">btn-success</a>
<a class="btn btn-danger"><i class="icon-ok"></i>&nbsp;Allrighty then</a>

<p>
    <h2>modals</h2>
</p>

<pre>
for easy modals, make usage of MVC helper:
    &#64;Helpers.Modal("modal-id","modal-title")
and then just toggle it applying a "modal-id" class on any element, eg.
    &lt;a class="btn modal-id" href="@Url.Action("StyleTutorialModal")"&gt;toggle modal&lt;/a&gt;
if will make an ajax call to the href specified, and return the response to the modal
remember to use PartialView() in MVC backend!
</pre>

<a class="btn modal-id" href="@Url.Action("StyleTutorialModal")">toggle modal</a>

@Helpers.Modal("modal-id","modal-title")

<p><hr/></p>

<p><h1>Tables</h1></p>

<pre>
the most used class combination is "table table-condensed no-borders"
align the text inside the th and td using class "right", "left", "center"
remember to have a proper structure:
&lt;table&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;header1&lt;/th&gt;&lt;th&gt;header2&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td&gt;content&lt;/td&gt;&lt;td&gt;content&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;table&gt;
</pre>

<p>
    <h2>common tables</h2>
</p>

<table class="table">
    <caption>table</caption>
    <thead>
        <tr>
            <th class="actions"></th>
            <th>header
            </th>
            <th>header
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><a href="#" class="btn-subtle"><i class="icon-pencil"></i></a></td>
            <td><- the narrow collumn with icon has a class "actions" and anchor tag with class "btn-subtle"</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="#" class="btn-subtle"><i class="icon-pencil"></i></a></td>
            <td>lorem ipsum</td>
            <td>lorem ipsum sil donor amet</td>
        </tr>
        <tr>
            <td><a href="#" class="btn-subtle"><i class="icon-pencil"></i></a></td>
            <td>lorem ipsum</td>
            <td>lorem ipsum sil donor amet</td>
        </tr>
    </tbody>
</table>

<table class="table table-hover">
    <caption>table table-hover</caption>
    <thead>
        <tr>
            <th class="actions"></th>
            <th>header
            </th>
            <th>header
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><a href="#" class="btn-subtle"><i class="icon-pencil"></i></a></td>
            <td><- the narrow collumn with icon has a class "actions" and anchor tag with class "btn-subtle"</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="#" class="btn-subtle"><i class="icon-pencil"></i></a></td>
            <td>lorem ipsum</td>
            <td>lorem ipsum sil donor amet</td>
        </tr>
        <tr>
            <td><a href="#" class="btn-subtle"><i class="icon-pencil"></i></a></td>
            <td>lorem ipsum</td>
            <td>lorem ipsum sil donor amet</td>
        </tr>
    </tbody>
</table>

<table class="table no-borders">
    <caption>table no-borders</caption>
    <thead>
        <tr>
            <th class="actions"></th>
            <th>header
            </th>
            <th>header
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><a href="#" class="btn-subtle"><i class="icon-pencil"></i></a></td>
            <td><- the narrow collumn with icon has a class "actions" and anchor tag with class "btn-subtle"</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="#" class="btn-subtle"><i class="icon-pencil"></i></a></td>
            <td>lorem ipsum</td>
            <td>lorem ipsum sil donor amet</td>
        </tr>
        <tr>
            <td><a href="#" class="btn-subtle"><i class="icon-pencil"></i></a></td>
            <td>lorem ipsum</td>
            <td>lorem ipsum sil donor amet</td>
        </tr>
    </tbody>
</table>

<table class="table table-condensed no-borders">
    <caption>table table-condensed no-borders</caption>
    <thead>
        <tr>
            <th class="actions"></th>
            <th>header
            </th>
            <th >header</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#" class="btn-subtle"><i class="icon-pencil"></i></a></td>
            <td><- the narrow collumn with icon has a class "actions" and anchor tag with class "btn-subtle"</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="#" class="btn-subtle"><i class="icon-pencil"></i></a></td>
             <td>lorem ipsum</td>
            <td>lorem ipsum sil donor amet</td>
        </tr>
        <tr>
            <td><a href="#" class="btn-subtle"><i class="icon-pencil"></i></a></td>
            <td>lorem ipsum</td>
            <td>lorem ipsum sil donor amet</td>
        </tr>
    </tbody>
</table>

<table class="table table-condensed table-ultra-condensed no-borders">
    <caption>table table-condensed  table-ultra-condensed no-borders</caption>
    <thead>
        <tr>
            <th class="actions"></th>
            <th>header
            </th>
            <th>header
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#" class="btn-subtle"><i class="icon-pencil"></i></a></td>
            <td><- the narrow collumn with icon has a class "actions" and anchor tag with class "btn-subtle"</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="#" class="btn-subtle"><i class="icon-pencil"></i></a></td>
            <td>lorem ipsum</td>
            <td>lorem ipsum sil donor amet</td>
        </tr>
        <tr>
            <td><a href="#" class="btn-subtle"><i class="icon-pencil"></i></a></td>
            <td>lorem ipsum</td>
            <td>lorem ipsum sil donor amet</td>
        </tr>
    </tbody>
</table>

<p>
    <h2>batch actions</h2>
</p>

<pre>
table with checkboxes + batch checkbox select
    to enable this: apply a "checkbox-batch" class to table, then use
        &lt;input type="checkbox" class="batch-all"&gt; in the header and
        &lt;input type="checkbox" class="batch"&gt; in the normal table rows
</pre>

<table class="table table-condensed table-hover no-borders checkbox-batch">
    <caption>table table-condensed table-hover no-borders batch-actions</caption>
    <thead>
        <tr>
            <th class="actions">
                <input class="batch-all" type="checkbox" />
            </th>
            <th>header
            </th>
            <th>header
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input class="batch" type="checkbox" /></td>
            <td><- the narrow collumn with icon has a class "actions" and anchor tag with class "btn-subtle"</td>
            <td></td>
        </tr>
        <tr>
            <td>
                <input class="batch" type="checkbox" /></td>
            <td><- input with class "batch"</td>
            <td>lorem ipsum sil donor amet</td>
        </tr>
        <tr>
            <td>
                <input class="batch" type="checkbox" /></td>
            <td>lorem ipsum</td>
            <td>lorem ipsum sil donor amet</td>
        </tr>
    </tbody>
</table>

<p>
    <h2>sortable columns + currency</h2>
</p>

<pre>
table with sortable columns - data tables plugin takes care of that for us - https://datatables.net/
    just apply a "data-table" class to table
    if you want to disable sorting - just apply a "no-sort" class to &lt;th&gt; of your choice
    if you want to prefix a currency symbol - just add class "currency" to the table
    to ensure proper currency sorting with different formats, add "currency-sort" class to the &lt;th&gt; 
</pre>

<pre>
&lt;thead&gt;
    &lt;tr&gt;
        &lt;th class="no-sort"&gt;&lt;/th&gt;
        &lt;th&gt;header&lt;/th&gt;
        &lt;th class="right"&gt;somenumbers&lt;/th&gt;
        &lt;th class="right currency-sort"&gt;some money&lt;/th&gt;
        &lt;th&gt;&lt;/th&gt;
    &lt;/tr&gt;
&lt;/thead&gt;
</pre>

<table class="table table-condensed no-borders data-table">
    <caption>table table-condensed no-borders data-table</caption>
    <thead>
        <tr>
            <th class="no-sort"></th>
            <th>header
            </th>
            <th class="right">somenumbers
            </th>
            <th class="right currency-sort">some money
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><i class="icon-ok"></i></td>
            <td>content</td>
            <td class="right">00</td>
            <td class="right currency">99.00</td>
            <td>some longer content here</td>
        </tr>
        <tr>
            <td><i class="icon-ok"></i></td>
            <td>contentio</td>
            <td class="right">22</td>
            <td class="right currency">99,50.00</td>
            <td>some even longer content here</td>
        </tr>
        <tr>
            <td><i class="icon-ok"></i></td>
            <td>contentino</td>
            <td class="right">33</td>
            <td class="right currency">300,200.10</td>
            <td>some super super longer content here</td>
        </tr>
    </tbody>
</table>

<p>
    <h2>filters</h2>
</p>

<pre>
plugin for dataTables takes care of automatic filtering, apply one of the following classes to the specified &lt;th&gt;
    filter-text (type in to filter)
    filter-select (dropdown menu)
    CAUTION FOR FILTER SELECT: it only looks for the content in the &lt;span&gt;content&lt;/span&gt; element
    this is to allow separating icons from the content
    an example:  &lt;td&gt;&lt;i class="icon-ok"&gt;&lt;/i&gt;&lt;span&gt;value&lt;/span&gt;&lt;/td&gt;
    this way only "value" will be picked up by the filters, giving you more freedom with the visual layer
</pre>

<pre>
&lt;thead&gt;
    &lt;tr&gt;
        &lt;th class="filter-select"&gt;&lt;/th&gt;
        &lt;th class="filter-text"&gt;Name&lt;/th&gt;
        &lt;th class="filter-text"&gt;&lt;/th&gt;
        &lt;th&gt;&lt;/th&gt;
    &lt;/tr&gt;
&lt;/thead&gt;
</pre>
<table class="table table-condensed no-borders data-table">
    <caption>table table-condensed no-borders data-table</caption>
    <thead>
        <tr>
            <th class="filter-select"></th>
            <th class="filter-text">Name
            </th>
            <th class="filter-text"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><i class="icon-ok"></i><span class="hide-text">OK</span></td>
            <td>content</td>
            <td>filter me more</td>
            <td class="right">00</td>
        </tr>
        <tr>
            <td><i class="icon-ok"></i><span class="hide-text">OK</span></td>
            <td>some other thing</td>
            <td>i love coffe</td>
            <td class="right">22</td>
        </tr>
        <tr>
            <td><i class="icon-remove"></i><span class="hide-text">NOT OK</span></td>
            <td>cookies </td>
            <td>SANTUS ESPRITUS</td>
            <td class="right">33</td>
        </tr>
    </tbody>
</table>
