﻿@{
    Layout = "~/Views/Shared/_Layout_frontpage.cshtml";
    ViewBag.Title = "Terms of Use";
}
<h1>Mountain Stream Cloud Software -Terms and Conditions </h1>

<h4>These Terms and Conditions are legally binding</h4>
<ol>
  <li>Mountain Stream Cloud Software Limited is the owner and operator of the 
    Streamline Software service (the Service). </li>
  <li>Your use of the Service is expressly conditioned on your acceptance of these 
    Mountain Stream Cloud Software Terms and Conditions.
  </li>
  <li> By using the Service, you accept that you unconditionally agree and accept 
    to be legally bound by these Terms and Conditions. </li>
  <li>No other terms or conditions of any sort in any document, writingor other 
    communication whatsoever made by you to Mountain Stream Cloud Software or 
    its employees, representatives or agents in relation to the Service shall 
    be applicable to or binding on Mountain Stream Cloud Software.</li>
</ol>
<h4>Changes To This Agreement Or The Services.</h4>
<ol>
  <li>Mountain Stream Cloud Software reserves the right to alter these Terms and 
    Conditions at any time. Such changes will be effective and legally binding 
    on you when posted on our website for the Service or when we notify you by 
    other means. </li>
  <li>Please review these Terms and Conditions periodically for changes. </li>
  <li>Your continued use of this Service after amended Terms and Conditions is 
    posted on this website or is otherwise brought to your attention signify that 
    you agree and accept to be legally bound by the changes.</li>
</ol>
<h4>Grants of Licenses to Use</h4>
<p>Mountain Stream Cloud Software hereby grants to you a limited, non-exclusive, 
  non-transferable right to use the Service provided that you agree to the following:<br>
</p>
<ol>
  <li>Mountain Stream Cloud Software may, at its sole and absolute discretion, 
    without prior notice to you and without liability, reject, prevent, discontinue 
    or suspend your account(s) and/or your use of the Service if, at its sole 
    discretion, Mountain Stream Cloud Software is of the opinion that your use 
    does not meet Mountain Stream Cloud Softwares specifications or guidelines, 
    or which Mountain Stream Cloud Software may consider to be inappropriate, 
    illegal or harmful to its interests. If Mountain Stream Cloud Software exercises 
    its absolute discretion under this paragraph 3.1(a), it shall have no liability 
    to refund any portion of your pre-paid subscriptions, if applicable. Without 
    limiting or waiving any right against you that Mountain Stream Cloud Software 
    may have under the law or these Terms and Conditions in relation to any inappropriate, 
    illegal or harmful use, Mountain Stream Cloud Software reserves the right 
    to deduct any costs, damages or expenses that it may have incurred in relation 
    to such inappropriate, illegal or harmful use from your unused pre-paid subscriptions, 
    if any, or to claim the same from you by any other means.</li>
  <li>You agree to comply with any policies or guidelines that Mountain Stream 
    Cloud Software may introduce or amend from time to time. Mountain Stream Cloud 
    Softwares policies or guidelines may relate to technical specifications, 
    privacy, acceptable content, and any other matter, as the same may be amended 
    by Mountain Stream Cloud Software, at its absolute discretion, from time to 
    time.</li>
  <li>You agree that you will not provide access to or furnish any part of the 
    Service to any third party; modify, disrupt or interfere with the Service, 
    supporting servers, or networks either manually or through the use of scripts, 
    viruses, or worms; reproduce, duplicate, copy, deconstruct, sell, trade or 
    resell the Service; or excessively overload the systems that Mountain Stream 
    Cloud Software uses to provide the Service.</li>
  <li>Mountain Stream Cloud Software may, at its sole and absolute discretion 
    and without prior notice to you, amend, suspend, vary or withdraw the Service, 
    these Terms and Conditions and/or its website at any time and from time to 
    time.</li>
  <li>You shall be solely responsible for your use of the Service and shall indemnify 
    Mountain Stream Cloud Software for, and hold Mountain Stream Cloud Software 
    harmless from, all loss, costs, and damages incurred by Mountain Stream Cloud 
    Software in connection with any claims by third parties against Mountain Stream 
    Cloud Software in relation to your use of the Service and in connection with 
    your breach of these Terms and Conditions or any policies or guidelines that 
    Mountain Stream Cloud Software may introduce from time to time.</li>
  <li>You hereby represent, warrant and covenant to Mountain Stream Cloud Software 
    that at all times, (a) you have all rights, consents, licences and permits 
    that may be necessary or desirable for you to have in order to use the materials, 
    graphics, logos, videos, data or information you input into the Service (where 
    applicable) (Your Content) in the manner and the purpose for which 
    you use Your Content; (b) all of Your Content comply with all applicable laws 
    and regulations and do not violate the rights (including, but not limited 
    to, intellectual property rights) of any third party.</li>
  <li>You represent and warrant to Mountain Stream Cloud Software that you have 
    the full corporate rights, power and authority to agree to these Terms and 
    Conditions and perform the obligations agreed by you, and that doing so does 
    not and will not violate any agreement or obligation to which you are bound, 
    or any applicable law, rule or regulation.</li>
  <li>You hereby agree that Mountain Stream Cloud Software may, but is not obliged 
    to, use your name and refer to you as a user of the Service in any publicity, 
    press release, advertising or marketing material, throughout the world and 
    using any form of media. If you wish to use or display Mountain Stream Cloud 
    Softwares trademarks or mention Mountain Stream Cloud Software in any 
    publication, website, press release or in any other manner, you must obtain 
    the prior written consent of Mountain Stream Cloud Software.</li>
  <li>You agree that you are solely responsible to obtain or provide any hardware 
    or software that you may need to gain access to and use the Service, and for 
    any damage or loss that you suffer as a result of the operation of such hardware 
    or software, including incompatibility with any platforms used by Mountain 
    Stream Cloud Software in providing the Service.</li>
  <li>You agree that Mountain Stream Cloud Software is the sole owner of and has 
    the right to use any feedback you provide on the Service in any way whatsoever 
    including to improve existing or create new products and services.</li>
  <li>Mountain Stream Cloud Software reserves all rights in the Service not granted 
    to you expressly in these Terms and Conditions.</li>
  <li>You hereby agree to grant Mountain Stream Cloud Software a worldwide, royalty-free, 
    non-exclusive license to publish, alter, adapt, compile, host and use (a) 
    Your Content (including, without limitation, to reproduce in a material form, 
    publish, perform, communicate to the public, and to make an adaptation of 
    Your Content) for the purpose of providing you with the Service, and, (b) 
    if Mountain Stream Cloud Software provides any community forum for users of 
    the Service to exchange user tips and publish their comments and opinions, 
    any comments, opinions and other material you upload or publish on such a 
    forum.<br>
    Payment Terms</li>
  <li>By creating an account and subscribing for the Service or renewing your 
    subscription for the Service, you indicate you agree to the charges imposed 
    by<br>
    Mountain Stream Cloud Software for the particular services or products you 
    have requested.</li>
  <li> You agree to comply with any payment terms that Mountain Stream Cloud Software 
    may impose from time to time. </li>
  <li>You may be required to pay Mountain Stream Cloud Software in advance and/or 
    an annual, half yearly, quarterly or monthly basis to use the Service. Your 
    subscription may be renewed automatically on or close to its expiry at the 
    subscription rates applicable at the time of renewal. However, even if a facility 
    to renew your subscription automatically exists, it is solely your responsibility, 
    and not that of Mountain Stream Cloud Software, to ensure that your subscription 
    is renewed prior to its expiry, failing which your ability to use the Service 
    shall expire automatically. Mountain Stream Cloud Software may not give you 
    prior notice of an automatic renewal. If Mountain Stream Cloud Software is 
    unable to effect this automatic renewal for any reason whatsoever, your subscription 
    will expire automatically. For subscribers choosing to pay by credit card, 
    subscription fees for renewal may be charged to the credit card on record 
    unless Mountain Stream Cloud Software is notified of a change or cancellation 
    in writing using the tools or means made available by Mountain Stream Cloud 
    Software.</li>
  <li>All sums payable by you to Mountain Stream Cloud Software may be quoted 
    exclusive of any goods and services tax, or any other taxes that may be levied 
    on the subscription or charges levied by Mountain Stream Cloud Software. As 
    such, you agree that Mountain Stream Cloud Software may charge you and/or 
    the credit card on record for any taxes or charges that Mountain Stream Cloud 
    Software is required by any applicable law or regulation to levy on the subscription 
    or charges.</li>
</ol>
<h4>Term and Termination.</h4>
<ol>
  <li>Mountain Stream Cloud Software shall have the right to terminate its relationship 
    with you, without prior notice, if you breach or fail to comply with any provision 
    of these Terms and Conditions. </li>
  <li>This Agreement and your ability to use the Service shall also automatically 
    terminate upon the expiry of your subscription.</li>
  <li>After termination, Mountain Stream Cloud Software may, at its sole discretion, 
    maintain any data you have uploaded into its systems.</li>
  <li>You agree that Mountain Stream Cloud Software has no responsibility to maintain 
    your User account or any of Your Data after termination and you shall hold 
    Mountain Stream Cloud Software harmless and free from any fees, damages, or 
    claims you may suffer in relation to the same or any claims or actions you 
    may have or face in relation to the same.</li>
  <li>If termination is due to your failure to renew your subscription on a timely 
    basis, you may reactivate your account and access Your Data if renewal under 
    such circumstances are enabled by Mountain Stream Cloud Software. To do so 
    you may have to pay any subscription fees or charges that may be imposed by 
    Mountain Stream Cloud Software, including reactivation fees (if any), within 
    any period that may be stated by Mountain Stream Cloud Software, failing which 
    Mountain Stream Cloud Software may permanently remove and delete your user 
    account(s) and any data you have uploaded into its systems.</li>
</ol>
<h4>Your Data, Mountain Stream Cloud Softwares Data, the Storage and Transmission 
  of Your Data and the Mountain Stream Cloud Software Privacy Policy</h4>
<ol>
  <li>You or your customers, partners or associates, whichever may be applicable, 
    are the owner of any data you upload into the Service ( Your Data).</li>
  <li> You hereby agree that Mountain Stream Cloud Software is the owner of all 
    data other than Your Data, including any system generated data generated by 
    the Service or any data compiled from data inputed into the Service by all 
    users of the Service on an aggregate basis ( Mountain Stream Cloud Softwares 
    Data).</li>
  <li>Mountain Stream Cloud Software may use all of Mountain Stream Cloud Softwares 
    Data in any way it chooses including to improve or adapt its services, or 
    to create or design new products and services.</li>
  <li>You acknowledge and agree that the nature of the Internet is international 
    and that Mountain Stream Cloud Software has your express consent to store 
    and provide access to your personal or confidential information, and that 
    of your users(s) and customers, in and from any location around the world, 
    and to transmit and deliver such information via the Internet which may involve 
    its transmission across multiple jurisdictions.</li>
  <li>The Mountain Stream Cloud Software Privacy Policy, as may be amended or 
    updated from time to time, is incorporated into and form part of these Terms 
    and Conditions.</li>
</ol>
<h4>Your account(s) and Password(s)</h4>
<ol>
  <li>The responsibility to keep secure and confidential any password(s) and user 
    ID(s) Mountain Stream Cloud Software may issue to you to access the Service, 
    rests solely with you and the employees, representatives and agents of yours 
    that are entrusted with the same.</li>
  <li> If you become aware of any unauthorized access to your account(s), or any 
    misuse of your password(s) and user ID(s) you must activate the process put 
    in place to disable your account(s) and/or re-issue new password(s) or user 
    ID(s) as soon as possible.</li>
  <li>You agree that you are solely responsible for the actions and omissions 
    of the person(s) you nominate as user(s) or administrator(s) of your account(s) 
    for the Service. You also agree that Mountain Stream Cloud Software may accept 
    instructions and requests from and communicate with such person(s) until and 
    unless Mountain Stream Cloud Software<br>
    receives notification that such person(s) are no longer your user(s) or administrator(s), 
    and such instructions, requests and communications are valid and legally binding 
    on you. In addition, you are responsible for any and all use of your account(s) 
    by any persons who are in possession of your user ID(s) or password(s).</li>
</ol>
<h4>Your indemnity in Favour Of Mountain Stream Cloud Software</h4>
<ol>
  <li>If Mountain Stream Cloud Software and/or any of their affiliates (collectively 
    the Indemnified Parties) take any action to enforce any of the 
    Terms and Conditions, you agree to indemnify and hold harmless the Indemnified, 
    their affiliates, and their respective officers, directors, employees and 
    agents from and against any and all claims, losses, costs, expenses, causes 
    of action or demands, including reasonable legal and accounting fees, arising 
    out of and relating to your use of the Service, and any and all breaches by 
    you of these Terms and Conditions.</li>
</ol>
<h4>Service Level Agreement</h4>
<p>The Service Level Agreement is incorporated into and forms part of these Terms 
  and Conditions.</p>
<p>No Warranties</p>
<p>UNLESS EXPRESSLY PROVIDED HEREIN, TO THE FULLEST EXTENT PERMITTED BY LAW, MOUNTAIN 
  STREAM CLOUD SOFTWARE MAKES NO WARRANTY OR REPRESENTATION OF ANY KIND REGARDING 
  ITS WEBSITE, THE SERVICE, THE PRODUCTS OR SERVICES AVAILABLE ON THIS WEBSITE 
  AND/OR ANY MATERIALS PROVIDED ON THIS WEBSITE, ALL OF WHICH ARE PROVIDED ON 
  AN AS IS WHERE IS BASIS. MOUNTAIN STREAM CLOUD SOFTWARE DOES NOT 
  WARRANT THE ACCURACY, COMPLETENESS, CURRENCY OR RELIABILITY OF ANY OF THE CONTENT 
  OR DATA FOUND ON THE SERVICE, OR THIS WEBSITE. MOUNTAIN STREAM CLOUD SOFTWARE 
  EXPRESSLY DISCLAIMS ALL WARRANTIES IN RELATION TO THE SERVICE, INCLUDING ALL 
  IMPLIED WARRANTIES AS TO MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR 
  A GENERAL OR PARTICULAR PURPOSE AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS, 
  AND THOSE ARISING BY STATUTE OR OTHERWISE IN LAW OR FROM A COURSE OF DEALING 
  OR USAGE OF TRADE TO THE FULLEST EXTENT PERMITTED BY THE LAWS OF THE REPUBLIC 
  OF IRELAND. MOUNTAIN STREAM CLOUD SOFTWARE DOES NOT WARRANT THAT THE SERVICE, 
  THIS WEBSITE, ITS SERVERS OR ANY E-MAIL SENT FROM MOUNTAIN STREAM CLOUD SOFTWAREIS 
  FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.</p>
<p>FOR THE AVOIDANCE OF DOUBT, MOUNTAIN STREAM CLOUD SOFTWARE DOES NOT GUARANTEE 
  THE EFFECTIVENESS OF THE SERVICE. MOUNTAIN STREAM CLOUD SOFTWARE TAKES NO RESPONSIBILITY 
  FOR THE SECURITY, CONFIDENTIALITY OR PRIVACY OF THE COMMUNICATIONS AND/OR DATA 
  TRANSMITTED OVER THE INTERNET AND DOES NOT WARRANT (AND EXPRESSLY EXCLUDES ANY 
  AND ALL EXPRESS OR IMPLIED WARRANTIES) THAT THE SERVICE WILL BE WITHOUT FAILURE, 
  DELAY, INTERRUPTION, ERROR OR<br>
  LOSS OF CONTENT, DATA OR INFORMATION. IN ADDITION, MOUNTAIN STREAM CLOUD SOFTWARE 
  SHALL NOT BE LIABLE FOR ANY COMPATIBILITY ISSUES PERTAINING TO CUSTOMERS 
  COMPUTERS, APPLICATIONS OR OTHER SOFTWARE ON ANY COMPUTERS USING THE SERVICE.</p>
<p>Limitation of Liability</p>
<p>TO THE FULLEST EXTENT PERMITTED BY LAW IN NO EVENT SHALL MOUNTAIN STREAM CLOUD 
  SOFTWARE BE LIABLE FOR ANY INJURY, LOSS, CLAIM, DAMAGE, OR ANY SPECIAL, EXEMPLARY, 
  PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES OF ANY KIND OR FOR ANY 
  LOST PROFITS OR LOST SAVINGS, WHETHER BASED IN CONTRACT, TORT (INCLUDING NEGLIGENCE),<br>
  EQUITY, STRICT LIABILITY, STATUTE OR OTHERWISE, WHICH ARISES OUT OF OR IS IN 
  ANY WAY CONN CONTENT FOUND HEREIN, (II) ANY FAILURE OR DELAY (INCLUDING, BUT 
  NOT LIMITED TO THE USE OF OR INABILITY TO USE ANY COMPONENT OF THE SERVICE OR 
  THIS SITE), OR (III) THE PERFORMANCE OR NON PERFORMANCE BY MOUNTAIN STREAM CLOUD 
  SOFTWARE EVEN IF MOUNTAIN STREAM CLOUD SOFTWARE HAS BEEN ADVISED OF THE POSSIBILITY 
  OF DAMAGES TO SUCH PARTIES OR ANY OTHER PARTY.</p>
<p>If, notwithstanding the foregoing, Mountain Stream Cloud Software should be 
  found liable for any loss or damage which arises out of or is in any way connected 
  with any of the above described functions or uses of this site, the Service 
  or its content, to the full extent permitted by law the combined aggregate liability 
  of Mountain Stream Cloud Software shall in no event exceed the value of the 
  monthly subscription for the Service paid by you or US$1000.00, whichever is 
  lower. Further, Mountain Stream Cloud Softwares liability to you in contract, 
  tort, negligence, strict liability, under statute or otherwise will be reduced 
  to the extent, if any, to which you contributed to the loss or damage.<br>
</p>
<h4>Force Majeure</h4>
<ol>
  <li>Mountain Stream Cloud Software has no responsibility for and is released 
    from all contractual obligations and liability (e.g. for damages) if its performance 
    of these Terms and Conditions is affected by an event of force majeure. For 
    the purpose of this clause, the term force majeure means and includes 
    any event which was not under the control of Mountain Stream Cloud Software, 
    or was not reasonably foreseeable, including, but not limited to any natural 
    disaster such as thunderstorm, flood or storm, fire, national emergency, strike 
    or equivalent labour action, or the unavailability of the Internet for reasons 
    beyond the control of Mountain Stream Cloud Software.</li>
</ol>
<h4>General Provisions.</h4>
<ol>
  <li>These Terms and Conditions are governed by the laws of the Republic of Ireland. 
    The application of the United Nations Convention on Contracts for the International 
    Sale of Goods is hereby expressly excluded. The parties agree to submit to 
    the exclusive jurisdiction of the courts of the Republic of Ireland. </li>
  <li>You may not assign your rights hereunder to any third party without the 
    prior written consent of Mountain Stream Cloud Software.</li>
  <li> No joint venture, partnership, employment, or agency relationship exists 
    between you and Mountain Stream Cloud Software. A person who is not a party 
    to this Agreement shall have no rights under theContracts (Rights of Third 
    Parties) Act (Cap. 53B) of Ireland to enforce any term of this Agreement. 
  </li>
  <li>If any provision of these Terms and Conditions is found invalid or unenforceable 
    by any Ireland Court, the remaining provisions will remain valid and enforceable, 
    and the unenforceable provisions will be deemed modified to the extent necessary 
    to make them enforceable. </li>
  <li>These Terms and Conditions constitute the entire understanding and agreement 
    between Mountain Stream Cloud Software and you and supercedes any and all 
    prior understandings and/or agreements between the parties in relation to 
    the Service. </li>
  <li>No purported waiver by Mountain Stream Cloud Software of any of its rights 
    hereunder or under any applicable law or regulation shall be valid unless 
    made in writing by an authorised representative of Mountain Stream Cloud Software. 
  </li>
  <li>No change, amendment or modification of any provision of these Terms and 
    Conditions will be valid unless set forth in writing and mutually agreed to 
    by the parties.</li>
</ol>
<p> </p>
<h4> <br>
  Service Level Agreement</h4>
<h4>Monthly Uptime Guarantee</h4>
<ol>
  <li>Mountain Stream Cloud Software guarantees that its Service will be available 
    99.5% of the time in a calendar month (Monthly Uptime Guarantee), 
    excluding Maintenance and Exclusions (both terms of which are defined below). 
    You are eligible to claim service credit(s) for Service Downtime if Mountain 
    Stream Cloud Software fails to meet the Monthly Uptime Guarantee, provided 
    the total Service Downtime of 0.5% in a calendar month is verified by Mountain 
    Stream Cloud Software.</li>
  <li>Service Downtime is defined as an inability to access the Service 
    caused by failure of network equipment managed, owned, leased or used by Mountain 
    Stream Cloud Software to provide the Service, including the failure of managed 
    switches, routers, and cabling but excluding Maintenance and Exclusions.</li>
</ol>
<h4>Irrecoverable Data Guarantee</h4>
<ol>
  <li>If you attempt to access any of Your Data but the data is irrecoverable, 
    you must report the same to Mountain Stream Cloud Software as soon as possible. 
    Mountain Stream Cloud Software will investigate the cause of the same and 
    will require your assistance during such investigation. If the result of Mountain 
    Stream Cloud Software investigation indicates that the cause of such 
    irrecoverable data is due to the fault of Mountain Stream Cloud Software, 
    then Mountain Stream Cloud Software will grant a service credit to you up 
    to a maximum of the fee charged to you for the calendar month during which 
    the irrecoverable data event took place.</li>
</ol>
<h4><br>
  Maintenance</h4>
<p>Maintenance means and includes:</p>
<ol>
  <li>Any scheduled maintenance of the cloud data centers used by Mountain Stream 
    Cloud Software to provide the Service of which you are notified at least [3] 
    days in advance. For the purpose of notifying you, Mountain Stream Cloud Software 
    will use the contact email on record. Please ensure that this email is up 
    to date and accessed frequently; and</li>
  <li>Any maintenance of the data centres used by Mountain Stream Cloud Software: 
    (a) is necessary to avoid an immediate threat to the data center or the Service 
    and (b) of which Customer is notified.<br>
  </li>
</ol>
<p> </p>
<h4>Exclusions</h4>
<p>You shall not be entitled to any service credits if Service downtime is due 
  to the following Exclusions:</p>
<ol>
  <li>The actions or omissions of yourself or your employees, agents, representatives 
    or contractors using the password(s) and user ID(s) issued by Mountain Stream 
    Cloud Software to you to access the Service;</li>
  <li>The result of Maintenance;</li>
  <li>A denial of Service attack, hacker activity, or other malicious event or 
    code targeted against Mountain Stream Cloud Software or an Mountain Stream 
    Cloud Software customer;</li>
  <li>Failure of any hardware, software, network or Internet infrastructure not 
    owned or managed by Mountain Stream Cloud Software or its sub-contractors;</li>
  <li>Factors outside Mountain Stream Cloud Software reasonable control;</li>
  <li>The Monthly Uptime Guarantee does not include time required to perform data 
    restores and backups if applicable.</li>
</ol>



