﻿@model chleby.Web.Areas.AppAdmin.Models.AppInfo
@{
    Layout = null; // "~/Views/Shared/_Layout_frontpage.cshtml";
}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Bakery Software User Registration Step 1</title>
        @Html.Partial("_Meta")
        <link href='http://mountainstream.ms/style/user-registration.css' rel='stylesheet' type='text/css'>
        <style>
        	html, body {
        		height: 1070px;
        	}
        </style>
    </head>
    <body>
        @Html.Partial("_Header")
		<p class="location">Home > User Registration</p>
		<div class="container-block">
			<h2>Step 1 of 5: Activate your account</h2>
			<form class="form-horizontal front-form-tryaccount">           
				<fieldset>
					<p class="message">Please check your email and follow instructions to activate your account.</p>
					<h3>IMPORTANT</h3>
					<p class="message">Check your spam folder!</p>
					<p class="message">Add us to your contacts, so all future emails go to your inbox. We will NOT spam you! You may close your account and unsubscribe at any time</p>
					<p class="message">See our <a subpath="bakery-software/privacy-policy.asp">Privacy Policy</a></p> 
            	</fieldset>
			</form>
		</div>
		<br style="clear:both" />
        @Html.Partial("_Footer")
    </body>

