﻿@model chleby.Web.Areas.AppAdmin.Models.AppInfo
@{
    ViewBag.Title = "Try Streamline";
    Layout = null; //"~/Views/Shared/_Layout_frontpage.cshtml";
}
   <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Try Streamline</title>
        @Html.Partial("_Meta")
        @Scripts.Render("~/js/jquery")
        <link href='http://mountainstream.ms/style/user-registration.css' rel='stylesheet' type='text/css'>
        <style>
        	html, body {
        		height: 1070px;
        	}
            .control-label {
                width: 350px;
                text-align: right;
                padding-right: 15px;
            }
            .controls {
                width: 350px;
            }
        </style>
    </head>
    <body>
        @Html.Partial("_Header")
		<p class="location">Home > User Registration</p>
		<div class="container-block">
			<h2>Register as New User</h2>
			@using (Html.BeginForm("TryStreamline", "Start", FormMethod.Post, new { @class = "form-horizontal front-form-tryaccount jssubmit" }))
            {           
				<fieldset>
					<ul class="perks">
						<li><img subpath="img/icon/user-registration/credit-card.png">No credit card</li>
						<li><img subpath="img/icon/user-registration/help-desk.png">Free Help Desk</li>
						<li><img subpath="img/icon/user-registration/safe-data.png">Your data is safe</li>
					</ul>
	        
	                <div class="control-group">
	                    <label class="control-label">
	                        @Strings.Front_BusinessUrl
	                    </label>
	                    <div class="controls">
	                        @Html.TextBox("HumanName", (string)ViewBag.HumanName, new {placeholder="Name..."})
                            @Html.ValidationMessage("HumanName")
	                    </div>
	                </div>
	                
	                <div class="control-group">
	                    <label class="control-label">
	                        @Strings.FirstName
	                    </label>
	                    <div class="controls">
	                        @Html.TextBoxFor(x=>x.FirstName, new {placeholder="John"})
                            @Html.ValidationMessageFor(x=>x.FirstName)
	                    </div>
	                </div>
	                
	                <div class="control-group">
	                    <label class="control-label">
	                        @Strings.LastName
	                    </label>
	                    <div class="controls">
	                        @Html.TextBoxFor(x=>x.LastName, new {placeholder="Dow"})
                            @Html.ValidationMessageFor(x=>x.LastName)
	                    </div>
	                </div>
	
	                <div class="control-group">
	                    <label class="control-label">
	                        @Strings.UserName
	                    </label>
	                    <div class="controls">
	                        @Html.TextBoxFor(x=>x.AdminUser, new {placeholder="someone@domain.com"})
                            @Html.ValidationMessageFor(x=>x.AdminUser)
	                    </div>
	                </div>
	
	
	                <div class="control-group">
	                    <label class="control-label">
	                        @Strings.Password
	                    </label>
	                    <div class="controls">
	                        @Html.PasswordFor(x=>x.AdminPassword)
                            @Html.ValidationMessageFor(x=>x.AdminPassword)
	                    </div>
	                </div>
					<div class="control-group">
						<div class="control-label">
							Agreement
						</div>
						<div class="controls">
							<input type="checkbox" id="terms-agreement"><p class="checkbox-text">I agree to the <a subpath="bakery-software/terms-and-conditions.asp">Terms</a> and <a subpath="bakery-software/privacy-policy.asp">Privacy Policy</a></p>
						</div>
					</div>

	            	<div class="btn btn-green">
	                        Create account now
	                </div>
            	</fieldset>
             }
		</div>
		<br style="clear:both" />
        @Html.Partial("_Footer")
        
		<div class="notification-box">
			<p>Message Text</p>
		</div>
    </body>
    <script type="text/javascript">
		// replace messages for each form, input will be supplied in order, from top to bottom
		var messages = ['Enter company Name please', 'Enter your name please', 'Enter your surname please', 'Enter your email please', 'Password should not be empty', 'You must accept the terms of use', 'Email must be valid', 'Password must be at least 7 characters long']
		var formInputs = 5; 
        // return true if error found
		function pageSpecValidations() {
		    var $terms = $('input[type="checkbox"]');
		    var $email = $('#AdminUser');
		    var $pass = $('input[type="password"]');
		    if (!$terms.is(':checked')) {
		        show($terms, 5);
		        var $pos = $this.offset();
		        $pos['left'] += 12;
		        $pos['top'] -= 6;
		        $this.css($pos);
		        return true;
		    }
		    if (!$emailRegexp.test($email.val())) {
		        show($email, 6);
		        return true;
		    }
		    if ($pass.val().toString().length < 7) {
		        show($pass, 7);
		        return true;
		    }
		    return false;
		}
		// Javascript Fragment
		@Html.Partial("_HandwalkJS")
    </script>
