﻿@using System.Resources

@{ var mgr = Strings.ResourceManager;}

<div class="span12">

    <div class="container-fluid handwalk-progress-bar pull-left">
        <div class="row-fluid ">
            <div class="handwalk-progress handwalk-progress-first">@Strings.Handwalk_Begin</div>
            @for (var i = 1; i <= Defines.HandwalkSteps.Keys.Max(); i++)
            {
                if (i == 5)
                {
                    i = 6;
                }
                if (i < ViewBag.HandwalkStep)
                {
                <a href="@Url.Action("HandwalkMove", "Internal", new { id = @i })" class="handwalk-progress handwalk-progress-done">@mgr.GetString("Handwalk_Step" + @i)</a>
                }
                else if (i == ViewBag.HandwalkStep)
                {
                <a href="@Url.Action("HandwalkMove", "Internal", new { id = @i })" class="handwalk-progress handwalk-progress-active">@mgr.GetString("Handwalk_Step" + @i)</a>
                }
                else
                {
                <a href="@Url.Action("HandwalkMove", "Internal", new { id = @i })" class="handwalk-progress handwalk-progress-undone">@mgr.GetString("Handwalk_Step" + @i)</a> 
                }

            }
            <div class="handwalk-progress handwalk-progress-last">@Strings.Handwalk_End</div>
            <a class="handwalk-progress pull-right" href="@Url.Action("LogOff", "Account")"><i class="icon-power-off"></i>&nbsp;@Strings.LogOff</a>
        </div>

    </div>

      


</div>
