﻿@model chleby.Web.Models.BusinessHoliday

@{
    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
}

@using (Html.BeginForm((string)ViewBag.Action, "BusinessHoliday"))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)

            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">

            <div class="datepicker">
                <div class="datepicker" data-format="y-m-d" data-date="@Model.StartDate.ToString(dateFormat)">
                    @Html.TextBoxFor(model => model.StartDate, new { @class = "input-medium datepicker-toggle", data_toggle = "datepicker" })
                    <div class="datepicker-calendar">
                        <table class="calendar table table-bordered">
                            <thead>
                                <tr class="months-header">
                                    <th class="month" colspan="4">
                                        <a class="previous" href="#"><i class="icon-chevron-left"></i></a>
                                        <span></span>
                                        <a class="next" href="#"><i class="icon-chevron-right"></i></a>
                                    </th>
                                    <th class="year" colspan="3">
                                        <a class="previous" href="#"><i class="icon-chevron-left"></i></a>
                                        <span></span>
                                        <a class="next" href="#"><i class="icon-chevron-right"></i></a>
                                    </th>
                                </tr>
                                <tr class="days-header">
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            <div class="datepicker">
                <div class="datepicker" data-format="y-m-d" data-date="@Model.EndDate.ToString(dateFormat)">
                    @Html.TextBoxFor(model => model.EndDate, new { @class = "input-medium datepicker-toggle", data_toggle = "datepicker" })
                    <div class="datepicker-calendar">
                        <table class="calendar table table-bordered">
                            <thead>
                                <tr class="months-header">
                                    <th class="month" colspan="4">
                                        <a class="previous" href="#"><i class="icon-chevron-left"></i></a>
                                        <span></span>
                                        <a class="next" href="#"><i class="icon-chevron-right"></i></a>
                                    </th>
                                    <th class="year" colspan="3">
                                        <a class="previous" href="#"><i class="icon-chevron-left"></i></a>
                                        <span></span>
                                        <a class="next" href="#"><i class="icon-chevron-right"></i></a>
                                    </th>
                                </tr>
                                <tr class="days-header">
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <p>
            <input class="btn btn-primary @if ((string)ViewBag.Action == "Edit")
                                          {<text>btn-success</text>}" type="submit" value="@ViewBag.Action" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}
