﻿@model chleby.Web.Models.BusinessHoliday

@{
    ViewBag.Title = "Create";
    Model.StartDate = DateTime.Now;
    Model.EndDate = DateTime.Now;
    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
}

@using (Html.BeginForm("Create", "AllHoliday", FormMethod.Post, new { @class = "form-horizontal", id = "chleby-create-form" }))
{
    @Html.ValidationSummary(true)
    <script type="text/javascript">
        $('#chleby-create-form').submit(function () {
            var calendarView = $('#calendar').fullCalendar('getView');
            var currentDate = $('#calendar').fullCalendar('getDate');

            $('<input>').attr({
                type: 'hidden',
                id: 'calendarView',
                name: 'calendarView',
                value: calendarView.name
            }).appendTo('#chleby-create-form');

            $('<input>').attr({
                type: 'hidden',
                id: 'calendarMonth',
                name: 'calendarMonth',
                value: currentDate.getMonth()
            }).appendTo('#chleby-create-form');

            $('<input>').attr({
                type: 'hidden',
                id: 'calendarYear',
                name: 'calendarYear',
                value: currentDate.getFullYear()
            }).appendTo('#chleby-create-form');

            return true;
        });


    </script>
    <fieldset>
        @Html.Hidden("Id", "0")
        <div class="control-group">

            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBox(Html.NameFor(model => model.StartDate).ToString(), "", new { placeholder = Strings.Address_Holiday_Placeholder_from, @class = "input-medium datepicker" })
            </div>
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBox(Html.NameFor(model => model.EndDate).ToString(), "", new { placeholder = Strings.Address_Holiday_Placeholder_to, @class = "input-medium datepicker datepicker-autopopulate" })
            </div>
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

               @Helpers.ModalFormButtons()
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}
