﻿@model chleby.Web.Models.BusinessHoliday

@{
    ViewBag.Title = Strings.Global_Edit;
    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
}

@using (Html.BeginForm("Edit", null, FormMethod.Post, new { @class = "form-horizontal", id = "chleby-edit-form" }))
{
    @Html.ValidationSummary(true)
    
    <script type="text/javascript">

        $('#chleby-edit-form').submit(function () {

            var calendarView = $('#calendar').fullCalendar('getView');
            var currentDate = $('#calendar').fullCalendar('getDate');

            $('<input>').attr({
                type: 'hidden',
                id: 'calendarView',
                name: 'calendarView',
                value: calendarView.name
            }).appendTo('#chleby-edit-form');

            $('<input>').attr({
                type: 'hidden',
                id: 'calendarMonth',
                name: 'calendarMonth',
                value: currentDate.getMonth()
            }).appendTo('#chleby-edit-form');

            $('<input>').attr({
                type: 'hidden',
                id: 'calendarYear',
                name: 'calendarYear',
                value: currentDate.getFullYear()
            }).appendTo('#chleby-edit-form');

        });




    </script>
    <fieldset>
        @Html.Hidden("Id", "0")
        <div class="control-group">

            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
            <div class="controls">
                <input type="text" class="input-medium datepicker" name="@Html.NameFor(model => model.StartDate)" value="@Model.StartDate.ToString(dateFormat)" />
            </div>
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
            <div class="controls">
                <input type="text" class="input-medium datepicker" name="@Html.NameFor(model => model.EndDate)" value="@Model.EndDate.ToString(dateFormat)" />
            </div>
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>
        <div class="control-group">
            <div class="controls">
                <a  @Helpers.JsDelConfirm() href="@Url.Action("Delete", routeValues: new { app = ViewBag.AppName, id = Model.Id })" class="btn btn-danger btn-small">@Strings.Global_Delete</a>
            </div>
        </div>



        @Helpers.ModalFormButtons()
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/js/jqueryval")

}
