﻿@using chleby.Web.Models
@model chleby.Web.Models.ComboViewModel<chleby.Web.Models.BusinessHoliday>

@{
    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
}

@section SecondaryActions{
    <button class="btn btn-icon" onclick="$('#calendar').fullCalendar( 'prev' )"><i class=" icon-chevron-left"></i></button>
    <div class="calendar-title header" id="calendartitle">-</div>
    <button class="btn btn-icon" onclick="$('#calendar').fullCalendar( 'next' )"><i class=" icon-chevron-right"></i></button>
    <div class="btn-group">
        <button class="btn btn-icon toggleactive" onclick="$('#calendar').fullCalendar( 'changeView', 'year' )"><i class=" icon-th"></i>&nbsp;@Strings.Global_Year</button>
        <button class="btn btn-icon btn-inverse toggleactive" onclick="$('#calendar').fullCalendar( 'changeView', 'month' )"><i class=" icon-calendar"></i>&nbsp;@Strings.Global_Month</button>
    </div>
    <button class="btn btn-icon" onclick="$('#calendar').fullCalendar( 'today' )"><i class=" icon-download"></i>&nbsp;@Strings.Global_Today</button>

    <span class="pull-right">
        <a href="#createModal" data-toggle="modal" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.AddHoliday</a>
        @if (@ViewBag.HandwalkStep == 0)
        {
        <button class="btn  " onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</button>
        }    
    </span>
}

	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Calendar</title>
        @Html.Partial("_Meta")
        <link href='http://mountainstream.ms/style/user-registration.css' rel='stylesheet' type='text/css'>
        
    </head>
    <body>
        @Html.Partial("_Header")
		<div class="container-block" style="min-height: 550px">
            <h2>Step 9 of 11. Holiday Calendar</h2>
                <div id='calendar'></div>
                @Helpers.ModalValidationHelper((t, m) => Html.Partial(t, m), t => Html.Partial(t, new BusinessHoliday()), Model, Strings.AllHoliday_Index_Modal_title)

                <button class="btn btn-icon" onclick="$('#calendar').fullCalendar( 'prev' )"><i class=" icon-chevron-left"></i></button>
                    <div class="calendar-title header" id="calendartitle">-</div>
                    <button class="btn btn-icon" onclick="$('#calendar').fullCalendar( 'next' )"><i class=" icon-chevron-right"></i></button>
                    <div class="btn-group" style="position: absolute; top: 90px;">
                        <button class="btn btn-icon toggleactive" onclick="$('#calendar').fullCalendar( 'changeView', 'year' )"><i class=" icon-th"></i>&nbsp;@Strings.Global_Year</button>
                        <button class="btn btn-icon btn-inverse toggleactive" onclick="$('#calendar').fullCalendar( 'changeView', 'month' )"><i class=" icon-calendar"></i>&nbsp;@Strings.Global_Month</button>
                    </div>
                <button class="btn btn-icon" onclick="$('#calendar').fullCalendar( 'today' )"><i class=" icon-download"></i>&nbsp;@Strings.Global_Today</button>

                <span class="pull-right">
                        <a href="#createModal" data-toggle="modal" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.AddHoliday</a>
                        @if (@ViewBag.HandwalkStep == 0)
                        {
                        <button class="btn  " onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</button>
                        }    
               </span>
                
               <div class="span12" style="position: relative; right: -64px; top: -30px;">
                    <a href="@Url.Action("HandwalkMove", "Internal", new { id = 11 })" class="btn btn-green btn-success btn-handwalk btn-icon" style="float: right !important;" id="handwalk-leechproxy"><img subpath="img/icon/user-registration/check.png">@Strings.Global_Save</a>
               </div>
            @section Scripts{
                    <script type="text/javascript">
                        $(document).ready(function () {


                            $(".toggleactive").click(function () {
                                $(".toggleactive").removeClass('btn-inverse');
                                $(this).addClass('btn-inverse');
                            });

                            var today = new Date();

                            var calendarView = '@Session["CalendarView"]';
                            if (calendarView == '') { calendarView = 'month'; }

                            var calendarMonth = '@Session["CalendarMonth"]';
                            if (calendarMonth == '') { calendarMonth = today.getMonth(); }

                            var calendarYear = '@Session["CalendarYear"]';
                            if (calendarYear == '') { calendarYear = today.getFullYear(); }

                            // page is now ready, initialize the calendar...
                            var date = new Date();
                            var d = date.getDate();
                            var m = date.getMonth();
                            var y = date.getFullYear();
                            $('#calendar').fullCalendar({
                                firstDay: 1,
                                aspectRatio: 3,
                                month: calendarMonth,
                                year: calendarYear,
                                defaultView: calendarView,
                                viewDisplay: function (view) {
                                    // alert('The new title of the view is ' + view.title);
                                    //console.log(view);
                                    $('#calendartitle').html(view.title);
                                },

                                header:
                                    {
                                        left: '', center: '', right: ''
                                        //left: 'title',               
                                        //center: 'year,month',
                                        //right: 'today prev,next'
                                    },
                                events: [
                                       @foreach (var item in Model.Index)
                                       {
                                            <text>
                                               {
                                                   title: '@item.Name',
                                                   start: new Date("@item.StartDate.Date.ToString("MM/dd/yyyy")"),
                                                   end: new Date("@item.EndDate.Date.ToString("MM/dd/yyyy")"),
                                                   href: '@Url.Action("Edit", routeValues: new { app = ViewBag.AppName, id = item.Id })'
                                               },
                                           </text>
                                       }
                                           @foreach (AddressHoliday traderitem in ViewBag.TraderHoliday)
                                           {
                                            <text>
                                               {
                                                   title: '@traderitem.Name - @traderitem.Address.Trader.Name @traderitem.Address.Address1',
                                                   start: new Date("@traderitem.StartDate.Date.ToString("MM/dd/yyyy")"),
                                                   end: new Date("@traderitem.EndDate.Date.ToString("MM/dd/yyyy")"),
                                                   href: '',
                                                   backgroundColor: '#959595',
                                                   borderColor: '#959595'
                                               },
                                           </text>
                                           }
                                ],
                                eventRender: function (event, element) {
                                    $('.fc-event-title', element).html(event.title); // fix na &chujencja; gdy dziwne znaki (interpreted as textnode zamiast html)
                                    //via http://stackoverflow.com/questions/2376689/fullcalendar-json-event-feed-problem
                                }
                                , eventClick: function (calEvent, jsEvent, view) {
                                    var href = $(this).attr("href");
                                    if (calEvent.href != "") {
                                        $.ajax({
                                            url: calEvent.href,
                                            context: document.body
                                        }).done(function (data) {
                                            // alert(href + "success" + " data:" + data);
                                            $("#chleby-edit").html(data);
                                            $("#editModal").modal();
                                        });
                                    }
                                    return false;

                                }
                            });

                            $("#calendar").on("click", ".fc-year-monthly-td",
                                     function () {

                                         var DateSlug = $(this).attr("id");
                                         var DateArray = DateSlug.split("-");
                                         $("#calendar").fullCalendar('gotoDate', DateArray[0], DateArray[1]);
                                         $("#calendar").fullCalendar('changeView', 'month');

                                     }
                                     );

                        });

                    </script>
                    @Scripts.Render("~/js/fullcalendar")
                }
		</div>
		<br style="clear:both" />
        @Html.Partial("_Footer")
</body>






