﻿@using chleby.Web.Controllers
@model IEnumerable<chleby.Web.Models.UnitOfMeasure>

@using (Html.BeginForm("SetUoM", "UoM", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>

            <span class="name">@Strings.UoM</span>
            @if (this.CanWrite(typeof(UoMController)))
            {
                <span class="actions">
                    <button class="btn btn-success @(Model.Any() ? "" : "disabled")" type="submit" @(Model.Any() ? "" : "disabled")>
                        <i class="icon-save icon-white"></i>&nbsp;@Strings.Global_Save
                    </button>
                </span>
            }
        </legend>
        <div class="fieldset-content">
            @foreach (var uom in Model)
            {          
                <div class="control-group">
                    @if (this.CanWrite(typeof(UoMController)))
                    {
                        @Html.TextBox("uom[" + uom.Id + "]", uom.Name, new { @class = "input-large" })
                    }
                    else
                    {
                        @uom.Name
                    }

                    @if (this.CanWrite(typeof(UoMController)))
                    {
                        <a onclick="return confirm('Are you sure?')" href="@Url.Action("DeleteUoM", "UoM", routeValues: new { id = @uom.Id })" class="btn btn-icon btn-danger"><i class="icon-remove icon-white"></i></a>                 
                    }

                </div>
            }
        </div>
    </fieldset>
}

@if (this.CanWrite())
{
    using (Html.BeginForm("CreateUoM", "UoM", FormMethod.Post, new { @class = "form-horizontal" }))
    {
    <div class="fieldset-content">
        <div class="control-group">
            @Html.TextBox("Name", (string)ViewBag.NewName, new { @class = "input-large", placeholder = Strings.UoM_Add_Field })
            @Html.ValidationMessage("Name")
            <button class="btn btn-success btn-icon" type="submit">
                <i class="icon-plus-sign icon-white"></i>
            </button>
        </div>
    </div>
    }
}