@using System.Linq.Expressions
@model chleby.Web.Models.Trader

@{
    ViewBag.Title = Strings.Global_Create;
}

@using (Html.BeginForm("Create", "Traders", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        @Html.Hidden("Id", "0")
        @Helpers.GenerateEditorFor(Html, model => model.PrimaryName)
        @Helpers.GenerateEditorFor(Html, model => model.TradingName)
        @Helpers.GenerateEditorFor(Html, model => model.Tags)
        <div class="control-group">
            <div class="control-label">@Strings.Global_Status</div>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="Live" value="0">
                    @Strings.NotLive
                </label>
                <label class="radio">
                    <input type="radio" name="Live" checked value="1">
                    @Strings.Live
                </label>
                <label class="radio">
                    <input type="radio" name="Live" value="2">
                    @Strings.Traders_Sales_Lead
                </label>
            </div>
        </div>

        <div class="control-group">
            @Html.Label("Type", new { @class = "control-label" })
            <div class="controls">
                @{
    var selTT = ChlebyContext.ForCurrentApp().AppConfig.DefaultTTId;
    if (Model != null && Model.TypeId > 0) { selTT = Model.TypeId; }
                }
                @Html.RadioButtonForSelectList(model => model.TypeId,
                                                       ((IEnumerable<chleby.Web.Models.TraderType>)ViewBag.PossibleTypes)
                                                           .Select(option => new SelectListItem
                                                           {
                                                               Text = (option == null ? "None" : option.Name),
                                                               Value = option.Id.ToString(CultureInfo.InvariantCulture),
                                                               Selected = option.Id == selTT
                                                           }))
                @Html.ValidationMessageFor(model => model.TypeId)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.PaymentTerms, new { @class = "control-label" })
            <div class="controls">
                @{
    var selPT = ChlebyContext.ForCurrentApp().AppConfig.DefaultPTId;
    if (Model != null && Model.PayId > 0) { selPT = Model.PayId; }
                }
                @Html.RadioButtonForSelectList(model => model.PayId,
                        ((IEnumerable<PaymentTerm>)ViewBag.PaymentT)
                            .Select(option => new SelectListItem
                            {
                                Text = (option == null ? "None" : option.Name),
                                Value = option.Id.ToString(),
                                Selected = option.Id == selPT
                            }))
                @Html.ValidationMessageFor(model => model.PayId)
            </div>
        </div>
        @Helpers.ModalFormButtons()
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}
