@using System.Linq.Expressions
@using chleby.Web.Models
@using chleby.Web
@model chleby.Web.Models.Trader

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Traders", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        @Html.HiddenFor(model => model.Id)
        @Helpers.GenerateEditorFor(Html, model => model.PrimaryName)
        @Helpers.GenerateEditorFor(Html, model => model.TradingName)
        @Helpers.GenerateEditorFor(Html, model => model.Tags)
            <div class="control-group">
            <div class="control-label">Status</div>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="Live"@(Model.Live==0 ? "checked" : "") value="0">
                    Not Live
                </label>
                <label class="radio">
                    <input type="radio" name="Live" @(Model.Live==1 ? "checked" : "") value="1">
                    Live
                </label>
                <label class="radio">
                    <input type="radio" name="Live" @(Model.Live==2 ? "checked" : "") value="2">
                    Sales Lead
                </label>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">@Strings.Type</label>
            <div class="controls">
                @Html.RadioButtonForSelectList(model => model.TypeId,
                        ((IEnumerable<chleby.Web.Models.TraderType>)ViewBag.PossibleTypes)
                            .Select(option => new SelectListItem
                            {
                                Text = (option == null ? "None" : option.Name),
                                Value = option.Id.ToString(CultureInfo.InvariantCulture),
                                Selected = (Model != null) && (option.Id == Model.TypeId)
                            }))
                @Html.ValidationMessageFor(model => model.TypeId)
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">@Html.DisplayNameFor(model => model.PaymentTerms.Name)</label>
            <div class="controls">
                <select name="@Html.NameFor(model => model.PayId)" tabindex="7" class="autowidth">
                    @foreach (var pt in ViewBag.PaymentT)
                    {
                        if (pt.Id == Model.PaymentTerms.Id)
                        {
                        <option title="@pt.Name" value="@pt.Id" selected="selected">@pt.Name</option>
                        }
                        else
                        {
                        <option title="@pt.Name" value="@pt.Id">@pt.Name</option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.PayId)
            </div>
        </div>
         <div class="form-actions">
            <button class="btn btn-success" type="submit"><i class="icon-ok"></i>&nbsp;@Strings.Global_Save</button>
            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" ><i class="icon-remove-sign"></i>&nbsp;@Strings.Global_Cancel</button>
        </div>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}
