@using chleby.Web.Controllers
@model ComboViewModel<Trader>

@{
    var users = (Dictionary<Guid, string>)ViewBag.users;
}

@if (ViewBag.MyBusiness.HandwalkStep != 0 && !Model.Index.Any())
{
    <div class="row">
        <div class="span6">
            <p>The next steps are to set up:</p>
            <ol>
                <li>Customers </li>
                <li>Customer Users</li>
                <li>Customer Addresses</li>
            </ol>
            <p>
                Every customer MUST have at least one User and one Address, to be able 
                to place an order.
            </p>
            <p></p>
            <p>
                A customer may have multiple users per address and may also have multiple 
                delivery addresses.
            </p>
        </div>
        <div class="span6">
            <p>
                All can be <a href="@Url.Action("Import", "Traders")" class="customers-import-modal">easily imported </a> or <a href="#createModal" data-toggle="modal">entered 
        directly</a>.
            </p>
            <p></p>
            <p>
                One step at a time, import Customers, then Users and then Addresses. 
            </p>
            <p></p>
            <p>
                Importing all your Customers first, then the Users and finally the addresses 
        is the fastest option.
            </p>
        </div>
    </div>
}
@Helpers.Modal("customers-import-modal", Strings.Global_Import,"import-modal")
<div>
    <table id="customer-contact-list" cellpadding="0" cellspacing="0" border="0" class="table table-hover table-fixed table-condensed data-table ">
        <thead>
            <tr>
                @if (ViewBag.MyBusiness.HandwalkStep == 0)
                {
                    <th class="actions filter-select"></th> @*live*@
                }
                else
                {
                    <th class="actions no-sort"></th> @*live*@
                }
                <th class="actions no-sort noprint"></th>
                @*del*@
                @if (ViewBag.MyBusiness.HandwalkStep == 0)
                {
                    <th class="actions no-sort noprint"></th> @*menu*@
                }
                <th class="actions no-sort noprint"></th>
                @*(+)*@
                <th class="filter-text">@Strings.Company
                </th>
                <th class="filter-text">@Strings.InvoiceContact
                </th>
                <th class="filter-text ">@Strings.Telephone
                </th>
                <th class="filter-text">@Strings.Global_Email
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trader in Model.Index.OrderBy(x => x.Name))
            {
                var primaryAddr = trader.Address.FirstOrDefault(x => x.AddressIsPrimary);
                string modalBody = string.Empty, modalTitle = string.Empty;
                if (primaryAddr != null)
                {
                    TraderEmployee invoiceContact = primaryAddr.TraderEmployees.FirstOrDefault(emp => emp.MainContact);
                    if (invoiceContact == null)
                    {
                        // if it is not main contatc, try get other
                        invoiceContact = primaryAddr.TraderEmployees.FirstOrDefault();
                    }
                    if (invoiceContact != null)
                    {
                        string email = Strings.Global_Empty;

                        if (invoiceContact != null && users.ContainsKey(invoiceContact.ExternalAccountData))
                        {
                            email = users[invoiceContact.ExternalAccountData];
                        }
                        modalTitle = "<b>" + invoiceContact.FirstName + " " + invoiceContact.LastName + "</b> " + invoiceContact.Phone + " " +
                            "<a href='mailto:" + email + "'>" + email + "</a><br>";

                        foreach (TraderEmployee contact in trader.Employees.OrderBy(x => x.LastName))
                        {
                            if (contact != invoiceContact && contact != null)
                            {
                                string contactEmail = users.ContainsKey(contact.ExternalAccountData) ? users[contact.ExternalAccountData] : string.Empty;
                                modalTitle += "<b>" + contact.FirstName + " " + contact.LastName + "</b> " + contact.Phone + " " +
                             "<a href='mailto:" + contactEmail + "'>" + contactEmail + "</a><br>";
                            }
                        }
                    }
                    //else
                    //{
                    //    string msg = string.Format(Strings.Traders_Index_No_Main_Contact, trader.Name);
                    //    <p>@msg</p>    
                    //}
                    modalBody = primaryAddr.Post + "<br>"
                    + primaryAddr.Address1 + "<br>"
                     + primaryAddr.Address2 + "<br>"
                     + primaryAddr.Address3 + "<br>"
                     + primaryAddr.City;
                }
                else
                {

                    modalTitle = trader.Name + "<br>";
                    foreach (var contact in trader.Employees.OrderBy(x => x.LastName))
                    {
                        string contactEmail = users.ContainsKey(contact.ExternalAccountData) ? users[contact.ExternalAccountData] : string.Empty;
                        modalTitle += "<b>" + contact.FirstName + " " + contact.LastName + "</b> " + contact.Phone + " " +
                     "<a href='mailto:" + contactEmail + "'>" + contactEmail + "</a><br>";
                    }

                    modalBody = Strings.Traders_Index_No_invoice_address;
                }
                <tr>


                    @if (this.CanWrite(typeof(TradersController)))
                    { 
                        <td class="actions">
                            @if (trader.Live == 1)
                            {
                                <a rel="tooltip" data-toggle="tooltip" data-placement="left" title="Live" href="#" id="@trader.Id" class="chleby-live btn-subtle"><i class="icon-ok"></i><span class="hide">@Strings.Live</span></a>                     
                            }
                            else if (trader.Live == 0) //zmienic na 0
                            {     
                                <a  rel="tooltip"  data-toggle="tooltip" data-placement="left" title="Not Live" href="#"  id="@trader.Id" class=" chleby-not-live btn-subtle "><i class="icon-minus"></i><span class="hide">@Strings.NotLive</span></a>
                            }
                            else if (trader.Live == 2) //zmienic na 2
                            {     
                                <a  rel="tooltip"  data-toggle="tooltip" data-placement="left" title="Sales Lead" href="#"  id="@trader.Id" class=" chleby-maybe-live btn-subtle "><i class="icon-question-sign"></i><span class="hide">@Strings.Traders_Sales_Lead</span></a>
                            }
                        </td>
                        <td class="actions noprint">
                            @if (!ViewBag.usedTraders.Contains(trader.Id))
                            {
                                <a @Helpers.JsDelConfirm() title="@Strings.Global_Delete" href="@Url.Action("Delete", "Traders", routeValues: new { id = trader.Id })" class="btn-subtle delete"><i class="icon-trash icon-white"></i></a>
                            }
                            else
                            {
                                <a onclick="return false;" href="#" class="btn-subtle delete has-popover" style="cursor: not-allowed" title="@Strings.Traders_Index_CantDeleteWarning"><i class="icon-trash"></i></a>
                            }
                        </td>
                            if (this.CanWrite(typeof(TradersController)) && ViewBag.MyBusiness.HandwalkStep == 0)
                            {
                        <td class="actions noprint">
                            <div class="btn-group">
                                <a title="@Strings.Global_Customer" class="btn-subtle dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="#"><i class="icon-reorder"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-global">

                                    @Helpers.ShowMenu("trader",
      @<text>@Url.Action(item.Action, item.Controller, new { tid = trader.Id })</text>, "", true)

                                    <li><a title="@Strings.Global_Edit" href="@Url.Action("Edit", "Traders", routeValues: new { id = trader.Id })" class="chleby-edit">@Strings.Global_Edit</a></li>
                                </ul>
                            </div>
                        </td>

                            }
                    }
                    <td class="actions control noprint" id="details-@trader.Id"><i class="icon-plus-sign"></i></td>

                    <td>
                        <div class="inner">
                            <div class="chleby-collapse">
                                <span class="has-popover secondary-info"  title="@modalTitle<div class='powertip-small'>@modalBody</div>">
                                    @if (this.CanWrite(typeof(TradersController)))
                                    {                                                              
                                        <a href="@Url.Action("SwitcherDone", "Internal", routeValues: new { adminactor = trader.Id })">@trader.Name</a>                                        
                                              
                                    }
                                    else
                                    {
                                        @trader.Name
                                    }
                                </span>
                            </div>
                        </div>
                    </td>

                    @{var addr = trader.Address.FirstOrDefault(x => x.AddressIsPrimary);
                      if (addr != null)
                      {
                          TraderEmployee invoiceContact = addr.TraderEmployees.FirstOrDefault(emp => emp.MainContact);
                          if (invoiceContact == null)
                          {
                              // if it is not main contatc, try get other
                              invoiceContact = primaryAddr.TraderEmployees.FirstOrDefault();
                          }
                          if (invoiceContact != null)
                          {
                              string email = users.ContainsKey(invoiceContact.ExternalAccountData) ? users[invoiceContact.ExternalAccountData] : string.Empty;
                        <td class="left">
                            <div class="inner">
                                <div class="chleby-collapse"><span>@invoiceContact.FirstName @invoiceContact.LastName</span></div>
                            </div>
                        </td>
                        <td class="left">
                            @invoiceContact.Phone
                        </td>
                        <td class="left">
                            <div class="inner">
                                <div class="chleby-collapse"><span><a href="mailto:@(email)">@email</a></span></div>
                            </div>
                        </td>
                          }
                          else
                          {
                        <td class="left"></td>
                        <td></td>
                        <td></td>
                          }
                      }
                      else
                      {
          
                        <td class="left"></td>
                        <td></td>
                        <td></td>
                      }
                    }
                </tr>           
            }
        </tbody>
    </table>

    <div class="hide">
        @foreach (var item in Model.Index.OrderBy(x => x.Name))
        {
            <div id="content-details-@item.Id">
                <div class="row-fluid">

                    @foreach (var adr in item.Address)
                    {
                          
                        <div class="span3">
                            <b>@adr.Post</b><br />
                            @adr.Address1<br />
                            @adr.Address2<br />
                            @adr.Address3
                        </div>
                              
                    }

                </div>
            </div>
        }
    </div>

</div>
@Helpers.ModalValidationHelper((t, m) => Html.Partial("~/Views/Traders/" + t + ".cshtml", m, ViewData), t => Html.Partial("~/Views/Traders/" + t + ".cshtml", new Trader(), ViewData), Model, Strings.Customer)
