﻿@using chleby.Web.Controllers
@model IDictionary<Type, ModelData>

@section SecondaryActions {
            <span class="header">@Strings.CustomerList - <span id="customer-type">@ViewBag.DefaultFilter</span></span>
            <span class="pull-right">
                @if (ViewBag.HandwalkStep == 0)
                {
                    <a href="@Url.Action("Export", "Traders")" class="btn"><i class="icon-share"></i>&nbsp;@Strings.Global_Export</a>
                }
                @if (this.CanWrite(typeof(TradersController)))
                {
                    <a href="#createModal" data-toggle="modal" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.AddCust</a>
        
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cloud-upload"></i>&nbsp;@Strings.Global_Import
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Import", "Traders")" class="customers-import-modal"><i class="icon-cloud-upload"></i>&nbsp;@Strings.Customers</a></li>
                            <li><a href="@Url.Action("Import", "TraderEmployees")" class="customers-import-modal"><i class="icon-cloud-upload"></i>&nbsp;@Strings.Employees</a></li>
                            <li><a href="@Url.Action("Import", "Address")" class="customers-import-modal"><i class="icon-cloud-upload"></i>&nbsp;@Strings.Addresses</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <a href="#" class="btn disabled"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.AddCust</a>   
                    <a href="#" class="btn disabled"><i class="icon-cloud-upload"></i>&nbsp;@Strings.Global_Import</a>
                }
                @if (ViewBag.HandwalkStep == 0)
                {
                    if (((ComboViewModel<Trader>)Model[typeof(TradersController)].Model).Index.Any())
                    {
                         <a target="_blank" href="@Url.Action("PDF", new { app = ViewBag.AppName, ViewBag.live })" class="btn">
                             <img src="@Url.Content("~/Images/pdf-icon.gif")" />&nbsp;@Strings.Global_Print</a>
                    }
                    else
                    {
                         <a target="_blank" href="#" class="btn disabled">
                             <img src="@Url.Content("~/Images/pdf-icon.gif")" />&nbsp;@Strings.Global_Print</a>
                    }
                }
        </span>
}

@section Scripts {
    <script type="text/javascript">
            $(function () {
                $(".select_filter").val("@ViewBag.DefaultFilter").change().trigger("change"); //filter only live customers by default then tigger change event to allow pickup by datatables


            $(".select_filter").change(function () {

                var newlabel = "@Strings.Global_All";

                if ($(this).val() != "") {
                    newlabel = $(this).val();
                }

                $("#customer-type").html(newlabel);
            });

            var anOpen = []; //open table rows

            function openCloseDetailsRow(object) {
                var nTr = object.parentNode;
                var content = $('#content-' + object.id).html();
                var i = $.inArray(nTr, anOpen);

                if (i === -1) {
                    oTable.fnOpen(nTr, content, 'details');
                    anOpen.push(nTr);
                    $(object).html('    <i class="icon-minus-sign"></i>');
                }
                else {
                    $(object).html('<i class="icon-plus-sign"></i>');
                    oTable.fnClose(nTr);
                    anOpen.splice(i, 1);
                }
            }

            $('table').on('click', 'td.control', function () {
                openCloseDetailsRow(this);
            });

            $('table').on('dblclick', 'tr', function () {
                var controls = $(this).find('.control').get(0);
                openCloseDetailsRow(controls);
            });

            $("body").on("click", ".chleby-maybe-live", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);

                $.get("@Url.Action("ToggleLive", "Traders")", { id: $(this).attr("id"), live: "1" })
                    .done(function (data) {
                        console.log(data);
                        if (data.msg == "ok") {

                            button.removeClass("chleby-maybe-live");
                            button.addClass("chleby-live");
                            button.attr("data-original-title", "Live");
                            button.html('<i class="icon-ok"></i><span class="hide">@Strings.Live</span>');
                        }
                        else {
                            button.addClass("btn-warning");
                            button.html('Connection error');
                        }
                    });
            });

            $("body").on("click", ".chleby-live", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);
                $.get("@Url.Action("ToggleLive", "Traders")", { id: $(this).attr("id"), live: "0" })
                    .done(function (data) {
                        console.log(data);
                        if (data.msg == "ok") {

                            button.removeClass("chleby-live");
                            button.addClass("chleby-not-live");
                            button.attr("data-original-title", "Not Live");
                            button.html('<i class="icon-minus"></i><span class="hide">@Strings.NotLive</span>');
                        }
                        else {
                            button.addClass("btn-warning");
                            button.html('Connection error');
                        }

                    });
            });
        });

            $("body").on("click", ".chleby-not-live", function (e) {
                e.preventDefault();
                $(this).html("&nbsp;");
                $(this).spin("tiny");
                var button = $(this);
                $.get("@Url.Action("ToggleLive", "Traders")", { id: $(this).attr("id"), live: "2" })
                    .done(function (data) {
                        console.log(data);
                        if (data.msg == "ok") {

                            button.removeClass("chleby-not-live");
                            button.addClass("chleby-maybe-live");
                            button.attr("data-original-title", "Sales Lead");
                            button.html('<i class="icon-question-sign"></i><span class="hide">@Strings.Traders_Sales_Lead</span>');
                        }
                        else {
                            button.addClass("btn-warning");
                            button.html('Connection error');
                        }

                    });
        });


    </script>
}

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Clients</title>
        @Html.Partial("_Meta")
        <link href='http://mountainstream.ms/style/user-registration.css' rel='stylesheet' type='text/css'>
        
    </head>
    <body>
        @Html.Partial("_Header")
		<div class="container-block" style="min-height: 550px;">
			<h2>Step 5 of 11. Add Clients</h2>

            @if (this.CanRead(typeof(TradersController)))
            {
                // @Html.Partial("~/Views/TraderTypes/Index.cshtml", (object)Model[typeof(TraderTypesController)].Model, Model[typeof(TraderTypesController)].ViewData)
                @Html.Partial("~/Views/Traders/Index.cshtml", (object)Model[typeof(TradersController)].Model, Model[typeof(TradersController)].ViewData)
            }

            <a href="#createModal" data-toggle="modal" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.AddCust</a>
        
            <div class="btn-group" style="display: block; position: relative; top: 0px;">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cloud-upload"></i>&nbsp;@Strings.Global_Import
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Import", "Traders")" class="customers-import-modal"><i class="icon-cloud-upload"></i>&nbsp;@Strings.Customers</a></li>
                    <li><a href="@Url.Action("Import", "TraderEmployees")" class="customers-import-modal"><i class="icon-cloud-upload"></i>&nbsp;@Strings.Employees</a></li>
                    <li><a href="@Url.Action("Import", "Address")" class="customers-import-modal"><i class="icon-cloud-upload"></i>&nbsp;@Strings.Addresses</a></li>
                </ul>
            </div>
            
            
            <!-- <a href="@Url.Action("HandwalkMove/7", "Internal")" class="btn btn-green btn-success btn-handwalk btn-icon" id="handwalk-leechproxy"><img subpath="img/icon/user-registration/check.png">Next</a> -->
            <a href="@Url.Action("HandwalkMove", "Internal", new { id = 7 })" class="btn btn-green btn-success btn-handwalk btn-icon" id="handwalk-leechproxy"><img subpath="img/icon/user-registration/check.png">@Strings.Global_Save</a>
        </div>
		<br style="clear:both" />
        @Html.Partial("_Footer")

        
</body>