﻿@using System.Globalization
@model Dictionary<DateTime, Dictionary<Address, IEnumerable<IGrouping<Item, OrderPosition>>>>

@{
    //bo account nie jest chlebycontroller ;(
    string active = ViewBag.ActiveMenuId ?? "";
    bool isAdmin = ViewBag.AdminModule ?? IsSuperAdmin() || IsEmployee();
    var modName = ViewBag.ModuleName ?? "";
    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
    IDictionary<DateTime, DateTime> localDates = ViewBag.LocalDates;
    
}

@section SecondaryActions
{


    <span class="header">@Strings.SimpleProduction_CartSummary_Title</span>}

<div class="row-fluid">
    <table class="table data-table no-borders table-condensed table-hover">
        <thead>
            <tr>
                <th class="no-sort center">@Strings.Global_Delivery</th>
                <th class="actions no-sort"></th>
                <th class="actions no-sort"></th>
                <th class="filter-select">@Strings.Global_Date</th>
                @if ((this.IsSuperAdmin() || this.IsEmployee()) && isAdmin || modName == "Home")
                {
                    <th class="filter-select">@Strings.Global_Customer</th>
                }
                else
                {
                    <th class="filter-select">@Strings.Global_Address</th>
                }
                <th class="filter-select">@Strings.Global_Item</th>
                <th class="right no-sort">@Strings.Global_SO</th>
                <th class="right currency-sort">@Strings.Global_Ordered</th>
                <th class="right currency-sort">@Strings.Global_Each</th>
                <th class="right currency-sort">@Strings.Global_Total</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var bydate in Model.OrderByDescending(x=>x.Key))
            {
                foreach (var byaddr in bydate.Value)
                {
                    foreach (var items in byaddr.Value.Where(x=>x.Key.Live).OrderBy(x=>x.Key.CraftingTime))
                    {
                        var price = @items.First().Item.GetItemPrice(byaddr.Key.Trader).Value;
                <tr>
                    <td class="center"><span class="tohide">

                                           @if (items.First().Order.Delivery)
                                           {
                                               <i class='icon-ok chleby-live'></i><span class="hide">true</span>
                                           }
                                           else
                                           {
                                               <i class='icon-minus chleby-not-live'></i><span class="hide">false</span>
                                           }
                                           <span class="hide">@byaddr.Key.Id</span>
                                       </span>
                    </td>
                    @{ 
                        //var cutoff = DateTime.ParseExact(Settings["Snapshot"]["LastDate"], "dd/MM/yyyy HH:mm:ss", CultureInfo.InvariantCulture);
                        var cutoff = ViewBag.Lastsnap;
                    }
                    @if (bydate.Key > cutoff.AddDays(items.Key.CraftingTime+1))
                    {
                        <td><span class="tohide"><a title="@Strings.Global_Delete" class="btn-subtle" href="@Url.Action("DeleteCartOrder", null, new {date = bydate.Key.ToStringUrl(), addrId = byaddr.Key.Id, itemId = items.Key.Id})"><i class="icon-trash"></i></a></span></td>
                        <td><span class="tohide"><a title="@Strings.Global_Edit" class="btn-subtle" href="@Url.Action("Index", "OrderOverride", new {date = bydate.Key.ToStringUrl(), id = byaddr.Key.Id, tid=byaddr.Key.TraderId})"><i class="icon-pencil"></i></a></span></td>
                    }
                    else
                    {
                        <td></td><td></td>
                    }
                    <td><span class="tohide">@localDates[bydate.Key].ToString(dateFormat + " ddd")</span></td>
                    @{ string href = Url.Action("Index", "OrderOverride", new {tid = byaddr.Key.TraderId, id = byaddr.Key.Id, date = bydate.Key.ToStringUrl()}); }
                    @if ((this.IsSuperAdmin() || this.IsEmployee()) && isAdmin || modName == "Home")
                    {
                        <td><span class="tohide"><a href="@href">@byaddr.Key.Trader.Name - @byaddr.Key.Address1</a></span></td>
                    }
                    else
                    {
                        <td><span class="tohide"><a href="@href">@byaddr.Key.Address1</a></span></td>
                    }
                    <td><span class="tohide">@items.Key.Name</span></td>

                    @{
                        var dayofweek = (int)bydate.Key.DayOfWeek - 1;
                        if (dayofweek < 0)
                        {
                            dayofweek += 7;
                        }
                        var standingOrders = byaddr.Key.Orders.OfType<StandingOrder>().Where(x => x.Day == dayofweek).ToList();
                        // get standing order for cart order
                        int itemcount = 0;
                        var so = (from order in standingOrders
                                  from pos in order.Items
                                  where pos.Item.Id == items.Key.Id
                                  select pos).FirstOrDefault();

                        string count = so != null ? so.OrderedCount.ToString(CultureInfo.CurrentUICulture) : "";
                        itemcount = so != null ? so.OrderedCount : 0;
                        count = count == "0" ? "X" : count;
                    }

                    <td class="right">@count</td>
                    <td class="right">@items.Sum(x => x.OrderedCount)</td>
                    <td class="right">@Helpers.VS(price)</td>
                    <td class="right">@Helpers.VS(items.Sum(x => x.OrderedCount * price))</td>
                </tr>
                    }
                }
                @*<tr class="separate ">
                    <td></td>
                    <td></td>
                      <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>*@
            }
        </tbody>
    </table>
</div>
