﻿@model IEnumerable<Tuple<Address,Dictionary<string,Tuple<int,int>>>>
<h1>@Strings.SimpleProduction_Delivery_title @ViewBag.date</h1>
@foreach (var x in Model)
{
    <p>
        <b>@x.Item1.Address1</b><br/>
        <ul>
            @foreach (var kvp in x.Item2)
            {
                <li>@kvp.Key: @kvp.Value.Item1 / @kvp.Value.Item2</li>
            }
        </ul>
    </p>
}

@foreach (DateTime date in ViewBag.enddates)
{
    <p><a href="@Url.Action("Delivery", new { date = date.Date.ToString("ddMMyyyy") })">@date.ToShortDateString()</a></p>
}