﻿@model IEnumerable<SnapshotOrderPosition>
@{
    var addrs = (Dictionary<int, string>)ViewBag.addrs;
}
@using (Ajax.BeginForm("EditSave", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "location.reload()" }, new { @class = "form-horizontal" }))
{
    @Html.Hidden("date")
    @Html.Hidden("itemId")

    
    <span class="alert alert-warning">
        <i class="icon-warning-sign blink"></i>
        @ViewBag.waring
    </span>
    
    <table class="table table-condensed table-modal no-borders table-hover">
        <thead>
            <tr>
                <th>@Strings.Global_Customer</th>
                <th>@Strings.Global_Postcode</th>
                <th>@Strings.Global_Ordered</th>
                <th>@Strings.Global_Made</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pos in Model)
            {

                string tooltip = pos.Address.Address1 + "<br>" + pos.Address.Address2 + "<br>" + pos.Address.Address3 + "<br>" + pos.Address.City;

                <tr>
                    <td>@pos.Address.Trader.Name</td>
                    <td><span class="has-popover" title="@tooltip">@pos.Address.Post</span></td>
                    <td>@pos.OrderedCount</td>
                    <td>@Html.ValidationMessage("pos[" + pos.Id + "]")@Html.TextBox("pos[" + pos.Id + "]", pos.MadeCount, new { @class = "input-mini" })</td>

                </tr>
            }
            <tr>
                @{
            var usedAddrs = Model.Select(x => x.Address_Id);
                }
                <td colspan="3">
                    @Html.DropDownList("addrId", addrs.
                        Where(x => !usedAddrs.Contains(x.Key)).
                        Select(x => new SelectListItem
                            {
                                Text = x.Value,
                                Value = x.Key.ToString(CultureInfo.InvariantCulture)
                            }), Strings.Address_Dropdown_None, new { style = "width: 250px;" })
                </td>
                <td>@Html.TextBox("newCount", (int?)ViewBag.newCount, new { @class = "input-mini" })</td>
            </tr>
        </tbody>
    </table>
    
   
    @Helpers.ModalFormButtons()
}

<script type="text/javascript">
    $('#prod-editLabel').html("@ViewBag.item.Name");
</script>