﻿@using chleby.Web.Models;
@model IEnumerable<ProdIndexModel>

@{
    
    var curdate = ViewBag.date;
    DateTime selectedDate = ViewBag.date;
    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
    ViewBag.title += " " + curdate.ToString(dateFormat);
}



@section SecondaryActions
    {

    <div class="btn-group">
        <span class="header">@Strings.SimpleProduction_Index_Title&nbsp;</span>
        <select class=" select-redirect">
            @foreach (DateTime date in ViewBag.enddates)
            {
                if (date.Date.Year == selectedDate.Year && date.Date.Month == selectedDate.Month && date.Date.Day == selectedDate.Day)
                {
                    <option selected="selected" value="@Url.Action("Index", new { date = date.Date.ToString("ddMMyyyy") })">@date.ToString(dateFormat + " ddd")</option>
                }
                else
                {
                    <option value="@Url.Action("Index", new { date = date.Date.ToString("ddMMyyyy") })">@date.ToString(dateFormat + " ddd")</option>
                }
            }
        </select>

    </div>
    <span class="pull-right">
        <a href="@Url.Action("QueueExport", new { date = curdate.Date.ToString("ddMMyyyy") })" class="btn">
            <img src="~/Images/csv-icon.gif">&nbsp;@Strings.Global_Export</a>
        <button class="btn" onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</button>
    </span>
}

<div class="row">
    <div class="table-container no-borders w600">
        <table class="table data-table no-borders table-condensed table-hover">
            <thead>
                <tr>
                    <th class="no-sort filter-text">@Strings.Global_Item_Group</th>
                    <th class="no-sort filter-text">@Strings.Global_Item</th>
                    <th class="no-sort price right">@Strings.Global_Ordered</th>
                    <th class="no-sort price right">@Strings.Global_Made</th>
                    <th class="no-sort right">@Strings.Global_Each</th>
                    <th class="no-sort actions"></th>
                    <th class="no-sort actions"></th>
                </tr>
            </thead>
            <tbody>


                @{
                    int orderedTotal = 0;
                    int madeTotal = 0;
                    decimal weightTotal = 0;

                    int orderedGroup = 0;
                    int madeGroup = 0;
                    decimal weightGroup = 0;
                }
                @foreach (var grs in Model.Where(x => x.Entity is Item).GroupBy(x => ((Item)x.Entity).ItemGroup).OrderBy(x => x.Key.Order))
                {
                    orderedGroup = 0;
                    madeGroup = 0;
                    weightGroup = 0;
                    
                    foreach (var pos in grs.OrderBy(x => x.Entity.Name))
                    {

                        Item it = (Item)pos.Entity;

                        string tooltip = "<table class='table table-condensed'>" +
                                         "<thead><th>Customer</th><th>Address</th><th>ordered</th><th>made</th></thead><tbody>";



                        foreach (var a in pos.ByAddr.OrderBy(x => x.Key.Trader.Name))
                        {
                            var week = ViewBag.week;
                            var address = a.Key.Id;
                            string isAdhoc = (a.FirstOrDefault().Adhoc) ? "*" : "";

                            tooltip += "<tr><td>" + a.Key.Trader.Name + " </td><td>" + a.Key.Address1 + "</td><td class='right'>"
                                       + isAdhoc + a.Sum(x => x.OrderedCount) + "</td><td class='right'>" + a.Sum(x => x.MadeCount) + "</td></tr>";
                        }
                        tooltip += "</tbody></table>";
                        
                    <tr @(pos.MadeCount == pos.OrderedCount ? "" : "class=error")>
                        <td><span class="tohide"><b>@grs.Key.Name</b></span></td>
                        <td><span class="has-popover" title="@tooltip">@pos.Entity.Name</span></td>
                        <td class="right">@pos.OrderedCount</td>
                        <td class="right">@pos.MadeCount</td>
                        <td class="right">
                            @{string weight = string.Empty;
                            if (it.Attributes.Any(x => x.Metadata.Name == "Weight"))
                            {
                                var firstOrDefault = it.Attributes.FirstOrDefault(x => x.Metadata.Name == "Weight");
                                if (firstOrDefault != null)
                                {
                                    weight = firstOrDefault.Value;
                                @weight
                                    int i = 0;
                                    if (Int32.TryParse(weight, out i) && pos.MadeCount > 0)
                                    {
                                        weightTotal += pos.MadeCount * i;
                                        
                                    }
                                }
                            }
                            else if(it.Weight > 0)
                            {
                                weightTotal += pos.MadeCount * it.Weight;
                                @it.Weight.ToString("0")
                            }
                                
                            }
                            
                        </td>
                        @if (CanWrite())
                        {
                            <td class="actions"><a @Helpers.BtnSubtleTitle("Delete") @Helpers.JsDelConfirm() href="@Url.Action("Delete", routeValues: new { itemId = @pos.Entity.Id, date = ViewBag.date.ToString("ddMMyyyy") })" class="btn-subtle delete"><i class="icon-trash"></i></a></td>
                            <td class="actions"><a @Helpers.BtnSubtleTitle("Edit") class="prod-edit btn-subtle" href='@Url.Action("Edit", new { itemId = @pos.Entity.Id, date = ViewBag.date.ToString("ddMMyyyy") })'><i class="icon-pencil"></i></a></td>
                        }

                    </tr>
         
                        orderedTotal += pos.OrderedCount;
                        madeTotal += pos.MadeCount;

                        orderedGroup += pos.OrderedCount;
                        madeGroup += pos.MadeCount;
                        weightGroup += pos.MadeCount * it.Weight;
                    }
                    
                    
                        string weightGroupStr = weightGroup.ConvertWeithtUp(business);
                    
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="right total">@orderedGroup</td>
                        <td class="right total">@madeGroup</td>
                        <td class="right total">@weightGroupStr</td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                    <tr class="separate ">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }

                @{
                    string weightTotalStr = weightTotal.ConvertWeithtUp(business);
                    
                }
                <tr class="total">
                    <td></td>
                    <td></td>
                    <td class="right total">@orderedTotal</td>
                    <td class="right total">@madeTotal</td>
                    <td class="right total">@weightTotalStr</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        @{
            var items = (IEnumerable<Item>)ViewBag.items;
            var newitems = items.Except(Model.Where(x => x.Entity is Item).Select(x => x.Entity)).ToList();
        }
        @if (newitems.Any())
        {
            <a href="#" onclick="$('#newitems').toggle(); return false;" class="btn">@Strings.LateOrders</a>
            <div id="newitems" style="display: none">
                @foreach (var item in newitems)
                {
                    <a href="@Url.Action("Edit", new {itemId = item.Id, date = ViewBag.date.ToString("ddMMyyyy")})" class="prod-edit">@item.Name</a>
                    <br />
                }
            </div>
        }
        else
        {
            <p>To add a late item for a customer, click on the pencil next to the item, then select the customer address</p>
        }
    </div>
</div>
@Helpers.Modal("prod-edit", "Production Totals")