﻿@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@model Tuple<Dictionary<int, List<OrderPosition>>, Dictionary<DateTime, List<OrderPosition>>>

@{
    var itemsbygroup = (from m in Model.Item1
                        from v in m.Value
                        select v.Item).
                        Union(from m in Model.Item2
                              from v in m.Value
                              select v.Item).Distinct().GroupBy(x => x.ItemGroup);
    var date = (DateTime)ViewBag.date;
    var firstWeek = ViewBag.firstWeek;
    var lastWeek = ViewBag.lastWeek;
    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
    string shortDateFormat = business.ShortDateFormat;
}

@section SecondaryActions{


    <span class="header">@Strings.SimpleProduction_TotalSummary_Title
    </span>

    <div class="btn-group">
        <select class="select-redirect">
            @for (int i = firstWeek; i <= lastWeek; ++i)
            {          
                <option @if (i == (int)ViewBag.week)
                        {<text>selected="selected"</text>} value="@Url.Action("TotalSummary", new { week = i, year = date.Year })">
                    @string.Format(
                              Strings.Global_Week + " {0} {1:" + shortDateFormat + "} - {2:" + shortDateFormat + "}",
                              i,
                              WeekHelper.FirstDateOfWeek(date.Year, i, DayOfWeek.Monday),
                              WeekHelper.FirstDateOfWeek(date.Year, i, DayOfWeek.Monday).AddDays(7))
                </option>

            }
        </select>
    </div>

    <span class="pull-right">
        @if (ViewBag.HandwalkStep != 0)
        {
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cloud-upload">&nbsp;</i>@Strings.Global_Import
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="orders-import-modal" href="@Url.Action("SOImport", "SimpleProduction")">@Strings.Global_Standing_Orders</a></li>
                    <li><a class="orders-import-modal" href="@Url.Action("AOImport", "SimpleProduction")">@Strings.Cart_Orders</a></li>
                </ul>
            </div>
        }

    </span>
}

	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Standing Orders</title>
        @Html.Partial("_Meta")
        <link href='http://mountainstream.ms/style/user-registration.css' rel='stylesheet' type='text/css'>
        
    </head>
    <body>
        @Html.Partial("_Header")
		<div class="container-block">
			<h2>Step 10 of 11. Standing Orders</h2>
                @Helpers.Modal("orders-import-modal", "Import", "import-modal")
                @if (!Model.Item1.Any() && !Model.Item2.Any() && ViewBag.HandwalkStep != 0)
                {
                    <div style="margin-bottom: 20px" class="row">
                        <legend>Standing orders</legend>
                        <div class="span6">
                            <p>
                                We&#39;re nearly there! Now we just need to set up your Orders and then we&#39;re 
                                ready to go.
                            </p>
                            <p>
                                This next step is better done using the Streamline interface, than by 
                                importing.
                            </p>
                            <p>
                                The reason is that you will be controlling three columns of data in the 
                                spreadsheet, whose values must be exactly the same as in Streamline, so 
                                as not to create duplicates.
                            </p>
                            <p></p>
                            <p>These are:</p>
                            <ol>
                                <li>Item </li>
                                <li>Customer</li>
                                <li>Customer Address, line 1</li>
                            </ol>
                            <p>Take these values from the previous templates.</p>
                        </div>
                        <div class="span6">
                            <p>
                                If you feel confident using a spreadsheet to carry out this task, then 
                                click the import button and an example will download showing you how to 
                                layout your data.
                            </p>
                            <p></p>
                            <p>
                                But remember, it is much quicker and easier to use the Streamline interface, 
                                if you do not have this data already in a spreadsheet and if you are not 
                                an expert using spreadsheets!
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <legend>Cart orders</legend>
                        <div class="span6">
                            <p>Same as with Standing Orders, this is better done using the Shopping Cart.</p>
                            <p></p>
                            <p>You may also <a class="orders-import-modal" href="@Url.Action("AOImport", "SimpleProduction")">@Strings.Global_Import</a> and download an example.</p>
                        </div>
                    </div>
                }

                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>@Strings.Global_Item_Group</th>
                            <th>@Strings.Global_Item</th>
                            @for (int i = 0; i < 7; ++i)
                            {
                                <th>@date.AddDays(i).ToString("ddd " + shortDateFormat)</th>
                            }
                            <th class="right">@Strings.Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var group in itemsbygroup.OrderBy(x => x.Key.Order))
                        {
                            bool bylo = false;
                            foreach (var item in group.Where(x => x.Live).OrderBy(x => x.Name))
                            {
              
                            <tr>
                                @if (!bylo)
                                {
                                    <td rowspan="@(@group.Count(x => x.Live))">@group.Key.Name</td>
                                    bylo = true;

                                }
                                @{
                                string tooltip = "<table class='table table-condensed'>" +
                                                 "<thead>" +
                                                 "<tr><th colspan='4'>" + Strings.Global_Standing_Orders + "</th></tr></thead>" +
                                                 "<tr><th>" + Strings.Global_Customer + "</th><th>" + Strings.Global_Address + "</th><th>" + Strings.Global_Qty + "</th><th></th></tr></thead><tbody>";
                                if (ViewBag.sosBA.ContainsKey(item))
                                {
                                    foreach (IGrouping<Address, OrderPosition> info in ViewBag.sosBA[item])
                                    {
                                        bool ovr = false;
                                        if (ViewBag.aosBA.ContainsKey(item))
                                        {
                                            var aoforit = (IEnumerable<IGrouping<Address, OrderPosition>>)ViewBag.aosBA[item];
                                            ovr = aoforit.Any(x => x.Key == info.Key);
                                        }
                                        string href = Url.Action("Index", "Orders", new { tid = info.Key.Trader.Id });
                                        tooltip += "<tr class=' " + (ovr ? "order-row-overriden" : "") + "'><td>" + info.Key.Trader.Name + " </td><td><a class='inside-tooltip' target='_blank' href='" + href + "'>" + info.Key.Address1 + "</a></td><td class='right'>"
                                                   + info.Sum(x => x.OrderedCount) + "</td></tr>";
                                    }
                                }
                                tooltip += "</tbody></table>";

                                if (ViewBag.aosBA.ContainsKey(item))
                                {
                                    tooltip += "<table class='table table-condensed'>" +
                                       "<thead>" +
                                       "<tr><th colspan='4'>" + Strings.Global_Cart_Orders + "</th></tr></thead>" +
                                       "<tr><th>" + Strings.Global_Customer + "</th><th>" + Strings.Global_Address + "</th><th>" + Strings.Global_Qty + "</th><th></th></tr></thead>" +
                                       "<tbody>";
                                    foreach (IGrouping<Address, OrderPosition> info in ViewBag.aosBA[item])
                                    {
                                        // @: { @info.Key.Address1 @info.Sum(x => x.OrderedCount) }
                                        string href = Url.Action("Index", "Orders", new { tid = info.Key.Trader.Id });
                                        tooltip += "<tr><td>" + info.Key.Trader.Name + " </td><td><a class='inside-tooltip' target='_blank' href='" + href + "'>" + info.Key.Address1 + "</a></td><td class='right'>"
                                                   + info.Sum(x => x.OrderedCount) + "</td></tr>";
                                    }
                                    tooltip += "</tbody></table>";
                                }
 
                                }
                                <td><span class="has-popover" title="@tooltip">@item.Name</span></td>

                                @{
                                var total = 0;
                                var itemId = item.Id;
                                for (int i = 0; i < 7; ++i)
                                {
                                    tooltip = "<table class='table table-condensed'>" +
                                         "<thead>" +
                                         "<tr><th colspan='4'>" + Strings.Global_Standing_Orders + "</th></tr></thead>" +
                                         "<tr><th>" + Strings.Global_Customer + "</th><th>" + Strings.Global_Address + "</th><th>" + Strings.Global_Qty + "</th><th></th></tr></thead><tbody>";
                        
                                    <td class="right">
                                        @{
                                    var countAO = 0;
                                    var counts = new Dictionary<int, decimal>(); }
                                        @if (Model.Item1.ContainsKey(i))
                                        {
                                            var its = Model.Item1[i];
                                            total += its.Sum(x => x.Item.Id == itemId ? x.OrderedCount : 0);
                                            var byaddr = its.Where(x => x.Item.Id == itemId).GroupBy(x => x.Order.Address);

                                            foreach (var addr in byaddr)
                                            {
                                                if (!counts.ContainsKey(addr.Key.Id))
                                                {
                                                    counts.Add(addr.Key.Id, addr.Sum(x => x.OrderedCount));
                                                }
                                                else
                                                {
                                                    counts[addr.Key.Id] = addr.Sum(x => x.OrderedCount);
                                                }
                                                string href = Url.Action("Index", "Orders", new { tid = addr.Key.Trader.Id });
                                                // @: [ @addr.Key.Address1 @addr.Sum(x => x.Item == item ? x.OrderedCount : 0) ]
                                                tooltip += "<tr><td>" + addr.Key.Trader.Name + " </td><td><a class='inside-tooltip' target='_blank' href='" + href + "'>" + addr.Key.Address1 + "</a></td><td class='right'>"
                                                     + addr.Sum(x => x.OrderedCount) + "</td></tr>";
                                            }
                                        }


                                        @if (Model.Item2.ContainsKey(date.AddDays(i)))
                                        {

                                            tooltip += "</tbody></table>";
                                            tooltip += "<table class='table table-condensed'>" +
                                                       "<thead>" +
                                                       "<tr><th colspan='4'>" + Strings.Global_Cart_Orders + "</th></tr></thead>" +
                                                       "<tr><th>" + Strings.Global_Customer + "</th><th>" + Strings.Global_Address + "</th><th>" + Strings.Global_Qty + "</th><th></th></tr></thead>" +
                                                       "<tbody>";

                                            var its = Model.Item2[date.AddDays(i)];
                                            countAO = its.Sum(x => x.Item.Id == itemId ? x.OrderedCount : 0);
                                            total += countAO;
                                            var byaddr = its.Where(x => x.Item.Id == itemId).GroupBy(x => x.Order.Address);
                                            foreach (var addr in byaddr)
                                            {
                                                if (!counts.ContainsKey(addr.Key.Id))
                                                {
                                                    counts.Add(addr.Key.Id, addr.Sum(x => x.OrderedCount));
                                                }
                                                else
                                                {
                                                    counts[addr.Key.Id] = addr.Sum(x => x.OrderedCount);
                                                }
                                                string href = Url.Action("Index", "OrderOverride", new { tid = addr.Key.TraderId, id = addr.Key.Id, date = date.AddDays(i).ToStringUrl() });
                                                tooltip += "<tr><td>" + addr.Key.Trader.Name + " </td><td><a class='inside-tooltip' target='_blank' href='" + href + "'>" + addr.Key.Address1 + "</a></td><td class='right'>"
                                                       + addr.Sum(x => x.OrderedCount) + "</td></tr>";
                                            }
                                            tooltip += "</tbody></table>";
                                        }


                                        <span class="has-popover" title="@tooltip">
                                            @if (countAO != 0)
                                            {
                                                <i class="icon-shopping-cart"></i>
                                            }
                                            @counts.Sum(x => x.Value)
                                        </span>
                                    </td>
                                }
                                }
                                <td class="right total">@total</td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            <a class="btn orders-import-modal" href="@Url.Action("AOImport", "SimpleProduction")">@Strings.Global_Import</a>
        
        <a href="@Url.Action("HandwalkMove", "Internal", new { id = 11 })" class="btn btn-green btn-success btn-handwalk btn-icon" id="handwalk-leechproxy"><img subpath="img/icon/user-registration/check.png">@Strings.Global_Save</a>
		</div>
 
		<br style="clear:both" />
        @Html.Partial("_Footer")
</body>

