﻿@model Dictionary<int, IEnumerable<IGrouping<Item, OrderPosition>>>
@{
    var byaddr = (Dictionary<Item, IEnumerable<IGrouping<Address, OrderPosition>>>)ViewBag.byaddr;
}
@section SecondaryActions
{
    <span class="header">@Strings.SimpleProduction_Total_SO</span>
    <button class="btn pull-right" onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</button>
}

<div class="table-container no-borders">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>@Strings.Global_Item_Group</th>
                <th>@Strings.Global_Item</th>
                <th class="right">@Strings.Mon</th>
                <th class="right">@Strings.Tue</th>
                <th class="right">@Strings.Wed</th>
                <th class="right">@Strings.Thu</th>
                <th class="right">@Strings.Fri</th>
                <th class="right">@Strings.Sat</th>
                <th class="right">@Strings.Sun</th>
                <th class="right">@Strings.Total</th>
            </tr>
        </thead>
        <tbody>
            @{
                var itemsbygroup = (from m in Model
                                    from v in m.Value
                                    where v.Key.Live
                                    select v.Key).Distinct().GroupBy(x => x.ItemGroup);
            }
            @foreach (var group in itemsbygroup.OrderBy(x => x.Key.Order))
            {
                bool bylo = false;
                foreach (var item in group.OrderBy(x => x.Name))
                {
                <tr>
                    @if (!bylo)
                    {
                        <td rowspan="@group.Count()" valign="top">@group.Key.Name</td>
                        bylo = true;
                    }
                 
                    @{
                    string tooltip = "<table class='table table-condensed'>" +
                              "<thead><th>"+Strings.Global_Customer+"</th><th>"+Strings.Address+"</th><th>"+Strings.Global_Qty+"</th><th></th></thead><tbody>";

                    foreach (var info in byaddr[item])
                    {
                        string href = Url.Action("Index", "Orders", new { tid = info.Key.Trader.Id });
                        tooltip += "<tr><td>" + info.Key.Trader.Name + " </td><td><a class='inside-tooltip' target='_blank' href='" + href + "'>" + info.Key.Address1 + "</a></td><td class='right'>"
                                      + info.Sum(x => x.OrderedCount) + "</td></tr>";
                    }

                    tooltip += "</tbody></table>";
                    }
                    <td><span class="has-popover" title="@tooltip">@item.Name</span></td>



                    @{
                    int total = 0;
                    }
                    @for (int i = 0; i < 7; ++i)
                    {
                        <td class="right">
                            @if (Model.ContainsKey(i))
                            {
                                string tooltipDay="";
                                var it = Model[i].SingleOrDefault(x => x.Key == item);
                                if (it != null)
                                {
                                     tooltipDay = "<table class='table table-condensed'>" +
                            "<thead><th>Customer</th><th>" + Strings.Global_Address + "</th><th>"+Strings.Global_Qty+"</th><th></th></thead><tbody>";
                                    foreach (var bya in it.GroupBy(x => x.Order.Address))
                                    {
                                        // @: @bya.Key.Address1 # @bya.Sum(x => x.OrderedCount) |
                                        string href = Url.Action("Index", "Orders", new { tid = bya.Key.Trader.Id });
                                        tooltipDay += "<tr><td>" + bya.Key.Trader.Name + " </td><td><a class='inside-tooltip' target='_blank' href='" + href + "'>" + bya.Key.Address1 + "</a></td><td class='right'>"
                                                      + bya.Sum(x => x.OrderedCount) + "</td></tr>";
                                    }
                                    tooltipDay += "</tbody></table>";
                                }

                                var count = Model[i].Where(x => x.Key == item).Sum(x => x.Sum(y => y.OrderedCount));
                                if (count != 0)
                                {
                                @:<span class="has-popover" title="@tooltipDay">@count</span> 
                                    total += count;
                                }
                            }
                            else
                            {
                                @:
                            }
                        </td>
                    }
                    <td class="right total"><span class="has-popover" title="@tooltip">@total</span></td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>
