﻿@model Tuple<List<ComplaintData>, List<ComplaintData>>

@{
    var days = (Tuple<List<DateTime>, List<DateTime>>)ViewBag.days;
    var dmgitems = (IEnumerable<DmgItem>)ViewBag.dmgitems;

    var combodays = days.Item1.Union(days.Item2).Distinct();

    var combo = Model.Item1.Union(Model.Item2).GroupBy(x => x.Item);

    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
    string shortFormat = business.ShortDateFormat;
}

@section SecondaryActions{
    <span class="header">@Strings.DmgItem_Header</span>


    <span class="btn-group form-inline-container">
        <select class="select-redirect">

            @foreach (Address addr in ViewBag.addrs)
            {
                <option @( ViewBag.addrId == addr.Id ? "selected='selected'" : "") value=" @Url.Action("Index", new { dt = ((DateTime)ViewBag.date).ToStringUrl(), addrId = addr.Id })">@addr.Address1</option>
            }

        </select>
    </span>

    <span class="btn-group">
        <select class="select-redirect input-medium">

            @foreach (var day in combodays)
            {
                <option @(day == (DateTime)ViewBag.date ? "selected='selected'" : "") value="@Url.Action("Index", new { dt = day.ToStringUrl(), addrId = ViewBag.addrId })">@day.ToString(dateFormat)@(dmgitems.Any(x=>x.DeliveryDate == day)?"*":"")</option>
            }

        </select>
    </span>
    
    <span class="pull-right">
        @Helpers.SaveButtonInvoices("dmgitem-form-submit")
    </span>

}


@using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "form-inline", id = "dmgitems-form" }))
{
    @Html.Hidden("addrId")
    @Html.Hidden("date")
  
        <input type="submit" class="hide-jsproxy" id="dmgitem-form-submit" />
    <table class="table table-condensed no-borders table-hover">

        <thead>
            <tr>
                <th>@Strings.Global_Item</th>
                <th>@Strings.Global_Qty</th>
                <th>@Strings.DmgItem_Qty</th>
                <th>@Strings.DmgItem_Reason</th>
            </tr>

        </thead>

        @foreach (var item in combo)
        {    
            <tr>
                <td>@item.Key.Name</td>
                <td>@item.Sum(x => x.Count)</td>

                @{
            var di = dmgitems.
                FirstOrDefault(x => x.AddressId == ViewBag.addrId &&
                                    x.DeliveryDate == ViewBag.date &&
                                    x.ItemId == item.Key.Id);
                }


                @if (di != null)
                {   <td>
                    <input type="text" class="input-mini" value="@di.Quantity" name="di[@di.Id]"/>
                </td>
                    <td>
                        @* TODO: zlokalizowac to *@
                  

                            <label class="radio">
                                <input type="radio" name="diNotes[@di.Id]" checked="@(di.Note == "unsold")" value="unsold">&nbsp;@Strings.DmgItem_Unsold</label>&nbsp;
                            <label class="radio">
                                <input type="radio" name="diNotes[@di.Id]" checked="@(di.Note == "damaged")"  value="damaged">@Strings.DmgItem_Damaged</label>&nbsp;
                            <label class="radio">
                                <input type="radio" name="diNotes[@di.Id]" checked="@(di.Note == "undelivered")" value="undelivered">@Strings.DmgItem_Undelivered</label>&nbsp;
                            <label class="radio">
                                <input type="radio" name="diNotes[@di.Id]" checked="@(di.Note != "unsold" && di.Note != "damaged" && di.Note != "undelivered")" value="@di.Note"><input type="text" class="customreason" value="@(di.Note != "unsold" && di.Note != "damaged" && di.Note != "undelivered" ? di.Note : "")" placeholder="@Strings.DmgItem_CustomReason"></label>

                  
                    </td>
@*<input type="text" class="input-mini-h" value="@di.Note" name="diNotes[@di.Id]"/>*@
                }
                else
                { <td>
                    <input type="text" class="input-mini" value="" name="item[@item.Key.Id]"/>
                </td>
                    <td>
                        <label class="radio">
                            <input type="radio" name="itemNotes[@item.Key.Id]" value="unsold">&nbsp;@Strings.DmgItem_Unsold</label>&nbsp;
                        <label class="radio">
                            <input type="radio" name="itemNotes[@item.Key.Id]" value="damaged">@Strings.DmgItem_Damaged</label>&nbsp;
                        <label class="radio">
                            <input type="radio" name="itemNotes[@item.Key.Id]" value="undelivered">@Strings.DmgItem_Undelivered</label>&nbsp;
                        <label class="radio">
                            <input type="radio" name="itemNotes[@item.Key.Id]" value="custom"><input type="text" class="customreason" placeholder="@Strings.DmgItem_CustomReason"></label>
                    </td>
@*<input type="text" class="input-mini-h" value="" name="itemNotes[@item.Key.Id]"/>*@
                }

            </tr>
        }
    </table>

}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#dmgitems-form").submit(function (e) {
                $(this).find(".customreason").each(function () {
                    console.log($(this));

                    if ($(this).closest('label').find('input').is(':checked')) {
                        console.log($(this).val());
                        $(this).closest('label').find('input').val($(this).val());
                    }
                });
            });


        });

    </script>
}