﻿@using System.Globalization
@using System.Linq.Expressions
@using System.Reflection
@using System.Security.Policy
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using chleby.Web
@using chleby.Web.Models
@using chleby.Web.Resources


@helper HelpPopoverContent(string content, string title = "", string placement = "")
{
    @:data-helppopover='true'
    @:data-content='@content'
    @:data-title='@title <a class="dismiss-popover btn-subtle pull-right"><i class="icon-remove-sign"></i></a>'
    if (placement != "")
    {
    @:data-placement='@placement'
    }
}

@helper V(decimal v)
{
    @v.ToString("C2")
}

@helper VE(decimal v)
{
    @(v == 0 ? "" : v.ToString("C2"))
}


@helper VS(decimal v)
{
    <span class="hide" data-val="@v.ToString(CultureInfo.InvariantCulture)"></span>@v.ToString("C2")
}

@helper VSE(decimal v)
{
    <span class="hide" data-val="@v.ToString(CultureInfo.InvariantCulture)"></span>@(v == 0 ? "" : v.ToString("C2"))
}

@*plx someone find some better solution for that xD // .js form submit cause we have a fixed header*@

@helper SaveButton(string formName, string buttonText = null, string buttonClass = "btn btn-success", string icon = "icon-ok")
{    
    if (buttonText == null)
    {
        buttonText = Strings.SaveChanges;
    }
    <a onClick="$('form[name=@formName]').dirtyForms('setClean').submit();" class="@buttonClass btn-save">
        <i class='@icon'></i>&nbsp;@buttonText
    </a>
}

@helper SaveButtonInvoices(string buttonId, string buttonText = null, string buttonClass = "btn btn-success", string spanClass = "", string icon = "icon-ok")
{    
    if (buttonText == null)
    {
        buttonText = Strings.SaveChanges;
    }
    <a onClick="$('#@buttonId').closest('form').dirtyForms('setClean');$('#@buttonId').click();" class="@buttonClass btn-save">
        <i class='@icon'></i>&nbsp;@buttonText
        @if (spanClass != "")
        {               
            <text> (<span class="@spanClass">0</span>)</text>
        }
    </a>
}

@helper DelButtonInvoices(string buttonId, string buttonText = null, string buttonClass = "btn btn-success", string spanClass = "", string icon = "icon-ok")
{    
    if (buttonText == null)
    {
        buttonText = Strings.SaveChanges;
    }
    <button onClick="if (confirm('@Strings.Address_Delete_Confirmation')){$('#@buttonId').closest('form').dirtyForms('setClean');$('#@buttonId').click();}else{return false;}" class="@buttonClass btn-save">
        <i class='@icon'></i>&nbsp;@buttonText
        @if (spanClass != "")
        {               
            <text> (<span class="@spanClass">0</span>)</text>
        }
    </button>
}

@helper JsDelConfirm(string msg = null)
{
    if (msg == null)
    {
        msg = Strings.Address_Delete_Confirmation;
    }
    <text>onclick="return confirm('@msg')"</text>
}

@helper ExpandableIconDown()
{
    <i class="icon-plus-sign"></i>
}

@helper ExpandableIconUp()
{
    <i class="icon-minus-sign"></i>
}

@helper ModalFormButtons(bool noCancel = false)
{
    <div class="form-actions">
        <button class="btn btn-success" type="submit"><i class="icon-ok"></i>&nbsp;@Strings.Global_Save</button>
        @if (!noCancel)
        {
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="icon-remove-sign"></i>&nbsp;@Strings.Global_Cancel</button>
        }
    </div>
}

@helper BtnSubtleTitle(string buttontype)
{
    switch (buttontype)
    {
        case "Delete":
    <text>title = "@Strings.Global_Delete"</text>
            break;
        case "Edit":
    <text>title = "@Strings.Global_Edit"</text>
            break;
        case "EditPerms":
    <text>title = "@Strings.EditPerms"</text>
            break;
        case "MoveUp":
    <text>title = "@Strings.MoveUp"</text>
            break;
        case "MoveDown":
    <text>title = "@Strings.MoveDown"</text>
            break;
        case "CloneAndEdit":
    <text>title = "@Strings.CloneAndEdit"</text>
            break;
        default:
            
    <text>*btnsubtletitlemissing*</text>
            break;
    }
}




@helper Modal(string modalId, string modalTitle, string modalClass = "", string modalBody = "", string width = "auto", string height = "auto")
{

    
    <div id="@modalId"  class="modal chleby-modal hide  @modalClass" tabindex="-1" role="dialog" aria-labelledby="@(modalId)Label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="@(modalId)Label">@modalTitle</h3>
        </div>
        <div class="modal-body" id="@(modalId)-body">
            @modalBody
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("a.@modalId").click(function (e) {
                e.preventDefault();
                var href = $(this).attr("href");
                button = $(this);
                buttonPrevContent = button.html();
                button.html("&nbsp;");
                button.spin("tiny");
                $.ajax({
                    url: href,
                    context: document.body
                }).done(function (data) {
                    button.html(buttonPrevContent);
                    $("#@(modalId) .modal-body").html(data);
                    chlebyBeforeModalShow();
                    $("#@(modalId)").modal('show');


                });
            });
        });
    </script>
}

@helper ModalValidationHelper(Func<string, object, MvcHtmlString> hh, Func<string, MvcHtmlString> hh2, dynamic model, string title, string modalClass = "")
{ 
    if (model.Edit != null)
    {
    <div id="errorEditModal" class="modal chleby-modal hide  @modalClass" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="errorModalLabel">@Strings.Global_Edit @title</h3>
        </div>
        <div class="modal-body">
            @hh("Edit", model.Edit)
        </div>
    </div>
    }
    if (model.Create != null)
    {
    <div id="errorAddModal" class="modal chleby-modal hide  @modalClass" tabindex="-1" role="dialog" aria-labelledby="editEmployeeModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="editEmployeeModalLabel">@Strings.Global_Add @title</h3>
        </div>
        <div class="modal-body">
            @hh("Create", model.Create)
        </div>
    </div>
    }
    
    <script type="text/javascript">

        $(document).ready(function () {

            @if (model.Edit != null)
            {
                @:$("#errorEditModal").modal()
                                                                                                                                                                                                                        }
            @if (model.Create != null)
            {
                @:$("#errorAddModal").modal()
            }

            $(".chleby-edit").click(function (e) {
                e.preventDefault();
                var href = $(this).attr("href");
                var button = $(this);
                button = $(this);
                var buttonPrevContent = button.html();
                //button.html("&nbsp;");
                button.spin("tiny");
                $.ajax({
                    url: href,
                    context: document.body
                }).done(function (data) {
                    button.html(buttonPrevContent);
                    // alert(href + "success" + " data:" + data);
                    $("#chleby-edit").html(data);
                    chlebyBeforeModalShow();
                    $("#editModal").modal();


                });
            });
        });

    </script>

    <div id="createModal" class="modal chleby-modal hide @modalClass" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="createModalLabel">@Strings.Global_Add @title</h3>
        </div>
        <div class="modal-body">
            @hh2("Create")
        </div>
    </div>
    
    <div id="editModal" class="modal chleby-modal hide @modalClass" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="editModalLabel">@Strings.Global_Edit @title</h3>
        </div>
        <div id="chleby-edit" class="modal-body">
        </div>
    </div>  
}

@helper ModalChlebyEdit(string title = "Edit", string modalClass = "")
{
    <div id="editModal" class="modal chleby-modal hide @modalClass" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="editModalLabel">@title</h3>
        </div>
        <div id="chleby-edit" class="modal-body">
        </div>
    </div>
}

@functions
{
      
    public static HelperResult GenerateEditorFor<TModel, TItem>(HtmlHelper<TModel> html, Expression<Func<TModel, TItem>> expr)
    {
        if (typeof(TItem) == typeof(bool))
        {
            return GenerateEditorForImplBool(
            html.DisplayNameFor(expr),
            html.EditorFor(expr),
            html.ValidationMessageFor(expr)
            );
        }
        if (typeof(TItem) == typeof(HttpPostedFileBase))
        {
            return GenerateEditorForImplFile(
            html.LabelFor(expr, new { @class = "control-label" }),
            html.NameFor(expr),
            html.ValidationMessageFor(expr)
            );
        }
        return GenerateEditorForImpl(
            html.LabelFor(expr, new { @class = "control-label" }),
            html.EditorFor(expr),
            html.ValidationMessageFor(expr)
            );
    }

    public static HelperResult GenerateTextBox(string name, string value)
    {
        return GenerateEditorForImpl(
            Html.Label(name, new { @class = "control-label" }),
            Html.TextBox(name, value),
            Html.ValidationMessage(name)
            );
    }

}

@helper GenerateEditorForImplBool(MvcHtmlString label, MvcHtmlString editor, MvcHtmlString validation)
{
    <div class="control-group">

        <div class="controls">
            <label class="checkbox">@editor@label</label>
            @validation
        </div>
    </div>
}

@helper GenerateEditorForImpl(IHtmlString label, IHtmlString editor, IHtmlString validation)
{
    <div class="control-group">
        @label
        <div class="controls">
            @editor
            @validation
        </div>
    </div>
}

@helper GenerateEditorForImplFile(IHtmlString label, IHtmlString name, IHtmlString validation)
{
    <div class="control-group">
        @label
        <div class="controls">
            <input type="file" name="@name"/>
            @validation
        </div>
    </div>
}

@helper InputTextProxy(string targetId, string value = "", string htmlClass = "")
{
    <input type="text" data-target="@targetId" class="@htmlClass input-jsproxy" value="@value" />
}

@functions
{
    public static bool CheckMenu(List<MenuNode> nodes, bool init)
    {
        if (init == false) return false;

        init = false;
        
        foreach (var node in nodes)
        {
            if (string.IsNullOrWhiteSpace(node.Role) ||
                Roles.IsUserInRole(node.Role) ||
                Roles.IsUserInRole(Defines.Roles.SuperAdmin))
            {
                init = true;
            }
        }

        return init;
    }
}

@helper TraverseMenu(List<MenuNode> nodes, Func<MenuNode, HelperResult> func, string active, int level = 0)
{
    string ulClass = "";
    if (level == 0)
    {
        ulClass = "nav nav-admin";
    }
    else
    {
        ulClass = "dropdown-menu";
    }

    bool amIFirst = true;

    <ul class="@ulClass">
        @foreach (var node in nodes)
        {
            string cssClass = "";
            string aHtmlAttr = "";
            string aClass = "";

            if (node.Id == active)
            {
                cssClass = "active";
            }

            if (node.Nodes.Any())
            {
                cssClass += " dropdown";
                aHtmlAttr = "data-toggle=dropdown"; //http://stackoverflow.com/questions/12630188/allow-click-on-twitter-bootstrap-dropdown-toggle-link
                aClass = "dropdown-toggle disabled  ";
            }
            @*@: @Roles.IsUserInRole(node.Role)=@node.Role*@
            if (string.IsNullOrWhiteSpace(node.Role) || Roles.IsUserInRole(node.Role) || Roles.IsUserInRole(Defines.Roles.SuperAdmin))
            {
                if (level == 0 && amIFirst == false)
                {
                    <li class="menu-separator">&nbsp;</li>
                }
                <li class="@cssClass">
                    @{
                var childGood = CheckMenu(node.Nodes, node.Nodes.Any());
                    }
                    <a class="@aClass" @aHtmlAttr href="@func(node)">@node.Name</a>
                    @if (childGood)
                    {
                        @TraverseMenu(node.Nodes, func, active, level + 1);
                    }
                </li>

                    amIFirst = false;

            }
            else if (level == 0)
            {
                if (level == 0 && amIFirst == false)
                {
                    <li class="menu-separator">&nbsp;</li>
                }
                <li class="@cssClass">
                    @{
                var childGood = CheckMenu(node.Nodes, node.Nodes.Any());
                    }
                    @if (childGood)
                    {
                        <a class="@aClass" @aHtmlAttr href="#" onclick="return false;">@node.Name</a>
                        @TraverseMenu(node.Nodes, func, active, level + 1);
                    }
                </li>
            
                    amIFirst = false;
            }
        }
    </ul>
}

@helper TraverseMenuSmall(List<MenuNode> nodes, Func<MenuNode, HelperResult> func, string active, bool withUl, int level = 0)
{
    string ulClass = "";
    if (level == 0)
    {
        ulClass = "nav nav-admin";
    }
    else
    {
        ulClass = "dropdown-menu";
        //ulClass = "dropdown-menu-indent";
    }

    bool amIFirst = true;

    if (withUl)
    {
    @: <ul class="@ulClass" style="@(level > 0 ? "margin-left:80px; margin-top: -20px" : "")">
    }
    foreach (var node in nodes)
    {
        string cssClass = "";
        string aHtmlAttr = "";
        string aClass = "";

        if (node.Id == active)
        {
            cssClass = "active";
        }

        if (node.Nodes.Any())
        {
            cssClass += " dropdown";
            aHtmlAttr = "data-toggle=dropdown"; //http://stackoverflow.com/questions/12630188/allow-click-on-twitter-bootstrap-dropdown-toggle-link
            aClass = "dropdown-toggle disabled  ";
        }

        if (string.IsNullOrWhiteSpace(node.Role) || Roles.IsUserInRole(node.Role) || Roles.IsUserInRole(Defines.Roles.SuperAdmin))
        {
            if (level == 0 && amIFirst == false)
            {
                <li class="menu-separator">&nbsp;</li>
            }
            <li class="@cssClass">
                @{
                    var childGood = CheckMenu(node.Nodes, node.Nodes.Any());
                }
                <a class="@aClass" @aHtmlAttr href="@func(node)">@node.Name</a>
                @if (childGood)
                {
                    @TraverseMenuSmall(node.Nodes, func, active, true, level + 1);
                }
            </li>

            amIFirst = false;
        }
                    else if (level == 0)
            {
                if (level == 0 && amIFirst == false)
                {
                    <li class="menu-separator">&nbsp;</li>
                }
                <li class="@cssClass">
                    @{
                var childGood = CheckMenu(node.Nodes, node.Nodes.Any());
                    }
                    @if (childGood)
                    {
                        <a class="@aClass" @aHtmlAttr href="#" onclick="return false;">@node.Name</a>
                        @TraverseMenuSmall(node.Nodes, func, active, true, level + 1);
                    }
                </li>
            
                amIFirst = false;
            }
    }
    if (withUl)
    {
        @: </ul>
        }
}

@helper ShowMenu(string name, Func<MenuNode, HelperResult> func, string active, bool small = false, bool withUl = true)
{ 
    //<ul class="nav nav-admin">
    if (!small)
    {
    @TraverseMenu(MvcApplication.Menus.First(x => x.Name == name).Nodes, func, active)
    }
    else
    {
    @TraverseMenuSmall(MvcApplication.Menus.First(x => x.Name == name).Nodes, func, active, withUl)
    }
    // </ul>
}

@helper ShowCSVErrors(List<Tuple<int, int, string>> errors, string csv, char sep = ';')
{
    if (errors != null)
    {
        if (errors.Any())
        {
            <span class="alert alert-error">There are errors in your CSV. Mouse over the red cells to see details.</span>
        }
        var lines = csv.Split('\n');
        if (!lines.Any())
        {
    <b>empty csv</b>
        }
        else
        {
    <table class="table table-condensed">
        @{ var y = 1; }
        <thead>
            <tr>
                @{
           var thfields = lines.FirstOrDefault();
           if (thfields != null)
           {
               foreach (var field in thfields.SplitCsv())
               {
                    <th>@field</th>
               }
           }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var line in lines.Skip(1))
            {
                <tr>
                    @{
                var fields = line.SplitCsv();
                var x = 1;
                    }
                    @foreach (var field in fields)
                    {
                        var err = errors.FirstOrDefault(e => e.Item1 == y && e.Item2 == x);
                        if (err == null)
                        {
                        <td>@field</td>
                        }
                        else
                        {
                        <td class="has-popover" title="@err.Item3" style="background-color: #ff7f50">@field</td>
                        }
                        x++;
                    }
                    @{ var lerr = errors.FirstOrDefault(e => e.Item1 == y && e.Item2 == -1); }
                    @if (lerr != null)
                    {
                        <td style="background-color: #ff7f50">@lerr.Item3</td>
                    }
                    @{ y++; }
                </tr>
            }
        </tbody>
    </table>
        }
    }
}