﻿@model IEnumerable<SnapshotOrderPosition>
@foreach (var it in Model.GroupBy(x => x.Item))
{
    var item = (Item)it.Key;
    <tr>
        <td>@item.Name</td>
        <td>@it.Sum(x => x.OrderedCount)</td>
        <td>@item.Weight</td>
        <td>@it.Sum(x => x.OrderedCount * item.Weight)</td>
    </tr>
}