﻿
@{
    Layout = null;

    var business = ViewBag.Business;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>MountainStream Standing Order Software - Delivery Note</title>
		<link href='http://fonts.googleapis.com/css?family=Raleway|Oxygen:400,700' rel='stylesheet' type='text/css'>
		
		
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
		
        <style type="text/css">
            html, body {
  color : #000000;
  background : #ffffff;
  font-family : "Times New Roman", Times, serif;
  font-size : 12pt;
} 

.container {
	max-width: 1200px;
	margin: auto;
}

/* Layout structure / rdw */
.table {
	margin: 50px 0;
}
.table div {
	border: 1px solid #eee;
	min-height: 40px;

}

.title {
	background: rgb(250,250,250);
	text-align: center;
	height: 70px;
	padding: 5px 10px;
}
.title > img {
	float: right;
	padding: 5px;
}

.col {
	width: 49.5%;
	margin: 0;
	padding: 0;
}

.row {
	width: 100%;
	padding: 0;
	margin: 0;
}
.row > div {
	border: none;
}
.row > div.left {
	border-right: 2px solid #eee;
}

/* Alignment */
.left {
	float: left;
}
.right {
	float: left;
	border-left: none !important;
}
.down {
	height: 100%;
}

/* Inner Text */
ul {
	padding: 0;
	margin: 8px 10px;	
}
ul > li {
	list-style: none;
}

p {
	margin: 8px 10px;
	padding: 0;
}

p.number {
	display: inline-block;
	width: 40px;
	margin: 0;
	padding: 0;
	border: none;
}

/* Button */
.btn {
	float: right;
	width: 170px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 20px 10px;
}
.btn {
	/* cross browser gradient code by nickla (twitter @@nickla) */
	background: #469cd9; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4da9ea', endColorstr='#367e96'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#4da9ea), to(#367e96)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #4da9ea,  #367e96); /* for firefox 3.6+ */
}
.btn:hover {
	cursor: pointer;
}
.btn:active {
	background: #367e96;
}

/* rdw media queries */
@@media print and (max-width: 480px)  {
    .col {
    	width: 100%;
    	
    }
    .col.left {
    	border-bottom: none;
    }
    .col.right {
    	border-top: none;
    }
    .row > .left, .row > .right {
    	border-bottom: 2px solid #eee;	
    }
}

        </style>

	</head>
	<body>
		<div class="container">
			
			<div class="table">
				<!-- LEFT table side -->
				<div class="col left">
					<!-- title -->
					<div class="title row">
						<h2>Delivery Note</h2>
					</div>
					
					<!-- date and type? -->
					<div class="row">
						<div class="col left">
							<b><p>date</p></b>
						</div>
						<div class="col right">
							<b><p>type</p></b>
						</div>
					</div>
					
					<!-- name and quantity -->
					<div class="row">
						<div class="col left">
							<b><p>name</p></b>
						</div>
						<div class="col right">
							<b><p>quantity</p></b>
						</div>
					</div>
					
					<!-- free space -->
					<div class="row" style="height: 216px">
						<p>notes?</p>
					</div>
					
				</div>
				<!-- RIGHT table side -->
				<div class="col right down">
					<div class="title row">
						<img src="@Styles.Url("~/img/" + business.Logo)" />
					</div>
					<!-- product list -->
					<div class="row" style="height: 300px">
						<ul>
							<li><p class="number">7</p> Product1 Name <span class="weight">340g</span></li>
							<li><p class="number">47</p> Product2 Name <span class="weight">30g</span></li>
							<li><p class="number">123</p> Product3 Name <span class="weight">1g</span></li>
						</ul>
					</div>
				</div>
			</div>
			<br style="clear: both">
			<div class="btn" id="print">Print This Page</div>
		</div>
		
		<script type="text/javascript">
			$(document).ready(function() {
				$('#print').click(function() {
					$(this).fadeOut(0);
					window.print();
					$(this).fadeIn(0);
				});
			});
		</script>
	</body>
</html>
