﻿@model IEnumerable<SnapshotOrderPosition>

@{
    var curdate = ViewBag.date;
    ViewBag.title += ": Pick & Pack " + curdate.ToString("dd/MM/yyyy");
    DateTime selectedDate = ViewBag.date;
    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
}

@section SecondaryActions
    {

    <div class="btn-group">
        <span class="header">@Strings.SimpleDist_Title&nbsp;</span>

        <select class=" select-redirect input-medium">
            @foreach (DateTime date in ViewBag.alldates)
            {
                if (date.Date.Year == selectedDate.Year && date.Date.Month == selectedDate.Month && date.Date.Day == selectedDate.Day)
                {
                    <option selected="selected" value="@Url.Action("Index", new { date = date.Date.ToString("ddMMyyyy") })">@date.ToString(dateFormat + " ddd")</option>
                }
                else
                {
                    <option value="@Url.Action("Index", new { date = date.Date.ToString("ddMMyyyy") })">@date.ToString(dateFormat + " ddd")</option>
                }
            }
        </select>



    </div>

    <span class="pull-right">
        @Helpers.SaveButton("simpleprod")
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class=" icon-map-marker"></i>&nbsp;@Strings.Global_Map
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">

                @foreach (var byRound in Model.GroupBy(x => x.Address.AddressGroup).OrderBy(x => (x.Key == null) ? int.MaxValue : x.Key.Order))
                {
                    string gmapsurl = "http://maps.google.com/maps?saddr=" + ViewBag.GmapsAddress + "&daddr=";
                    bool isFirst = true;
                    foreach (var byAddr in byRound.GroupBy(x => x.Address).OrderBy(x => x.Key.RoundOrder))
                    {
                        var adr = byAddr.Key;
                        if (isFirst)
                        {
                            gmapsurl += adr.City + "," + adr.Post + "," + adr.Address1 + "%20" + adr.Address2 + "%20" + adr.Address3;
                            isFirst = false;
                        }
                        else
                        {
                            gmapsurl += "%20to:" + adr.City + "," + adr.Post + "," + adr.Address1 + "%20" + adr.Address2 + "%20" + adr.Address3;
                        }


                    }

                    if (byRound.Key != null)
                    {               
                    <li><a target="_blank" href="@gmapsurl">@byRound.Key.Name</a></li>
                    }

                }


                <!-- dropdown menu links -->
            </ul>

        </div>
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">@Strings.Global_More
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a target='_blank' class="" href="@Url.Action("PDF", "SimpleDist", new { date = curdate.Date.ToString("ddMMyyyy") })">
                    <img src="~/Images/pdf-icon.gif">&nbsp;@Strings.SimpleDist_Delivery_Notes</a></li>
                <li><a href="#" class="" onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</a></li>
            </ul>
        </div>
    </span>

}
<div class="row">
    <div class="table-container no-borders">
        @using (Html.BeginForm("Save", "SimpleDist", FormMethod.Post, new { name = "simpleprod", @class = "dirtyforms" }
            ))
        {
            <table class="table data-table no-borders table-condensed table-ultra-condensed table-hover">
                <thead>
                    <tr>
                        <th class="no-sort filter-text">@Strings.Global_Route</th>
                        <th class="no-sort filter-text w200">@Strings.Global_Customer</th>
                        <th class="no-sort filter-text">@Strings.Global_Postcode</th>
                        <th class="no-sort filter-text">@Strings.Global_Item</th>
                        <th class="no-sort price right">@Strings.Global_Ordered</th>
                        <th class="no-sort price right">@Strings.Global_Made</th>
                        <th class="no-sort right">@Strings.Global_Each</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    @{
            int orderedTotal = 0;
            int madeTotal = 0;
            var weightTotal = 0m;
                    }
                    @foreach (var byRound in Model.GroupBy(x => x.Address.AddressGroup).OrderBy(x => (x.Key == null) ? int.MaxValue : x.Key.Order))
                    {
                        foreach (var byAddr in byRound.GroupBy(x => x.Address).OrderBy(x => x.Key.RoundOrder))
                        {;
                            foreach (var it in byAddr.Where(x => x.Item is Item))
                            {
                                
                        <tr @(it.MadeCount == it.OrderedCount ? "" : "class=error")>
                            <td><span class="tohide"><b>@(it.Address.AddressGroup != null ? it.Address.AddressGroup.Name : "Unassigned")</b></span></td>
                            <td><span class="tohide">@it.Address.Trader.Name</span></td>
                            <td><span class="tohide">@it.Address.Post</span></td>
                            <td><span class="" title="">@it.Item.Name</span></td>
                            <td class="right">@it.OrderedCount</td>
                            <td class="right">@Html.TextBox("pos[" + it.Id + "]", it.MadeCount, new { @class = "input-mini input-mini-h right" })</td>
                            <td class="right">
                                @{
                                    if (((Item)it.Item).Weight > 0)
                                    {
                                        @: @(((Item)it.Item).Weight)
                                    }
                                    weightTotal += it.MadeCount*((Item)it.Item).Weight;
                                }
                            </td>

                        </tr>

                                orderedTotal += it.OrderedCount;
                                madeTotal += it.MadeCount;
                            }
                        <tr class="separate ">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        }
                    }
                    <tr class="total">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="right total">@orderedTotal</td>
                        <td class="right total">@madeTotal</td>
                        <td class="right total">@(weightTotal)kg</td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" class="hide" />
        }
    </div>
</div>
@Helpers.Modal("prod-edit", "Production Totals")