﻿@model IDictionary<DateTime, DateTime>

@{
    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
}
<table class="table table-condensed table-ultra-condensed">
    <thead>
        <tr>
            <th class="actions"></th>
            <th>@Strings.Global_Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var date in Model.OrderByDescending(key => key.Value))
        {
            <tr>
                <td><a target='_blank' href="@Url.Action("PDF", new { date = date.Key.ToStringUrl() })" class="btn btn-subtle">
                        <img src="~/Images/pdf-icon.gif">
                    </a>
                </td>
                <td><a target='_blank' href="@Url.Action("PrintNote", new { date = date.Key.ToStringUrl() })" class="btn btn-subtle">
                        <img src="~/Images/print_icon.gif">
                    </a>
                </td>
                <td>
                    @date.Value.ToString(dateFormat)
                </td>
            </tr>
        }
    </tbody>
</table>
