﻿@model IEnumerable<IGrouping<ItemGroup, SnapshotOrderPosition>>

@section SecondaryActions
{
    <div class="btn-group">
        <span class="header">@Strings.SimpleProduction_WeightPerGroup_Header&nbsp;</span>
        <select class="select-redirect">
            @foreach (DateTime day in ((IEnumerable<DateTime>)ViewBag.days).OrderByDescending(x => x))
            {
                <option value="@Url.Action("WeightPerGroup", new { dt = day.ToStringUrl() })" selected="@(ViewBag.date == day)">@day.ToShortDateString()</option>
            }
        </select>
    </div>
}

<div class="span5">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>@Strings.Global_Item_Group</th>
                <th class="right">@Strings.Weight</th>
            </tr>
        </thead>
        <tbody>
            @{
                var sum = 0m;
            }
            @foreach (var gr in Model)
            {
                <tr>
                    <td class="has-popover" title="@Html.Partial("_WeightPerGroupTooltip", gr)">@gr.Key.Name</td>
                    <td class="right">@{ var weight = gr.Sum(x => x.MadeCount * ((Item)x.Item).Weight); sum += weight;}
                        @(weight)g
                    </td>
                </tr>
            }
            <tr class="total separate">
                <td class="total">@Strings.Total</td>
                <td class="total right">@(sum)g</td>
            </tr>
        </tbody>
    </table>
</div>
