﻿@model List<AuditLog>

@{
    Business business = ViewBag.Business;
    string longFormat = business.LongDateFormat;
}

@section SecondaryActions
{
    <span class="header">@Strings.Log_Index_Audit</span>
}

<table id="customer-contact-list" cellpadding="0" cellspacing="0" border="0" class="table table-hover table-fixed table-condensed data-table ">
    <thead>
        <tr>
            <th class="filter-text">@Strings.Global_Date</th>
            <th class="filter-select">@Strings.Global_User</th>
            <th class="filter-select">@Strings.Global_Module</th>
            <th class="filter-select">@Strings.Global_Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach(var log in Model)
        {
            <tr>
                <td><span>@log.Date.ToString(longFormat)</span></td>
                <td><span>@log.User</span></td>
                <td><span>@log.Module</span></td>
                <td><span>@log.Action</span></td>
            </tr>
        }
            
            
    </tbody>
</table>
