/**/
.fc-border-separate {
    border: 0px none white;
}


.fc-widget-content {
    border: 1px solid #dddddd;
    background-color: #fff;
}

.fc-year-month-weekly-head {
    font-weight: normal;
    color: #dfdfdf;
}

.fc-year-have-event {
    background-color: #36c;
    color: #fff;
}

.fc-year-monthly-td > span {
    text-transform: uppercase;
    font-size: 24px;
    color: #dfdfdf;
    text-align: center;
    display: block;
    padding: 5px;
    border-bottom: 1px solid #dfdfdf;
}

.fc-year-monthly-td {
    padding: 5px !important;
    cursor: pointer;
}

.fc-year-monthly-td:hover {
    background-color:yellow;
}

.fc-today {
    background-color: yellow;
    color: #000 !important;
}

.fc-event {
    cursor: pointer;
}

    .fc-event:hover {
        opacity: 0.8;
    }

.fc-widget-header {
    border: 0px;
    border-bottom: 1px solid #dfdfdf;
    text-transform: uppercase;
    font-size: 24px;
    color: #dfdfdf;
    margin-bottom: 5px;
    font-weight: normal;
    height: 25px;
}
