﻿@model InvoiceCreateRowModel

<td>
    <span class="updown-arrows">
        <button class="uparrow btn-subtle" type="submit" name="action" value="up_@ViewBag.rowNumber"><i class="icon-chevron-up"></i></button>
        <button class="uparrow btn-subtle" type="submit" name="action" value="down_@ViewBag.rowNumber"><i class="icon-chevron-down"></i></button>
    </span>
</td>

<td>@Model.Counts.Sum(x => x.Key >= ViewBag.curDate && x.Key < ViewBag.curDate.AddDays(7) ? x.Value : 0)</td>

<td>
    @Model.Item
    @if (!string.IsNullOrWhiteSpace(ViewBag.note))
    {
        <i>(@ViewBag.note)</i>
    }
    <a href="#" class="btn-subtle input-price-show has-popover pull-right" title="Edit prices for each day"><i class="icon-pencil"></i></a>
    <button @Helpers.JsDelConfirm(Strings.Invoices_Confirm_Question) class="btn-subtle pull-right" type="submit" name="action" value="delete_@ViewBag.rowNumber"><i class="icon-trash"></i></button>
</td>
@{var total = 0m;
  var priceVaries = false;
  var first = true;
  var price = 0m;
}
@for (int i = 0; i < 7; ++i)
{
    ViewBag.item = Model.Item;
    DateTime fieldDate = ViewBag.fieldDate = ViewBag.curDate.AddDays(i).Date;
    ViewBag.Invalid = fieldDate < ViewBag.startDate || fieldDate > ViewBag.endDate;
    <td class="right @(ViewBag.Invalid ? "outofrange" : "")">
        @if (Model.Counts.ContainsKey(fieldDate))
        {
            if (first && Model.Counts[fieldDate] != 0)
            {
                price = Model.Prices[fieldDate];
                first = false;
            }
            if (price != Model.Prices[fieldDate] && Model.Counts[fieldDate] != 0)
            {
                priceVaries = true;
            }


            var model = new KeyValuePair<DateTime, Tuple<decimal, decimal>>(fieldDate, Tuple.Create(Model.Counts[fieldDate], Model.Prices[fieldDate]));
            if (!ViewBag.Invalid)
            {
                total += Model.Prices[fieldDate] * Model.Counts[fieldDate];
            }
            @Html.Partial("_NewCreateField", model, ViewData)
        }
        else
        {
            var model = new KeyValuePair<DateTime, Tuple<decimal, decimal>>(fieldDate, Tuple.Create(0m, 0m));
            @Html.Partial("_NewCreateField", model, ViewData)
        }
    </td>
   
}
<td class="right">
    @if (priceVaries)
    {
        <input type="text" class="right input-price-proxy input-mini" placeholder="*VAR*">
    }
    else
    {

        <input type="text" class="right input-price-proxy input-mini" value="@price.ToString("0.00")">


    }

</td>
<td class="right">
    @if (total != 0)
    {       
        @ViewBag.CurrencySymbol@total.ToString("0.00")
    }
</td>
<td class="right">@{ var vat = Model.Vat / 100 * total; }
    @if (vat != 0)
    {
        @ViewBag.CurrencySymbol@(vat.ToString("0.00"))
    }
</td>
<td class="right total">
    @if ((total + vat) != 0)
    {
        @ViewBag.CurrencySymbol@((total + vat).ToString("0.00"))
    }
</td>
@{
    Model.Total = total;
    Model.Vat = vat;
}

