﻿@model KeyValuePair<DateTime, Tuple<decimal, decimal>>

@if(!ViewBag.Invalid){

<input type="text" class="input-mini right "  name="fc[@ViewBag.rowNumber][@Model.Key]" value="@(Model.Value.Item1==0 ? "" : Model.Value.Item1.ToString())"/><br/>
<input type="text" class="input-mini right input-invoice-price hide" name="fp[@ViewBag.rowNumber][@Model.Key]" value="@Model.Value.Item2"/>

}