﻿@model Invoice
@{
    ViewBag.Title = "Create Invoice";
    var traders = (IEnumerable<Trader>)ViewBag.traders;
    var rows = Model.Rows;
}

@using (Html.BeginForm("Create", "Invoices", FormMethod.Post))
{
    <p>@Strings.Number @Html.TextBoxFor(x => x.InvoiceNumber)</p>
    <p>@Strings.Date @Html.TextBoxFor(x => x.Date,new {@class="datepicker"})</p>
    <p>
        Address:
        <select name="@Html.NameFor(x => x.Address_Id)">
            @foreach (var trader in traders.OrderBy(x => x.Name))
            {
                if (trader.Address.Any())
                {
                <optgroup label="@trader.Name">
                    @foreach (var addr in trader.Address.OrderBy(x => x.Address1))
                    {
                        <option value="@addr.Id" @(Model != null && addr.Id == Model.Address_Id ? "selected='selected'" : "")>
                            @trader.Name - @addr.Address1
                        </option>
                    }
                </optgroup>
                }
            }
        </select>
    </p>
    <p>
    <p>@Strings.Invtext</p>
        @foreach (var row in rows)
        {
            using (Html.BeginCollectionItem("Addresses[0].Rows"))
            {
                @Html.Hidden("Id", row.Id)
                @Html.Partial("~/Views/Invoices/EditCustomRow.cshtml", row, ViewData)      
            }
        }
        <p>- @rows.Sum(x=>x.Count) @rows.Sum(x=>x.Price) @rows.Sum(x=>x.Vat) @rows.Sum(x=>x.Price+x.Vat)</p>
    </p>
    <p>
        <button name="action" value="addrow">@Strings.Invoices_Add_row</button>
        <button name="action" value="save">@Strings.Global_Save</button>
    </p>
}