﻿@{
    ViewBag.Title = Strings.Finance_Dashboard + " - " + ViewBag.year;
    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
}

@section SecondaryActions{
    <span class="header">
        @Strings.Finance_Dashboard
    </span>
    <div class="btn-group">

        <select class="select-redirect input-medium">
            @foreach (var yr in ViewBag.years)
            {
                if (ViewBag.year != yr)
                {
                <option value="@Url.Action("Dashboard", new { year = yr })">@yr</option>
                }
                else
                {
                <option selected="selected" value="@Url.Action("Dashboard", new { year = yr })">@yr</option>
                }
            }
        </select>
    </div>

    <span class="form-inline-container">
        <span class="help-inline">@Strings.Invoices_GoToInvoiceNumber</span>
        <div class="btn-group">
            @using (Html.BeginForm("GoToInvoiceNumber", "Invoices", FormMethod.Post, new { @class = "form-inline form-search", style = "display:inline" }))
            {          
                <input type="text" name="number" class="input-mini search-query">
                @:&nbsp;<button class="btn btn-icon" class="submit">@Strings.Global_SearchGo</button>

            }
        </div>
    </span>


    <!--    
        blinking marker gdy mamy pending returny (ale tylko takie na ktore mamy faktury - wiec kiedy batch approve mozliwy)  
        -->
    @if (ViewBag.anyReturns)
    {
    <span class="form-inline-container">
        <span class="help-inline has-popover" title="@Strings.Finance_Dashboard_ReturnsPending">
            <a href="@Url.Action("ReturnsReport")"><i class="icon-warning-sign blink"></i></a>
        </span>
    </span>
    }
    <div class="pull-right">


        <a href="#" title="@Strings.Invoices_Index_Month_Published_Button" class="btn" onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</a>
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">@Strings.Global_More
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="invoices-export-modal" href="@Url.Action("Export", new { dtstart = ViewBag.exportstart, dtend = ViewBag.exportend })"><i class="icon-share"></i>&nbsp;@Strings.Invoices_Show_Range_Published_Export_Quickbooks</a></li>
                <li>@Helpers.SaveButton("finance-dashboard", Strings.Finance_Dashboard_SaveOrder, "")</li>
                <li><a href="@Url.Action("DashboardReset")">@Strings.Finance_Dashboard_Reset</a></li>

            </ul>
        </div>
    </div>
}


@Helpers.Modal("invoices-export-modal", "Quickbooks Export", "invoices-export-modal-window")
@using (Html.BeginForm("Dashboard", "Invoices", FormMethod.Post, new { name = "finance-dashboard" }))
{
    string dashboard = (string)ViewBag.dashboard;
    var newdashboard = dashboard.Split(',');

    <input type="submit" value="save order" class="hide-jsproxy" />
    @Html.Hidden("dtstart", (string)ViewBag.dtstart)
    @Html.Hidden("dtend", (string)ViewBag.dtend)
    <input type="hidden" name="year" value="@ViewBag.year"/>
    <ul class="sortable finance-dashboard">

        @foreach (string d in newdashboard)
        {
            switch (d)
            {
                case "sales":
    
            <li class="clearfix">
                <a href="#" title="@Strings.Finance_Dashboard_RemovePanel" class="has-popover finance-dashboard-remove"><i class="icon-remove-sign"></i></a>
                <input type="hidden" name="dashboard" value="sales" />
                <span class="chart-header">
                    @ViewBag.CurrencySymbol @Strings.Finance_Dashboard_TotalSales
                </span>
                <div class="chart-container">
                    <canvas id="finance-dashboard-sales" width="458" height="260"></canvas>
                </div>
            </li>
               
                    break;

                case "sales-item":
            
            <li class="clearfix">
                <a href="#" title="@Strings.Finance_Dashboard_RemovePanel" class="has-popover finance-dashboard-remove"><i class="icon-remove-sign"></i></a>

                <input type="hidden" name="dashboard" value="sales-item" />
                <span class="chart-header">
                    @ViewBag.CurrencySymbol @Strings.Finance_Dashboard_TotalItemSales
                    <span class="pull-right">
                        <select id="finance-dashboard-item-graph"></select>
                    </span>
                </span>
                <div class="chart-container-item">
                    <canvas id="finance-dashboard-sales-item" width="458" height="260"></canvas>
                </div>
            </li>

                    break;

                case "snapshot":
                
            <li class="finance-dashboard-snapshot">
                <a href="#" title="@Strings.Finance_Dashboard_RemovePanel" class="has-popover finance-dashboard-remove"><i class="icon-remove-sign"></i></a>

                <input type="hidden" name="dashboard" value="snapshot" />
                <div class="finance-dashboard-table-container">
                    @Html.Action("Dashboard11", new { year = ViewBag.year })
                </div>

            </li>

                    break;

                case "sales-bycustomer":

            <li class="finance-dashboard-salesbycustomer">
                <a href="#" title="@Strings.Finance_Dashboard_RemovePanel"class="has-popover finance-dashboard-remove"><i class="icon-remove-sign"></i></a>

                <input type="hidden" name="dashboard" value="sales-bycustomer" />
                <div class="finance-dashboard-table-container">
                    @Html.Action("Dashboard12")
                </div>

            </li>
                
                    break;

                case "sales-byitem":
                
            <li class="finance-dashboard-item">
                <a href="#" title="@Strings.Finance_Dashboard_RemovePanel"class="has-popover finance-dashboard-remove"><i class="icon-remove-sign"></i></a>

                <input type="hidden" name="dashboard" value="sales-byitem" />
                <div class="finance-dashboard-table-container">
                    @Html.Action("Dashboard31")
                </div>

            </li>

                    break;

                case "sales-data":
            <li>
                <a href="#" title="@Strings.Finance_Dashboard_RemovePanel" class="has-popover finance-dashboard-remove"><i class="icon-remove-sign"></i></a>

                <input type="hidden" name="dashboard" value="sales-data" />@Html.Action("Dashboard32", new { dtstart = ViewBag.dtstart, dtend = ViewBag.dtend })

            </li>
                    break;

                case "sales-unpublished":
            <li>
                <a href="#" title="@Strings.Finance_Dashboard_RemovePanel"class="has-popover finance-dashboard-remove"><i class="icon-remove-sign"></i></a>

                <input type="hidden" name="dashboard" value="sales-unpublished" />@Html.Action("Dashboard32", new { dtstart = ViewBag.dtstart, dtend = ViewBag.dtend, published = false })

            </li>
                    break;
                case "sales-published":
            <li>
                <a href="#" title="@Strings.Finance_Dashboard_RemovePanel"class="has-popover finance-dashboard-remove"><i class="icon-remove-sign"></i></a>

                <input type="hidden" name="dashboard" value="sales-published" />@Html.Action("Dashboard32", new { dtstart = ViewBag.dtstart, dtend = ViewBag.dtend, published = true })
            </li>
                    break;
            }
        }

    </ul>
}

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            var sales = @Html.Action("Dashboard22", new { dtstart = ViewBag.dtstart, dtend = ViewBag.dtend });
            var itemslinq = @Html.Action("Dashboard22i", new { dtstart = ViewBag.dtstart, dtend = ViewBag.dtend });
            var monthnames=["January","February","March","April","May","June","July","August","September","October","November","December"],
            //console.log(items);
            items = [];
            var itemsdata = [];
            var itemslabels = [];
            for (key in itemslinq) {
                items.push(key);
                var newtable = [];    
                var newtable_label = [];    
                for (var keykey in itemslinq[key]) {
                    newtable.push(itemslinq[key][keykey]);
                    //keykey--;
                    //newtable_label.push(monthnames[keykey]);
                    newtable_label.push(keykey);
                }

                itemsdata.push(newtable);
                itemslabels.push(newtable_label);
            }
            
            for(key in items) {
                $("#finance-dashboard-item-graph").append($('<option> </option>').val(key).html(items[key]));  
            }
         
            months = [];
            var monthslabel = [];

            for (key in sales) {
                months.push(sales[key]);
                monthslabel.push(key);
                //  key--;
                // monthslabel.push(monthnames[key]);
            }
           
            var data = {
                labels: monthslabel,
                datasets: [
                    {
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        data: months
                    }
                    
                ]
            };

            var itemChartObj;
            function redrawItemGraph(itemindex) {

                //alert(itemindex);
                delete itemChartObj;
                var dataitem = {
                    labels: itemslabels[itemindex],
                    datasets: [
                        {
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,1)",
                            pointColor: "rgba(220,220,220,1)",
                            pointStrokeColor: "#fff",
                            data: itemsdata[itemindex]
                        }
                    ]
                };
                
                if($("#finance-dashboard-sales-item").length > 0) {
                    var ctx = $("#finance-dashboard-sales-item").get(0).getContext("2d");
                    itemChartObj=new Chart(ctx).Line(dataitem);
                }          
            }

            redrawItemGraph(0);

            $("#finance-dashboard-item-graph").change(function () {
                redrawItemGraph($(this).val());
            });

            if($("#finance-dashboard-sales").length > 0) {
                var ctx = $("#finance-dashboard-sales").get(0).getContext("2d");
                new Chart(ctx).Line(data);          
            }

          
          
        });
    </script>

}