﻿@model List<InvoiceWeekData>

@{
    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
    string shortFormat = business.ShortDateFormat;
    IDictionary<DateTime, DateTime> days = ViewBag.days;
    DateTime startDate = ViewBag.startdate;
}

<table class="table table-hover table-condensed no-borders finance-dashboard-table data-table">
    <caption>
        
           
        @if (Model.Any())
        {
            <a title="@Strings.DownloadReport" target="_blank" href="@Url.Action("SalesReportInvoice", new {ViewBag.dtstart, ViewBag.dtend})" >
                @Strings.Finance_Dashboard_SalesByCustomer&nbsp;<img src="~/Images/pdf-icon.gif" />
            </a>
        }
        else
        {
            @Strings.Finance_Dashboard_SalesByCustomer
        }
        <span class="pull-right">
        @if (ViewBag.invoicePeriod == "w")
        {         
            <select class="finance-dashboard-select-redirect input-medium">
                @foreach (Tuple<int, int> weeks in ViewBag.weeks)
                {
                    var start = WeekHelper.FirstDateOfWeek(weeks.Item1, weeks.Item2, (DayOfWeek)Settings["Invoice"].Get<int>("FirstDay"));
                    var end = start.AddDays(7);
                    var dts = start.ToStringUrl();
                    var dte = end.ToStringUrl();

                    if (dts != ViewBag.dtstart)
                    {
                        <option value="@Url.Action("Dashboard12", new { dtstart = dts, dtend = dte })">@weeks.Item1 / @Strings.Global_Week @weeks.Item2</option>
                    }
                    else
                    {
                        <option selected="selected" value="@Url.Action("Dashboard12", new { dtstart = dts, dtend = dte })">@weeks.Item1 / @Strings.Global_Week @weeks.Item2</option>
                    }
                }
            </select>   
        }
        else if (ViewBag.invoicePeriod == "m")
        {
            <select class="finance-dashboard-select-redirect input-medium">
                @foreach (Tuple<int, int> weeks in ViewBag.months)
                {
                    var start = new DateTime(weeks.Item1, weeks.Item2, 1);
                    var end = start.AddMonths(1).AddDays(-1);
                    var dts = start.ToStringUrl();
                    var dte = end.ToStringUrl();

                    if (dts != ViewBag.dtstart)
                    {
                        <option value="@Url.Action("Dashboard12", new { dtstart = dts, dtend = dte })">@weeks.Item1 @WeekHelper.GetMonthName(weeks.Item2)</option>
                    }
                    else
                    {
                        <option selected="selected" value="@Url.Action("Dashboard12", new { dtstart = dts, dtend = dte })">@weeks.Item1 @WeekHelper.GetMonthName(weeks.Item2)</option>
                    }
                }
            </select>   
        }
        else
        {
            <select class="finance-dashboard-select-redirect input-medium">
                @foreach (var day in days.OrderByDescending(key => key.Value))
                {
                    if (day.Key.Year == startDate.Year && day.Key.Month == startDate.Month && day.Key.Day == startDate.Day)
                    {
                        <option selected="selected" value="@Url.Action("Dashboard12", new { dtstart = day.Key.ToStringUrl(), dtend = day.Key.ToStringUrl() })">@day.Key.ToString(dateFormat)</option>
                    }
                    else
                    {
                        <option  value="@Url.Action("Dashboard12", new { dtstart = day.Key.ToStringUrl(), dtend = day.Key.ToStringUrl() })">@day.Key.ToString(dateFormat)</option>
                    }
                }
            </select>
        }
</span>
    </caption>
    <thead>
        <tr>
            <th>@Strings.Global_Customer</th>
            <th class="right currency-sort">@Strings.Global_Items</th>
            <th class="right currency-sort">@Strings.Global_Delivery</th>
            <th class="right currency-sort">@Strings.Global_Vat</th>
            <th class="right currency-sort">@Strings.Global_Total</th>
        </tr>
    </thead>
    <tbody>
        @{
            decimal totalprice = 0;
            decimal totaldel = 0;
            decimal totalvat = 0;           
        }
        @foreach (var iwd in Model)
        {
            <tr>
                <td>@iwd.Address.Trader.Name</td>
                <td class="right">@Helpers.VS(iwd.ItemPrice)</td>
                <td class="right">@Helpers.VS(iwd.DeliveryPrice) </td>
                <td class="right">@Helpers.VS(iwd.VatPrice)</td>
                <td class="right total">@Helpers.VS(iwd.ItemPrice + iwd.DeliveryPrice + iwd.VatPrice)</td>
            </tr>
            
            totalprice += iwd.ItemPrice;
            totaldel += iwd.DeliveryPrice;
            totalvat += iwd.VatPrice;
        }

        <tr class="total seperate">
            <td class="total">@Strings.Global_Total</td>
            <td class="total right">@Helpers.VS(totalprice)</td>
            <td class="total right">@Helpers.VS(totaldel)</td>
            <td class="total right">@Helpers.VS(totalvat)</td>
            <td class="total right total grandtotal">@Helpers.VS(totalprice + totalvat + totaldel)</td>
        </tr>
    </tbody>
</table>
