﻿@model List<InvoiceWeekSummary>
@using System.Globalization
@{
    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
    string shortFormat = business.ShortDateFormat;
    
}
<table class="table table-hover table-condensed no-borders finance-dashboard-table data-table">
    <caption> <a href="@Url.Action("Index")">@Strings.Finance_Dashboard_Unprocessed</a></caption>
    <thead>
        <tr>

            <th></th>
            <th class="currency-sort">@Strings.Global_Date</th>
            <th>@(Strings.Global_Customer)s</th>
            <!--<th class="right">@Strings.Global_Items</th>
                <th class="right">@Strings.Global_Delivery</th>
                <th class="right">@Strings.Global_Vat</th>-->
            <th class="right currency-sort">@Strings.Global_Total</th>
        </tr>
    </thead>
    <tbody>


        @if ((string)ViewBag.invoicePeriod == "m")
        {


            foreach (var month in Model.Where(x => x.Month >= 0).OrderByDescending(x => x.Month))
            {
                var sum = month.Price + month.Delivery.GetValueOrDefault() + month.Vat;
                DateTime startdate = new DateTime(ViewBag.year, month.Month.Value, 1);
                DateTime enddate = new DateTime(ViewBag.year, month.Month.Value, WeekHelper.GetMonthLen(month.Month.Value, (int)ViewBag.year));
               
            <tr>
                <td>
                    <a data-val="@startdate.Ticks" href="@Url.Action("Show", new
                        {
                            dtstart = startdate.ToString(dateFormat, CultureInfo.InvariantCulture),
                            dtend = enddate.ToString(dateFormat, CultureInfo.InvariantCulture)
                        })">@(new DateTime(2000, month.Month.Value, 1).ToString("MMMM")) </a>

                </td>
                <td>@startdate.ToString(shortFormat) - @enddate.ToString(shortFormat)</td>


                <td class="right">
                    @(month.Count)

                </td>
                <!--<td class="right currency">@month.Price.ToString("N2")</td>
                <td class="right currency">@month.Delivery.GetValueOrDefault().ToString("N2")</td>
                <td class="right currency">@month.Vat.ToString("N2")</td>-->
                <td class="total right total">@Helpers.VS(sum)</td>
            </tr>

            }
        }
        else
        {

            foreach (var week in Model.Where(x => x.Week >= 0).OrderByDescending(x => x.Week))
            {


                var sum = week.Price + week.Delivery.GetValueOrDefault() + week.Vat;
                DateTime startdate = WeekHelper.FirstDateOfWeek((int)ViewBag.year, (int)week.Week, (DayOfWeek)Settings["Invoice"].Get<int>("FirstDay"));
                DateTime enddate = startdate.AddDays(6);
                var unpublished = (week.Count);
                
            <tr>



                @if ((string)ViewBag.invoicePeriod == "d")
                {
                    <td>
                        <a data-val="@startdate.Ticks" href="@Url.Action("Show", new
                                                         {
                                                             dtstart = startdate.ToString(dateFormat, CultureInfo.InvariantCulture),
                                                             dtend = enddate.ToString(dateFormat, CultureInfo.InvariantCulture)
                                                         })">@Strings.Global_Week @week.Week</a></td>
                    <td>@startdate.ToString(shortFormat)- @enddate.ToString(shortFormat)</td>
                    
                }
                else
                {
                    <td>
                        <a href="@Url.Action("Show", new
                                                             {
                                                                 dtstart = startdate.ToString(dateFormat, CultureInfo.InvariantCulture),
                                                                 dtend = enddate.ToString(dateFormat, CultureInfo.InvariantCulture)
                                                             })">@Strings.Global_Week @week.Week</a>
                        <td>@startdate.ToString(shortFormat)- @enddate.ToString(shortFormat)</td>

                    </td>
                }




                <td class="right">
                    @(week.Count)

                </td>
                <!--<td class="right currency">@week.Price.ToString("N2")</td>
                        <td class="right currency">@week.Delivery.GetValueOrDefault().ToString("N2")</td>
                        <td class="right currency">@week.Vat.ToString("N2")</td>-->
                <td class="total right total">@Helpers.VS(sum)</td>
            </tr>

            }

        }
    </tbody>
</table>
