﻿@model IEnumerable<InvoiceWeekSummary>
@using System.Globalization

@{
    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
    string shortFormat = business.ShortDateFormat;

}

<table class="table table-hover table-condensed no-borders finance-dashboard-table data-table">
    <caption>
        @switch ((bool?)ViewBag.published)
        {
            case true:
@*@Strings.Invoices_PublishedInvoice;*@
            <a href="@Url.Action("PublishedInvoices", new {year=ViewBag.year })">@Strings.Finance_Dashboard_InvoicesPublished</a>
                break;
            case false:
@* @Strings.Invoices_UnpublishedInvoice;*@
            <a href="@Url.Action("UnpublishedInvoices", new {year=ViewBag.year })">@Strings.Finance_Dashboard_InvoicesUnpublished</a>
                break;
            case null:
@* @Strings.Invoices_AllInvoice;*@
            <a href="@Url.Action("SalesData", new {year=ViewBag.year })">@Strings.Finance_Dashboard_Sales</a>
                break;
        }</caption>
    <thead>
        <tr>
            <th class="currency-sort"></th>
            <th class="no-sort">@Strings.Global_Date</th>
            <th class="right">@Strings.Global_Invoices</th>
            <!--<th class="right currency-sort">@Strings.Global_Items</th>
            <th class="right currency-sort">@Strings.Global_Vat</th>-->
            <th class="right currency-sort">@Strings.Global_Total</th>
        </tr>
    </thead>
    <tbody>


        @if (ViewBag.invoicePeriod == "w" || ViewBag.invoicePeriod=="d")
        {
            foreach (var iwd in Model.OrderByDescending(x => x.Week))
            {
                DateTime startdate = WeekHelper.FirstDateOfWeek((int)ViewBag.year, (int)iwd.Week, (DayOfWeek)Settings["Invoice"].Get<int>("FirstDay"));
                DateTime enddate = startdate.AddDays(6);
            <tr>
                <td>
                    <a data-val="@startdate.Ticks" href="@Url.Action("ShowPublished", new
                                                          {
                                                              dtstart = startdate.ToString(dateFormat, CultureInfo.InvariantCulture),
                                                              dtend = enddate.ToString(dateFormat, CultureInfo.InvariantCulture),
                                                              ViewBag.published
                                                          })">@Strings.Global_Week @iwd.Week</a></td>

                <td>@startdate.ToString(shortFormat)- @enddate.ToString(shortFormat)</td>
                <td class="right">@iwd.Count</td>
                <!-- <td class="right currency"></td>
                    <td class="right currency"></td>-->
                <td class="right total">@Helpers.VS(((iwd.Price + iwd.Vat + iwd.Delivery.GetValueOrDefault())))</td>
            </tr>              
            }
        }
        else if (ViewBag.invoicePeriod == "m")
        {
            foreach (var iwd in Model.OrderByDescending(x => x.Month))
            {
                DateTime startdate = new DateTime(ViewBag.year, iwd.Month.Value, 1);
                DateTime enddate = new DateTime(ViewBag.year, iwd.Month.Value, WeekHelper.GetMonthLen(iwd.Month.Value, (int)ViewBag.year));
            <tr>
                <td>
                    <a data-val="@startdate.Ticks" href="@Url.Action("ShowPublished", new
                                                          {
                                                              dtstart = startdate.ToString(dateFormat, CultureInfo.InvariantCulture),
                                                              dtend = enddate.ToString(dateFormat, CultureInfo.InvariantCulture),
                                                              ViewBag.published
                                                          })">@(new DateTime(2000, iwd.Month.Value, 1).ToString("MMMM"))</a> </td>

                <td>@startdate.ToString(dateFormat) - @enddate.ToString(dateFormat)</td>

                <td class="right">@iwd.Count</td>
                <!-- <td class="right currency"></td>
                    <td class="right currency"></td>-->
                <td class="right total">@Helpers.VS(((iwd.Price + iwd.Vat + iwd.Delivery.GetValueOrDefault())))</td>
            </tr>              
            }
        }
    </tbody>
</table>

