﻿@model IEnumerable<SnapshotOrderPosition>

@using (Html.BeginForm("EditRowRange", "Invoices"))
{
    @Html.Hidden("dtstart", (string)ViewBag.dtstart)
    @Html.Hidden("dtend", (string)ViewBag.dtend)
    <table>
        @{
            var first = Model.First();
            var firstDate = Model.Min(x => x.EndDate);
            firstDate = firstDate.GetStartOfWeek((DayOfWeek)Settings["Invoice"].Get<int>("FirstDay"));
            var lastDate = Model.Max(x => x.EndDate);
        }
        @while (firstDate <= lastDate)
        {
            <tr>
                <td>@Strings.Item</td>
                @for (int i = 0; i < 7;++i)
                {
                    <td>@firstDate.AddDays(i).ToString("ddd dd/MM")</td>
                }
            </tr>
            <tr>
                <td>@first.Item.Name</td>
                @for (int i = 0; i < 7;++i)
                {
                    var date = firstDate.AddDays(i);
                    var pos = Model.FirstOrDefault(x => x.EndDate == date);
                    if (pos == null)
                    {
                        <td><input type="text" disabled="disabled" class="input-mini"/></td>
                    }
                    else
                    {
                        <td>@Html.TextBox("count[" + pos.Id + "]", pos.MadeCount == 0 ? "" : pos.MadeCount.ToString(CultureInfo.InvariantCulture), new {@class = "input-mini"})</td>
                    }
                }
            </tr>
            <tr>
                <td>@Strings.Price: @ViewBag.CurrencySymbol@first.Item.GetItemPrice(first.Address.Trader).Value.ToString("N2")</td>
                @for (int i = 0; i < 7;++i)
                {
                    var date = firstDate.AddDays(i);
                    var pos = Model.FirstOrDefault(x => x.EndDate == date);
                    if (pos == null)
                    {
                        <td><input type="text" disabled="disabled" class="input-mini"/></td>
                    }
                    else
                    {
                        <td>@Html.TextBox("price[" + pos.Id + "]", pos.Price.ToString("N2"), new {@class = "input-mini"})</td>
                    }
                }
            </tr>
            firstDate = firstDate.AddDays(7);
        }
    </table>
    <input type="submit"/>
}