﻿@using (Ajax.BeginForm("EditNumber", "Invoices", new AjaxOptions {
    HttpMethod = "POST", OnSuccess = "chlebySmartReload() ",
    OnFailure = "alert('Communication error: resource not found.');"}, new { @class = "form-horizontal", id="invoice-editlastnumber", }))
{
    @Html.ValidationSummary(true)

    <fieldset>
                <div class="control-group">
                    <label class="control-label">@Strings.Invoices_Edit_Number_Start</label>
                    <div class="controls">
                        <input type="text" class="input-small" name="invoicelastnumber" id="invoicelastnumber" value="@ViewBag.LastNumber"/>
                        <input type="hidden" id="url" value="@Url.Action("CheckNumber")"/>
                    </div>
                 
                </div>
                <div class="control-group">
                    
                    @Strings.Invoices_Edit_Number_Warning
                    
                </div>
                <div class="form-actions">
                    <input class="btn btn-success btn-large" type="submit" value="@Strings.Global_Save" />
                    <button type="button" class="btn btn-danger btn-large" data-dismiss="modal">@Strings.Global_Cancel</button>
                </div>
   

    </fieldset>
}

<script type="text/javascript">

    $(document).ready(function() {

        $("#invoice-editlastnumber").submit(function(e) {

            var url =  $("#url").val();
            var check = false;
           // e.preventDefault();

           // alert(url+"?number="+$("#invoicelastnumber").val());

            $.ajax({
                url: url+"?number="+$("#invoicelastnumber").val(),
                context: document.body,
                async:false
            }).done(function (data) {


                //console.log(data[0]);

                var l = data.length;
                var msg = "";
                for (var i = 0; i < l; i++) {
                    msg += data[i]+"\n";
                }
                msg += "@Strings.Invoices_Edit_Number_Question";

                console.log(msg);

                check = confirm(msg);                          
            });
            
            if (check==true) {
                return true;
            }
            else {
                e.preventDefault();
                return false;
            }
                     
        });
    
    });

</script>