﻿@model IEnumerable<InvoiceWeekData>



<div class="form-inline">
    <div class="control-group pull-left">
        <div class="controls">
            <span class="help-inline">@Strings.Invoices_QBExport_Date_Range</span>
            <input type="text" class="input-small datepicker qbexport-input-dtstart" value="@ViewBag.dtstart.ToShortDateString()">
            <input type="text" class="input-small datepicker qbexport-input-dtend" value="@ViewBag.dtend.ToShortDateString()">
            <a title="Refresh" href="#" data-action="@Url.Action("QBExport")" class="btn btn-icon qbexport-refresh"><i class="icon-refresh"></i></a>

        </div>
    </div>


    <div class="control-group pull-right">
        <div class="controls">
         
            <span class="help-inline">@Strings.Invoices_QBExport_Number_Range</span>
               <span>
                <a href="#" class="btn-subtle chleby-qty-minus"><i class="icon-minus-sign"></i></a>
                <input type="text" class="input-mini qbexport-input-numstart" value="@(Model.Any() ? Model.Min(x => x.InvoiceNumber) : 0)">
                <a href="#" class="btn-subtle chleby-qty-plus"><i class="icon-plus-sign"></i></a>
            </span>

            <span>
                <a href="#" class="btn-subtle chleby-qty-minus"><i class="icon-minus-sign"></i></a>
                <input type="text" class="input-mini qbexport-input-numend" value="@(Model.Any() ? Model.Max(x => x.InvoiceNumber) : 0)">
                <a href="#" class="btn-subtle chleby-qty-plus"><i class="icon-plus-sign"></i></a>
            </span>

            <a title="Refresh" href="#"  data-action="@Url.Action("QBExportByNums")" class="btn btn-icon qbexport-refresh"><i class="icon-refresh"></i></a>
        </div>
    </div>
</div>


@using (Html.BeginForm("ExportDo", "Invoices", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Hidden("dtstart")
    @Html.Hidden("dtend")
    <table cellpadding="0" cellspacing="0" border="0" class="table checkbox-batch table-condensed table-hover data-table">
        <thead>
            <tr class="table-header">
                <th class="no-sort"></th>
                <th class="no-sort"></th>
                <th class="actions no-sort"></th>

                <th>no.</th>
                <th>@Strings.Global_Date</th>
                <th>@Strings.Global_Customer</th>
                <th>@Strings.Global_Address</th>
                <th class="right">@Strings.Global_Items</th>
                <th class="right">@Strings.Delivery2</th>
                <th class="right">@Strings.Global_Vat</th>
                <th class="right">@Strings.Global_Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var iwd in Model)
            {
        
                <tr>
                    <td>
                        <input type="checkbox" name="ids" value="@iwd.Id" @(iwd.Exported || !iwd.Published ? "" : "checked='checked'") />

                    </td>
                    <td>
                        @if (iwd.Published)
                        {
                            <span class="has-popover" title="@Strings.Invoice_Published"><i class="icon-ok"></i></span>
                        }
                        else
                        {
                              <span class="has-popover" title="@Strings.Invoice_Unpublished"><i class="icon-minu"></i></span>
                        }
                    </td>
                    <td>
                        @if (iwd.Exported)
                        {
                            <span class="has-popover" title="Exported"><i class="icon-file"></i></span>
                        }
                    </td>
                    <td>

                        <nobr>@iwd.InvoiceNumber
                            @if (iwd.Revision != 0)
                            {              
                                @:-@iwd.Revision
                            }

                        </nobr>
                    </td>
                    <td>@iwd.Date.ToShortDateString()</td>
                    <td>@iwd.TraderName</td>
                    <td>
                        <nobr>@iwd.Address.Address1</nobr>
                    </td>

                    <td class="right">@ViewBag.CurrencySymbol@iwd.ItemPrice.ToString("0.00")</td>
                    <td class="right">@{if (@iwd.VatPrice > 0)
                                        {@ViewBag.CurrencySymbol@iwd.DeliveryPrice.ToString("0.00")};}</td>
                    <td class="right">@{if (@iwd.VatPrice > 0)
                                        {@ViewBag.CurrencySymbol@iwd.VatPrice.ToString("0.00")};}</td>
                    <td class="right">@ViewBag.CurrencySymbol@((iwd.ItemPrice + iwd.DeliveryPrice + iwd.VatPrice).ToString("0.00"))</td>
                </tr>
            }
        </tbody>

    </table>
    <div class="form-actions">
    <button type="submit" class="btn btn-success pull-right"><i class="icon-cloud-download"></i>&nbsp;@Strings.Global_Export</button>
        </div>

}
