﻿@using System.Globalization
@model IEnumerable<InvoiceWeekSummary>
@{
    string invoiceMode = "default";
    ViewBag.Title = Strings.Invoices_Snapshot;

    switch ((string)ViewBag.invoicePeriod)
    {
        case "m":
            invoiceMode = Strings.Invoice_Index_Month_Monthly;
            break;
        case "w":
            invoiceMode = Strings.Invoice_Index_Month_Weekly;
            break;
        case "d":
            invoiceMode = Strings.Invoice_Index_Month_Daily;
            break;
        case "a":
            invoiceMode = Strings.Invoice_Index_Month_Ad_Hoc;
            break;

    }

    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
    string shortFormat = business.ShortDateFormat;

}


@section Header{

}


@section SecondaryActions
{
    <span class="header">@Strings.Invoices_Snapshot&nbsp;</span>
    <div class="btn-group">
        <select class=" select-redirect">
            @foreach (var year in ViewBag.years)
            {
                if (year != ViewBag.curyear)
                {
                <option value="@Url.Action("Index", new { year })">@year</option>
                }
                else
                {
                <option selected="selected" value="@Url.Action("Index", new { year })">@year</option>
                }
            }
        </select>

    </div>
    <span class="pull-right">
        <div class="btn-group hide">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Invoicing Mode: @invoiceMode
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="@((string)ViewBag.invoicePeriod == "m" ? "active" : "")"><a href="@Url.Action("Index", new { ViewBag.curyear, invoiceperiod = "m" })" >@Strings.Invoice_Index_Month_Monthly</a></li>
                <li class="@((string)ViewBag.invoicePeriod == "w" ? "active" : "")"><a href="@Url.Action("Index", new { ViewBag.curyear, invoiceperiod = "w" })" >@Strings.Invoice_Index_Month_Weekly</a></li>
                <li class="@((string)ViewBag.invoicePeriod == "d" ? "active" : "")"><a href="@Url.Action("Index", new { ViewBag.curyear, invoiceperiod = "d" })" >@Strings.Invoice_Index_Month_Daily</a></li>
                <li class="@((string)ViewBag.invoicePeriod == "a" ? "active" : "")"><a href="@Url.Action("Index", new { ViewBag.curyear, invoiceperiod = "a" })" >@Strings.Invoice_Index_Month_Ad_Hoc</a></li>
            </ul>
        </div>
        <button title=@Strings.Invoices_Index_Month_Published_Button class="btn" onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</button>
    </span>
}
<div class="table-container no-borders">
    <table class="table table-hover table-condensed data-table">

        <thead>
            <tr>
                <th class="actions no-sort"></th>
                <th class=""></th>
                <th class="no-sort">@Strings.Date</th>
                <th class="right currency-sort">@Strings.Customers</th>
                <th class="right currency-sort">@Strings.Items</th>
                <th class="right currency-sort">@Strings.Del</th>
                <th class="right currency-sort">@Strings.Vat</th>
                <th class="right currency-sort">@Strings.Total</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var week in Model.Where(x => x.Week >= 0).OrderByDescending(x => x.Week))
            {
                var sum = week.Price + week.Delivery.GetValueOrDefault() + week.Vat;
                DateTime startdate = WeekHelper.FirstDateOfWeek((int)ViewBag.curyear, (int)week.Week, (DayOfWeek)Settings["Invoice"].Get<int>("FirstDay"));
                DateTime enddate = startdate.AddDays(6);
               
                <tr>
                    <td class="actions wide">
                        <a target="_blank" title="@Strings.PDF_Sales_Customer_Report" href="@Url.Action("SalesReportSnapshot",new { dtstart=startdate.ToString("ddMMyyyy"),dtend=enddate.ToString("ddMMyyyy") })">
                            <img src="~/Images/pdf-icon.gif"></a>
                        <a target="_blank" title="@Strings.PDF_Item_Report" href="@Url.Action("ItemReportSnapshot",new { dtstart=startdate.ToString("ddMMyyyy"),dtend=enddate.ToString("ddMMyyyy") })">
                                  <img src="~/Images/pdf-icon.gif"></a>
                    </td>
                    <td>
                            <a href="@Url.Action("Show", new
                                {
                                    dtstart = startdate.ToString(dateFormat, CultureInfo.InvariantCulture),
                                    dtend = enddate.ToString(dateFormat, CultureInfo.InvariantCulture)
                                })">@Strings.Global_Week @week.Week</a>
                    </td>
                    <td>@startdate.ToString(shortFormat) - @enddate.ToString(shortFormat)
                    </td>
                    <td class="right">
                        @week.Count
                    </td>

                    <td class="right">@Helpers.VSE(week.Price)</td>
                    <td class="right">@Helpers.VSE(week.Delivery.GetValueOrDefault())</td>
                    <td class="right">@Helpers.VSE(week.Vat)</td>
                    <td class="total right">@Helpers.VSE(sum)</td>
                </tr>
 
            }
        </tbody>
    </table>
</div>
