﻿@model InvoiceCreateModel
@{
    var items = (IEnumerable<Item>)ViewBag.items;
    var addrs = (IEnumerable<Address>)ViewBag.addrs;
    var pts = (IEnumerable<PaymentTerm>)ViewBag.pts;
    var editMode = ViewData.ContainsKey("id") && ViewBag.id > 0;
    string createoredit = editMode ? Strings.Global_Edit : Strings.Global_Create;
    ViewBag.Title = createoredit + " " + Strings.NewCreate_invoice_title;
    var hiddenDone = new List<int>();
    var curDate = Model.StartDate.Date;
    var curDateLocal = Model.StartDateLocal.Date;
    var grandtotal = 0m;
    var grandvat = 0m;
    var curRev = 0;

    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
    string shortFormat = business.ShortDateFormat;

}

@section SecondaryActions{
    <div class="btn-group form-horizontal">
        <span class="header">
            @(editMode ? Strings.Global_Edit : Strings.Global_Create)
            @Strings.NewCreate_invoice_title&nbsp;
        </span>
        @Helpers.InputTextProxy("StartDateLocal", Model.StartDateLocal.ToShortDateString(), "datepicker input-small")
        <span class="header">&nbsp;-&nbsp;</span>
        @Helpers.InputTextProxy("EndDateLocal", Model.EndDateLocal.ToShortDateString(), "datepicker input-small")
        @Helpers.SaveButtonInvoices("invoicecreate-save", "", "btn btn-icon", "", "icon-refresh")
    </div>

    <span class="pull-right">
        @if (ViewBag.invoiceid > 0)
        {
            <a href="@Url.Action("Delete", new { id = ViewBag.invoiceid })" @Helpers.JsDelConfirm() class="btn btn-danger btn-icon"><i class="icon-trash"></i></a>
        }
        @Helpers.SaveButtonInvoices("invoicecreate-savedb", Strings.Global_Save)
        @Helpers.SaveButtonInvoices("invoicecreate-publish", Strings.Global_Publish, "btn btn-warning", "", "icon-share")
        <a href="#" title="@Strings.Invoices_Index_Month_Published_Button" class="btn btn-icon" onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</a>
    </span>
}



@Helpers.Modal("invoices-editlastnumber-modal", "Change Invoice Numbers")

@using (Html.BeginForm("NewCreate", "Invoices", new { ViewBag.id }, FormMethod.Post, new { @class = "form-horizontal form-invoice dirtyforms" }))
{
    
    @Html.Hidden("returnUrl")

    if (((IEnumerable<DmgItem>)(ViewBag.complaints)).Any())
    {

    <div class="alert clearfix">
        <h4><i class="icon-warning-sign"></i>&nbsp;@Strings.Invoices_ReturnsPendingHeader</h4>
        <table class="table table-condensed no-borders data-table">
            <thead>
                <tr>
                    <th>@Strings.Global_Qty</th>
                    <th>@Strings.Global_Item</th>
                    <th>@Strings.Global_Date</th>
                    <th>@Strings.Returns_Note</th>
                    <th>@Strings.Returns_Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DmgItem di in ViewBag.complaints)
                {
                    <tr>
                        <td>@di.Quantity</td>
                        <td>
                            <label class="checkbox">
                                @if (!di.Ack)
                                {
                                    <input type="checkbox" name="complaints" value="@di.Id"/>
                                }
                                @di.Item.Name
                            </label>
                        </td>
                        <td>@di.DeliveryDateLocal.ToShortDateString()</td>
                        <td>@di.Note</td>
                        <td>@(di.Ack ? Strings.Returns_StatusOK : Strings.Returns_StatusPending)</td>

                    </tr>
                }
            </tbody>
        </table>
        <button class="btn" type="submit" name="action" value="applydi" onclick="return confirm('This will save the invoice and mark selected return as approved!')">
            @Strings.Invoices_ApplyReturn

        </button>
    </div>
    }

    if (ViewBag.parents != null)
    {
    <div class="invoice-revisions pull-left ">
        <span class="">@Strings.Invoices_EditInvoice_Parents</span>
        <ul class="invoice-revisions-list">
            @foreach (Tuple<int, int, int> node in ViewBag.clones)
            {          
                <li><a href="@Url.Action("Edit", new { id = node.Item3 })">@node.Item1 - @node.Item2</a></li>            
                if (node.Item3 == ViewBag.invoiceid)
                {
                    curRev = node.Item2;
                }
            }
            @foreach (Tuple<int, int, int> node in ViewBag.parents)
            {
                if (ViewBag.invoiceid != node.Item3)
                {
                    <li target='_blank' class=" @(ViewBag.invoiceid == node.Item3 ? "active" : "")" ><a href="@Url.Action("Edit", new {id = node.Item3})">@node.Item1 - @node.Item2</a></li>
                }
                else
                {
                    curRev = node.Item2;
                }
            }
        </ul>
    </div>
    }

    <div class="invoice-info pull-right ">
        <div class="control-group controls-invoice-number">
            <label class="control-label">@Strings.Invoices_New_Create_Invoice_Number</label>
            <div class="controls">
                @if (editMode)
                {
                    <span class="text-invoice-number help-inline">@Model.OldNumber
                        @if (curRev != 0)
                        {
                            @: - @curRev
                        }</span><a href="#" title="Unlock invoice number" class="unlock-invoice-number pull-right help-inline has-popover"><i class="icon-pencil"></i></a>
                    @Html.TextBoxFor(x => x.OldNumber, new { @class = "input-invoice-number hide", data_action = Url.Action("CheckInvoiceNumber"), data_invoiceid = ViewBag.id }) 
                    <p class="text-warning validation-invoice-number"></p>
                }
                else
                {
                    <span class="help-inline">
                        @(Settings["Invoice"].Get<int>("LastNumber") + 1)
                    </span>
                    <span class="help-inline pull-right"><a class="invoices-editlastnumber-modal" href="@Url.Action("EditNumber")"><i class="icon-pencil"></i></a></span>
                }


            </div>
        </div>
        <div class="controls-invoice-delivery">
            <div class="control-group">
                <label class="control-label">@Strings.Invoices_New_Create_Invoice_To</label>
                <div class="controls">
                    @*@Html.HiddenFor(x=>x.InvoiceAddressIdStr)*@
                    @*@addrs.First(x=>x.Id == Model.InvoiceAddressId).Trader.Name -*@
                    @*@addrs.First(x=>x.Id == Model.InvoiceAddressId).Address1*@
                    @Html.DropDownListFor(x => x.InvoiceAddressId, addrs.Where(x => x.AddressIsPrimary).OrderBy(x => x.Trader.Name).Select(x => new SelectListItem()
                    {
                        Selected = x.Id == Model.InvoiceAddressId,
                        Text = x.Trader.Name + " - " + x.Address1,
                        Value = x.Id.ToString(CultureInfo.InvariantCulture)
                    }), new { @class = "input-invoice-address", data_action = Url.Action("GetTraderAddresses") })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Strings.Invoices_NewCreate_Delivery_to_Title:</label>
                <div class="controls">
                    @*@Html.HiddenFor(x=>x.DeliveryAddressId)*@
                    @*@addrs.First(x=>x.Id == Model.DeliveryAddressId).Address1*@
                    @Html.DropDownListFor(x => x.DeliveryAddressId, addrs.Where(x => x.TraderId == addrs.First(y => y.Id == Model.InvoiceAddressId).TraderId).OrderBy(x => x.Address1).Select(x => new SelectListItem()
                    {
                        Selected = x.Id == Model.DeliveryAddressId,
                        Text = x.Address1,
                        Value = x.Id.ToString(CultureInfo.InvariantCulture)
                    }), new { @class = "input-delivery-address" })
                </div>
            </div>
        </div>

        <div class="control-group">

            <label class="control-label">@Strings.Invoice_New_Create_Invoice_Date</label>
            <div class="controls">
                <input class="text-box single-line datepicker" data-val="true" data-val-date="The field Date must be a date." data-val-required="The Date field is required." id="Date" name="Date" type="datetime" name="Date" value="@Model.DateLocal.ToString(dateFormat)"/>
                @Html.ValidationMessageFor(x => x.DateLocal)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@Strings.Invoice_New_Create_Terms</label>
            <div class="controls">
                @Html.DropDownListFor(x => x.PaymentTerm, pts.Select(x => new SelectListItem()
                {
                    Text = x.Name,
                    Value = x.Name
                }))
            </div>
        </div>
    </div>

 
    <!--for jsproxy-->
    <input class="text-box single-line datepicker hide-jsproxy " data-val="true" data-val-date="The field Start Date must be a date." data-val-required="The Start Date field is required." id="StartDateLocal" name="StartDateLocal" type="datetime" value="@Model.StartDateLocal.ToShortDateString()" />
    <input class="text-box single-line datepicker hide-jsproxy" data-val="true" data-val-date="The field End Date must be a date." data-val-required="The End Date field is required." id="EndDateLocal" name="EndDateLocal" type="datetime" value="@Model.EndDateLocal.ToShortDateString()" />
    <button id="invoicecreate-save" type="submit" name="action" value="save" class="hide-jsproxy">@Strings.Global_Save</button>
    <button id="invoicecreate-savedb" type="submit" name="action" value="savedb" class="hide-jsproxy">@Strings.Global_SaveDB</button>
    <button id="invoicecreate-publish" type="submit" name="action" value="publish" class="hide-jsproxy">@Strings.Global_Publish</button>

                var tables = 0;
                do
                {
                    tables++;
    <div class="table-container no-borders clearfix">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-condensed table-hover">
            <!--boostrap borders plx come bacl-->
            <thead>
                <tr>
                    <th></th>
                    <th>@Strings.Global_Qty</th>
                    <th>@Strings.Global_Item</th>
                    @for (int i = 0; i < 7; ++i)
                    {
                        var delivDateLocal = curDateLocal.AddDays(i).Date;
                        <th class="right">@delivDateLocal.ToString("ddd")<br />@delivDateLocal.ToString(shortFormat)</th>
                    }
                    <th class="right">@Strings.Global_Price</th>
                    <th class="right">@Strings.Global_Subtotal</th>
                    <th class="right">@Strings.Global_Vat</th>
                    <th class="right">@Strings.Global_Total</th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    var weektotal = 0m;
                    var weekvat = 0m;
                }
                @for (int i = 0; i < Model.FieldCount.Count; ++i)
                {
                    ViewBag.startDate = Model.StartDate.Date;
                    ViewBag.endDate = Model.EndDate.Date;
                    ViewBag.curDate = curDate;
                    if (!hiddenDone.Contains(i))
                    {
                    <input type="hidden" name="names[@i]" value="@Model.FieldCount[i].Key" />
                    <input type="hidden" name="notes[@i]" value="@Model.Notes[i]" />
                    <input type="hidden" name="vats[@i]" value="@Model.Vats[i]" />
                        hiddenDone.Add(i);
                    }
                    <tr class="no-border">
                        @{
                    var model = new InvoiceCreateRowModel
                    {
                        Item = Model.FieldCount[i].Key,
                        Counts = Model.FieldCount[i].Value,
                        Prices = Model.FieldPrice[i].Value,
                        Vat = Model.Vats[i]
                    };
                    ViewData["rowNumber"] = i;
                    ViewData["note"] = Model.Notes[i];
                            @Html.Partial("_NewCreateRow", model, ViewData)
                    weektotal += model.Total;
                    weekvat += model.Vat;
                        }

                    </tr>
                }

                <tr class="separate">
                    <td></td>
                    <td>@Model.DeliveryCount.Sum(x => x.Key >= curDate && x.Key < curDate.AddDays(7) ? x.Value : 0)</td>
                    <td>
                        @Strings.Delivery2
                        <a href="#" class="btn-subtle input-price-show has-popover pull-right" title="Edit prices for each day"><i class="icon-pencil"></i></a>
                    </td>
                    @{ var total = 0m;
                       var priceVaries = false;
                       var first = true;
                       var price = 0m;
                    }
                    @for (int i = 0; i < 7; ++i)
                    {
                        var delivDate = curDate.AddDays(i).Date;

                        if (Model.StartDate > delivDate || Model.EndDate < delivDate)
                        {
                        <td></td>
                            continue;
                        }
                        <td class="right">

                            @if (Model.DeliveryCount.ContainsKey(delivDate))
                            {
                                if (first && Model.DeliveryCount[delivDate] != 0)
                                {
                                    price = Model.DeliveryPrice[delivDate];
                                    first = false;
                                }
                                if (price != Model.DeliveryPrice[delivDate] && Model.DeliveryCount[delivDate] != 0)
                                {
                                    priceVaries = true;
                                }

                                <input type="checkbox" name="DeliveryCount[@delivDate]" value="1" @(Model.DeliveryCount[delivDate] == 1 ? "checked='checked'" : "")/>
                                <input type="hidden" name="DeliveryCount[@delivDate]" value="0" />
                                <input type="text" class="input-mini input-invoice-price hide" name="DeliveryPrice[@delivDate]" value="@Model.DeliveryPrice[delivDate].ToString("0.00")"/>
                                total += Model.DeliveryPrice[delivDate] * Model.DeliveryCount[delivDate];
                            }
                            else
                            {
                                @Html.CheckBox("DeliveryCount[" + delivDate + "]", false)
                                <input type="text" class="input-mini input-invoice-price hide" name="DeliveryPrice[@delivDate]" value="0"/>
                            }
                        </td>
                    }
                    <td class="right">
                        @if (priceVaries)
                        {
                            <input type="text" class="right input-price-proxy input-mini" placeholder="*VAR*" />
                        }
                        else
                        {
                            <input type="text" class="right input-price-proxy input-mini" value="@price.ToString("0.00")" />
                        }
                    </td>
                    <td class="right">
                        @Helpers.VS(total)
                    </td>
                    <td class="right">
                        @{ var vat = Settings["PriceData"].Get<decimal>("DeliveryVat") / 100 * total; }
                        @Helpers.VE(vat)
                    </td>
                    <td class="right">
                        @Helpers.VE(total + vat)

                        @{
                    weektotal += total;
                    weekvat += vat;
                        }
                    </td>
                </tr>

                <tr class="total separate">
                    <td></td>
                    <td></td>
                    <td>@Strings.Global_Total</td>
                    <td colspan="8"></td>
                    <td class="total">
                        @Helpers.VS(weektotal)
                    </td>
                    <td class="total">
                        @Helpers.VS(weekvat)
                    </td>
                    <td class="total grandtotal">
                        @Helpers.VS(weekvat + weektotal)
                    </td>
                    @{
                           grandtotal += weektotal;
                           grandvat += weekvat;
                    }
                </tr>

                <tr class="separate">
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(x => x.NewItemId,
                                    items.Where(x => !Model.FieldCount.Select(y => y.Key).Contains(x.Name))
                                        .Select(x => new SelectListItem()
                                            {
                                                Value = x.Id.ToString(),
                                                Text = x.Name
                                            }), Strings.Additem + "...")
                    </td>
                    @for (int i = 0; i < 7; ++i)
                    {
                        var fieldDate = curDate.AddDays(i).Date;
                        if (Model.StartDate > fieldDate || Model.EndDate < fieldDate)
                        {
                        <td></td>
                            continue;
                        }

                        <td class="right">
                            <input type="text" name="NewRow[@fieldDate]" value="" class="input-mini right" />
                        </td>
                    }
                    <td colspan="4" class="left">
                        <button type="submit" name="action" value="addrow" class="btn-subtle"><i class="icon-plus-sign"></i>&nbsp;@Strings.Invoices_New_Create_Add_Item</button>
                    </td>
                </tr>
            </tbody>
            @{ curDate = curDate.AddDays(7); }

        </table>
    </div>
                } while (curDate <= Model.EndDate);

                if (tables > 1)
                {
    <table class="table no-borders">
        <tr class="total separate">
            <td></td>
            <td class="total">@Strings.Invoices_List_GRAND_TOTAL</td>
            <td></td>
            <td class="right total actions">@Helpers.V(grandtotal)</td>
            <td class="right total actions">@Helpers.V(grandvat)</td>
            <td class="right total grandtotal actions">@Helpers.V(grandtotal + grandvat)</td>
        </tr>
    </table>
                }
}
