﻿@model InvoicePrepModel

@if (Model.DataInPast)
{
    <div class="alert alert-block alert-danger">
        <h4><i class="icon-warning-sign"></i>&nbsp; @Strings.Invoices_Publish_Prep_Title</h4>
        <p>
            @Strings.Invoices_Publish_Prep_FirstLine <br />
            @Strings.Invoices_Publish_Prep_SecondLine
        </p>

    </div>
}

@{
    var number = Model.FirstNumber;

    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
    string shortFormat = business.ShortDateFormat;

}
@using (Html.BeginForm("PublishPrepDo", "Invoices", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.Hidden("dtstart")
    @Html.Hidden("dtend")
    foreach (var iwd in Model.Summary)
    {
        do
        {
            number++;
            if (Model.TakenNumbers.Contains(number))
            {
    <div class="alert alert-block alert-danger">
        <strong><i class="icon-warning-sign"></i>&nbsp; @Strings.PublishPrep_Number_Alert</strong>
        @Strings.PublishPrep_Number_Alert_Subtext @(number). @Strings.PublishPrep_Number_Alert_Subtext2

    </div>
            }
        } while (Model.TakenNumbers.Contains(number));
    }
    <div class="table-container no-borders">
        <table class="table table-condensed no-borders">
            <thead>
                <th>@Strings.Global_Number_Shortcut</th>
                <th class="center">@Strings.Global_Publish</th>
                <th>@Strings.Global_Name</th>
                <th>@Strings.Global_Address</th>
                <th class="right">@Strings.Global_Items</th>
                <th class="right">@Strings.Global_Delivery</th>
                <th class="right">@Strings.Global_Vat</th>
                <th class="right">@Strings.Global_Total</th>
            </thead>
            @{
    number = Model.FirstNumber;

    foreach (var iwd in Model.Summary)
    {
        do
        {
            number++;

        } while (Model.TakenNumbers.Contains(number));
                <tr>
                    <td>
                        @number
                        <input type="hidden" name="info[@iwd.Address.Id].Number" value="@number" />
                        <input type="hidden" name="info[@iwd.Address.Id].Publish" value="@iwd.Published.ToString()" />
                    </td>
                    <td class="center"><i class="@(iwd.Published ? "icon-ok" : "icon-minus")"></i></td>
                    <td>@iwd.Address.Trader.Name</td>
                    <td>@iwd.Address.Address1</td>
                    <td class="right">@Helpers.VSE(iwd.ItemPrice)</td>
                    <td class="right">@Helpers.VSE(iwd.DeliveryPrice)</td>
                    <td class="right">@Helpers.VSE(iwd.VatPrice)</td>
                    <td class="right total">@Helpers.VSE(((iwd.ItemPrice + iwd.DeliveryPrice + iwd.VatPrice)))</td>
                </tr>
    }
            }
        </table>
    </div>
    <div class="control-group">
        <div class="controls">
            <span class="help-inline">@Strings.Invoice_New_Create_Invoice_Date
            </span>
            <input type="text" name="date" class="datepicker" value="@ViewBag.dtend.ToString(dateFormat)"/>
            <input type="checkbox" name="sendMail" value="true" />
            <label for="sendMail">@Strings.PublishPrep_Send_Invoices</label>
            <button type="submit" class="btn btn-success pull-right">@Strings.Invoices_Publish_Prep_Create_Invoices</button>
        </div>
        <input type="hidden" name="sendMail" value="false"/>
    </div>
    
}