﻿@using System.Globalization
@model IEnumerable<IGrouping<Address, SnapshotOrderPosition>>


@{
    int nextnumber = Convert.ToInt32(ViewBag.LastNumber) + 1;
    ViewBag.Title = Strings.Invoices_Rande_Invoice_Title + " " + " - " + Model.FirstOrDefault().Key.Trader.Name + " - " + Strings.Global_Week + " " + ViewBag.week + " / " + ViewBag.curyear;

    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
    string shortFormat = business.ShortDateFormat;

}

@section SecondaryActions
{
    <div class="btn-group">
        <span class="header">@Strings.Global_Invoice&nbsp;@nextnumber&nbsp;</span>
    </div>
    <span class="pull-right">
        @Helpers.SaveButtonInvoices("snapshot-saveback", Strings.Global_Save)
        @Helpers.SaveButtonInvoices("snapshot-save", Strings.Global_Save_and_GoBack)
        @Helpers.SaveButtonInvoices("snapshot-publish", Strings.Invoices_Show_Range_Create_Invoice, "btn btn-warning", "", "icon-share")
        <a href="#" title="@Strings.Invoices_Index_Month_Published_Button" class="btn" onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</a>
    </span>
}



@Helpers.Modal("invoices-editlastnumber-modal", Strings.Invoices_Range_Invoice_Change_Invoice_Modal)
@Helpers.Modal("invoices-editpricesrange-modal", "Edit Prices")

@foreach (var addr in Model)
{
    var listcmp = new UniversalWorldEntityComparer(addr.Key.Trader);
    var items = (from pos in addr select pos.Item).Distinct().ToList();
    var trader = addr.Key.Trader;
    items.Sort(listcmp);

    var firstDate = addr.Min(x => x.EndDate);
    firstDate = firstDate.GetStartOfWeek((DayOfWeek)Settings["Invoice"].Get<int>("FirstDay"));
    var lastDate = addr.Max(x => x.EndDate);
    var virtualitems = new List<WorldEntity>();

    using (Html.BeginForm("Publish", "Invoices", FormMethod.Post, new { @class = "form-horizontal dirtyforms", name = "publish" }))
    {
    <text>
    @Html.Hidden("addrId", addr.Key.Id)
    @Html.Hidden("dtstart", (string)ViewBag.dtstart)
    @Html.Hidden("dtend", (string)ViewBag.dtend)
    <div class="invoice-info pull-right">

        <div class="control-group">

            <label class="control-label">Invoice number:</label>
            <div class="controls">
                <span class="help-inline">
                    @nextnumber
                </span>
                <a class="invoices-editlastnumber-modal pull-right help-inline btn-subtle" href="@Url.Action("EditNumber")"><i class="icon-pencil"></i></a>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Invoice to:</label>
            <div class="controls">
                <span class="help-inline">
                    <select class="select-redirect">
                        <option class="input-medium" value="@Url.Action("Show", new { dtstart = ViewBag.dtstart, dtend = ViewBag.dtend })">
                            @{
                                var title = "<-- ";
                                switch (((string)ViewBag.invoicePeriod)[0])
                                {
                                    case 'a':
                                    case 'u':
                                        title += string.Format("{0:d} - {1:d}", ViewBag.StartDateLocal, ViewBag.EndDateLocal);
                                        break;
                                    case 'd':
                                        title += string.Format("{0:d}", ViewBag.StartDateLocal);
                                        break;
                                    case 'w':
                                        title += string.Format("{1:yyyy} / " + Strings.Global_Week + " {0}", WeekHelper.GetWeek(ViewBag.StartDateLocal, (DayOfWeek)Settings["Invoice"].Get<int>("FirstDay")), ViewBag.EndDateLocal);
                                        break;
                                    case 'm':
                                        title += string.Format("{0:yyyy MMMM}", ViewBag.StartDateLocal);
                                        break;
                                }
                                @title;
                            }
                        </option>
                        @foreach (var kvp in ViewBag.addrs)
                        {
                            @:<option @(kvp.Key == Model.FirstOrDefault().Key.Id ? "selected='selected'" : "")value="@Url.Action("RangeInvoice", new { dtstart = ViewBag.dtstart, dtend = ViewBag.dtend, address = kvp.Key })">@kvp.Value.Item2  - @kvp.Value.Item1</option>
                        }
                    </select>
                    <br />
                    @Model.FirstOrDefault().Key.Address1 @Model.FirstOrDefault().Key.Address2
                    @Model.FirstOrDefault().Key.Address3<br />@Model.FirstOrDefault().Key.Post @Model.FirstOrDefault().Key.City<br />
                </span>
            </div>
        </div>
        <div class="control-group">

            <label class="control-label">Invoice date:</label>
            <div class="controls">
                @Html.Hidden("date", (string) ViewBag.enddate.ToShortDateString())
                <input type="text" name="dateLocal" class="datepicker" value="@ViewBag.EndDateLocal.ToString(dateFormat)" />
            </div>
        </div>
        <div class="control-group">

            <label class="control-label">Terms:</label>
            <div class="controls">
                <span class="help-inline">@Model.FirstOrDefault().Key.Trader.PaymentTerms.Name</span>
            </div>
        </div>



    </div>
    @Html.TextBox("number", nextnumber, new { @class = "input-mini hide" })
    <button id="snapshot-publish" class="hide-jsproxy" name="action" value="publish" type="submit"><i class="icon-file"></i>Publish</button>
    </text>
    }

    while (firstDate <= addr.Max(x => x.EndDate))
    {
        var actualFirstDate = firstDate;
    <div class="table-container no-borders">

        @using (Html.BeginForm("SetData", "Invoices", FormMethod.Post, new { name = "form-invoice", @class = "form-horizontal dirtyforms" }))
        {
            var totalsum = 0m;
            var totalvat = 0m;
            <table cellpadding="0" cellspacing="0" border="0" class="table table-condensed table-hover">
                <thead>
                    <tr class="no-border">
                        <th class="right">qty</th>
                        <th>@Strings.Item</th>
                        @foreach (var day in Enumerable.Range(0, 7))
                        {
                            var curDate = firstDate.AddDays(day);
                            <th class="right">@curDate.ToString("ddd")<br />@curDate.ToString(shortFormat)</th>
                        }
                        <th class="right">@Strings.Price</th>
                        <th class="right">@Strings.Subtotal</th>
                        <th class="right">@Strings.Vat</th>
                        <th class="right">@Strings.Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in items.Where(x => x.Id != (int)ViewBag.DeliveryId))
                    {
                        var sum = 0m;
                        var sumvat = 0m;
                        var itorders = (from pos in addr
                                        where pos.Item.Id == item.Id && pos.Address.Id == addr.Key.Id
                                        select pos).ToList();
                        if (itorders.Sum(x => x.MadeCount) == 0)
                        {
                            virtualitems.Add(item);
                            continue;
                        }
                        <tr class="no-border">
                            <td class="right">@itorders.Sum(x => x.MadeCount)</td>
                            <td><a class="invoices-editpricesrange-modal" href="@Url.Action("EditRowRange", new { itemId = item.Id, addressId = addr.Key.Id, ViewBag.dtstart, ViewBag.dtend })">@item.Name</a></td>
                            @foreach (var day in Enumerable.Range(0, 7))
                            {
                                var curDate = firstDate.AddDays(day);
                                var x = (from pos in itorders
                                         where pos.EndDate == curDate
                                         select pos).FirstOrDefault();
                                if (x == null)
                                {
                                    <td class="right">
                                        @* @Html.TextBox("bonus[" + item.Id + "][" + curDate.ToShortDateString() + "]", "", new {@class = "input-mini"})*@
                                        <input type="text" disabled="disabled" class="input-mini right" style="width: 20px" />
                                    </td>
                                }
                                else
                                {
                                    sum += x.Price * x.MadeCount;
                                    sumvat += x.MadeCount * x.Price * x.Vat / 100;
                                    <td class="right">

                                        @{
                                            string tooltip = "";
                                            if (x.Order != null)
                                            {
                                                var so = x.Order.Items.FirstOrDefault(i => i.Item.Id == item.Id);
                                                if (so != null && so.OrderedCount != x.MadeCount)
                                                {
                                                    tooltip += " Δ SO (" + so.OrderedCount + ")<br>"; @* TODO: co to robilo - jest order z itemem i sie rozni ilosc? *@
                                                }
                                            }
                                            else
                                            {
                                                tooltip += "Manual add<br>"; @* added without order *@
                                            }
                                        }
                                        @if (x.OrderedCount != x.MadeCount)
                                        {
                                            tooltip += "Made (" + x.MadeCount + ") ≠ Ordered (" + x.OrderedCount + ")<br>"; @* manual change to made count IN ORDER *@
                                        }
                                        @if (x.Price == 0)
                                        {
                                            tooltip += "<span style='color:red;'>Price = 0</span><br>"; @* price = 0 *@
                                        }

                                        @if (tooltip != "")
                                        {
                                            <span class="has-popover" title="@tooltip">@Html.TextBox("pos[" + x.Id + "]", x.MadeCount == 0 ? "" : x.MadeCount.ToString(CultureInfo.InvariantCulture), new { @class = "input-mini right", style = "width:20px;border-color:red;" })</span>
                                        }
                                        else
                                        {
                                            @Html.TextBox("pos[" + x.Id + "]", x.MadeCount == 0 ? "" : x.MadeCount.ToString(CultureInfo.InvariantCulture), new { @class = "input-mini right", style = "width:20px" })
                                        }

                                    </td>
                                }
                            }
                            <td class="right">@{
                                                  var uniqprices = (from pos in itorders
                                                                    select pos.Price).Distinct().ToList();
                                                  if (uniqprices.Count() == 1)
                                                  {
                                                      @Html.TextBox("price[" + item.Id + "]", uniqprices.First().ToString("N2"), new { @class = "input-mini right" })
                                                  }
                                                  else
                                                  {

                                                      @Html.TextBox("price[" + item.Id + "]", "VAR", new { @class = "input-mini right has-popover", title="Price variations" })
                                                  }
                                              }</td>
                            <td class="right ">@sum.ToString("C")</td>
                            <td class="right ">@if (sumvat > 0)
                                               {
                                                   @sumvat.ToString("C")
                                                   ;
                                               }</td>
                            <td class="right ">@((sum + sumvat).ToString("C"))</td>
                            @{
                                totalsum += sum;
                                totalvat += sumvat;
                            }
                        </tr>
                    }
                    <tr class="separate">
                        <td class="right">@{
                                              var cntd = 0;
                                              foreach (var day in Enumerable.Range(0, 7))
                                              {
                                                  var curDate = firstDate.AddDays(day);
                                                  var pos = addr.FirstOrDefault(x => x.EndDate == curDate && x.Item_Id == (int)ViewBag.DeliveryId);
                                                  if (pos != null)
                                                  {
                                                      cntd += pos.MadeCount;
                                                  }
                                              }
                                              @cntd
                                          }
                        </td>
                        <td>@Strings.Delivery2</td>
                        @{
                            var sumd = 0m;
                            var vatd = 0m;
                            foreach (var day in Enumerable.Range(0, 7))
                            {
                                var curDate = firstDate.AddDays(day);
                                var pos = addr.FirstOrDefault(x => x.EndDate == curDate && x.Item_Id == (int)ViewBag.DeliveryId);
                                if (pos == null)
                                {
                                    <td class="right">
                                        <input type="checkbox" disabled="disabled" /></td>
                                    continue;
                                }
                                sumd += pos.MadeCount * pos.Price;
                                vatd += pos.MadeCount * pos.Price * pos.Vat / 100;

                                <td class="right">
                                    <input name="pos[@pos.Id]" id="delivery_@pos.Id" type="checkbox" checked="@(pos.MadeCount > 0)" value="1"/>
                                    <input name="pos[@pos.Id]" type="hidden" value="0"/>
                                </td>
                            }
                            <td></td>
                            <td class="right ">@sumd.ToString("C")</td>
                            <td class="right ">@vatd.ToString("C")</td>
                            <td class="right ">@((sumd + vatd).ToString("C"))</td>
                            totalsum += sumd;
                            totalvat += vatd;
                        }

                    </tr>
                    <tr class="separate">
                        <td></td>
                        <td>@Strings.Global_Total</td>
                        <td colspan="8"></td>
                        <td class="right total">@totalsum.ToString("C")</td>
                        <td class="right total">@totalvat.ToString("C")</td>
                        <td class="right total grandtotal">@((totalsum + totalvat).ToString("C"))</td>
                    </tr>
                </tbody>
            </table>

            @Html.Hidden("dtstart")
            @Html.Hidden("dtend")
            <button id="snapshot-saveback" class="hide-jsproxy" name="action" value="saveback" type="submit"><i class="icon-file"></i>Save</button>
            <button id="snapshot-save" class="hide-jsproxy" name="action" value="save" type="submit"><i class="icon-file"></i>Save</button>
        }


    </div>
    firstDate = firstDate.AddDays(7);
    var newitems = ((IEnumerable<Item>)ViewBag.AllItems).OrderBy(x => x, listcmp).
                Where(i => virtualitems.Contains(i) || !items.Contains(i)).
                Select(i => new SelectListItem { Value = i.Id.ToString(CultureInfo.InvariantCulture), Text = i.Name }).ToList();
    if (newitems.Any())
    {
    <table class="table table-condensed">
        <thead>
            <tr class="no-border">
                <th class="right"></th>
                <th>@Strings.Item</th>
                @foreach (var day in Enumerable.Range(0, 7))
                {
                    var curDate = actualFirstDate.AddDays(day);
                    <th class="right">@curDate.ToString("ddd")<br />@curDate.ToString(shortFormat)</th>
                }
                <th class="right"></th>
                <th class="right"></th>
                <th class="right"></th>
                <th class="right"></th>
            </tr>
        </thead>

        @using (Html.BeginForm("CreateRowRange", "Invoices"))
        {
            <tr class="separate">
                <td></td>
                @Html.Hidden("dtstart", (string)ViewBag.dtstart)
                @Html.Hidden("dtend", (string)ViewBag.dtend)
                @Html.Hidden("addressId", addr.Key.Id)
                <td class="item-name">@Html.DropDownList("ItemId", newitems)</td>
                @foreach (var day in Enumerable.Range(0, 7))
                {
                    var curDate = actualFirstDate.AddDays(day);
                    if (curDate > lastDate)
                    {
                        <td class="right">
                            <input type="text" disabled="disabled" class="input-mini" />
                        </td>
                    }
                    else
                    {
                    <td class="right">@Html.TextBox("days[" + curDate.ToString("ddMMyyyy", CultureInfo.InvariantCulture) + "]", "", new { @class = "input-mini right" })</td>
                    }
                }
                <td colspan="2"></td>
                <td class="right" colspan="2">
                    <button class="btn-subtle" type="submit"><i class="icon-plus-sign"></i>&nbsp;@Strings.Invoices_Range_Invoice_Add_Item</button>
                </td>
            </tr>
        }
    </table>
    }
}
}