﻿@model IEnumerable<DmgItem>
@{
    ViewBag.Title = @Strings.ReturnsReport_Title;
}

@section SecondaryActions{
    <span class="header">@Strings.DmgItem_Header</span>
    
}


<!--    
    return report, pokaz tylko requesty returnow dla ktorych istnieja faktury, zeby moc je zaaplikowac batchowo  
    -->

<input type="submit" class="hide-jsproxy">
<table class="table table-condensed table-hover no-border data-table checkbox-batch">

    <thead>
        <tr>
            <th class="no-sort actions"></th>
            <th class="no-sort filter-text">@Strings.Global_Customer</th>
            <th class="no-sort filter-text">@Strings.Global_Address</th>
            <th class="no-sort filter-select">@Strings.Global_Date</th>
            <th class="right">
                @Strings.DmgItem_Qty
            </th>
            <th class="no-sort filter-select">@Strings.Global_Item</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var di in Model.OrderByDescending(x=>x.DeliveryDate).GroupBy(x=>x.Address))
        {
            foreach (var dd in di.GroupBy(x => x.DeliveryDate))
            {
                <tr>
                    <td><a href="@Url.Action("FindInvoice",new {addrId = di.Key.Id, dt=dd.Key.ToStringUrl()})" class="btn-subtle"><i class="icon-pencil"></i></a></td>
                    <td>@di.Key.Trader.Name</td>
                    <td>@di.Key.Address1</td>
                    <td><span>@dd.Key.ToString("d")</span></td>
                    <td class="right"><span>@dd.Count()</span></td>
                    <td><span>@string.Join(", ",dd.Select(x=>x.Item.Name).Distinct())</span></td>
                </tr>
            }
        }
    </tbody>

</table>
