﻿@using System.Globalization
@model IEnumerable<InvoiceWeekData>

@{
    ViewBag.Title = Strings.Global_Invoices + " " + ViewBag.startdate.ToShortDateString() + " - " + ViewBag.enddate.ToShortDateString() + " / " + (ViewBag.CurrencySymbol) + ((ViewBag.totalsum).ToString("N2"));
    IDictionary<DateTime, DateTime> days = ViewBag.days;
    DateTime startDate = ViewBag.startdate;

    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
    string shortFormat = business.ShortDateFormat;    
}


@section Header{

}

@section SecondaryActions
{
    <span class="header">@switch ((bool?) ViewBag.published)
                         {
                             case true:
                                 @Strings.Invoices_PublishedInvoice
                                 break;
                             case false:
                                 @Strings.Invoices_UnpublishedInvoice
                                 break;
                             case null:
                                 @Strings.Invoices_AllInvoice
                                 break;
                         }&nbsp;</span>
    <div class="btn-group">
        @if (ViewBag.invoicePeriod == "w")
        {
            <select class="select-redirect input-medium">
                <option value="@Url.Action("Published", new {year = ViewBag.startdate.Year})">@ViewBag.startdate.Year</option>
                @foreach (Tuple<int, int> weeks in ViewBag.weeks)
                {
                    var start = WeekHelper.FirstDateOfWeek(weeks.Item1, weeks.Item2, (DayOfWeek) Settings["Invoice"].Get<int>("FirstDay"));
                    var end = start.AddDays(6);
                    var dts = start.ToStringUrl();
                    var dte = end.ToStringUrl();

                    if (dts != ViewBag.dtstart)
                    {
                        <option value="@Url.Action("ShowPublished", new {dtstart = dts, dtend = dte, published = ViewBag.published})">@weeks.Item1 / @Strings.Global_Week @weeks.Item2</option>
                    }
                    else
                    {
                        <option selected="selected" value="@Url.Action("ShowPublished", new {dtstart = dts, dtend = dte, published = ViewBag.published})">@weeks.Item1 / @Strings.Global_Week @weeks.Item2</option>
                    }
                }
            </select>
        }
        else if (ViewBag.invoicePeriod == "m")
        {
            <select class="select-redirect input-medium">
                <option value="@Url.Action("Published", new {year = ViewBag.startdate.Year})">@ViewBag.startdate.Year</option>
                @foreach (Tuple<int, int> weeks in ViewBag.months)
                {
                    var start = new DateTime(weeks.Item1, weeks.Item2, 1);
                    var end = start.AddMonths(1).AddDays(-1);
                    var dts = start.ToStringUrl();
                    var dte = end.ToStringUrl();

                    if (dts != ViewBag.dtstart)
                    {
                        <option value="@Url.Action("ShowPublished", new {dtstart = dts, dtend = dte, published = ViewBag.published})">@weeks.Item1 @WeekHelper.GetMonthName(weeks.Item2)</option>
                    }
                    else
                    {
                        <option selected="selected" value="@Url.Action("ShowPublished", new {dtstart = dts, dtend = dte, published = ViewBag.published})">@weeks.Item1 @WeekHelper.GetMonthName(weeks.Item2)</option>
                    }
                }
            </select>
        }
        else if (ViewBag.invoicePeriod == "d")
        {
            <select class="select-redirect input-medium">
                <option value="@Url.Action("Index", new {year = ViewBag.startdate.Year})">@ViewBag.startdate.Year</option>
                @foreach (var day in days.OrderByDescending(key => key.Value))
                {
                    if (day.Key.Year == startDate.Year && day.Key.Month == startDate.Month && day.Key.Day == startDate.Day)
                    {
                        <option selected="selected" value="@Url.Action("Show", new {dtstart = day.Key.ToStringUrl(), dtend = day.Key.ToStringUrl()})">
                            @day.Value.ToString(dateFormat)
                        </option>
                    }
                    else
                    {
                        <option value="@Url.Action("Show", new {dtstart = day.Key.ToStringUrl(), dtend = day.Key.ToStringUrl()})">
                            @day.Value.ToString(dateFormat)
                        </option>
                    }
                }
            </select>
        }
        else
        {
            using (Html.BeginForm("ShowPublished", "Invoices", FormMethod.Get, new {@class = "form-inline"}))
            {
                <input type="text" name="dtstart" class="datepicker input-small" value="@ViewBag.startdate.ToString(dateFormat)"/>
                <input type="text" name="dtend" class="datepicker input-small" value="@ViewBag.enddate.ToString(dateFormat)"/>
                @Html.Hidden("published")
                <button class="btn btn-icon" type="submit" title="Update data"><i class="icon-refresh"></i></button>

            }
        }
    </div>

    <span class="pull-right">
    @if ((bool?) ViewBag.published==false)
    {
    @Helpers.SaveButtonInvoices("invoices-batch-publish", "Publish", "btn btn-warning", "batch-items-number-selected", "icon-share")
    }

        @Helpers.SaveButtonInvoices("download-invoices", "Download PDF", "btn", "batch-items-number-selected")
      
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">@Strings.Global_More
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="invoices-export-modal" href="@Url.Action("Export", new { dtstart = ViewBag.dtstart, dtend = ViewBag.dtend })"><i class="icon-share"></i>&nbsp;@Strings.Invoices_Show_Range_Published_Export_Quickbooks</a></li>
                <li><a href="#" title="@Strings.Invoices_Index_Month_Published_Button" class="" onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</a></li>
                @* do hrefa salesreport jest doklejany order=nrkolumny-asc/desc wg datatabla *@
                <li><a class="salesreport" target="_blank" href="@Url.Action("SalesReportInvoice", new { ViewBag.dtstart,  ViewBag.dtend })">
                        <img src="~/Images/pdf-icon.gif">&nbsp;@Strings.Invoices_Show_Range_Published_Sales_Report</a></li>
                <li><a target="_blank" href="@Url.Action("ItemReportInvoice", new { dtstart = ViewBag.dtstart, dtend = ViewBag.dtend })">
                        <img src="~/Images/pdf-icon.gif">&nbsp;@Strings.Invoices_Show_Range_Published_Item_Report</a></li>
            </ul>
        </div>
    </span>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            // $(".select_filter").val('Published').change(); //filter only published invoices by default then tigger change event to allow pickup by datatables

            var but = $('a.salesreport');
            but.data('href', but.attr('href'));

            but.click(function () {
                var sorts = $('.data-table').dataTableSettings[0].aaSorting;
                if (sorts.length > 0) {
                    this.href = $(this).data('href') + "&order=" + sorts[0][0] + "-" + sorts[0][1];
                }
            });
        });
    </script>
}


@Helpers.Modal("invoices-export-modal", Strings.Invoices_Show_Range_Published_Export_Quickbooks, "invoices-export-modal-window")
<div class="table-container no-borders">
    @using (Html.BeginForm("Batch", "Invoices", FormMethod.Post))
    {
        @Html.Hidden("dtstart", (string)ViewBag.dtstart)
        @Html.Hidden("dtend", (string)ViewBag.dtend)

        <input class="hide-jsproxy" id="invoices-batch-publish" type="submit" name="action" value="publish"/>
        <button id="download-invoices" type="submit" name="action" value="pdf" class="btn hide">@Strings.Download</button>
        
        <table cellpadding="0" cellspacing="0" border="0" class="table checkbox-batch table-condensed table-hover data-table">    
            <thead>
                <tr class="table-header">
                    <th class="batch-checkbox-container no-sort noprint">
                        <input type="checkbox" class="batch-all"></th>
                    <th class="actions filter-select @((bool?)ViewBag.published != null ? "hide" : "")"></th>
                    <th class="actions filter-select"></th>
                    <th class="actions no-sort noprint"></th>
                    <th class="actions no-sort noprint"></th>
                    <th class="actions no-sort noprint"></th>
                    <th>no.</th>
                    <th class="has-popover" title="Number of revisions">r</th>
                    <th>date</th>
                    <th>@Strings.Customer</th>
                    <th>@Strings.Address</th>
                    <th class="right currency-sort">@Strings.Items</th>
                    <th class="right currency-sort">@Strings.Delivery2</th>
                    <th class="right currency-sort">@Strings.Vat</th>
                    <th class="right currency-sort">@Strings.Total</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var iwd in Model.Where(x => x.InvoiceNumber != 0))
                {
                    <tr>
                        <td class="noprint">
                            @Html.CheckBox("batch[" + iwd.Id + "]", false, new { @class = "batch batch[" + iwd.Address.Trader.Id + "]", id = "batch_" + iwd.Address.Id })
                        </td>
                        <td class="@((bool?)ViewBag.published != null ? "hide" : "")">
                            @if (iwd.Published)
                            {
                                <span class="has-popover" title="Published"><i class="icon-ok chleby-live"></i></span><span class="hide">@Strings.Global_Published</span>
                            }
                            else
                            {
                                <span class="has-popover" title="Unpublished"><i class="icon-minus chleby-not-live"></i></span><span class="hide">@Strings.Global_Unpublished</span>
                            }
                        </td>
                        <td>
                            @if (iwd.Exported)
                            {
                                <span class="has-popover" title="Exported"><i class="icon-file"></i></span><span class="hide">@Strings.Global_Exported</span>
                            }
                            else
                            {
                                <span class="hide">@Strings.Global_Not_Exported</span>
                            }
                        </td>
                        <td class="noprint">
                            <a target="_blank" href=" @Url.Action("PDF", new { id = iwd.Id })">
                                <img src="~/Images/pdf-icon.gif"></a>
                        </td>

                        <td class="noprint">
                            @if (!iwd.Deleted)
                            {
                                <a @Helpers.BtnSubtleTitle("Delete") @Helpers.JsDelConfirm() class="btn-subtle delete" href="@Url.Action("Delete", new { id = iwd.Id, ViewBag.dtstart, ViewBag.dtend })"><i class="icon-trash"></i></a>
                            }
                        </td>

                        <td class="noprint">
                            @if (!iwd.Deleted && !iwd.Published && !iwd.Cloned)
                            {
                                <a @Helpers.BtnSubtleTitle("Edit") class="btn-subtle" href="@Url.Action("Edit", new { id = iwd.Id, ViewBag.dtstart, ViewBag.dtend })"><i class="icon-pencil"></i></a>
                            }
                            else if (!iwd.Deleted && iwd.Published && !iwd.Cloned)
                            {
                                <a @Helpers.BtnSubtleTitle("CloneAndEdit") class="btn-subtle" href="@Url.Action("EditAndClone", new { id = iwd.Id, ViewBag.dtstart, ViewBag.dtend })"><i class="icon-edit"></i></a>
                            
                            }

                        </td>
                        <td>
                            @{
                                var nr = iwd.InvoiceNumber.ToString(CultureInfo.CurrentCulture);
                            }
                            @if (iwd.Deleted)
                            {
                                <span style="text-decoration: line-through">@nr</span>
                            }
                            else
                            {
                                @nr
                            }
                        </td>
                        <td>
                             @if (iwd.Revision > 0)
                                {
                                   @iwd.Revision;
                                }
                        </td>

                        <td>@iwd.DateLocal.ToShortDateString()
                        </td>
                        <td>

                            @iwd.Address.Trader.Name
                            @* @Html.ActionLink("[clone]", "Clone", new { id = iwd.Id })
                            @Html.ActionLink("[e+c]", "EditAndClone", new { id = iwd.Id, ViewBag.dtstart, ViewBag.dtend })
                            @(iwd.Deleted ? "D" : "")
                            @(iwd.Cloned ? "C" : "")
                            @(iwd.Published ? "P" : "")
                            @(iwd.Parent == null ? "" : "p=" + iwd.Parent.InvoiceNumber)
                            @(iwd.Child == null ? "" : "c=" + iwd.Child.InvoiceNumber + "-" + iwd.Child.Revision)*@
                        </td>
                        <td>@iwd.Address.Address1</td>
                        <td class="right">@Helpers.VSE(iwd.ItemPrice)</td>
                        <td class="right">@Helpers.VSE(iwd.DeliveryPrice)</td>
                        <td class="right">@Helpers.VSE(iwd.VatPrice)</td>
                        <td class="right">@Helpers.VSE(iwd.ItemPrice + iwd.DeliveryPrice + iwd.VatPrice)</td>
                    </tr>
                }
            </tbody>
        </table>

    }
</div>
