﻿@using System.Globalization
@model IEnumerable<InvoiceWeekData>

@{
    ViewBag.Title = Strings.Global_Invoices + " " + ViewBag.startdate.ToShortDateString() + " - " + ViewBag.enddate.ToShortDateString() + " / " + (ViewBag.CurrencySymbol) + ((ViewBag.totalsum).ToString("N2"));
    DateTime startLocal = ViewBag.StartDateLocal;
    DateTime endLocal = ViewBag.EndDateLocal;
    IDictionary<DateTime, DateTime> days = ViewBag.daysDict;

    Business business = ViewBag.Business;
    string dateFormat = business.DateFormat;
    string shortFormat = business.ShortDateFormat;

}


@section Header{

}

@section SecondaryActions
{
    <span class="header">Invoice Batch Prep&nbsp;</span>
    <div class="btn-group">
        @if (ViewBag.invoicePeriod == "w")
        {         
            <select class="select-redirect input-medium">
                <option value="@Url.Action("Index", new { year = ViewBag.startdate.Year })">@ViewBag.startdate.Year</option>
                @foreach (Tuple<int, int> weeks in ViewBag.weeks)
                {
                    var start = WeekHelper.FirstDateOfWeek(weeks.Item1, weeks.Item2, (DayOfWeek)Settings["Invoice"].Get<int>("FirstDay"));
                    var end = start.AddDays(7);
                    var dts = start.ToStringUrl();
                    var dte = end.ToStringUrl();

                    if (dts != ViewBag.dtstart)
                    {
                    <option value="@Url.Action("Show", new { dtstart = dts, dtend = dte })">@weeks.Item1 / @Strings.Global_Week @weeks.Item2</option>
                    }
                    else
                    {
                    <option selected="selected" value="@Url.Action("Show", new { dtstart = dts, dtend = dte })">@weeks.Item1 / @Strings.Global_Week @weeks.Item2</option>
                    }
                }
            </select>   
        }
        else if (ViewBag.invoicePeriod == "m")
        {
            <select class="select-redirect input-medium">
                <option value="@Url.Action("Index", new { year = ViewBag.startdate.Year })">@ViewBag.startdate.Year</option>
                @foreach (Tuple<int, int> weeks in ViewBag.months)
                {
                    var start = new DateTime(weeks.Item1, weeks.Item2, 1);
                    var end = start.AddMonths(1).AddDays(-1);
                    var dts = start.ToStringUrl();
                    var dte = end.ToStringUrl();

                    if (dts != ViewBag.dtstart)
                    {
                    <option value="@Url.Action("Show", new { dtstart = dts, dtend = dte })">@weeks.Item1 @WeekHelper.GetMonthName(weeks.Item2)</option>
                    }
                    else
                    {
                    <option selected="selected" value="@Url.Action("Show", new { dtstart = dts, dtend = dte })">@weeks.Item1 @WeekHelper.GetMonthName(weeks.Item2)</option>
                    }
                }
            </select>   
        }
        else if (ViewBag.invoicePeriod == "d")
        {
            <select class="select-redirect input-medium">
                <option value="@Url.Action("Index", new { year = ViewBag.startdate.Year })">@ViewBag.startdate.Year</option>
                @foreach (var day in days.OrderByDescending(key => key.Value))
                {
                    if (day.Value.Date.Year == startLocal.Year && day.Value.Date.Month == startLocal.Month && day.Value.Date.Day == startLocal.Day)
                    {
                        <option selected="selected" value="@Url.Action("Show", new { dtstart = day.Key.ToStringUrl(), dtend = day.Key.ToStringUrl() })">
                            @day.Value.ToString(dateFormat)
                        </option>
                    }
                    else
                    {
                        <option value="@Url.Action("Show", new { dtstart = day.Key.ToStringUrl(), dtend = day.Key.ToStringUrl() })">
                            @day.Value.ToString(dateFormat)
                        </option>
                    }
                }
            </select>  
        }
        else
        {
            using (Html.BeginForm("Show", "Invoices", FormMethod.Post, new { @class = "form-inline" }))
            {
            <input type="text" name="dtstart" class="datepicker input-small" value="@ViewBag.startdate.ToString(dateFormat)"/>
            <input type="text" name="dtend" class="datepicker input-small" value="@ViewBag.enddate.ToString(dateFormat)"/>
            <button class="btn btn-icon" type="submit" title="Update data"><i class="icon-refresh"></i></button>    
            }
        }
    </div>

    <span class="pull-right">
        @* @Helpers.SaveButtonInvoices("invoices-publish", "Create Invoices", "btn btn-warning", "", "icon-share")*@
        <a href="#" data-target="@Url.Action("PublishPrep", new { dtstart = ViewBag.dtstart, dtend = ViewBag.dtend })" id="invoices-batch-create-confirm" class="btn btn-warning"><i class="icon-share"></i>&nbsp;@Strings.Invoices_Show_Range_Create_Invoices</a>
        @Helpers.SaveButtonInvoices("invoices-delete", "Delete", "btn btn-danger", "batch-items-number-selected", "icon-trash")

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">@Strings.Global_More
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="invoices-editlastnumber-modal" href="@Url.Action("EditNumber")"><i class="icon-pencil"></i>&nbsp;@Strings.Invoices_Show_Range_Edit_Numbers</a></li>
                <li><a href="#" title="@Strings.Invoices_Index_Month_Published_Button" class="" onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</a></li>
                <li><a target="_blank" href="@Url.Action("SalesReportSnapshot", new { dtstart = ViewBag.dtstart, dtend = ViewBag.dtend })">
                    <img src="~/Images/pdf-icon.gif">&nbsp;@Strings.Invoices_Show_Range_Sales_Report</a></li>
                <li><a target="_blank" href="@Url.Action("ItemReportSnapshot", new { dtstart = ViewBag.dtstart, dtend = ViewBag.dtend })">
                    <img src="~/Images/pdf-icon.gif">&nbsp;@Strings.Invoices_Show_Range_Item_Report</a></li>
            </ul>
        </div>
    </span>
}
@Helpers.Modal("invoices-editlastnumber-modal", Strings.Invoices_Range_Invoice_Change_Invoice_Modal)
@Helpers.Modal("invoices-batch-create-modal", "Invoice Batch Create", "invoices-export-modal-window")

@{
    var endDateLocal = ViewBag.EndDateLocal;
}

<div class="table-container no-borders">
    @using (Html.BeginForm("Batch", "Invoices", FormMethod.Post, new { id = "invoices-batch-create-form" }))
    {
        int nextnumber = 0;
        int predictednumber = 0;
        int.TryParse((string)ViewBag.LastNumber, out predictednumber);
        int.TryParse((string)ViewBag.LastNumber, out nextnumber);
        predictednumber++;
        @Html.Hidden("dtstart", (string)ViewBag.dtstart)
        @Html.Hidden("dtend", (string)ViewBag.dtend)
     

        if (Model.Any(x => x.InvoiceNumber == 0))
        {
        <button id="invoices-delete" type="submit" name="action" value="delete" class="hide-jsproxy">@Strings.Global_Delete</button>
        <button id="invoices-publish" type="submit" name="action" value="publish" class="hide-jsproxy">@Strings.Global_Publish</button>
        <table cellpadding="0" cellspacing="0" border="0" class="table checkbox-batch table-condensed table-hover data-table">
            <caption class="hide">
                <span class="brand">
                    @Strings.Invoices_Show_Range_Invoice_Batch                        
                    <small>(@(ViewBag.StartDateLocal.ToShortDateString()) - @(ViewBag.EndDateLocal.ToShortDateString()))</small>
                </span>
                <span class="pull-right">@Strings.Invoice_New_Create_Invoice_Date
                    <input type="text" name="date" class="datepicker input-small" value="@ViewBag.EndDateLocal.ToShortDateString()" />
                </span>

                @Html.TextBox("startfrom", nextnumber + 1, new { @class = "input-mini hide" })

            </caption>
            <thead>
                <tr class="table-header">
                    <th class="batch-checkbox-container no-sort left noprint">Publish
                        <input type="checkbox" class="batch-all" checked="checked">
                    </th>
                    <th class="filter-text">@Strings.Global_Customer</th>
                    <th>Address</th>
                    <th class="right">
                        @*<div class="secondary-header">@ViewBag.CurrencySymbol@ViewBag.totalitems.ToString("0.00")</div>*@
                        @Strings.Global_Items
                    </th>
                    <th class="right currency-sort">
                        @*<div class="secondary-header">@ViewBag.CurrencySymbol@ViewBag.totaldel.ToString("0.00")</div>*@
                        @Strings.Delivery2
                    </th>
                    <th class="right currency-sort">
                        @*<div class="secondary-header">@ViewBag.CurrencySymbol@ViewBag.totalvat.ToString("0.00")</div>*@
                        @Strings.Vat
                    </th>
                    <th class="right currency-sort">
                        @*<div class="secondary-header">@ViewBag.CurrencySymbol@ViewBag.totalsum.ToString("0.00")</div>*@
                        @Strings.Total
                    </th>
                    <th class="right">@Strings.Flags</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var iwd in Model.Where(x => x.InvoiceNumber == 0).OrderBy(x => x.Address.Trader.Name).ThenBy(x => x.Address.Address1))
                {
                    <tr>
                        <td class="center noprint">@if (!iwd.Published)
                                                   {
                            @Html.CheckBox("batch[" + iwd.Address.Id + "]", true, new { @class = "batch", id = "batch_" + iwd.Address.Id })
                                                   }
                        </td>
                        @{
                                                   // if (pastiwd.Address.Trader != iwd.Address.Trader)//when multiple addresses on one invoice -> omit number increment
                                                   if (true)
                                                   {
                                                       predictednumber++;
                                                   }
                        }
                        <td>
                            <a href="@Url.Action("RangeInvoice", new { dtstart = ViewBag.dtstart, dtend = ViewBag.dtend, address = @iwd.Address.Id })">@iwd.Address.Trader.Name</a>
                        </td>

                        <td>@iwd.Address.Address1</td>
                        <td class="right @((iwd.ItemPrice > 0) ? "currency" : "")">@((iwd.ItemPrice > 0) ? iwd.ItemPrice.ToString("N2") : "")</td>
                        <td class="right @((iwd.DeliveryPrice > 0) ? "currency" : "")">@((iwd.DeliveryPrice > 0) ? iwd.DeliveryPrice.ToString("N2") : "")</td>
                        <td class="right @((iwd.VatPrice > 0) ? "currency" : "")">@((iwd.VatPrice > 0) ? iwd.VatPrice.ToString("N2") : "")</td>
                        <td class="right @((iwd.ItemPrice + iwd.DeliveryPrice + iwd.VatPrice > 0) ? "currency" : "")">@((iwd.ItemPrice + iwd.DeliveryPrice + iwd.VatPrice > 0) ? (iwd.ItemPrice + iwd.DeliveryPrice + iwd.VatPrice).ToString("N2") : "")</td>
                        @{
                            var tooltip = "";
                            tooltip += iwd.HasComplaints ? "Returns pending\n" : "";
                            tooltip += iwd.HasManualChanges ? "Difference in quantity ordered to quantity delivered\n" : "";
                            tooltip += iwd.HasNoOrder ? "Contains item(s) manually entered after snapshotting data\n" : "";
                            tooltip += iwd.HasZeroPrice ? "Price missing\n" : "";
                        }
                        <td class="right @(tooltip == "" ? "" : "has-popover")" title="@tooltip">
                            @(iwd.HasComplaints ? "!" : "")
                            @(iwd.HasManualChanges ? "Δ" : "")
                            @(iwd.HasNoOrder ? "C" : "")
                            @(iwd.HasZeroPrice ? "0P" : "")
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="total separate">
                    <td class="noprint"></td>
                    <td></td>
                    <td></td>

                    <td class="right total">@ViewBag.CurrencySymbol@ViewBag.totalitems.ToString("0.00")</td>
                    <td class="right total">@ViewBag.CurrencySymbol@ViewBag.totaldel.ToString("0.00")</td>
                    <td class="right total">@ViewBag.CurrencySymbol@ViewBag.totalvat.ToString("0.00")</td>
                    <td class="right total grandtotal">@ViewBag.CurrencySymbol@ViewBag.totalsum.ToString("0.00")</td>

                    <td></td>
                </tr>
            </tfoot>
        </table>
        }

    }

</div>
