﻿@model chleby.Web.Models.TraderManager

@{
    ViewBag.Title = "Manager";
}

<h2>@Strings.Global_Adding_Note</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.TraderId, "Trader")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TraderId", String.Empty)
            @Html.ValidationMessageFor(model => model.TraderId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Note)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Note)
            @Html.ValidationMessageFor(model => model.Note)
        </div>


        <p>
            <input type="submit" value=@Strings.Global_Create />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}
