﻿@model chleby.Web.Models.TraderManager

@{
    ViewBag.Title = "Delete";
}

<h2>@Strings.Global_Delete</h2>

<h3>@Strings.TraderManager_Delete_Question</h3>
<fieldset>
    <legend>@Strings.TraderManager_Title</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Note)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Note)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Trader.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Trader.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
