﻿@model chleby.Web.Models.TraderManager

@{
    ViewBag.Title = "Edit";
}

<h2>@Strings.Global_Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Strings.TraderManager_Title</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Note)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Note)
            @Html.ValidationMessageFor(model => model.Note)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TraderId, "Trader")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TraderId", String.Empty)
            @Html.ValidationMessageFor(model => model.TraderId)
        </div>

        <p>
            <input type="submit" value="@Strings.Global_Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}
