﻿@model IEnumerable<chleby.Web.Models.TraderManager>

@section SecondaryActions{


        <a href="@Url.Action("Create")" data-toggle="modal" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.AddNote</a>

}


<div class="table-container">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped data-table">
        <thead>
            <tr>
                <th>@Strings.Date
                </th>
                <th>@Strings.Customer
                </th>
                <th>
                    @Strings.Note
                </th>
                <th class="no-sort"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => item.Trader.Name)
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    
                    <td class="right">
                        @if (this.CanWrite())
                        {
                            <a href="@Url.Action("Edit", routeValues: new { app = ViewBag.AppName, id = item.Id })" class="btn btn-primary btn-icon chleby-edit"><i class="icon-edit icon-white"></i></a>
                            <a href="@Url.Action("Delete", routeValues: new { app = ViewBag.AppName, id = item.Id })" class="btn btn-icon btn-danger"><i class="icon-remove icon-white"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@*<h2>Index</h2>

<p>
    @Html.ActionLink("Add note", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trader.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trader.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
