﻿@if (Model.Id == ViewBag.ProtectedId)
{
    <li class="ui-state-disabled">@Html.Partial("Editors/View_" + (string)Model.GetType().Name + "_RO", (object)Model, ViewData)</li>
}
else
{
    <li>            <i class="icon-reorder drag-handle"></i>&nbsp;
        @using (Html.BeginCollectionItem((string)ViewBag.SLUI_FieldName ?? "List"))
              {
                  @Html.Partial("Editors/View_" + (string)Model.GetType().Name, (object)Model)
                  <a href="#" class="remove"><i class="icon-trash"></i></a>
              }
    </li>
}
