﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>admin panel - @ViewBag.Title</title>
    @Styles.Render("~/css")

    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/jqueryui")
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/bootstrap")

    @RenderSection("Styles", required: false)
</head>
<body style="padding: 5px">
    @RenderBody()
        
    @Scripts.Render("~/js/modernizr")
    @Scripts.Render("~/js/uihelpers")
    @Scripts.Render("~/js/datatables")
    @Scripts.Render("~/js/bootstrap/formhelpers")
    @Scripts.Render("~/js/chleby")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function ajax_complete(success, data, e) {
            e.removeClass('text-success text-error');
            var result = JSON.parse(data);
            if (result.result) {
                e.addClass('text-success');
            } else {
                e.addClass('text-error');
            }
            e.html(result.info);
        }
    </script>
</body>
</html>
