﻿@model AttrMetaVM

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm("Create", "AttrMeta", FormMethod.Post, new { @class = "form-horizontal", id = "chleby-create-form" }))
{
    @Html.ValidationSummary(true)
    <fieldset>

        @Html.Hidden("Id", "0")
        @Helpers.GenerateEditorFor(Html, model => model.Name)
        <div class="control-group" >

       <div class="controls">
        <input type="radio" name="@Html.NameFor(x=>x.Visible)" @((Model!=null && Model.Visible==0) ? "checked" : "") value="0"/> @Strings.Attr_Meta_Edit_Hidden_Radio_Button 
        <input type="radio" name="@Html.NameFor(x=>x.Visible)" @((Model!=null && Model.Visible==1) ? "checked" : "") value="1"/> @Strings.Attr_Meta_Edit_Internal_Radio_Button 
        <input type="radio" name="@Html.NameFor(x=>x.Visible)" @((Model!=null && Model.Visible==2) ? "checked" : "") value="2"/> @Strings.Attr_Meta_Edit_All_Radio_Button 
 </div>
            </div>
        <div class="control-group" >
            <div class="control-label">@Strings.AttrMetaAttrType</div>
            <div class="controls">
                @*Html.DropDownListFor(model => model.DataType, Enum.GetValues(typeof(AttrDataType)).Cast<AttrDataType>().Select(a=>
            new SelectListItem
                {
                    Selected = Model!=null && Model.DataType == a,
                    Value = a.ToString(),
                    Text = a.Description()
                }))*@
                <select name="@Html.NameFor(x=>x.DataType)" @Html.GetUnobtrusiveValidationAttributes("DataType")>
                    <option selected="@(Model!=null && Model.DataType == AttrDataType.Int)" value="@AttrDataType.Int">@AttrDataType.Int.Description()</option>
                    <option selected="@(Model!=null && Model.DataType == AttrDataType.String)" value="@AttrDataType.String">@AttrDataType.String.Description()</option>
                </select>
            </div>
        </div>

        <div id="hideshow" class="@((Model.DataType==AttrDataType.SelectMany || Model.DataType==AttrDataType.SelectOne) ?"show":"hide")">
        @Helpers.GenerateEditorFor(Html, model => model.PossibleValues)
        </div>
        

        <div class="form-actions">
            <button class="btn btn-success" type="submit"><i class="icon-ok"></i>&nbsp;@Strings.Global_Save</button>
            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" ><i class="icon-remove-sign"></i>&nbsp;@Strings.Global_Cancel</button>
        </div>
    </fieldset>
}
<script>
    function selectMetaCombo(e) {
        if ($(this).val() == "SelectMany" || $(this).val() == "SelectOne" || $(this).val() == "Expr") {
            $("#hideshow").show(200);
        } else {
            $("#hideshow").hide(200);
        }
    }
    
    $(document).ready(function () {
        $("#@Html.IdFor(m=>m.DataType)").change(selectMetaCombo);
        selectMetaCombo.call($("#@Html.IdFor(m=>m.DataType)"), null);
    });
</script>
@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}
