﻿@using System.Reflection
@using chleby.Web
@using chleby.Web.Controllers
@using chleby.Web.Models
@model ComboViewModel<AttrMetaVM>

@section SecondaryActions{
    <span class="header">@Strings.Attr_Meta_Custom_Custom_Attributes</span>

    <span class="pull-right">

        <a href="#createModal" data-toggle="modal" class="btn btn-primary">
            <i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.AttrMetaAddAttr</a>
        @if (ViewBag.HandwalkStep == 0)
        {
            @Helpers.SaveButton("attr-form")
        }
        else
        {
            @Helpers.SaveButton("attr-form", "save", "hide")
        }


    </span>

}

@Helpers.ModalValidationHelper((t, m) => Html.Partial("~/Views/AttrMeta/" + t + ".cshtml", m), t => Html.Partial("~/Views/AttrMeta/" + t + ".cshtml", new AttrMetaVM()), Model, Strings.AttrMeta_Custom_Modal_Title)
@{ var ro = !this.CanWrite(typeof(AttrMetaController)); }

	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Custom Attributes</title>
        @Html.Partial("_Meta")
        <link href='http://mountainstream.ms/style/user-registration.css' rel='stylesheet' type='text/css'>
        
    </head>
    <body>
        @Html.Partial("_Header")
		<div class="container-block" style="min-height: 550px;">
			<h2>Step 7 of 11. Custom Attributes</h2>

            @using (Html.BeginForm("SetOrder", "AttrMeta", FormMethod.Post, new { @class = "form-horizontal", name = "attr-form" }))
            {
                <input type="submit" name="hwbeh" value="prev" style="display: none" id="handwalk-form-save-prev" />
                <input type="submit" name="hwbeh" value="stay" style="display: none" id="handwalk-form-save-stay" />
                <div class="row">
                    <fieldset class="span6">
                        <legend>
                            <span class="actions">
                                @if (this.CanWrite(typeof(AttrMetaController)))
                                {
                               
                                    <button class="btn btn-success hide" type="submit">
                                        <i class="icon-save icon-white"></i>&nbsp;@Strings.Global_Save
                                    </button>
                                }
                            </span>


                        </legend>
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    @if (this.CanWrite(typeof(AttrMetaController)))
                                    {
                                        <th class="actions"></th>
                                    }
                                    <th></th>
                                    <th class="center has-popover" title="These are top level - they are displayed by default in the Items Table, both for Client and Customer.">@Strings.Attr_Index_All
                                        <br />
                                        <input name="dummy" type="radio" class="batch-attrs" value="all" />
                                    </th>
                                    <th class="center has-popover" title="Second level attributes will be shown when clicking on the name of the item. Click on the name of the item to close hidden attributes.  We recommend higin attributes that are of secondary inportance, or that are long in text, like ingredients.">@Html.Raw(@Strings.Attr_Index_Hidden)
                                        <br />
                                        <input name="dummy" type="radio" class="batch-attrs" value="hidden" />
                                    </th>
                                    <th class="center has-popover" title="These attributes are only shown to your company (Client), but not to your customers.">@Strings.Attr_Index_Internal
                                        <br />
                                        <input name="dummy" type="radio" class="batch-attrs" value="internal" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="sortable">
                                @foreach (var item in Model.Index)
                                {
                                    <tr>
                                        @if (this.CanWrite(typeof(AttrMetaController)))
                                        {
                                            <td class="actions">
                                                <a @Helpers.BtnSubtleTitle("Edit") href="@Url.Action("Edit", "AttrMeta", routeValues: new { id = item.Id })" class="btn-subtle chleby-edit"><i class="icon-pencil"></i></a>
                                                <a @Helpers.JsDelConfirm() @Helpers.BtnSubtleTitle("Delete") href="@Url.Action("Delete", "AttrMeta", routeValues: new { id = item.Id })" class="btn-subtle delete"><i class="icon-trash"></i></a>
                                            </td>
                                        }
                                        <td><i class="icon-sort pull-left icon-white"></i>&nbsp;@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td class="center">
                                            <input type="radio" class="attr-input" name="radios[@item.Id]" value="all" @(ro ? "disabled" : "") @(item.Visible == 2 ? "checked" : "")>
                                        </td>
                                        <td class="center">
                                            <input type="radio" class="attr-input" name="radios[@item.Id]" value="hidden" @(ro ? "disabled" : "") @(item.Visible == 0 ? "checked" : "")>
                                        </td>
                                        <td class="center">
                                            <input type="radio" class="attr-input" name="radios[@item.Id]" value="internal" @(ro ? "disabled" : "") @(item.Visible == 1 ? "checked" : "")>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </fieldset>
                    <div class="span1"></div>
                    <div class="span5">
                        <p>You may set as many attributes as you like in Custom Attributes.</p>
                        <p>
                            Custom Attributes can either be text or numbers. You may for example 
                    want to add an Ingredients field (Text) or a Pack Size (Number)
                        </p>
                        <p></p>
                        <p>
                            After creating a Custom Attribute(s), edit every Item Group (one by one) 
                            where you would like to use the attribute(s)
                        </p>
                        <p class="text-warning">Important! Always remember to attach the Custom Attributes to EVERY 
                            Item Group where needed. Items > Edit Group > Attach Attributes 
                            (Repeat Group by Group)</p>
                    </div>
                </div>
}           

                <a href="#createModal" data-toggle="modal" class="btn btn-primary" style="float: left;">
                     <i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.AttrMetaAddAttr</a>
     
                <a href="@Url.Action("HandwalkMove", "Internal", new { id = 9 })" class="btn btn-green btn-success btn-handwalk btn-icon" id="handwalk-leechproxy"><img subpath="img/icon/user-registration/check.png">@Strings.Global_Save</a>
     
            </div>
		<br style="clear:both" />
        @Html.Partial("_Footer")
</body>