﻿@model AttrMetaVM

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "AttrMeta", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        

        @Html.HiddenFor(model => model.Id)

        @Helpers.GenerateEditorFor(Html, model => model.Name)

        <div class="control-group">
            <div class="controls">
        <input type="radio" name="@Html.NameFor(x=>x.Visible)" @((Model!=null && Model.Visible==0) ? "checked" : "") value="0"/> @Strings.Attr_Meta_Edit_Hidden_Radio_Button 
        <input type="radio" name="@Html.NameFor(x=>x.Visible)" @((Model!=null && Model.Visible==1) ? "checked" : "") value="1"/> @Strings.Attr_Meta_Edit_Internal_Radio_Button 
        <input type="radio" name="@Html.NameFor(x=>x.Visible)" @((Model!=null && Model.Visible==2) ? "checked" : "") value="2"/> @Strings.Attr_Meta_Edit_All_Radio_Button 
        </div>
            </div>

        <div class="control-group">
            <label class="control-label">@Strings.AttrMetaAttrType</label>
            <div class="controls">
                @*@Html.DropDownListFor(model => model.DataType, Enum.GetValues(typeof(AttrDataType)).Cast<AttrDataType>().Select(a=>
            new SelectListItem
                {
                    Selected = Model!=null && Model.DataType == a,
                    Value = a.ToString(),
                    Text = a.Description()
                }), new { id="hide" })*@
                <select id="hide" name="@Html.NameFor(x=>x.DataType)" @Html.GetUnobtrusiveValidationAttributes("DataType")>
                    <option selected="@(Model!=null && Model.DataType == AttrDataType.Int)" value="@AttrDataType.Int">@AttrDataType.Int.Description()</option>
                    <option selected="@(Model!=null && Model.DataType == AttrDataType.String)" value="@AttrDataType.String">@AttrDataType.String.Description()</option>
                </select>
            </div>
            </div>
        <div id="hideshow" class="@((Model.DataType==AttrDataType.SelectMany || Model.DataType==AttrDataType.SelectOne) ?"show":"hide")">
        @Helpers.GenerateEditorFor(Html, model => model.PossibleValues) 
        </div>
         <div class="form-actions">
            <button class="btn btn-success" type="submit"><i class="icon-ok"></i>&nbsp;@Strings.Global_Save</button>
            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" ><i class="icon-remove-sign"></i>&nbsp;@Strings.Global_Cancel</button>
        </div>
    </fieldset>
}
 <script>
     $(document).ready(function () {
         $("#hide").change(function (e) {
            if ($(this).val() == "SelectMany" || $(this).val() == "SelectOne" || $(this).val() == "Expr") {
                $("#hideshow").show(200);
            }
            else
            {
                $("#hideshow").hide(200);
            }
    });
});
</script>

@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}