﻿@using System.Reflection
@using chleby.Web
@using chleby.Web.Controllers

@section SecondaryActions{
    <span class="header">@Strings.Attr_Meta_Index_Attributes_Title</span>

    <span class="pull-right">


        @if (ViewBag.HandwalkStep == 0)
        {
            @Helpers.SaveButton("attr-form")
        }
        else
        {
            @Helpers.SaveButton("attr-form", "save", "hide")
        }

    </span>
}

@helper GenerateRadio(string name) {
    var values = Settings["ShowAttr"];
    var value = values[name]; //values.ContainsKey(name) ? values[name] : "hidden";
    var attr = typeof(Item).GetProperty(name).MyGetCustomAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>();
    var display = name;
    if (attr != null)
    {
        display = attr.GetName();
    }
    var isHidden = value == "hidden";
    var isRead = value == "internal";
    var isModify = value == "all";
    var isNone = value == "none";
    var ro = !this.CanWrite(typeof(AttrMetaController));
    <tr>
        <td><span class="has-popover" title="@Strings.ResourceManager.GetString("attrdesc_" + name)"><i class="icon-sort pull-left icon-white"></i>&nbsp;@display</span></td>
        <td class="center">
            <input type="radio" class="attr-input" name="radios[@name]" value="all" @(ro ? "disabled" : "") @(isModify ? "checked" : "")>
        </td>
        <td class="center">
            <input type="radio" class="attr-input" name="radios[@name]" value="hidden" @(ro ? "disabled" : "")  @(isHidden ? "checked" : "")>
        </td>
        <td class="center">
            <input type="radio" class="attr-input" name="radios[@name]" value="internal" @(ro ? "disabled" : "") @(isRead ? "checked" : "")>
        </td>
        <td class="center">
            <input type="radio" class="attr-input" name="radios[@name]" value="none" @(ro ? "disabled" : "")  @(isNone ? "checked" : "")>
        </td>
    </tr>
}

@{ var ro = !this.CanWrite(typeof(AttrMetaController)); }

	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Product Attributes</title>
        @Html.Partial("_Meta")
        <link href='http://mountainstream.ms/style/user-registration.css' rel='stylesheet' type='text/css'>
        
    </head>
    <body>
        @Html.Partial("_Header")
		<div class="container-block" style="min-height: 550px;">
			<h2>Step 6 of 11. Product Attributes</h2>

            @using (Html.BeginForm("Base", "AttrMeta", FormMethod.Post, new { @class = "form-horizontal", name = "attr-form" }))
            {
                <input type="submit" name="hwbeh" value="prev" style="display: none" id="handwalk-form-save-prev" />
                <input type="submit" name="hwbeh" value="stay" style="display: none" id="handwalk-form-save-stay" />
                <div class="row">
                    <fieldset class="span7">
                        <legend>
                            @*<span class="name">@Strings.Attributes&nbsp;<span class="legend-help">@Strings.DragSort</span></span>*@

                            @if (this.CanWrite(typeof(AttrMetaController)))
                            {
                                <span class="actions">
                                    <button class="btn btn-success hide" type="submit">
                                        <i class="icon-save icon-white"></i>&nbsp;@Strings.Global_Save
                                    </button>
                                </span>
                            }
                        </legend>
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="center has-popover" title="These are top level - they are displayed by default in the Items Table, both for Client and Customer.">@Strings.Attr_Index_All
                                        <br />
                                        <input name="dummy" type="radio" class="batch-attrs" value="all" />
                                    </th>
                                    <th class="center has-popover" title="Second level attributes will be shown when clicking on the name of the item. Click on the name of the item to close hidden attributes.  We recommend higin attributes that are of secondary inportance, or that are long in text, like ingredients.">@Html.Raw(@Strings.Attr_Index_Hidden)
                                        <br />
                                        <input name="dummy" type="radio" class="batch-attrs" value="hidden" />
                                    </th>
                                    <th class="center has-popover" title="These attributes are only shown to your company (Client), but not to your customers.">@Strings.Attr_Index_Internal
                                        <br />
                                        <input name="dummy" type="radio" class="batch-attrs" value="internal" />
                                    </th>
                                    <th class="center has-popover" title="Switch off those attributes which are not used by your organisation. These may be switched on at a later date.  For now, they will not be visible at all.">@Strings.Attr_Index_None<br />
                                        <input name="dummy" type="radio" class="batch-attrs" value="hidden" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="sortable">
                                @foreach (var v in Settings["ShowAttrOrder"]["value"].Split(','))
                                {
                                    @GenerateRadio(v)
                                }
                            </tbody>
                        </table>
                    </fieldset>
                    <div class="span5" style="line-height: 25px">
                        Attributes are column headings in your Items Table.<br />
                        Here is a list of standard attributes. You may set as many attributes as you like in the next step.<br />
                        Mouseover the attribute explains the function.<br />
                    </div>
                </div>
            }

            <div class="span12">
                <a href="@Url.Action("HandwalkMove", "Internal", new { id = 8 })" class="btn btn-green btn-success btn-handwalk btn-icon" id="handwalk-leechproxy"><img subpath="img/icon/user-registration/check.png">@Strings.Global_Save</a>
            </div>
        </div>
    <br style="clear:both" />
    @Html.Partial("_Footer")
</body>