﻿@model IEnumerable<SnapshotOrderPosition>
@{
    Layout = null;
}

@foreach (var sop in Model)
{
    <p>
        @sop.Id @sop.Address.Trader.Name [@sop.Address.Address1]
        @(sop.Adhoc ? "ADHOC" : "SO")
        @(sop.Order != null ? sop.Order.GetType().BaseType.Name : "BONUS")
        @sop.StartDate.ToShortDateString() -> @sop.EndDate.ToShortDateString()
        [@sop.OrderedCount/@sop.MadeCount x @sop.Item.Name @@ @sop.Price + @sop.Vat%]
    </p>
}

<pre>
@CsvExporter.Export(Model)
</pre>
