﻿@model IEnumerable<chleby.Web.Models.Trader>


@{
    string active = ViewBag.ActiveMenuId ?? "";
    var id = ChlebyController.GetTraderId();
    if (this.IsSuperAdmin() || this.IsEmployee())
    {
        <a class="dashboard-link" href="@Url.Action("Index", "Home")"><i class="icon-cogs"></i></a>
    }
    else
    {
        <span class="user-actor">@Model.Single(t => t.Id == id).Name</span>
    }
}