﻿@using System.Globalization
@model chleby.Web.Models.Address
@{
    ViewBag.Title = Strings.Global_Create;
}
@using (Html.BeginForm("Create", "Address", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        @Html.HiddenFor(model => model.Id)
            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered">

                <thead>
                    <tr>
                        <td style="padding:5px 5px;"><!--<i class="icon-user"></i>&nbsp;-->@Html.DropDownList("wybrany", ((IEnumerable<chleby.Web.Models.TraderEmployee>)ViewBag.PossibleTraders).Select(option => new SelectListItem
                       {
                           Selected = (Model != null) && Model.TraderEmployees.Any() && (option.Id == Model.TraderEmployees.First().Id),
                           Text = (option == null ? "None" : option.FirstName + " " + option.LastName),
                           Value = option.Id.ToString(CultureInfo.InvariantCulture),
                       }), Strings.Address_Create_Person_responsible_Dopdown, new {@class="select-first"})
                            @Html.ValidationMessage("wybrany")



                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.TextBoxFor(model => model.Address1, new { placeholder = Strings.Address + " 1" })
                            @Html.ValidationMessageFor(model => model.Address1)<br />
                            @Html.TextBoxFor(model => model.Address2, new { placeholder = Strings.Address + " 2" })
                            @Html.ValidationMessageFor(model => model.Address2)<br />
                            @Html.TextBoxFor(model => model.Address3, new { placeholder = Strings.Address + " 3" })
                            @Html.ValidationMessageFor(model => model.Address3)<br />

                            @Html.TextBoxFor(model => model.City, new { placeholder = Strings.City })
                            @Html.ValidationMessageFor(model => model.City)<br />
                            @Html.TextBoxFor(model => model.Post, new { placeholder = Strings.PostalCode })
                    @Html.ValidationMessageFor(model => model.Post)

                    @if (this.IsSuperAdmin() || this.IsEmployee())
                    {
                        <tr>
                            <td>
                                <div class="input-prepend">
                                    <span class="add-on">@ViewBag.CurrencySymbol</span>
                                    @Html.TextBoxFor(model => model.DeliveryPrice, new {placeholder = Strings.AddressDelPrice, @class = "input-medium"})
                                    @Html.ValidationMessageFor(model => model.DeliveryPrice)
                                    @Html.CheckBoxFor(model => model.Live)
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        @Html.HiddenFor(x => x.Live)
                    }
                        <tr>
                    
                            <td>
                                @Html.TextBoxFor(model => model.SpecialNote, new { placeholder = Strings.AddressSpecialNote })
                                @Html.ValidationMessageFor(model => model.SpecialNote)
                            </td>
                        </tr>
                    @if (this.IsSuperAdmin() || this.IsEmployee())
                    {
                        <tr>
                    
                            <td>
                                @Html.TextBoxFor(model => model.MapLink, new { placeholder = Strings.AddressMapLink })
                                @Html.ValidationMessageFor(model => model.MapLink)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.TextBoxFor(model => model.LegacyCode, new { placeholder = Strings.AddressLegCode })
                                @Html.ValidationMessageFor(model => model.LegacyCode)
                            </td>
                        </tr>
                    }

                    <tr>
                        <td>
                            @if (this.IsSuperAdmin() || this.IsEmployee())
                            {
                                <div class="control-group">
                                    <label class="control-label">@Strings.BusinessDelDays</label>
                                    <div class="controls">
                                        @for (int wd = 0; wd < 7; ++wd )
                                        {
                                            if (ViewBag.MyBusiness.DeliveryDays.Contains(wd))
                                            {
                                                <label class="checkbox">
                                                    <input type="checkbox" name="@Html.NameFor(x => x.DeliveryDays)" value="@wd" checked="@Model.DeliveryDays.Contains(wd)">
                                                    @wd
                                                </label>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                @Html.HiddenFor(x=>x.DeliveryDayValue)
                            }
                            <input class="btn btn-success btn-primary btn-block" type="submit" value="@Strings.Add" />


                        </td>
                    </tr>
                </tbody>

            </table>


    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}

