﻿@using System.Globalization
@model chleby.Web.Models.Address
@{
    ViewBag.Title = Strings.Global_Create;
}
@using (Html.BeginForm("Create", "Address", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        @Html.Hidden("Id", "0")
        @Html.HiddenFor(model => model.RoundOrder)
        <div class="control-group">
            <label class="control-label">@Strings.Address</label>
            <div class="controls">
                @Html.EditorFor(model => model.Address1)
                @Html.ValidationMessageFor(model => model.Address1)
                @Html.EditorFor(model => model.Address2)
                @Html.ValidationMessageFor(model => model.Address2)
                @Html.EditorFor(model => model.Address3)
                @Html.ValidationMessageFor(model => model.Address3)
            </div>
        </div>
        @Helpers.GenerateEditorFor(Html, model => model.City)
        @Helpers.GenerateEditorFor(Html, model => model.Post)
        @if (this.IsSuperAdmin() || this.IsEmployee())
        {
            <div class="control-group">
                <label class="control-label">@Strings.AddressDelPrice</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">@ViewBag.CurrencySymbol</span>
                        @Html.EditorFor(model => model.DeliveryPrice)
                    </div>
                    @Html.ValidationMessageFor(model => model.DeliveryPrice)
                </div>
            </div>
            @Helpers.GenerateEditorFor(Html, model => model.Live)
        }
        else
        {
            @Html.HiddenFor(x => x.Live)
        }
        @Helpers.GenerateEditorFor(Html, model => model.SpecialNote)
        @if (this.IsSuperAdmin() || this.IsEmployee())
        {
            @Helpers.GenerateEditorFor(Html, model => model.MapLink)
            @Helpers.GenerateEditorFor(Html, model => model.LegacyCode)
        }

        <div class="control-group">
            <label class="control-label">@Strings.AddressPersonResp</label>
            <div class="controls">
                @{
                    var emps = ((IEnumerable<TraderEmployee>) ViewBag.PossibleTraders);
                }
                @Html.DropDownList("wybrany", emps.Select(option => new SelectListItem {
                    Selected = (Model != null) && Model.TraderEmployees.Any() &&(option.Id == Model.TraderEmployees.First().Id),
                Text = (option == null ? Strings.Address_Dropdown_None : option.LastName), 
                    Value = option.Id.ToString(CultureInfo.InvariantCulture),
                }), Strings.Global_Choose)
                @Html.ValidationMessage("wybrany")
            </div>
        </div>
        @if (this.IsEmployee() || this.IsSuperAdmin() && ((IEnumerable<AddressGroup>)ViewBag.PossibleRounds).Any())
        {
            <div class="control-group">
                <label class="control-label">@Strings.Global_Round</label>
                <div class="controls">
                    @Html.DropDownList(Html.NameFor(x => x.AddressGroupId).ToString(),
                        ( (IEnumerable<AddressGroup>) ViewBag.PossibleRounds ).Select(option => new SelectListItem
                        {
                            Selected = Model != null && option.Id == Model.AddressGroupId,
                            Text = option == null ? "None" : option.Name,
                            Value = option.Id.ToString(CultureInfo.InvariantCulture),
                        }), Strings.Address_Dropdown_None)
                    @Html.ValidationMessage(Html.NameFor(x => x.AddressGroupId).ToString())
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(model => model.AddressGroupId)
        }
        <div class="control-group">
                    <label class="control-label">@Strings.BusinessDelDays</label>
                    <div class="controls">
                        @for (int wd = 0; wd < 7; ++wd )
                        {
                            if (ViewBag.MyBusiness.DeliveryDays.Contains(wd))
                            {
                                <label class="checkbox">
                                    <input type="checkbox" name="@Html.NameFor(x => x.DeliveryDays)" value="@wd" checked="@Model.DeliveryDays.Contains(wd)">
                                    @wd.GetShortDayName()
                                </label>
                            }
                        }
                    </div>
                </div>
        <div class="form-actions">
            <input class="btn btn-success btn-large" type="submit" value="Add" />
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}

