﻿@model chleby.Web.Models.HelpBuble

@{
    ViewBag.Title = "Edit Help Bubble";
}

@section SecondaryActions
{
    <span class="header">@Strings.HelpBuble_Title : @ViewBag.hbname</span>

    <span class="pull-right">
        @Helpers.SaveButton("helpbuble-edit", Strings.Global_Save)
        <a class="btn btn-danger" href="@Url.Action("Index", ViewBag.hbname)"><i class="icon-remove-sign"></i>&nbsp;@Strings.Global_Cancel</a>
    </span>
}

@using (Html.BeginForm("Edit", "HelpBuble", FormMethod.Post, new { name = "helpbuble-edit", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>


        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.name)
        <input type="hidden" name="hbname" value="@ViewBag.hbname" />

        @Html.TextAreaFor(model => model.value, new { @class = "textarea-helpeditor" })
        @Html.ValidationMessageFor(model => model.value)


        <input class="hide-jsproxy type="submit" value="@Strings.Global_Save" />

    </fieldset>


}

@section Scripts
{
    @*@Scripts.Render("~/Scripts/tinymce/tiny_mce.js")*@
    <script src="http://tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            tinymce.init({
                selector: "textarea",
                theme: "modern",
                plugins: [
                    "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                    "searchreplace wordcount visualblocks visualchars code fullscreen",
                    "insertdatetime media nonbreaking save table contextmenu directionality",
                    "emoticons template paste textcolor"
                ],
                toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
                toolbar2: "print preview media | forecolor backcolor emoticons",
                image_advtab: true
            });
        });
    </script>
}

