@model chleby.Web.Models.TraderEmployeeAccount

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "TraderEmployees", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
  
                        
    <fieldset>
        @Html.Hidden("Id", "0")
        @Html.Hidden("Password", "DONTEDIT")
        @Html.Hidden("Password2", "DONTEDIT")
        @Html.Hidden("TraderId", "0")
        <div class="control-group">

            @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Note, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Note)
                @Html.ValidationMessageFor(model => model.Note)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.BusinessRole, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.BusinessRole)
                @Html.ValidationMessageFor(model => model.BusinessRole)
            </div>
        </div>
        @if (this.IsEmployee() || this.IsSuperAdmin())
        {
            @Helpers.GenerateEditorFor(Html, x => x.MainContact)
        }
        <div class="form-actions">
            <button class="btn btn-success" type="submit"><i class="icon-ok"></i>&nbsp;@Strings.Global_Save</button>
            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" ><i class="icon-remove-sign"></i>&nbsp;@Strings.Global_Cancel</button>
        </div>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}
