@model chleby.Web.Models.TraderEmployeeAccount

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "TraderEmployees", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
            
    <fieldset>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TraderId)
        <div class="control-group">

            @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        @Helpers.GenerateEditorFor(Html, x => x.Password)
        @Helpers.GenerateEditorFor(Html, x => x.Password2)
        <div class="control-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Note, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Note)
                @Html.ValidationMessageFor(model => model.Note)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.BusinessRole, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.BusinessRole)
                @Html.ValidationMessageFor(model => model.BusinessRole)
            </div>
        </div>
        @if (this.IsEmployee() || this.IsSuperAdmin())
        {
            @Helpers.GenerateEditorFor(Html, x => x.MainContact)
        }
        @Helpers.ModalFormButtons()
    </fieldset>
}
<!--<div class="span6">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Permissions</legend>
            </fieldset>
        }
    </div>-->

@section Scripts {
    @Scripts.Render("~/js/jqueryval")
}
