@using chleby.Web.Models
@model chleby.Web.Models.ComboViewModel<chleby.Web.Models.TraderEmployeeAccount>




@section SecondaryActions{

    @if (ViewBag.HandwalkStep != 0)
    {   
        <span class="header">
            @ViewBag.TraderName
        </span>
        <a class="btn" href="@Url.Action("Index", "TurboTraders")"><i class="icon-level-up"></i>&nbsp;@Strings.CustomerList</a>
        <div class="btn-group">
            <a class="btn @(ViewBag.ActiveMenuId == "TraderAddresses" ? "active" : "")" href="@Url.Action("Index", "Address")">@Strings.Global_Addresses</a>
            <a class="btn @(ViewBag.ActiveMenuId == "TraderUsers" ? "active" : "")" href="@Url.Action("Index", "TraderEmployees")">@Strings.Global_Contacts</a>
        </div>

    }
    else
    {  
        <span class="header">@Strings.Global_Contacts</span>
    }
    <span class="pull-right">

        <a href="#createModal" data-toggle="modal" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;@Strings.AddContact</a>
        @if (Model.Index.Any() && ViewBag.HandwalkStep == 0)
        {
            <a href="@Url.Action("Export")" class="btn">
                <img src="~/Images/csv-icon.gif" />&nbsp;@Strings.Global_Export</a>
            <button class="btn" onclick="window.print()"><i class=" icon-print"></i>&nbsp;@Strings.Global_Print</button>
        }
    </span>


}

@section Header{
    @if (Model.Index.Any())
    {
        <!-- <h1>@Strings.YourContacts</h1>
        <p>@Strings.HereYouCan</p>-->
    }
    else
    {
        <div class="row">
            @*<a href="#createModal" data-toggle="modal">@Strings.PleaseAdd</a><br/>*@
            <div class="span6">
                <p>
                    You may choose to only create one Master User (Main Contact) per Customer 
                    Address and to delegate the task of creating other Users to that Master 
                    User.
                </p>
                <p></p>
                <p>
                    This will save you time and also you may not be able to set the right 
                    permissions for those secondary Users.
                </p>
            </div>
            <div class="span6">
                <p>
                    If you import more than one User per Customer, the first name on the 
                    list will be the main contact for that address.
                </p>
                <p></p>
                <p>Remember to set permissions for each User.</p>
            </div>
        </div>
    }
}
@if (Model.Index.Any())
{

    @Helpers.Modal("chleby-permissions", "Edit permissions")
    <div class="table-container no-borders">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-hover data-table table-condensed">
            <thead>
                <tr>
                    <th class="no-sort actions"></th>
                    <th class="no-sort actions"></th>
                    <th class="no-sort actions"></th>
                    @if (this.IsSuperAdmin() || this.IsEmployee())
                    {
                        <th class="no-sort actions"></th>
                    }
                    <th class="filter-text">@Strings.Name
                    </th>
                    <th class="filter-text">@Strings.Global_Email
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Create.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Create.BusinessRole)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Index.OrderBy(x => x.FirstName).ThenBy(x => x.LastName))
                {
                    <tr>
                        <td class="actions">
                            @if (this.CanWrite())
                            {
                                <a @Helpers.BtnSubtleTitle("Delete") @Helpers.JsDelConfirm() href="@Url.Action("Delete", routeValues: new { app = ViewBag.AppName, id = item.Id })" class="btn-subtle delete"><i class="icon-trash"></i></a>
                            }
                        </td>
                        <td class="actions">
                            @if ((this.CanWrite() && Roles.IsUserInRole(Defines.Roles.CustomPrefix + "traderperm")) || this.IsSuperAdmin())
                            {
                                <a @Helpers.BtnSubtleTitle("EditPerms")  href="@Url.Action("TraderEdit", "Permissions", routeValues: new { app = ViewBag.AppName, id = item.Id })" class="btn-subtle chleby-permissions"><i class="icon-key"></i></a>
                            }
                        </td>
                        <td class="actions">
                            @if (this.CanWrite())
                            {
                                <a @Helpers.BtnSubtleTitle("Edit") href="@Url.Action("Edit", routeValues: new { app = ViewBag.AppName, id = item.Id })" class="btn-subtle chleby-edit"><i class="icon-pencil"></i></a>
                            }
                        </td>
                        @if (this.IsSuperAdmin() || this.IsEmployee())
                        {
                            <td class="actions">
                                @if (item.MainContact)
                                {
                                    <i class="icon-flag" alt="This is your main contact."></i>
                                }
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                            <!--<a href="mailto:@item.UserName">@item.UserName</a>-->
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BusinessRole)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@Helpers.ModalValidationHelper((t, m) => Html.Partial(t, m), t => Html.Partial(t, new TraderEmployeeAccount()), Model, Strings.Contact)