﻿@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
    ViewBag.Title = "ApplicationForm";
}

<h2>@Strings.Application</h2>


@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
{    
    <fieldset>
        <legend>@Strings.AppCompany</legend>
        <div class="control-group">
            <label class="control-label">@Strings.AppType</label>
            <div class="controls">
                <select>
                    <option>@Strings.AppPrivate</option>
                    <option>@Strings.AppPublic</option>
                    <option>@Strings.AppPartnership</option>
                    <option>@Strings.AppSole</option>
                    <option>@Strings.AppOther</option>
                </select>
            </div>
            <div class="control-group">
            </div>
            <label class="control-label">@Strings.AppNames</label>
            <div class="controls">
                <textarea rows="5"></textarea>
                <span class="help-block">@Strings.AppifLtd<br />
                    @Strings.Appifpartnership</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@Strings.AppAge</label>
            <div class="controls">
                <select>
                    <option>@Strings.AppAge1</option>
                    <option>@Strings.AppAge3</option>
                    <option>@Strings.AppAge6</option>
                    <option>@Strings.AppAge10</option>
                    <option>@Strings.AppOther</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@Strings.AppNumber</label>
            <div class="controls">
                <select>
                    <option>1 - 5</option>
                    <option>5 - 10</option>
                    <option>10 - 20</option>
                    <option>20 +</option>
                    <option>@Strings.AppOther</option>
                </select>
            </div>
        </div>
    </fieldset>
    
    <fieldset>
        <legend>@Strings.AppBank</legend>
        <div class="control-group">
            <label class="control-label">@Strings.AppBankers</label>
            <div class="controls">
                <textarea></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@Strings.AppAccount</label>
            <div class="controls">
                <input type="text" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@Strings.AppSort</label>
            <div class="controls">
                <input type="text" />
            </div>
        </div>
    </fieldset>
    
    <fieldset>
        <legend>@Strings.AppTrade</legend>
        <div class="row">
            <div class="span6">
                <div class="control-group ">
                    <label class="control-label">@Strings.AppTrade1</label>
                    <div class="controls">
                        <textarea></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Strings.AppTelephone</label>
                    <div class="controls">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">@Strings.AppTrade2</label>
                    <div class="controls">
                        <textarea></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Strings.AppTelephone</label>
                    <div class="controls">
                        <input type="text" />
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    
    <fieldset>
        <legend>@Strings.AppAdditional</legend>
        <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <textarea></textarea>
            </div>
        </div>
    </fieldset>
      
    <div class="form-actions">
    <a class="btn btn-success btn-large" href="#" onclick="window.print();">@Strings.AppSubmit</a>
    </div>
}