﻿@using chleby.Web.Models
@model ComboViewModelQuad<BusinessEmployeeAccount, TraderEmployeeAccount, Business>

@{
    ViewBag.Title = "Help and Feedback";
}

@section SecondaryActions
{
    <div class="btn-group">
        <span class="header">@Strings.Home_Help_And_Feedback_Header&nbsp;</span>
    </div>
}

@using (Html.BeginForm("HelpAndFeedback", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{

    <h3>@Strings.Home_Help_And_Feedback_Reply_Ad</h3>

    <div>
     From: @ViewBag.WhoMail
    </div>
    <div>
        Date and Time: @ViewBag.Date at @ViewBag.Time
    </div>
    <div>
        <select name="typ">
            <option selected="selected">@Strings.Home_Help_And_Feedback_Dropdown</option>
            <option>@Strings.Home_Help_And_Feedback_Feedback_Option</option>
            <option>@Strings.Home_Help_And_Feedback_Other_Option</option>
        </select>
    </div>
    <div>
        <textarea name="tresc" placeholder=@Strings.Home_Help_And_Feedback_Textarea_Placeholder></textarea>
    </div>
    <div>
        <input class="btn btn-success btn-large" type="submit" value="@Strings.Global_Send" /></div>
    
}
