﻿@{
    ViewBag.Title = "Dashboard";
}


<div class="container">

    <div class="row">
        <div class="span4">
            <h2>@Html.ActionLink("Item Catalogue", "Index", "Item")
              </h2>
        </div>

        <div class="span4">
            <h2>@Strings.Ordering</h2>
            <ul>
                <li>@Strings.HomeSO</li>
                <li>@Strings.HomeSCart</li>
            </ul>
        </div>

        <div class="span4">
            <h2>@Html.ActionLink("Production", "Index", "SimpleProduction")</h2>
            <ul>
                <li>@Strings.HomeTotals</li>
                <li>@Strings.HomeRecipes</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <h2>@Html.ActionLink("Distribution", "Index", "Rounds")</h2>
            <ul>
                <li>@Strings.HomeLabels</li>
                <li>@Strings.HomePick</li>
                <li>@Strings.HomeDeliveryR</li>
                <li>@Strings.HomeDeliveryN</li>
            </ul>
        </div>

        <div class="span4">
            <h2>Finance</h2>
            <ul>
                <li>@Html.ActionLink("Invoices", "Index", "Invoices")</li>
                <li>@Strings.HomeExport</li>
                <li>@Strings.HomeSupplier</li>
            </ul>
        </div>

        <div class="span4">
            <h2>@Strings.HomeCustomer</h2>
            <ul>
                <li>@Strings.HomeOrders</li>
                <li>@Strings.HomeReturns</li>
                <li>@Html.ActionLink("Invoice Library", "Index", "Invoices")@Strings.HomeOpenBalances</li>
                <li>@Html.ActionLink("Contacts", "Index", "TurboTraders")</li>
                <li>@Strings.HomeCommunications</li>
                <li>@Strings.HomeAccount</li>
                <li>@Strings.HomeLetter</li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="span4">
            <h2>@Html.ActionLink("Employee", "Index", "BusinessEmployee")</h2>
            <ul>
                <li>@Strings.HomeDetails</li>
                <li>@Strings.HomeRotas</li>
                <li>@Strings.HomeCommunications</li>
                <li>@Strings.HomePer piece / per hour analysis</li>
            </ul>
        </div>

        <div class="span4">
            <h2>@Strings.HomeSuppliers</h2>
            <ul>
                <li>@Strings.HomeContacts</li>
                <li>@Strings.HomeProduct List</li>
                <li>@Strings.HomePurchase</li>
                <li>@Strings.HomePurchaseH</li>
                <li>@Strings.HomeInvoice</li>
                <li>@Strings.HomeCommunications</li>
                <li>@Strings.HomeOpen</li>
            </ul>
        </div>

        <div class="span4">
            <h2>@Strings.HomeSales</h2>
            <ul>
                <li>@Strings.HomeLeads</li>
                <li>@Strings.HomeContact Manager</li>
            </ul>
        </div>

    </div>

    <div class="row">
        <div class="span4">
            <h2>@Strings.HomeReporting</h2>
            <ul>
                <li>@Strings.HomeTo do list</li>
                <li>@Strings.HomeAwaiting reply</li>
                <li>@Strings.HomeCall/Write</li>
                <li>@Strings.HomeStock usage, loss</li>
                <li>@Strings.HomeShopping list</li>
                <li>@Strings.HomePiL</li>
                <li>@Strings.HomeWinners/Losers</li>
                <li>@Strings.HomeCashcows</li>
                <li>@Strings.HomeLabour costs per piece</li>
                <li>@Strings.HomeCreditors/Debtors</li>
            </ul>
        </div>

        <div class="span4">
            <h2>@Html.ActionLink("Calendar", "Index", "AllHoliday")</h2>
            <ul>
                <li>@Html.ActionLink("Report Holidays", "Index", "AllHoliday")</li>
                <li>@Strings.HomePlace</li>
                <li>@Strings.HomeAdd</li>
                <li>@Strings.HomeView</li>
            </ul>
        </div>

        <div class="span4">
            <h2>@Html.ActionLink("Company Settings", "Index", "Business")</h2>
            <ul>
                <li>@Strings.HomeLegal</li>
                <li>@Strings.HomeBank</li>
                <li>@Strings.HomeContact</li>
                <li>@Html.ActionLink("Holidays", "Index", "BusinessHoliday")</li>
            </ul>
        </div>
    </div>
</div>


